interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&page=4
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0887/08874273.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":1,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u65B0\u305F\u306A\u308B\u4E8C\u4EBA\u7D44\uFF01\uFF01
        \u30B8\u30E3\u30F3\u30D7\u30FB\u30B3\u30DF\u30C3\u30AF\u30B9 \u5CB8\u672C\u6589\u53F2
        \u96C6\u82F1\u793E\u30CA\u30EB\u30C8 \u30AD\u30B7\u30E2\u30C8,\u30DE\u30B5\u30B7
        \u767A\u884C\u5E74\u6708\uFF1A2006\u5E7411\u6708 \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2006\u5E7410\u670826\u65E5
        \u30DA\u30FC\u30B8\u6570\uFF1A195p \u30B5\u30A4\u30BA\uFF1A\u30B3\u30DF\u30C3\u30AF
        ISBN\uFF1A9784088742731 \u672C \u6F2B\u753B\uFF08\u30B3\u30DF\u30C3\u30AF\uFF09
        \u5C11\u5E74 \u96C6\u82F1\u793E \u30B8\u30E3\u30F3\u30D7C\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"tagIds\":[1001161],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0887/08874273.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"12:00\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"book:11917492\",\"postageFlag\":0,\"itemName\":\"NARUTO\uFF0835\uFF09
        \u65B0\u305F\u306A\u308B\u4E8C\u4EBA\u7D44\uFF01\uFF01 \uFF08\u30B8\u30E3\u30F3\u30D7\u30FB\u30B3\u30DF\u30C3\u30AF\u30B9\uFF09
        [ \u5CB8\u672C\u6589\u53F2 ]\",\"itemPrice\":429,\"pointRateEndTime\":\"\",\"shopCode\":\"book\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"reviewCount\":143,\"asurakuArea\":\"\u7FA4\u99AC\u770C/\u57FC\u7389\u770C/\u5343\u8449\u770C/\u6771\u4EAC\u90FD/\u795E\u5948\u5DDD\u770C/\u65B0\u6F5F\u770C/\u5C71\u68A8\u770C/\u9577\u91CE\u770C/\u5C90\u961C\u770C/\u9759\u5CA1\u770C/\u611B\u77E5\u770C/\u4E09\u91CD\u770C/\u6ECB\u8CC0\u770C/\u5BAE\u57CE\u770C/\u798F\u5CF6\u770C/\u8328\u57CE\u770C/\u6803\u6728\u770C\",\"shopUrl\":\"https://www.rakuten.co.jp/book/\",\"creditCardFlag\":1,\"reviewAverage\":4.74,\"shipOverseasArea\":\"\",\"genreId\":\"209194\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/book/4148913/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0887/08874784.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":1,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u4E94\u5F71\u4F1A\u8AC7\u3001\u958B\u5E55\u2026\uFF01\uFF01
        \u30B8\u30E3\u30F3\u30D7\u30FB\u30B3\u30DF\u30C3\u30AF\u30B9 \u5CB8\u672C\u6589\u53F2
        \u96C6[...]
[...]
