interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&page=4
  response:
    body: {string: "{\"count\":50334,\"page\":4,\"first\":91,\"last\":120,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO
        \u5DFB\u30CE61 [ \u5CB8\u672C\u6589\u53F2 ]\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:15924253\",\"itemPrice\":432,\"itemCaption\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9
        \u5CB8\u672C\u6589\u53F2 \u96C6\u82F1\u793E\u767A\u884C\u5E74\u6708\uFF1A2012\u5E7407\u6708
        \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2012\u5E7407\u670825\u65E5 \u30DA\u30FC\u30B8\u6570\uFF1A222p
        \u30B5\u30A4\u30BA\uFF1A\u30B3\u30DF\u30C3\u30AF ISBN\uFF1A9784088704777 \u672C
        \u6F2B\u753B\uFF08\u30B3\u30DF\u30C3\u30AF\uFF09 \u5C11\u5E74 \u96C6\u82F1\u793E
        \u30B8\u30E3\u30F3\u30D7C\",\"itemUrl\":\"http://item.rakuten.co.jp/book/11742698/\",\"shopUrl\":\"http://www.rakuten.co.jp/book/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/4777/9784088704777.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/4777/9784088704777.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":1,\"asurakuClosingTime\":\"12:00\",\"asurakuArea\":\"\u7FA4\u99AC\u770C/\u57FC\u7389\u770C/\u5343\u8449\u770C/\u6771\u4EAC\u90FD/\u795E\u5948\u5DDD\u770C/\u65B0\u6F5F\u770C/\u5BCC\u5C71\u770C/\u77F3\u5DDD\u770C/\u798F\u4E95\u770C/\u5C71\u68A8\u770C/\u9577\u91CE\u770C/\u5C90\u961C\u770C/\u9759\u5CA1\u770C/\u611B\u77E5\u770C/\u4E09\u91CD\u770C/\u6ECB\u8CC0\u770C/\u4EAC\u90FD\u5E9C/\u5927\u962A\u5E9C/\u5175\u5EAB\u770C/\u5948\u826F\u770C/\u548C\u6B4C\u5C71\u770C/\u8328\u57CE\u770C/\u6803\u6728\u770C\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":193,\"reviewAverage\":4.48,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"shopCode\":\"book\",\"genreId\":\"209194\",\"tagIds\":[]},{\"itemName\":\"\u3010\u4E2D\u53E4\u3011\u30D0\u30C3\u30B8\u30FB\u30D4\u30F3\u30BA(\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC)
        \u3046\u3061\u306F\u30AA\u30D3\u30C8 \u300C\u30D5\u30A9\u30FC\u30C1\u30E5\u30F3\u30D0\u30C3\u30B8
        NARUTO-\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u5FCD\u754C\u5927\u6226\u307F\u304F\u3058\u3060\u3063\u3066\u3070\u3088!\u7DE8\u300D\",\"catchcopy\":\"\u3000\",\"itemCode\":\"surugaya-a-too:49920252\",\"itemPrice\":2510,\"itemCaption\":\"\u767A\u58F2\u65E5
     [...]
[...]
