interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Recipe/CategoryRanking/20121121?applicationId=XXXXXX&formatVersion=2
  response:
    body: {string: "{\"result\":[{\"recipeId\":1620022979,\"recipeTitle\":\"\u672C\u683C\u6FC3\u539A\u266A\u7C21\u5358\u306B\u3067\u304D\u308B\u534A\u751F\u30AC\u30C8\u30FC\u30B7\u30E7\u30B3\u30E9\u2606\u6750\u6599\uFF14\u500B\",\"recipeUrl\":\"http://recipe.rakuten.co.jp/recipe/1620022979/\",\"foodImageUrl\":\"http://image.space.rakuten.co.jp/d/strg/ctrl/3/7f9629decdd029ae95e6b5df791f4feb1546c6d8.24.2.3.2.jpg\",\"mediumImageUrl\":\"http://image.space.rakuten.co.jp/d/strg/ctrl/3/7f9629decdd029ae95e6b5df791f4feb1546c6d8.24.2.3.2.jpg?thum=54\",\"smallImageUrl\":\"http://image.space.rakuten.co.jp/d/strg/ctrl/3/7f9629decdd029ae95e6b5df791f4feb1546c6d8.24.2.3.2.jpg?thum=55\",\"pickup\":1,\"shop\":0,\"nickname\":\"\u3081\u308D\u3093\u3071\u3093\u30DE\u30DE\uFF20\u3081\u308D\u3093\u30AB\u30D5\u30A7\",\"recipeDescription\":\"\u7C21\u5358\u3001\u624B\u8EFD\u306B\u3001\u672C\u683C\u7684\u306A\u5473\u3092\u3002\u6750\u6599\u306F4\u7A2E\u3057\u304B\u4F7F\u3044\u307E\u305B\u3093\u3002\u6CE1\u7ACB\u3066\u3044\u3089\u305A\u3001\u53E3\u306E\u4E2D\u3067\u307B\u308D\u3063\u3068\u3068\u308D\u3051\u308B\u534A\u751F\u306B\u3002\u30C6\u30A3\u30FC\u30BF\u30A4\u30E0\u3001\u304A\u3082\u3066\u306A\u3057\u3001\u30D0\u30EC\u30F3\u30BF\u30A4\u30F3\u3084\u30AF\u30EA\u30B9\u30DE\u30B9\u306B\u3082\u266A\",\"recipeMaterial\":[\"\u7121\u5869\u30D0\u30BF\u30FC\",\"\u30C1\u30E7\u30B3\u30EC\u30FC\u30C8(\u56FA\u5F62)\",\"\u5375\",\"\u751F\u30AF\u30EA\u30FC\u30E0\"],\"recipeIndication\":\"\u7D0430\u5206\",\"recipeCost\":\"500\u5186\u524D\u5F8C\",\"recipePublishday\":\"2015/09/07
        01:49:49\",\"rank\":\"1\"},{\"recipeId\":1370007809,\"recipeTitle\":\"\u8C5A\u3053\u307E\u8089\u3067\u7C21\u5358\uFF01\u30DD\u30FC\u30AF\u30C1\u30E3\u30C3\u30D7\",\"recipeUrl\":\"http://recipe.rakuten.co.jp/recipe/1370007809/\",\"foodImageUrl\":\"http://image.space.rakuten.co.jp/d/strg/ctrl/3/e1a1d3fa447b833241355bc8e1efd021ae49b382.07.2.3.2.jpg\",\"mediumImageUrl\":\"http://image.space.rakuten.co.jp/d/strg/ctrl/3/e1a1d3fa447b833241355bc8e1efd021ae49b382.07.2.3.2.jpg?thum=54\",\"smallImageUrl\":\"http://image.space[...]
