interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Recipe/CategoryList/20121121?applicationId=XXXXXX&formatVersion=2
  response:
    body: {string: "{\"result\":{\"large\":[{\"categoryId\":\"30\",\"categoryName\":\"\u4EBA\u6C17\u30E1\u30CB\u30E5\u30FC\",\"categoryUrl\":\"http://recipe.rakuten.co.jp/category/30/\"},{\"categoryId\":\"31\",\"categoryName\":\"\u5B9A\u756A\u306E\u8089\u6599\u7406\",\"categoryUrl\":\"http://recipe.rakuten.co.jp/category/31/\"},{\"categoryId\":\"32\",\"categoryName\":\"\u5B9A\u756A\u306E\u9B5A\u6599\u7406\",\"categoryUrl\":\"http://recipe.rakuten.co.jp/category/32/\"},{\"categoryId\":\"33\",\"categoryName\":\"\u5375\u6599\u7406\",\"categoryUrl\":\"http://recipe.rakuten.co.jp/category/33/\"},{\"categoryId\":\"14\",\"categoryName\":\"\[...]
