interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Recipe/CategoryList/20170426?applicationId=XXXXXX&formatVersion=2
  response:
    body:
      string: "{\"result\":{\"small\":[{\"categoryName\":\"\u30BD\u30FC\u30BB\u30FC\u30B8\u30FB\u30A6\u30A4\u30F3\u30CA\u30FC\",\"parentCategoryId\":\"66\",\"categoryId\":50,\"categoryUrl\":\"https://recipe.rakuten.co.jp/category/10-66-50/\"},{\"categoryName\":\"\u751F\u30CF\u30E0\",\"parentCategoryId\":\"67\",\"categoryId\":1491,\"categoryUrl\":\"https://recipe.rakuten.co.jp/category/10-67-1491/\"},{\"categoryName\":\"\u9D8F\u30CF\u30E0\",\"parentCategoryId\":\"67\",\"categoryId\":1492,\"categoryUrl\":\"https://recipe.rakuten.co.jp/category/10-67-1492/\"},{\"categoryName\":\"\u305D\u306E\u4ED6\u306E\u30CF\u30E0\",\"parentCategoryId\":\"67\",\"categoryId\":321,\"categoryUrl\":\"htt[...]
