interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Recipe/CategoryRanking/20170426?applicationId=XXXXXX&formatVersion=2
  response:
    body:
      string: "{\"result\":[{\"foodImageUrl\":\"https://image.space.rakuten.co.jp/d/strg/ctrl/3/86c80c740d2391d75772e27b6f3f4652475f07c5.12.2.3.2.jpg\",\"recipeDescription\":\"\u5177\u6750\u306F\u305F\u3063\u3077\u308A\u306E\u767D\u83DC\u3068\u5C11\u3057\u306E\u8C5A\u8089\u306E\u307F\u266B\u5BD2\u3044\u5B63\u7BC0\u306B\u3074\u3063\u305F\u308A\u306A\u3068\u308D\u301C\u308A\u3042\u3093\u304B\u3051\u3067\u3059(*\xB4\uA4B3`*)\u9D8F\u30AC\u30E9\u30B9\u30FC\u30D7\u306E\u7D20\u3068\u30AA\u30A4\u30B9\u30BF\u30FC\u30BD\u30FC\u30B9\u3067\u4E2D\u83EF\u5473\u306B\u4ED5\u4E0A\u3052\u307E\u3057\u305F\u2661\",\"recipePublishday\":\"2019/01/13
        10:38:17\",\"shop\":0,\"pickup\":0,\"recipeId\":1510021232,\"nickname\":\"\u307F\u3055\u304D\u3089\u308A\u3093\u305A\",\"smallImageUrl\":\"https://image.space.rakuten.co.jp/d/strg/ctrl/3/86c80c740d2391d75772e27b6f3f4652475f07c5.12.2.3.2.jpg?thum=55\",\"recipeMaterial\":[\"\u767D\u83DC\",\"\u8C5A\u8584\u5207\u308A\u8089\",\"\u2605\u6C34\",\"\u2605\u307F\u308A\u3093\",\"\u2605\u91A4\u6CB9\",\"\u2605\u30AA\u30A4\u30B9\u30BF\u30FC\u30BD\u30FC\u30B9\",\"\u2605\u9D8F\u30AC\u30E9\u30B9\u30FC\u30D7\",\"\u2605\u7802\u7CD6\",\"\u3054\u307E\u6CB9\",\"\u2606\u7247\u6817\u7C89\",\"\u2606\u6C34\"],\"recipeIndication\":\"\u7D0415\u5206\",\"recipeCost\":\"300\u5186\u524D\u5F8C\",\"rank\":\"1\",\"recipeUrl\":\"https://recipe.rakuten.co.jp/recipe/1510021232/\",\"mediumImageUrl\":\"https://image.space.rakuten.co.jp/d/strg/ctrl/3/86c80c740d2391d75772e27b6f3f4652475f07c5.12.2.3.2.jpg?thum=54\",\"recipeTitle\":\"\u7BC0\u7D04\u2606\u7C21\u5358\u2606\u767D\u83DC\u3068\u8C5A\u8089\u306E\u4E2D\u83EF\u3042\u3093\u304B\u3051\"},{\"foodImageUrl\":\"https://image.space.rakuten.co.jp/d/strg/ctrl/3/fbd7dd260d736654532e6c0b1ec185a0cede8675.49.2.3.2.jpg\",\"recipeDescription\":\"\u305D\u306E\u307E\u307E\u3067\u3082\u3001\u3054\u98EF\u306B\u306E\u305B\u3066\u4E3C\u306B\u3057\u3066\u3082\u266A\",\"recipePublishday\":\"2017/10/10
        22:37:34\",\"shop\":0,\"pickup\":0,\"recipeId\":1760028309,\"nickname\":\"\u306[...]
