[ -f "$HOME/.envrc" ] && source_env $HOME || true
[ -f "../.envrc" ] && source_env ../ || true
[ -f "../../.envrc" ] && source_env ../../ || true
[ -f "personal/envrc" ] && source personal/envrc || true

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash" > "$target"
  echo "set -e" >> "$target"
  echo "$@ \"\$@\"" >> "$target"
  chmod +x "$target"
}

_print() { printf "\e[1m%s\e[0m\n" "$1"; }

check_var_env() {
    local name=$1
    local var=$2
    [ -z "$var" ] && _print "WARNING: Missing environment variable $name."
}

export PROJECT_NAME=rakuten-ws

export_alias webservice "ptpython -i $PWD/scripts/run_webservice.py"

if [ -e "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate" ]; then
    source "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate"
elif [ -e "$PWD/venv/bin/activate" ]; then
    source "$PWD/venv/bin/activate"
fi

# Disabled VCR by default
export VCR_RECORD_MODE=off

check_var_env RMS_SECRET_SERVICE $RMS_SECRET_SERVICE
check_var_env RMS_LICENSE_KEY $RMS_LICENSE_KEY
check_var_env RMS_FTP_USER $RMS_FTP_USER
check_var_env RMS_FTP_PASSWD $RMS_FTP_PASSWD
