[ -f "$HOME/.envrc" ] && source_env $HOME || true

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash" > "$target"
  echo "set -e" >> "$target"
  echo "$@ \"\$@\"" >> "$target"
  chmod +x "$target"
}

export PROJECT_NAME=rakuten-ws
export ROOT_PROJECT="$(dirname $(readlink -f ${BASH_SOURCE[0]}))"

export_alias webservice "ptpython -i $ROOT_PROJECT/scripts/run_webservice.py"

if [ -e "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate" ]; then
    source "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate"
elif [ -e "$PWD/venv/bin/activate" ]; then
    source "$PWD/venv/bin/activate"
fi
