interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksForeignBook/Search/20130522?applicationId=XXXXXX&author=cervantes&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":82,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":28,\"Items\":[{\"title\":\"Les
        Travaux de Persiles Et de Sigismonde, Histoire Septentrionale,: Ou, Parmy
        Les Traverses de Ce Pr\",\"titleKana\":\"\",\"japaneseTitle\":\"Les Travaux
        de Persiles Et de Sigismonde, Histoire Septentrionale,: Ou, Parmy Les Traverses
        de Ce Pr\",\"author\":\"Miguel Cervantes Saavedra (De)\",\"authorKana\":\"Miguel
        Cervantes Saavedra (De)\",\"publisherName\":\"HACHETTE LIVRE\",\"isbn\":\"9782012195097\",\"itemCaption\":\"\",\"salesDate\":\"2013\u5E74\",\"itemPrice\":10506,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14687378/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"availability\":\"4\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"005402005\"},{\"title\":\"La
        Senora Cornelia\",\"titleKana\":\"\",\"japaneseTitle\":\"La Senora Cornelia\",\"author\":\"Miguel
        de Cervantes Saavedra/Miguel De Cervantes Saavedra\",\"authorKana\":\"Miguel
        de Cervantes Saavedra/Miguel De Cervantes Saavedra\",\"publisherName\":\"LINKGUA
        EDICIONES\",\"isbn\":\"9788498163780\",\"itemCaption\":\"\",\"salesDate\":\"2014\u5E74\",\"itemPrice\":2401,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http[...]
