interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&size=9
  response:
    body: {string: "{\"count\":74204,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u3082\u306E\u306E\u3051\u25C7\u3057\u3047\u3042\u308A\u3093\u3050\uFF083\uFF09\",\"titleKana\":\"\u30E2\u30CE\u30CE\u30B1\u30B7\u30A7\u30A2\u30EA\u30F3\u30B03\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"KC\u30C7\u30E9\u30C3\u30AF\u30B9\u3000\u30E4\u30F3\u30B0\u30DE\u30AC\u30B8\u30F3\",\"seriesNameKana\":\"KC\u30C7\u30E9\u30C3\u30AF\u30B9\u30B3\u30DF\u30C3\u30AF\u30B9\",\"contents\":\"\",\"author\":\"\u30AF\u30FC\u30EB\u6559\u4FE1\u8005\",\"authorKana\":\"\u30AF\u30FC\u30EB\u30AD\u30E7\u30A6\u30B7\u30F3\u30B8\u30E3\",\"publisherName\":\"\u8B1B\u8AC7\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784063931549\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670820\u65E5\",\"itemPrice\":734,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14637768/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1549/9784063931549.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1549/9784063931549.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1549/9784063931549.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001001012\"},{\"title\":\"\u767E\u82B1\u4E07\u83EF\u93E1
        1\",\"titleKana\":\"\u30D2\u30E3\u30C3\u30AB\u30DE\u30F3\u30B2\u30AD\u30E7\u30A6\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u82B1\u3068\u3086\u3081\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u4F0A\u6CA2\u73B2\",\"authorKana\":\"\u30A4\u30B6\u30EF\u30EC\u30A4\",\"publisherName\":\"\u767D\u6CC9\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784592214434\",\"it[...]
