interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&isbnjan=2100010283771
  response:
    body:
      string: '{"count":0,"page":0,"first":0,"last":0,"hits":0,"carrier":0,"pageCount":0,"Items":[],"GenreInformation":[]}'
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&isbnjan=2100010283771
  response:
    body:
      string: '{"count":0,"page":0,"first":0,"last":0,"hits":0,"carrier":0,"pageCount":0,"Items":[],"GenreInformation":[]}'
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
