interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=standard
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u6642\u523B\u8868\u304C\u523B\u3093\u3060\u3042\u306E\u77AC\u9593\u30FC\u3000JR30\u5E74\u306E\u8ECC\u8DE1\",\"titleKana\":\"\u30B8\u30B3\u30AF\u30D2\u30E7\u30A6\u30AC\u30AD\u30B6\u30F3\u30C0\u30A2\u30CE\u30B7\u30E5\u30F3\u30AB\u30F3\u30FC
        \u30B8\u30A7\u30A4\u30A2\u30FC\u30EB\u30B5\u30F3\u30B8\u30E5\u30A6\u30CD\u30F3\u30CE\u30AD\u30BB\u30AD\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"JTB\u30D1\u30D6\u30EA\u30C3\u30B7\u30F3\u30B0\",\"size\":\"\u30E0\u30C3\u30AF\u305D\u306E\u4ED6\",\"isbn\":\"9784533116919\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670818\u65E5\",\"itemPrice\":1620,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14633269/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6919/9784533116919.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6919/9784533116919.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6919/9784533116919.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001022002\"},{\"title\":\"\u9632\u707DWalker\",\"titleKana\":\"\u30DC\u30A6\u30B5\u30A4\u30A6\u30A9\u30FC\u30AB\u30FC\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u89D2\u5DDDSSC\u30E0\u30C3\u30AF\",\"seriesNameKana\":\"\u30AB\u30C9\u30AB\u30EF\u30A8\u30B9\u30A8\u30B9\u30B7\u30FC\u30E0\u30C3\u30AF\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"KADOKAWA\",\"size\":\"\u30E0\u30C3\u30AF\u305D\u306E\u4ED6\",\"isbn\":\"9784048959445\",\"itemCaption\":\"\",[...]
