interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3&page=2
  response:
    body: {string: "{\"count\":10959,\"page\":2,\"first\":4,\"last\":6,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u3010\u7279\u5178\uFF1A\u7279\u88FD\u30AF\u30EA\u30A2\u30D5\u30A1\u30A4\u30EB\u4ED8\u304D\u3011\u30DC\u30AB\u30ED\u3067\u899A\u3048\u308B\u53C2\u8003\u66F8\uFF08\u4E2D\u5B66\u82F1\u5358\u8A9E\u30FB\u6570\u5B66\uFF09
        2\u518A\u30BB\u30C3\u30C8\",\"author\":\"\u5B66\u7814\u30D7\u30E9\u30B9\",\"artistName\":\"\",\"publisherName\":\"\u5B66\u7814\u30D7\u30E9\u30B9\",\"label\":\"\",\"isbn\":\"2100010677488\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7404\u6708\",\"itemPrice\":3456,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14705842/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7488/2100010677488.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7488/2100010677488.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7488/2100010677488.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001025\"},{\"title\":\"\u9B54\u6CD5\u4F7F\u3044\u306E\u5AC1
        1-7\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u30E4\u30DE\u30B6\u30AD\u30B3\u30EC\",\"artistName\":\"\",\"publisherName\":\"\u30DE\u30C3\u30B0\u30AC\u30FC\u30C7\u30F3\",\"label\":\"\",\"isbn\":\"2100010672933\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7404\u6708\",\"itemPrice\":4316,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14[...]
