interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=-releaseDate
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"STAGEA
        \u30DD\u30D4\u30E5\u30E9\u30FC 9\u301C8\u7D1A Vol.49 \u3084\u3055\u3057\u304F\u3072\u3051\u308B\uFF01\u30B9\u30BF\u30B8\u30AA\u30B8\u30D6\u30EA\u30FB\u30BB\u30EC\u30AF\u30B7\u30E7\u30F32\",\"titleKana\":\"\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u30E4\u30DE\u30CF\u97F3\u697D\u632F\u8208\u4F1A\",\"size\":\"\",\"isbn\":\"9784864617482\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7402\u670820\u65E5\",\"itemPrice\":2376,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14651415/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7482/9784864617482.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7482/9784864617482.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7482/9784864617482.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018007004\"},{\"title\":\"\u6E90\u6C0F\u7269\u8A9E\u3000\u4E0B\",\"titleKana\":\"\u30B2\u30F3\u30B8\u30E2\u30CE\u30AC\u30BF\u30EA03\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u6C60\u6FA4\u590F\u6A39=\u500B\u4EBA\u7DE8\u96C6
        \u65E5\u672C\u6587\u5B66\u5168\u96C6\u3000\u516830\u5DFB\",\"seriesNameKana\":\"\u30A4\u30B1\u30B6\u30EF\u30CA\u30C4\u30AD\u30B3\u30B8\u30F3\u30D8\u30F3\u30B7\u30E5\u30A6\u30CB\u30DB\u30F3\u30D6\u30F3\u30AC\u30AF\u30BC\u30F3\u30B7\",\"contents\":[...]
