interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&booksGenreId=001001001008&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":3309,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u9B3C\u6EC5\u306E\u5203
        18\",\"titleKana\":\"\u30AD\u30E1\u30C4\u30CE\u30E4\u30A4\u30D0\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u543E\u5CE0
        \u547C\u4E16\u6674\",\"authorKana\":\"\u30B4\u30C8\u30A6\u30B2 \u30B3\u30E8\u30CF\u30EB\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784088821412\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7412\u670804\u65E5\",\"itemPrice\":484,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16101055/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1412/9784088821412.gif?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1412/9784088821412.gif?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1412/9784088821412.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001001001008\"},{\"title\":\"\u30EF\u30F3\u30D1\u30F3\u30DE\u30F3
        21\",\"titleKana\":\"\u30EF\u30F3\u30D1\u30F3\u30DE\u30F3\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u6751\u7530
        \u96C4\u4ECB/ONE\",\"authorKana\":\"\u30E0\u30E9\u30BF \u30E6\u30A6\u30B9\u30B1/\u30EF\u30F3\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",[...]
[...]
