interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&limitedFlag=1
  response:
    body:
      string: "{\"count\":4,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":2,\"Items\":[{\"title\":\"R.\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9:\u4EA4\u97FF\u8A69\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D&\u795D\u5178\u524D\u594F\u66F2\u4ED6\",\"author\":\"\",\"artistName\":\"\u30EC\u30CA\u30FC\u30C9\u30FB\u30D0\u30FC\u30F3\u30B9\u30BF\u30A4\u30F3/\u30CB\u30E5\u30FC\u30E8\u30FC\u30AF\u30FB\u30D5\u30A3\u30EB\u30CF\u30FC\u30E2\u30CB\u30C3\u30AF/\u30ED\u30FC\u30F3\u30FB\u30DE\u30F3\u30ED\u30FC/\u30EA\u30D2\u30E3\u30EB\u30C8\u30FB\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9/\u30EC\u30CA\u30FC\u30C9\u30FB\u30D0\u30FC\u30F3\u30B9\u30BF\u30A4\u30F3/\u30CB\u30E5\u30FC\u30E8\u30FC\u30AF\u30FB\u30D5\u30A3\u30EB\u30CF\u30FC\u30E2\u30CB\u30C3\u30AF\",\"publisherName\":\"\",\"label\":\"(\u682A)\u30BD\u30CB\u30FC\u30FB\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30EC\u30FC\u30D9\u30EB\u30BA\",\"isbn\":\"\",\"jan\":\"4547366366877\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2018\u5E7408\u670822\u65E5\",\"itemPrice\":943,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/15539107/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6877/4547366366877.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6877/4547366366877.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6877/4547366366877.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":1,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"002104002\"},{\"title\":\"R.\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9:\u4EA4\u97FF\u8A69\u226A\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u226B\",\"author\":\"\",\"artistName\":\"\u30D8\u30EB\u30D9\u30EB\u30C8\u30FB\u30D5\u30A9\u30F3\u30FB\u30AB\u30E9\u30E4\u30F3/\u30D4\u30A8\u30FC\u30EB\u30FB\u30D5\u30EB\u30CB\u30A8/\u30B8\u30E5\u30B9\u30C8\u30FB\u30AB\u30C3\u30DD\u30FC\u30CD/\u30EA\u30D2\u30E3\u30EB\u30C8\u30FB\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9/\u30D8\u30EB\u30D9\u30EB\u30C8\u30FB\u30D5\u30A9\u3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=One+Piece&limitedFlag=1
  response:
    body:
      string: "{\"count\":18,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":6,\"Items\":[{\"title\":\"ONE
        PIECE 20th Anniversary BEST ALBUM (\u521D\u56DE\u9650\u5B9A\u8C6A\u83EF\u7248
        CD\uFF0BBlu-ray)\",\"author\":\"\",\"artistNam[...]
[...]
