interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=-itemPrice
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u65E5\u60A3\u540C\u76DF\u6A5F\u95A2\u7D19\u3068\u671D\u65E5\u8A34\u8A1F\u95A2\u4FC2\uFF08\u516881\u30EA\u30FC\u30EB\uFF09\",\"titleKana\":\"\u30CB\u30C3\u30AB\u30F3
        \u30C9\u30A6\u30E1\u30A4 \u30AD\u30AB\u30F3\u30B7 \u30C8 \u30A2\u30B5\u30D2
        \u30BD\u30B7\u30E7\u30A6 \u30AB\u30F3\u30B1\u30A4\",\"subTitle\":\"\u30DE\u30A4\u30AF\u30ED\u30D5\u30A3\u30EB\u30E0\u7248\",\"subTitleKana\":\"\u30DE\u30A4\u30AF\u30ED\u30D5\u30A3\u30EB\u30E0\u30D0\u30F3\",\"seriesName\":\"\u65E5\u672C\u60A3\u8005\u540C\u76DF\u95A2\u4FC2\u8CC7\u6599\u96C6\u6210\",\"seriesNameKana\":\"\u30CB\u30DB\u30F3
        \u30AB\u30F3\u30B8\u30E3 \u30C9\u30A6\u30E1\u30A4 \u30AB\u30F3\u30B1\u30A4
        \u30B7\u30EA\u30E7\u30A6 \u30B7\u30E5\u30A6\u30BB\u30A4\",\"contents\":\"\",\"author\":\"\u5BFA\u8107\u9686\u592B\",\"authorKana\":\"\u30C6\u30E9\u30EF\u30AD,\u30BF\u30AB\u30AA\",\"publisherName\":\"\u67CF\u66F8\u623F\",\"size\":\"\u5168\u96C6\u30FB\u53CC\u66F8\",\"isbn\":\"9784760145270\",\"itemCaption\":\"\",\"salesDate\":\"2015\u5E7401\u6708\",\"itemPrice\":3240000,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/13111675/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"4\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001008027\"},{\"title\":\"W\uFF1E\u56FD\u83EFDVD-ROM\uFF08\u7B2C1\u671F\uFF09\",\"titleKana\":\"\u30B3\u30C4\u30AB
        \u30C7\u30A3\u30FC\u30F4\u30A4\u30C7\u30A3\u30FC \u30ED\u30E0\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\uFF1C\uFF23\uFF24-\uFF32\uFF2F\uFF2D\uFF1E\u3000\uFF08\uFF37\uFF49\uFF4E\u7248\uFF09\",\"seriesNameKana\":\"CDROM
        WIN\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u671D\u65E5\u65B0\u805E\u51FA\u7248\",\"size\":\"\[...]
