interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&sort=-itemPrice
  response:
    body:
      string: "{\"count\":124,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":42,\"Items\":[{\"title\":\"\u3010\u8F38\u5165\u697D\u8B5C\u3011\u30DF\u30F3\u30AF\u30B9,
        Ludwig: \u30D0\u30EC\u30A8\u97F3\u697D\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D\",\"author\":\"\u30DF\u30F3\u30AF\u30B9,
        Ludwig\",\"artistName\":\"\",\"publisherName\":\"\u30D5\u30A9\u30EB\u30D9\u30EB\u30AF\u793E\",\"label\":\"\",\"isbn\":\"2600000050883\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"1970\u5E7401\u670801\u65E5\",\"itemPrice\":26400,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/14193025/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"6\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018002004\"},{\"title\":\"\u30C9\u30F3\u2605\u30AD\u30DB\u30FC\u30C6
        DVD-BOX\",\"author\":\"\",\"artistName\":\"\u677E\u7530\u7FD4\u592A/\u9AD8\u6A4B\u514B\u5B9F/\u6210\u6D77\u7483\u5B50\",\"publisherName\":\"\",\"label\":\"(\u682A)\u30D0\u30C3\u30D7\",\"isbn\":\"\",\"jan\":\"4988021149594\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2011\u5E7412\u670821\u65E5\",\"itemPrice\":20020,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/11373177/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"4\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"003203001/003205003\"},{\"title\":\"\u3010\u8F38\u5165\u697D\u8B5C\u3011\u30DE\u30B9\u30CD,
        Jules: \u30AA\u30DA\u30E9\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D
        (\u4ECF\u8A9E\u30FB\u82F1\u8A9E)\",\"author\":\"\u30DE\u30B9\u30CD, Jules\",\"artistName\":\"\",\"publisherName\":\"\u30A6\u30B8\u30A7\u30EB\u793E\",\"label\":\"\",\"isbn\":\"2600000784016\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"1970\u5E7401\u670801\u65E5\",\"itemPrice\":19800,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/14188811/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"6\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018011001\"}],\"GenreInformation\":[]}"
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=One+Piece&sort=-itemPrice
  response:
    body:
      string: "{\"count\":866,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"ONE
        PIECE MUSIC MATERIAL\",\"author\":\"\",\"artistName\":\"(V.A.)\",\"publisherName\":\"\",\"label\":\"\u30A8\u30A4\u30D9\u30C3\u3[...]
[...]
