interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=%2BitemPrice
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u61B2\u6CD5\u554F\u984CQ\uFF06A\",\"titleKana\":\"\u30B1\u30F3\u30DD\u30A6
        \u30E2\u30F3\u30C0\u30A4 \u30AD\u30E5\u30FC \u30A2\u30F3\u30C9 \u30A8\u30A4\",\"subTitle\":\"\u5B89\u500D9\u6761\u6539\u61B2NO\uFF01\u5E83\u3052\u3088\u30463000\u4E07\u4EBA\u7F72\u540D\",\"subTitleKana\":\"\u30A2\u30D9
        \u30AD\u30E5\u30A6\u30B8\u30E7\u30A6 \u30AB\u30A4\u30B1\u30F3 \u30CE\u30FC
        \u30D2\u30ED\u30B2\u30E8\u30A6 \u30B5\u30F3\u30BC\u30F3\u30DE\u30F3\u30CB\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u65E5\u672C\u5171\u7523\u515A\u4E2D\u592E\u59D4\u54E1\u4F1A\u51FA\u7248\u5C40\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784530016717\",\"itemCaption\":\"\",\"salesDate\":\"2018\u5E7402\u6708\",\"itemPrice\":102,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/15563080/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6717/9784530016717.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6717/9784530016717.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6717/9784530016717.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":2,\"reviewAverage\":\"4.0\",\"booksGenreId\":\"001008027\"},{\"title\":\"\u5973\u6027\u3078\u306E\u5DEE\u5225\u3092\u89E3\u6C7A\u3057\u3001\u7537\u5973\u304C\u5171\u306B\u6D3B\u8E8D\u3067\u304D\u308B\u793E\u4F1A\u3092\",\"titleKana\":\"\u30B8\u30E7\u30BB\u30A4
        \u30A8 \u30CE \u30B5\u30D9\u30C4 \u30AA \u30AB\u30A4\u30B1\u30C4\u30B7 \u3001
        \u30C0\u30F3\u30B8\u30E7 \u30AC \u30C8\u30E2\u30CB \u30AB\u30C4\u30E4\u30AF
        \u30C6\",\"subTitle\":\"\u65E5\u672C\u5171\u7523\u515A\u306F\u63D0\u6848\u3057\u307E\u3059\",\"subTitleKan[...]
[...]
