interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksGame/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&title=mario
  response:
    body: {string: "{\"count\":62,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":21,\"Items\":[{\"title\":\"\u300E\u30DE\u30EA\u30AA\u30B9\u30DD\u30FC\u30C4
        \u30B9\u30FC\u30D1\u30FC\u30B9\u30BF\u30FC\u30BA\u300Famiibo\u30AB\u30FC\u30C9
        10\u30D1\u30C3\u30AF\",\"titleKana\":\"\u300E\u30DE\u30EA\u30AA\u30B9\u30DD\u30FC\u30C4
        \u30B9\u30FC\u30D1\u30FC\u30B9\u30BF\u30FC\u30BA\u300Famiibo\u30AB\u30FC\u30C9
        10\u30D1\u30C3\u30AF\",\"hardware\":\"Nintendo 3DS\",\"label\":\"\u4EFB\u5929\u5802\",\"jan\":\"2100010666215\",\"makerCode\":\"\",\"itemCaption\":\"\u203B\u300E\u30DE\u30EA\u30AA\u30B9\u30DD\u30FC\u30C4
        \u30B9\u30FC\u30D1\u30FC\u30B9\u30BF\u30FC\u30BA\u300Famiibo\u30AB\u30FC\u30C9
        10\u30D1\u30C3\u30AF\u30BB\u30C3\u30C8\u3067\u3059\u3002\\n\u203B1\u30D1\u30C3\u30AF5\u679A\u5165\u308A\u3067\u3059\u3002\\n\\n\\n\\n\\n\\n&copy;2017
        Nintendo\\nTennis, Golf\uFF1A&copy;2017 Nintendo / CAMELOT\",\"salesDate\":\"2017\u5E7403\u670830\u65E5\",\"itemPrice\":4410,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14675709/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6215/2100010666215.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6215/2100010666215.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6215/2100010666215.jpg?_ex=200x200\",\"availability\":\"5\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"006508002\"},{\"title\":\"\u30DE\u30EA\u30AA\u30C6\u30CB\u30B9
        \u30A6\u30EB\u30C8\u30E9\u30B9\u30DE\u30C3\u30B7\u30E5\",\"titleKana\":\"\u30DE\u30EA\u30AA\u30C6\u30CB\u30B9
        \u30A6\u30EB\u30C8\u30E9\u30B9\u30DE\u30C3\u30B7\u30E5\",\"hardware\":\"Wii
        U\",\"label\":\"\u4EFB\u5929\u5802\",\"jan\":\"4902370531992\",\"makerCode\":\"WUP-P-AVXJ\",\"itemCaption\":\"\\n\\n\u30B8\u30E3\u30F3\u30D7\u306B\u3001\u5DE8\u5927\u306B\u3001amiibo\u306B\u3002\\n\u307F\u3093\u306A\u3067\u90[...]
