interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksDVD/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&title=%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9
  response:
    body: {string: "{\"count\":364,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"ONE
        PIECE \u30EF\u30F3\u30D4\u30FC\u30B9 18TH\u30B7\u30FC\u30BA\u30F3 \u30BE\u30A6\u7DE8
        PIECE.5\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9 \u30A8\u30A4\u30C6\u30A3\u30FC\u30F3\u30B9\u30B7\u30FC\u30BA\u30F3
        \u30BE\u30A6\u30D8\u30F3 \u30D4\u30FC\u30B9 5\",\"artistName\":\"\u5C3E\u7530\u6804\u4E00\u90CE/\u7530\u4E2D\u771F\u5F13/\u4E45\u7530\u548C\u4E5F\",\"artistNameKana\":\"\u30AA\u30C0\u30A8\u30A4\u30A4\u30C1\u30ED\u30A6/\u30BF\u30CA\u30AB\u30DE\u30E6\u30DF/\u30AF\u30C0\u30AB\u30BA\u30E4\",\"label\":\"\u30A8\u30A4\u30D9\u30C3\u30AF\u30B9\u30FB\u30D4\u30AF\u30C1\u30E3\u30FC\u30BA(\u682A)\",\"jan\":\"4562475273410\",\"makerCode\":\"EYBA-11341\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7405\u670803\u65E5\",\"itemPrice\":3645,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14675609/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"availability\":\"5\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"003206001/003206002/003206003/003206004/003206005\"},{\"title\":\"ONE
        PIECE \u30EF\u30F3\u30D4\u30FC\u30B9 18TH\u30B7\u30FC\u30BA\u30F3 \u30BE\u30A6\u7DE8
        PIECE.5\u3010Blu-ray\u3011\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30A8\u30A4\u30C6\u30A3\u30FC\u30F3\u30B9\u30B7\u30FC\u30BA\u30F3 \u30BE\u30A6\u30D8\u30F3
        \u30D4\u30FC\u30B9 5\",\"artistName\":\"\u5C3E\u7530\u6804\u4E00\u90CE/\u7530\u4E2D\u771F\u5F13/\u4E45\u7530\u548C\u4E5F\",\"artistNameKana\":\[...]
