interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=sales
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"ONE
        PIECE 84\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5C3E\u7530
        \u6804\u4E00\u90CE\",\"authorKana\":\"\u30AA\u30C0\u30A8\u30A4\u30A4\u30C1\u30ED\u30A6\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784088810027\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670803\u65E5\",\"itemPrice\":432,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14637787/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":88,\"reviewAverage\":\"4.78\",\"booksGenreId\":\"001001001008\"},{\"title\":\"\u30C0\u30F3\u30B8\u30E7\u30F3\u98EF\u30004\u5DFB\",\"titleKana\":\"\u30C0\u30F3\u30B8\u30E7\u30F3\u30E1\u30B7\u3000\u30E8\u30F3\u30AB\u30F3\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30D3\u30FC\u30E0\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\u30D3\u30FC\u30E0\u30B3\u30DF\u30C3\u30AF\u30B9\",\"contents\":\"\",\"author\":\"\u4E5D\u4E95\u3000\u8AD2\u5B50\",\"authorKana\":\"\u30AF\u30A4\u3000\u30EA\u30E7\u30A6\u30B3\",\"publisherName\":\"[...]
