interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&sort=sales
  response:
    body: {string: "{\"count\":155,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":52,\"Items\":[{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\uFF08\u524D\u7BC7\u30002\uFF09\",\"author\":\"\u30DF\u30B2\u30EB\u30FB\u30C7\u30FB\u30BB\u30EB\u30D0\u30F3\u30C6\u30B9\u30FB\u30B5\u30A2\u30D9\u30C9\u30E9/\u725B\u5CF6\u4FE1\u660E\",\"artistName\":\"\",\"publisherName\":\"\u5CA9\u6CE2\u66F8\u5E97\",\"label\":\"\",\"isbn\":\"9784003272121\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\u305D\u306E\u540D\u3082\u9AD8\u304D\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u30FB\u30C7\u30FB\u30E9\u30FB\u30DE\u30F3\u30C1\u30E3\u3068\u305D\u306E\u5F93\u58EB\u30B5\u30F3\u30C1\u30E7\u30FB\u30D1\u30F3\u30B5\u3001\u4F8B\u306B\u3088\u3063\u3066\u601D\u3044\u8FBC\u307F\u3067\u6F15\u5211\u56DA\u305F\u3061\u3092\u6551\u3063\u305F\u3042\u3052\u304F\u3001\u9006\u306B\u5F7C\u3089\u306B\u888B\u3060\u305F\u304D\u306B\u3055\u308C\u3001\u8EAB\u3050\u308B\u307F\u306F\u304C\u308C\u308B\u6563\u3005\u306A\u76EE\u306B\u3002\u4E3B\u5F93\u306F\u304A\u4E0A\u306E\u624B\u306E\u8005\u306E\u76EE\u3092\u9003\u308C\u3001\u30B7\u30A8\u30E9\u30FB\u30E2\u30EC\u30FC\u30CA\u306E\u5C71\u4E2D\u306B\u3002\",\"salesDate\":\"2001\u5E7401\u6708\",\"itemPrice\":972,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/1307763/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0032/00327212.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0032/00327212.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0032/00327212.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":2,\"reviewAverage\":\"4.5\",\"booksGenreId\":\"001004009/001019001/001019007\"},{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\uFF08\u5F8C\u7BC7\u30002\uFF09\",\"author\":\"\u30DF\u30B2\u30EB\u30FB\u30C7\u30FB\u30BB\u30EB\u30D0\u30F3\u30C6\u30B9\u30FB\u30B5\u30A2\u30D9\u30C9\u30E9/\u725B\u5CF6\u4FE1\u660E\",\"artistName\":\"\",\"publisherName\":\"\u5CA9\u6CE2\u66F8\u5E97\",\"label\":\"\",\"isbn\":\"9784000073332\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2011\u5E7401\u6708\",\"itemPrice\":162[...]
