interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&isbnjan=4988021149594
  response:
    body:
      string: "{\"count\":1,\"page\":1,\"first\":1,\"last\":1,\"hits\":1,\"carrier\":0,\"pageCount\":1,\"Items\":[{\"title\":\"\u30C9\u30F3\u2605\u30AD\u30DB\u30FC\u30C6
        DVD-BOX\",\"author\":\"\",\"artistName\":\"\u677E\u7530\u7FD4\u592A/\u9AD8\u6A4B\u514B\u5B9F/\u6210\u6D77\u7483\u5B50\",\"publisherName\":\"\",\"label\":\"(\u682A)\u30D0\u30C3\u30D7\",\"isbn\":\"\",\"jan\":\"4988021149594\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2011\u5E7412\u670821\u65E5\",\"itemPrice\":20020,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/11373177/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9594/4988021149594.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"4\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"003203001/003205003\"}],\"GenreInformation\":[]}"
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
