interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=-releaseDate
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\uFF08095\uFF09\u30C0\u30D6\u30EB\u30B1\u30A2\",\"titleKana\":\"\u30C0\u30D6\u30EB\u30B1\u30A2\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30DD\u30D7\u30E9\u65B0\u66F8\u300095\",\"seriesNameKana\":\"\u30DD\u30D7\u30E9\u30B7\u30F3\u30B7\u30E7\u300095\",\"contents\":\"\",\"author\":\"\u76F8\u99AC\u3000\u76F4\u5B50/\u5C71\u4E0B\u3000\u9806\u5B50\",\"authorKana\":\"\u30BD\u30A6\u30DE\u30CA\u30AA\u30B3/\u30E4\u30DE\u30B7\u30BF\u30B8\u30E5\u30F3\u30B3\",\"publisherName\":\"\u30DD\u30D7\u30E9\u793E\",\"size\":\"\u65B0\u66F8\",\"isbn\":\"9784591150153\",\"itemCaption\":\"\",\"salesDate\":\"2025\u5E7407\u670831\u65E5\",\"itemPrice\":880,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/13909424/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001020002\"},{\"title\":\"\u30C0\u30FC\u30AF\u306A\u8ECA\u7A93\u304B\u3089\uFF08\u4EEE\uFF09\",\"titleKana\":\"\u30C0\u30FC\u30AF\u30CA\u30B7\u30E3\u30BD\u30A6\u30AB\u30E9\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5DDD\u4E0A\u3000\u6CBB\",\"authorKana\":\"\u30AB\u30EF\u30AB\u30DF
        \u30AA\u30B5\u30E0\",\"publisherName\":\"\u5F69\u6D41\u793E\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784779114281\",\"itemCapti[...]
[...]
