interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksSoftware/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&os=windows
  response:
    body:
      string: "{\"count\":56,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":19,\"Items\":[{\"title\":\"\u30C9\u30E9\u30B4\u30F3\u30AF\u30A8\u30B9\u30C8X
        \u3044\u3070\u3089\u306E\u5DEB\u5973\u3068\u6EC5\u3073\u306E\u795E \u30AA\u30F3\u30E9\u30A4\u30F3
        \u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u9650\u5B9A\u7279\u5178\uFF1A\u300C\u30E1\u30BF\u30EB\u8FF7\u5BAE\u30DA\u30A2\u62DB\u5F85\u5238x1+\u5143\u6C17\u7389x1\u300D\u30A2\u30A4\u30C6\u30E0\u30B3\u30FC\u30C9\u3011\",\"titleKana\":\"\u30C9\u30E9\u30B4\u30F3\u30AF\u30A8\u30B9\u30C8X
        \u30A4\u30D0\u30E9\u30CE\u30DF\u30B3\u30C8\u30DB\u30ED\u30D3\u30CE\u30AB\u30DF
        \u30AA\u30F3\u30E9\u30A4\u30F3\",\"os\":\"WINDOWS\",\"label\":\"\",\"jan\":\"4988601010399\",\"makerCode\":\"SE-G
        0073\",\"itemCaption\":\"\u3010\u30AA\u30F3\u30E9\u30A4\u30F3\u5C02\u7528\u30BD\u30D5\u30C8\u3011\u30FB\u672C\u30BD\u30D5\u30C8\u306E\u52D5\u4F5C\u74B0\u5883\u306B\u3064\u3044\u3066\u306F\u3001\u516C\u5F0F\u30B5\u30A4\u30C8\u5185
        Windows\u7248\u300E\u30C9\u30E9\u30B4\u30F3\u30AF\u30A8\u30B9\u30C8X\u300F\u306E\u306F\u3058\u3081\u304B\u305F
        \u3092\u3054\u78BA\u8A8D\u304F\u3060\u3055\u3044\u3002\u306A\u304A\u52D5\u4F5C\u74B0\u5883\u306F\u3001\u4ECA\u5F8C\u5909\u66F4\u306B\u306A\u308B\u53EF\u80FD\u6027\u30[...]
[...]
