interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksSoftware/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&os=windows
  response:
    body: {string: "{\"count\":307,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u30D5\u30A1\u30A4\u30CA\u30EB\u30D5\u30A1\u30F3\u30BF\u30B8\u30FCXIV
        : \u7D05\u84EE\u306E\u30EA\u30D9\u30EC\u30FC\u30BF\u30FC \u30B3\u30EC\u30AF\u30BF\u30FC\u30BA\u30A8\u30C7\u30A3\u30B7\u30E7\u30F3\",\"titleKana\":\"\u30D5\u30A1\u30A4\u30CA\u30EB\u30D5\u30A1\u30F3\u30BF\u30B8\u30FCXIV
        : \u7D05\u84EE\u306E\u30EA\u30D9\u30EC\u30FC\u30BF\u30FC \u30B3\u30EC\u30AF\u30BF\u30FC\u30BA\u30A8\u30C7\u30A3\u30B7\u30E7\u30F3\",\"os\":\"WINDOWS\",\"label\":\"\",\"jan\":\"4988601009737\",\"makerCode\":\"SE-W
        0023\",\"itemCaption\":\"\\n\\n\u5149\u306E\u6226\u58EB\u305F\u3061\u3088\u3002\u7D05\u84EE\u306E\u89E3\u653E\u8005\u3068\u306A\u308C\uFF01\\n\\n\u30D5\u30A1\u30A4\u30CA\u30EB\u30D5\u30A1\u30F3\u30BF\u30B8\u30FCXIV\u306F\u3001\u58EE\u5927\u306A\u201C\u30A8\u30AA\u30EB\u30BC\u30A2\u201D\u3068\u3044\u3046\u4E16\u754C\u3092\u821E\u53F0\u306B\u3001
        \u30CD\u30C3\u30C8\u30EF\u30FC\u30AF\u3092\u901A\u3058\u3066\u3001\\n\u4E16\u754C\u4E2D\u306E\u30D7\u30EC\u30A4\u30E4\u30FC\u3068\u5171\u306B\u5192\u967A\u3067\u304D\u3[...]
