interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=standard
  response:
    body: {string: "{\"count\":983132,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u9ED2\u5B50\u306E\u30D0\u30B9\u30B1
        TV\u30A2\u30CB\u30E1\u30A4\u30E9\u30B9\u30C8\u96C6 COLORFUL MEMORIES\",\"titleKana\":\"\u30AF\u30ED\u30B3\u30CE\u30D0\u30B9\u30B1
        \u30C6\u30EC\u30D3\u30A2\u30CB\u30E1\u30A4\u30E9\u30B9\u30C8\u30B7\u30E5\u30A6
        \u30AB\u30E9\u30D5\u30EB \u30E1\u30E2\u30EA\u30FC\u30BA\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u611B\u8535\u7248\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u85E4\u5DFB
        \u5FE0\u4FCA\",\"authorKana\":\"\u30D5\u30B8\u30DE\u30AD\u30BF\u30C0\u30C8\u30B7\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784087925135\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7403\u670803\u65E5\",\"itemPrice\":1998,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14663194/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001001012/001011009\"},{\"title\":\"\u767B\u5742\u5E83\u81E3AURA\",\"titleKana\":\"\u30C8\u30B5\u30AB
        \u30D2\u30ED\u30AA\u30DF \u30AA\u30FC\u30E9\",\"subTitle\":\"\u4E09\u4EE3\u76EEJ\u3000Soul\u3000Brothers\u3000Photo\",\"subTitleKana\":\"\u30B5\u30F3\u30C0\u30A4\u30E1
        \u30B8\u30A7\u30A4 \u30BD\u30A6\u30EB \u30D6\u30E9\u30B6\u30FC\u30BA \u30D5\u30A9\u30C8
        \u30EC\u30DD\u30FC\u30C8\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"Exile\u7814\u7[...]
