interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksGame/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&title=mario
  response:
    body:
      string: "{\"count\":145,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":49,\"Items\":[{\"title\":\"\u30B9\u30FC\u30D1\u30FC
        \u30DE\u30EA\u30AA\u30D1\u30FC\u30C6\u30A3\",\"titleKana\":\"\u30B9\u30FC\u30D1\u30FC
        \u30DE\u30EA\u30AA\u30D1\u30FC\u30C6\u30A3\",\"hardware\":\"Nintendo Switch\",\"label\":\"\u4EFB\u5929\u5802\",\"jan\":\"4902370540437\",\"makerCode\":\"HAC-P-ADFJA\",\"itemCaption\":\"\\n\\nNintendo
        Switch\u3067\u3001\u3044\u3064\u3067\u3082\u3069\u3053\u3067\u3082\u30DE\u30EA\u30AA\u30D1\u30FC\u30C6\u30A3\uFF01\\n\\n\u307F\u3093\u306A\u3067\u30EF\u30A4\u30EF\u30A4\u3001\u30DF\u30CB\u30B2\u30FC\u30E0\u3084\u30B9\u30B4\u30ED\u30AF\u304C\u697D\u3057\u3081\u308B\u300E\u30DE\u30EA\u30AA\u30D1\u30FC\u30C6\u30A3\u300F\u304C\u3001Nintendo
        Switch\u306E\u7279\u9577\u3092\u6D3B\u304B\u3057\u3001\u65B0\u3057\u304F\u751F\u307E\u308C\u5909\u308F\u308A\u307E\u3057\u305F\u[...]
[...]
