interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":14519,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u7D04\u675F\u306E\u30CD\u30D0\u30FC\u30E9\u30F3\u30C9\u30001-16\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u51FA\u6C34
        \u307D\u3059\u304B\",\"artistName\":\"\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"label\":\"\",\"isbn\":\"2100011551671\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7410\u6708\u4E0A\u65EC\",\"itemPrice\":7744,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16076704/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1671/2100011551671.gif?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1671/2100011551671.gif?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1671/2100011551671.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001025001\"},{\"title\":\"\u30B4\u30FC\u30EB\u30C7\u30F3\u30AB\u30E0\u30A4\u30001-19\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u91CE\u7530\u30B5\u30C8\u30EB\",\"artistName\":\"\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"label\":\"\",\"isbn\":\"2100011538405\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7409\u6708\u4E2D\u65EC\",\"itemPrice\":10880,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16047[...]
[...]
