interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=%2BitemPrice
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u307F\u304B\u3050\u3089\u3046\u305F\u73FE\u4EE3\u4EEE\u540D\",\"titleKana\":\"\u30DF\u30AB\u30B0\u30E9\u30A6\u30BF
        \u30B2\u30F3\u30C0\u30A4\u30AC\u30CA\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u5929\u7406\u6559\u9053\u53CB\u793E\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784807300099\",\"itemCaption\":\"\",\"salesDate\":\"1970\u5E7404\u670801\u65E5\",\"itemPrice\":31,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/1018962/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":2,\"reviewAverage\":\"3.0\",\"booksGenreId\":\"001015\"},{\"title\":\"\u7DCF\u9078\u6319\u52DD\u5229\u3078\u6D3B\u52D5\u306E\u98DB\u8E8D\u3092\",\"titleKana\":\"\u30BD\u30A6\u30BB\u30F3\u30AD\u30E7
        \u30B7\u30E7\u30A6\u30EA \u30A8 \u30AB\u30C4\u30C9\u30A6 \u30CE \u30D2\u30E4\u30AF
        \u30AA\",\"subTitle\":\"\u5E79\u90E8\u4F1A\u3078\u306E\u5FD7\u4F4D\u59D4\u54E1\u9577\u306E\u5831\u544A\u3068\u307E\u3068\u3081\",\"subTitleKana\":\"\u30AB\u30F3\u30D6\u30AB\u30A4
        \u30A8\u30CE \u30B7\u30A4 \u30A4\u30A4\u30F3\u30C1\u30E7\u30A[...]
