interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&availability=3&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86
  response:
    body:
      string: "{\"count\":10,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":4,\"Items\":[{\"title\":\"\u4EA4\u97FF\u8A69\uFF08\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\uFF09\",\"author\":\"\u30EA\u30D2\u30E3\u30EB\u30C8\u30FB\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9\",\"artistName\":\"\",\"publisherName\":\"\u5168\u97F3\u697D\u8B5C\u51FA\u7248\u793E\",\"label\":\"\",\"isbn\":\"9784118941646\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2005\u5E7411\u6708\",\"itemPrice\":1760,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/3695462/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1189/11894164.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1189/11894164.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1189/11894164.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"3\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018005004/001018007001\"},{\"title\":\"\u30EA\u30D2\u30E3\u30EB\u30C8\u30FB\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9:\u4EA4\u97FF\u8A69\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D\u4F5C\u54C135\",\"author\":\"\",\"artistName\":\"\u30E0\u30B9\u30C6\u30A3\u30B9\u30E9\u30D5\u30FB\u30ED\u30B9\u30C8\u30ED\u30DD\u30FC\u30F4\u30A3\u30C1/\u30A6\u30EB\u30EA\u30D2\u30FB\u30B3\u30C3\u30DB/\u30D8\u30EB\u30D9\u30EB\u30C8\u30FB\u30D5\u30A9\u30F3\u30FB\u30AB\u30E9\u30E4\u30F3\",\"publisherName\":\"\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&availability=3&formatVersion=2&hits=3&keyword=One+Piece
  response:
    body:
      string: "{\"count\":149,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":50,\"Items\":[{\"title\":\"ONE
        PIECE \u30EF\u30F3\u30D4\u30FC\u30B9 19TH\u30B7\u30FC\u30BA\u30F3 \u30DB\u30FC\u30EB\u30B1\u30FC\u30AD\u30A2\u30A4\u30E9\u30F3\u3[...]
[...]
