interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&sort=sales
  response:
    body:
      string: "{\"count\":124,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":42,\"Items\":[{\"title\":\"VIVRE
        CARD\u301CONE PIECE\u56F3\u9451\u301C BOOSTER PACK \u6050\u6016\u306E\u652F\u914D\u8005!
        \u30C9\u30F3\u30AD\u30DB\u30FC\u30C6\u30D5\u30A1\u30DF\u30EA\u30FC!!\",\"author\":\"\u5C3E\u7530
        \u6804\u4E00\u90CE\",\"artistName\":\"\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"label\":\"\",\"isbn\":\"9784089083475\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7405\u670801\u65E5\",\"itemPrice\":429,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/15762917/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3475/9784089083475.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3475/9784089083475.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3475/9784089083475.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"001001001008\"},{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\",\"author\":\"\",\"artistName\":\"\u718A\u5DDD\u54F2\u4E5F/\u30A2\u30F3\u30BD\u30CB\u30FC\u30FB\u30C8\u30EF\u30A4\u30CA\u30FC/K\u30D0\u30EC\u30A8\u30AB\u30F3\u30D1\u30CB\u30FC\",\"publisherName\":\"\",\"label\":\"(\u682A)\u30DD\u30CB\u30FC\u30AD\u30E3\u30CB\u30AA\u30F3\",\"isbn\":\"\",\"jan\":\"4900527010123\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2005\u5E7405\u670818\u65E5\",\"itemPrice\":781[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=One+Piece&sort=sales
  response:
    body:
      string: "{\"count\":866,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"ONE
        PIECE 94\",\"author\":\"\u5C3E\u7530 \u6804\u4E00\u90CE\",\"artistName\":\"\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"label\":\"\[...]
[...]
