interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=reviewCount
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u6A2B\u6728\u5F0F\u30AB\u30FC\u30F4\u30A3\u30FC\u30C0\u30F3\u30B9\u3067\u5373\u3084\u305B\u308B\uFF01\",\"titleKana\":\"\u30AB\u30B7\u30AD\u30B7\u30AD
        \u30AB\u30FC\u30F4\u30A3\u30FC \u30C0\u30F3\u30B9 \u30C7 \u30BD\u30AF \u30E4\u30BB\u30EB\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"Gakken\u3000hit\u3000mook\",\"seriesNameKana\":\"\u30AC\u30C3\u30B1\u30F3
        \u30D2\u30C3\u30C8 \u30E0\u30C3\u30AF\",\"contents\":\"\",\"author\":\"\u6A2B\u6728\u88D5\u5B9F\",\"authorKana\":\"\u30AB\u30B7\u30AD,\u30D2\u30ED\u30DF\",\"publisherName\":\"\u5B66\u7814\u30D1\u30D6\u30EA\u30C3\u30B7\u30F3\u30B0\",\"size\":\"\u30E0\u30C3\u30AF\u305D\u306E\u4ED6\",\"isbn\":\"9784056059748\",\"itemCaption\":\"\",\"salesDate\":\"2010\u5E7406\u6708\",\"itemPrice\":1028,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/6482593/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0560/05605974.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0560/05605974.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0560/05605974.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"2\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":6793,\"reviewAverage\":\"3.91\",\"booksGenreId\":\"001010014002\"},{\"title\":\"\u4F53\u8102\u80AA\u8A08\u30BF\u30CB\u30BF\u306E\u793E\u54E1\u98DF\u5802\",\"titleKana\":\"\u30BF\u30A4\u30B7\u30DC\u30A6\u30B1\u30A4
        \u30BF\u30CB\u30BF \u30CE \u30B7\u30E3\u30A4\u30F3 \u30B7\u30E7\u30AF\u30C9\u30A6\",\"subTitle\":\"500kcal\u306E\u307E\u3093\u3077\u304F\u5B9A\u98DF\",\"subTitleKana\":\"\u30B4\u30D2\u30E3\u30C3\u30AD\u30ED\u30AB\u30ED\u30EA\u30FC
        \u30CE \u30DE\u30F3\u30D7\u30AF \u30C6\u30A4\u30B7\u30E7\u30AF\",\"seriesName\":\"\",\"s[...]
