interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&sort=-itemPrice
  response:
    body: {string: "{\"count\":155,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":52,\"Items\":[{\"title\":\"\u3010\u8F38\u5165\u697D\u8B5C\u3011\u30DE\u30B9\u30CD,
        Jules: \u30AA\u30DA\u30E9\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D:
        \u30D1\u30FC\u30C8\u8B5C\u30BB\u30C3\u30C8\",\"author\":\"\u30DE\u30B9\u30CD,
        Jules\",\"artistName\":\"\",\"publisherName\":\"\u30AB\u30EB\u30DE\u30B9\u793E\",\"label\":\"\",\"isbn\":\"2600000289320\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"1970\u5E7401\u670801\u65E5\",\"itemPrice\":146232,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14167979/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"6\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018005004\"},{\"title\":\"\u3010\u8F38\u5165\u697D\u8B5C\u3011\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9,
        Richard: \u4EA4\u97FF\u8A69\u300C\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300D/Vaught\u7DE8:
        \u30D1\u30FC\u30C8\u8B5C\u30BB\u30C3\u30C8\",\"author\":\"\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9,
        Richard\",\"artistName\":\"\",\"publisherName\":\"\u30AB\u30EB\u30DE\u30B9\u793E\",\"label\":\"\",\"isbn\":\"2600001063561\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2016\u5E7405\u670812\u65E5\",\"itemPrice\":63072,\"listPrice\":0,\"discountRate\":0,\"discountP[...]
