interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksForeignBook/Search/20170404?applicationId=XXXXXX&author=cervantes&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":147,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":49,\"Items\":[{\"title\":\"Tres
        Novelas Ejemplares\",\"titleKana\":\"\",\"japaneseTitle\":\"Tres Novelas Ejemplares\",\"author\":\"Miguel
        de Cervantes\",\"authorKana\":\"Miguel de Cervantes\",\"publisherName\":\"NORMA\",\"isbn\":\"9789580467588\",\"itemCaption\":\"These
        works are full of humor and perceptive reflections on human conditions.\",\"salesDate\":\"2018\u5E74\",\"itemPrice\":4400,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16095067/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7588/9789580467588.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7588/9789580467588.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7588/9789580467588.jpg?_ex=200x200\",\"availability\":\"4\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"005407002\"},{\"title\":\"Me,
        Frida, and the Secret of the Peacock Ring\",\"titleKana\":\"\",\"japaneseTitle\":\"Me,
        Frida, and the Secret of the Peacock Ring\",\"author\":\"Angela Cervantes\",\"authorKana\":\"Angela
        Cervantes\",\"publisherName\":\"SCHOLASTIC\",\"isbn\":\"9781338159325\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E74\",\"itemPrice\":1267,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16043255/\",\"af[...]
[...]
