interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksCD/Search/20170404?applicationId=XXXXXX&artistName=Speed&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":61,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":21,\"Items\":[{\"title\":\"\u3010\u8F38\u5165\u76E4\u3011Furious
        7\",\"titleKana\":\"\u30EF\u30A4\u30EB\u30C9 \u30B9\u30D4\u30FC\u30C9 \u30B9\u30AB\u30A4\u30DF\u30C3\u30B7\u30E7\u30F3
        Fito Blanko\",\"artistName\":\"\u30EF\u30A4\u30EB\u30C9 \u30B9\u30D4\u30FC\u30C9
        Sky Mission\",\"artistNameKana\":\"Furious Seven \u30EF\u30A4\u30EB\u30C9\u30B9\u30D4\u30FC\u30C9
        \u30B9\u30AB\u30A4\u30DF\u30C3\u30B7\u30E7\u30F3 \u30B9\u30AB\u30A4 \u30DF\u30C3\u30B7\u30E7\u30F3
        \u30EF\u30A4\u30EB\u30C9\u30B9\u30D4\u30FC\u30C97\",\"label\":\"Atlantic\",\"size\":\"0\",\"jan\":\"0075678670565\",\"makerCode\":\"7567.867056\",\"itemCaption\":\"\u5168\u4E16\u754C\u7D2F\u8A08\u8208\u884C\u53CE\u51652300\u5104\u5186\u7A81\u7834\u306E\u5927\u30D2\u30C3\u30C8\u30B7\u30EA\u30FC\u30BA\u300E\u30EF\u30A4\u30EB\u30C9\u30FB\u30B9\u30D4\u30FC\u30C9\u300F\u6700\u65B0\u4F5C\u3001\u300E\u30EF\u30A4\u30EB\u30C9\u30FB\u30B9\u30D4\u30FC\u30C9\u3000\u30B9\u30AB\u30A4\u30DF\u30C3\u30B7\u30E7\u30F3[\u539F\u984C\uFF1AFURIOUS
        7]\u300F\u306E\u30B5\u30A6\u30F3\u30C9\u30FB\u30C8\u30E9\u30C3\u30AF\u304C\u6620\u753B\u516C\u958B\u306B\u5148\u99C6\u3051\[...]
[...]
