interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":10959,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u3010\u62BD\u9078\u30675\u540D\u69D8\u306B\u30B5\u30A4\u30F3\u5165\u308A\u8907\u88FD\u539F\u753B\u30D7\u30EC\u30BC\u30F3\u30C8\uFF01\u3011\u4E00\u9031\u9593\u30D5\u30EC\u30F3\u30BA\u3002
        1-7\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u8449\u6708\u62B9\u8336\",\"artistName\":\"\",\"publisherName\":\"\u30B9\u30AF\u30A6\u30A7\u30A2\u30FB\u30A8\u30CB\u30C3\u30AF\u30B9\",\"label\":\"\",\"isbn\":\"2100010328267\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2015\u5E7408\u6708\",\"itemPrice\":3598,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/13282601/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8267/2100010328267.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8267/2100010328267.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8267/2100010328267.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001025\"},{\"title\":\"\u3010\u7279\u5178\u4ED8\u304D\u3011\u30AF\u30BA\u306E\u672C\u61D0
        1-7\u5DFB\u30BB\u30C3\u30C8\u3010\u7279\u88FD\u30B7\u30FC\u30EB5\u7A2E\u3011\",\"author\":\"\u6A2A\u69CD\u30E1\u30F3\u30B4\",\"artistName\":\"\",\"publisherName\":\"\u30B9\u30AF\u30A6\u30A7\u30A2\u30FB\u30A8\u30CB\u30C3\u30AF\u30B9\",\"label\":\"\",\"isbn\":\"2100010608833\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2016\u5E7412\u670827\u65E5\",\"itemPrice\":4[...]
