interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=reviewCount
  response:
    body: {string: "{\"count\":983132,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u4F53\u8102\u80AA\u8A08\u30BF\u30CB\u30BF\u306E\u793E\u54E1\u98DF\u5802\",\"titleKana\":\"\u30BF\u30A4\u30B7\u30DC\u30A6\u30B1\u30A4
        \u30BF\u30CB\u30BF \u30CE \u30B7\u30E3\u30A4\u30F3 \u30B7\u30E7\u30AF\u30C9\u30A6\",\"subTitle\":\"500kcal\u306E\u307E\u3093\u3077\u304F\u5B9A\u98DF\",\"subTitleKana\":\"\u30B4\u30D2\u30E3\u30C3\u30AD\u30ED\u30AB\u30ED\u30EA\u30FC
        \u30CE \u30DE\u30F3\u30D7\u30AF \u30C6\u30A4\u30B7\u30E7\u30AF\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u30BF\u30CB\u30BF\",\"authorKana\":\"\u30BF\u30CB\u30BF\",\"publisherName\":\"\u5927\u548C\u66F8\u623F\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784479920250\",\"itemCaption\":\"\u30AB\u30ED\u30EA\u30FC\u30C0\u30A6\u30F3\u306E\u8ABF\u7406\u306E\u30B3\u30C4\u3002\u30AA\u30FC\u30D6\u30F3\u30C8\u30FC\u30B9\u30BF\u30FC\u3067\u6CB9\u5206\u30AB\u30C3\u30C8\u3002\u304B\u307F\u5FDC\u3048\u3067\u307E\u3093\u3077\u304F\u611F\u3002\u85AC\u5473\u3067\u5473\u308F\u3044\u30A2\u30C3\u30D7\u3002\u3057\u3063\u304B\u308A\u3060\u3057\u3067\u5869\u5206\u30C0\u30A6\u30F3\u3002\u8089\u3082\u9B5A\u3082\u91CE\u83DC\u3082\u305F\u3063\u3077\u308A\u304A\u3044\u3057\u3055\u30FB\u30DC\u30EA\u30E5\u30FC\u30E0\u305D\u306E\u307E\u307E\u3002\u4EBA\u6C17\u793E\u54E1\u98DF\u5802\u306E\u5B9A\u98DF\u30EC\u30B7\u30D4\uFF13\uFF11\u65E5\u5206\u3002\",\"salesDate\":\"2010\u5E7402\u6708\",\"itemPrice\":1234,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/6333205/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0250/9784479920250.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0250/9784479920250.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0250/9784479920250.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":5400,\"reviewAverage\":\"4.19\",\"booksGenreId\":\"001010011001/001010014002\"},{\"title\":\"\u5BDD\u308B\u3060\u3051\uFF01\u9AA8\u76E4\u6795\u30C0\u30A4\u30A8\u30C3\u30C8\",\"titleKana\":\"\u30CD\u30EB
        \u30C0\u30B1 \u30B3\u30C4\u30D0\u30F3 \u30DE\u30AF\u30E9 \u30C0\u30A4\u30A8\u30C3\u30C8\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"Gakken\u3000hit\u3000mook\",\"seriesNameKana\":\"\u30AC\u30C3\u30B1\u30F3
        \u30D2\u30C3\u30C8 \u30E0\u30C3\u30AF\",\"contents\":\"\",\"author\":\"\u798F\u8FBB\u92ED\u8A18\",\"authorKan[...]
