interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksMagazine/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&title=%E3%83%95%E3%82%A1%E3%83%9F%E9%80%9A
  response:
    body: {string: "{\"count\":1,\"page\":1,\"first\":1,\"last\":1,\"hits\":1,\"carrier\":0,\"pageCount\":1,\"Items\":[{\"title\":\"\u9031\u520A
        \u30D5\u30A1\u30DF\u901A 2017\u5E74 2/23\u53F7 [\u96D1\u8A8C]\",\"titleKana\":\"\u30B7\u30E5\u30A6\u30AB\u30F3\u30D5\u30A1\u30DF\u30C4\u30A6\",\"publisherName\":\"KADOKAWA\",\"jan\":\"4910218840274\",\"itemCaption\":\"\u30B2\u30FC\u30E0\u7DCF\u5408\u60C5\u5831\u8A8C\u4EC1\u738B\",\"salesDate\":\"2017\u5E7402\u670809\u65E5\",\"cycle\":\"\u9031\u520A\",\"itemPrice\":500,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14661843/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0274/4910218840274.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0274/4910218840274.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0274/4910218840274.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"007619002/007626004\"}],\"GenreInformation\":[]}"}
    headers:
      Content-Language: [ja-JP]
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
