interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=reviewAverage
  response:
    body: {string: "{\"count\":983132,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u5B87\u5B99\u4EBA\u30DE\u30C3\u30CF\u5B8C\u5168\u7248\uFF08\u4E0A\uFF09\",\"titleKana\":\"\u30A6\u30C1\u30E5\u30A6\u30B8\u30F3
        \u30DE\u30C3\u30CF \u30AB\u30F3\u30BC\u30F3\u30D0\u30F3\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30DE\u30F3\u30AC\u30B7\u30E7\u30C3\u30D7\u30B7\u30EA-\u30BA\",\"seriesNameKana\":\"\u30DE\u30F3\u30AC
        \u30B7\u30E7\u30C3\u30D7 \u30B7\u30EA-\u30BA\",\"contents\":\"\",\"author\":\"\u68DF\u660E\u90CE/\u4E00\u5CF0\u5927\u4E8C\",\"authorKana\":\"\u30C8\u30A6,\u30CF\u30EB\u30AA/\u30AB\u30BA\u30DF\u30CD,\u30C0\u30A4\u30B8\",\"publisherName\":\"\u30D1\u30F3\u30ED\u30FC\u30EA\u30F3\u30B0\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784775911846\",\"itemCaption\":\"\",\"salesDate\":\"2007\u5E7409\u670802\u65E5\",\"itemPrice\":1944,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/4494588/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7759/77591184.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7759/77591184.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/7759/77591184.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"4\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"001001012\"},{\"title\":\"\u7D50\u5A5A\u3063\u3066\u3044\u3044\u304B\u3082\u3057\u308C\u306A\u3044\",\"titleKana\":\"\u30B1\u30C3\u30B3\u30F3\u30C3\u30C6
        \u30A4\u30A4 \u30AB\u30E2\u30B7\u30EC\u30CA\u30A4\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u5E7B\u51AC\u820E\u6587\u5EAB\",\"seriesNameKana\":\"\u30B2\u30F3\u30C8\u30A6\u30B7\u30E3
        \u30D6\u30F3\u30B3\",\"contents\":\"\",\"author\":\"\u85E4\u81E3\u67CA\u5B50\",\"authorKana\":\"\u30D5\u30B8\u30AA\u30DF,\u30B7\[...]
