interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=standard
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u7530\u4E2D\u307F\u306A\u5B9F1st\u5199\u771F\u96C6\uFF08\u4EEE\uFF09\",\"titleKana\":\"\u30BF\u30CA\u30AB\u30DF\u30CA\u30DF\u3000\u30D5\u30A1\u30FC\u30B9\u30C8\u30B7\u30E3\u30B7\u30F3\u30B7\u30E5\u30A6\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u7530\u4E2D
        \u307F\u306A\u5B9F\",\"authorKana\":\"\",\"publisherName\":\"\u5B9D\u5CF6\u793E\",\"size\":\"\",\"isbn\":\"9784800288486\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7412\u670813\u65E5\",\"itemPrice\":1980,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16099888/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8486/9784800288486.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8486/9784800288486.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8486/9784800288486.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001013001\"},{\"title\":\"\u81EA\u5206\u30C4\u30C3\u30B3\u30DF\u304F\u307E\u306E\u672C\u3000\u3082\u3050\u3089\u30B3\u30ED\u30C3\u30B1\u306E\u3046\u305F\",\"titleKana\":\"\u30B8\u30D6\u30F3\u30C4\u30C3\u30B3\u30DF\u30AF\u30DE\u30CE\u30DB\u30F3
        \u30E2\u30B0\u30E9\u30B3\u30ED\u30C3\u30B1\u30CE\u30A6\u30BF\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30EF\u30A4\u30C9KC\",\"seriesNameKana\":\"\u30EF\u30A4\u30C9KC\u30B3\u30DF\u30C3\u30AF\u30B9\",\"contents\":\"\",\"author\":[...]
[...]
