interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&limitedFlag=1
  response:
    body: {string: "{\"count\":4,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":2,\"Items\":[{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\",\"author\":\"\",\"artistName\":\"\u30D5\u30E7\u30FC\u30C9\u30EB\u30FB\u30B7\u30E3\u30EA\u30A2\u30D4\u30F3/\u30C9\u30EB\u30F4\u30A3\u30EB/\u30DE\u30C7\u30A3\u30FB\u30D9\u30EA\u30FC/G.W.\u30D1\u30D7\u30B9\u30C8\",\"publisherName\":\"\",\"label\":\"(\u682A)\u30A2\u30A4\u30FB\u30F4\u30A3\u30FC\u30FB\u30B7\u30FC\",\"isbn\":\"\",\"jan\":\"4933672245560\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2015\u5E7405\u670822\u65E5\",\"itemPrice\":3693,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/13182656/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5560/4933672245560.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5560/4933672245560.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5560/4933672245560.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":2,\"limitedFlag\":1,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"003201001/003205001\"},{\"title\":\"R.\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9:\u4EA4\u97FF\u8A69\u226A\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u226B\",\"author\":\"\",\"artistName\":\"\u30D8\u30EB\u30D9\u30EB\u30C8\u30FB\u30D5\u30A9\u30F3\u30FB\u30AB\u30E9\u30E4\u30F3/\u30D4\u30A8\u30FC\u30EB\u30FB\u30D5\u30EB\u30CB\u30A8/\u30B8\u30E5\u30B9\u30C8\u30FB\u30AB\u30C3\u30DD\u30FC\u30CD/\u30EA\u30D2\u30E3\u30EB\u30C8\u30FB\u30B7\u30E5\u30C8\u30E9\u30A6\u30B9/\u30D8\u30EB\u30D9\u30EB\u30C8\u30FB\u30D[...]
