interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86&sort=sales
  response:
    body: {string: "{\"count\":155,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":52,\"Items\":[{\"title\":\"\u30B9\u30DA\u30A4\u30F3\u8A9E\u3067\u8AAD\u3080\u3084\u3055\u3057\u3044\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\",\"author\":\"\u30D8\u30B9\u30B9\u30FB\u30DE\u30ED\u30C8\u30FB\u30ED\u30DA\u30B9\u30C6\u30B8\u30E7/\u7C95\u8C37\u3066\u308B\u5B50\",\"artistName\":\"\",\"publisherName\":\"NHK\u51FA\u7248\",\"label\":\"\",\"isbn\":\"9784140350898\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\u30BB\u30EB\u30D0\u30F3\u30C6\u30B9\u306E\u4E0D\u673D\u306E\u540D\u4F5C\u300E\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u300F\u304C\u3084\u3055\u3057\u3044\u30B9\u30DA\u30A4\u30F3\u8A9E\u306B\u306A\u3063\u3066\u767B\u5834\uFF01\u65E5\u672C\u8A9E\u8A33\u3001\u8A9E\u6CE8\u3001\u89E3\u8AAC\u4ED8\u304D\u306A\u306E\u3067\u3001\u8F9E\u66F8\u306A\u3057\u3067\u3082\u697D\u3057\u3081\u307E\u3059\u3002\",\"salesDate\":\"2010\u5E7406\u6708\",\"itemPrice\":1080,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/6495660/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0898/9784140350898.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0898/9784140350898.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0898/9784140350898.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":3,\"reviewAverage\":\"4.33\",\"booksGenreId\":\"001002001009\"},{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\uFF08\u5F8C\u7BC7\u30002\uFF09\",\"author\":\"\u30DF\u30B2\u30EB\u30FB\u30C7\u30FB\u30BB\u30EB\u30D0\u30F3\u30C6\u30B9\u30FB\u30B5\u30A2\u30D9\u30C9\u30E9/\u725B\u5CF6\u4FE1\u660E\",\"artistName\":\"\",\"publisherName\":\"\u5CA9\u6CE2\u66F8\u5E97\",\"label\":\"\",\"isbn\":\"9784000073332\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2011\u5E7401\u6708\",\"itemPrice\":1620,\"listPrice\":0[...]
