interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":10676,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u9D3B\u6C60\u525B\u3068\u732B\u306E\u307D\u3093\u305F
        \u30CB\u30E3\u30A2\u30A2\u30A2\u30F3\uFF01 1-2\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u9D3B\u6C60\u525B\",\"artistName\":\"\",\"publisherName\":\"KADOKAWA\",\"label\":\"\",\"isbn\":\"2100010659248\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670801\u65E5\",\"itemPrice\":2160,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14652598/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9248/2100010659248.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9248/2100010659248.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9248/2100010659248.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"001025\"},{\"title\":\"\u4F0A\u85E4\u8A08\u5283
        2\u518A\u30BB\u30C3\u30C8\",\"author\":\"\u4F0A\u85E4\u8A08\u5283\",\"artistName\":\"\",\"publisherName\":\"\u65E9\u5DDD\u66F8\u623F\",\"label\":\"\",\"isbn\":\"2100010585196\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2016\u5E7410\u670825\u65E5\",\"itemPrice\":1555,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14530457/\",\"affiliateUrl\":\"\",\"sm[...]
