interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=reviewAverage
  response:
    body: {string: "{\"count\":984852,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u3061\u3087\u3063\u3068\u307E\u3058\u3081\u306A\u65E5\u672C\u53F2Q\uFF06A\uFF08\u4E0B\uFF08\u8FD1\u4E16\u30FB\u8FD1\u4EE3\uFF09\uFF09\",\"titleKana\":\"\u30C1\u30E7\u30C3\u30C8
        \u30DE\u30B8\u30E1\u30CA \u30CB\u30DB\u30F3\u30B7 \u30AD\u30E5\u30FC \u30A2\u30F3\u30C9
        \u30A8\u30A4\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u4E94\u5473\u6587\u5F66/\u91CE\u5442\u8096\u751F\",\"authorKana\":\"\u30B4\u30DF,\u30D5\u30DF\u30D2\u30B3/\u30CE\u30ED,\u30BF\u30AB\u30AA\u30A4\",\"publisherName\":\"\u5C71\u5DDD\u51FA\u7248\u793E\uFF08\u5343\u4EE3\u7530\u533A\uFF09\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784634590434\",\"itemCaption\":\"\u3061\u3087\u3044\u307E\u3058\u65E5\u672C\u53F2\u3044\u3064\u304B\u5FC5\u305A\u5F79\u306B\u7ACB\u3064\u8CE2\u9580\u611A\u7B54\u3002\u7E54\u7530\u4FE1\u9577\u611B\u7528\u306E\u5370\u5224\u300C\u5929\u4E0B\u5E03\u6B66\u300D\u306B\u306F\u3069\u3093\u306A\u9858\u3044\u304C\uFF1F\u8C4A\u81E3\u79C0\u5409\u306E\u751F\u5E74\u306F\u7533\u5E74\u304B\u9149\u5E74\u304B\uFF1F\u5927\u5742\u57CE\u306E\u5DE8\u5927\u306A\u77F3\u3001\u86F8\u77F3\u306E\u904B\u642C\u65B9\u6CD5\u306F\uFF1F\u30DD\u30EB\u30C8\u30AC\u30EB\u4EBA\u304C\u7A2E\u5B50\u5CF6\u306B\u6765\u822A\u3057\u305F\u5E74\u306F\uFF1F\u6771\u4EAC\u30FB\u897F\u4EAC\u30FB\u4E2D\u4EAC\u306E\u8A9E\u306F\u3044\u3064\u3054\u308D\u304B\u3089\u4F7F\u308F\u308C\u305F\u306E\uFF1F\u6761\u7D04\u30FB\u5354\u7D04\u3001\u540C\u76DF\u30FB\u5354\u5546\u306E\u9055\u3044\u306F\uFF1F\u306A\u3069\uFF11\uFF16\uFF16\u554F\u3002\",\"salesDate\":\"2006\u5E7404\u6708\",\"itemPrice\":1620,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/4029492/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6345/63459043.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6345/63459043.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6345/63459043.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"001008005001\"},{\"title\":\"\u5168\u96C6\u65E5\u672C\u306E\u6B74\u53F2\uFF08\u7B2C10\u5DFB\uFF09\",\"titleKana\":\"\u30BC\u30F3\u30B7\u30E5\u30A6
        \u30CB\u30DB\u30F3 \u30CE \u30EC\u30AD\u30B7\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\u5FB3\u5DDD\u306E\u56FD\u5BB6\u30C7\u30B6\u30A4\u30F3\",\"author\":\"\u6C34\u672C\u90A6\u5F66\",\"authorKana\":\"\u30DF\u30BA\u30E2\u30C8,\u30AF\u30CB\u30D2\u30B3\",\"publisherName\":\"\u5C0F\u5B6[...]
