interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=reviewAverage
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u30E1\u30EB\u30D8\u30F3\u30A6\u30FC\u30EB\",\"titleKana\":\"\u30E1\u30EB\u30D8\u30F3
        \u30A6\u30FC\u30EB\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B7\u30E5\u30BF\u30A4\u30CA\u30FC\u6559\u80B2\u30AF\u30E9\u30D5\u30C8\u30EF\u30FC\u30EB\u30C9\",\"seriesNameKana\":\"\u30B7\u30E5\u30BF\u30A4\u30CA\u30FC
        \u30AD\u30E7\u30A6\u30A4\u30AF \u30AF\u30E9\u30D5\u30C8 \u30EF\u30FC\u30EB\u30C9\",\"contents\":\"\",\"author\":\"\u30C0\u30B0\u30DE\u30FC\u30FB\u30B7\u30E5\u30DF\u30C3\u30C8/\u30D5\u30E9\u30A4\u30A2\u30FB\u30E4\u30D5\u30B1\",\"authorKana\":\"\u30B7\u30E5\u30DF\u30C3\u30C8,\u30C0\u30B0\u30DE\u30FC/\u30E4\u30D5\u30B1,\u30D5\u30E9\u30A3\u30A2\",\"publisherName\":\"\u30A4\u30B6\u30E9\u66F8\u623F\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784756500793\",\"itemCaption\":\"\u3055\u307E\u3056\u307E\u306A\u8272\u306B\u67D3\u3081\u305F\u7F8A\u6BDB\u3067\u7D75\u3092\u63CF\u304F\u30B7\u30E5\u30BF\u30A4\u30CA\u30FC\u5E7C\u7A1A\u5712\u30FB\u5B66\u6821\u306E\u30CF\u30F3\u30C9\u30AF\u30E9\u30D5\u30C8\u96C6\u3002\u7F8A\u6BDB\u306E\u9999\u308A\u3068\u624B\u89E6\u308A\u304C\u3001\u5B50\u3069\u3082\u306E\u5275\u9020\u529B\u3092\u9AD8\u3081\u307E\u3059\u3002\u8AB0\u306B\u3067\u3082\u3067\u304D\u308B\u7F8A\u6BDB\u3092\u4F7F\u3063\u305F\u7D75\u753B\u624B\u6CD5\u3092\u308F\u304B\u308A\u3084\u3059\u304F\u7D39\u4ECB\u3057\u307E\u3059\u3002\",\"salesDate\":\"1998\u5E7411\u6708\",\"itemPrice\":2750,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/1017736/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0793/9784756500793.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0793/9784756500793.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0793/9784756500793.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"4\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"5.0\",\"booksGenreId\":\"001010009001\"},{\"title\":\"VIVRE
        CARD\u301CONE PIECE\u56F3\u9451\u301C BOOSTER PACK \u6FC0\u7A81! \u30B3\u30ED\u30B7\u30A2\u30E0\u306E\u95D8\u58EB\u9054!!\",\"titleKana\":\"\u30D3\u30D6\u30EB
        \u30AB\u30FC\u30C9 \u30EF\u30F3\u30D4\u30FC\u30B9\u30BA\u30AB\u30F3\u30D6\u30FC\u30B9\u30BF\u30FC
        \u30D1\u30C3\u30AF \u30B2\u30AD\u30C8\u30C4 \u30B3\u30ED\u30B7\u30A2\u30E0\u30CE\u30C8\u30A6\u30B7\u30BF\u30C1\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3[...]
[...]
