interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&author=%E5%B0%BE%E7%94%B0%E3%83%BB%E6%A0%84%E4%B8%80%E9%83%8E&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":158,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":53,\"Items\":[{\"title\":\"ONE
        PIECE 84\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5C3E\u7530
        \u6804\u4E00\u90CE\",\"authorKana\":\"\u30AA\u30C0\u30A8\u30A4\u30A4\u30C1\u30ED\u30A6\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784088810027\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670803\u65E5\",\"itemPrice\":432,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14637787/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":88,\"reviewAverage\":\"4.78\",\"booksGenreId\":\"001001001008\"},{\"title\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\u30D1\u30FC\u30C6\u30A3
        1-2\u5DFB\u30BB\u30C3\u30C8\",\"titleKana\":\"\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5B89\u85E4\u82F1/\u5C3E\u7530\u6804\u4E00\u90CE\",\"authorKana\":\"\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\",\"isbn\":\"2100010501127\",\"itemCaption\":\"\",\"salesDate\":\"2016\u5E7407\u670804\u65E5\",\"itemPrice\":864,\"li[...]
