interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=sales
  response:
    body: {string: "{\"count\":983132,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u81EA\u5206\u3067\u3067\u304D\u308B\uFF01\u7B4B\u819C\u30EA\u30EA\u30FC\u30B9\u30D1\u30FC\u30D5\u30A7\u30AF\u30C8\u30AC\u30A4\u30C9\",\"titleKana\":\"\u30B8\u30D6\u30F3
        \u30C7 \u30C7\u30AD\u30EB \u30AD\u30F3\u30DE\u30AF \u30EA\u30EA\u30FC\u30B9
        \u30D1\u30FC\u30D5\u30A7\u30AF\u30C8 \u30AC\u30A4\u30C9\",\"subTitle\":\"\u7B4B\u819C\u535A\u58EB\u304C\u6559\u3048\u308B\u6C7A\u5B9A\u7248\",\"subTitleKana\":\"\u30AD\u30F3\u30DE\u30AF
        \u30CF\u30AB\u30BB \u30AC \u30AA\u30B7\u30A8\u30EB \u30B1\u30C3\u30C6\u30A4\u30D0\u30F3\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u7AF9\u4E95\u4EC1\",\"authorKana\":\"\u30BF\u30B1\u30A4,\u30D2\u30C8\u30B7\",\"publisherName\":\"\u81EA\u7531\u56FD\u6C11\u793E\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784426120863\",\"itemCaption\":\"\u30AB\u30E9\u30C0\u306E\u3042\u3089\u3086\u308B\u75DB\u307F\u30FB\u3053\u308A\u3092\u6839\u6CBB\uFF01\u7F8E\u5BB9\u306B\u3082\uFF01\u300C\u305F\u3081\u3057\u3066\u30AC\u30C3\u30C6\u30F3\u300D\u300C\u4E16\u754C\u4E00\u53D7\u3051\u305F\u3044\u6388\u696D\u300D\u306A\u3069\uFF34\uFF36\u3067\u3082\u5927\u4EBA\u6C17\u306E\u30B9\u30FC\u30D1\u30FC\u30C9\u30AF\u30BF\u30FC\u304C\u81EA\u5B85\u3067\u3067\u304D\u308B\u7B4B\u819C\u30EA\u30EA\u30FC\u30B9\u6CD5\u3092\u3064\u3044\u306B\u5168\u516C\u958B\uFF01\u3042\u306A\u305F\u306E\u30AB\u30E9\u30C0\u304C\u3001\u9A5A\u304F\u307B\u3069\u3088\u307F\u304C\u3048\u308A\u307E\u3059\uFF01\uFF11\u518A\u3067\uFF2F\uFF2B\u3002\",\"salesDate\":\"2016\u5E7406\u670813\u65E5\",\"itemPrice\":1512,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14284334/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0863/9784426120863.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0863/9784426120863.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0863/9784426120863.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":20,\"reviewAverage\":\"4.25\",\"booksGenreId\":\"001010010001/001012009002\"},{\"title\":\"ONE
        PIECE 84\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5C3E\u7530
        \u6804\u4E00\u90CE\",\"authorKana\":\"\u30AA\u30C0\u30A8\u30A4\u30A4\u30C1\u30ED\u30A6\",\"publisherName\":\"\u96C6\u82F1\u793E\",\"size\":\"\u30B3\u30DF\u30C3\u30AF\",\"isbn\":\"9784088810027\"[...]
