interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksGenre/Search/20121128?applicationId=XXXXXX&booksGenreId=001&formatVersion=2&hits=3
  response:
    body: {string: "{\"current\":{\"booksGenreId\":\"001\",\"booksGenreName\":\"\u672C\",\"genreLevel\":1},\"children\":[{\"booksGenreId\":\"001001\",\"booksGenreName\":\"\u6F2B\u753B\uFF08\u30B3\u30DF\u30C3\u30AF\uFF09\",\"genreLevel\":2},{\"booksGenreId\":\"001002\",\"booksGenreName\":\"\u8A9E\u5B66\u30FB\u5B66\u7FD2\u53C2\u8003\u66F8\",\"genreLevel\":2},{\"booksGenreId\":\"001003\",\"booksGenreName\":\"\u7D75\u672C\u30FB\u5150\u7AE5\u66F8\u30FB\u56F3\u9451\",\"genreLevel\":2},{\"booksGenreId\":\"001004\",\"booksGenreName\":\"\u5C0F\u8AAC\u30FB\u30A8\u30C3\u30BB\u30A4\",\"genreLevel\":2},{\"booksGenreId\":\"001[...]
