interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=%2BreleaseDate
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u8A55\u8AD6\u307B\u304B\",\"titleKana\":\"\u30D2\u30E7\u30A6\u30ED\u30F3\u30DB\u30AB\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u5B9A\u672C
        \u6F31\u77F3\u5168\u96C6\",\"seriesNameKana\":\"\u30C6\u30A4\u30DB\u30F3\u30BD\u30A6\u30BB\u30AD\u30BC\u30F3\u30B7\u30E5\u30A6\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u5CA9\u6CE2\u66F8\u5E97\",\"size\":\"\u5168\u96C6\u30FB\u53CC\u66F8\",\"isbn\":\"9784000928366\",\"itemCaption\":\"\u65E5\u672C\u3068\u3044\u3046\u793E\u4F1A\u3001\u300C\u73FE\u4EE3\u300D\u3068\u3044\u3046\u6642\u4EE3\u3001\u6587\u5B66\u8005\u3068\u3057\u3066\u306E\u751F\u304D\u65B9\u3002\u8074\u8846\u306B\u8A9E\u308A\u304B\u3051\u305F\u8B1B\u6F14\u306B\u3082\u3068\u3065\u304F\u8A55\u8AD6\u306F\u3001\u8AAD\u3080\u8005\u306B\u4ECA\u306A\u304A\u92ED\u304F\u8FEB\u308B\u3002\u300C\u8001\u5B50\u30CB\u5C31\u30C6\u300D\u300C\u97D3\u6E80\u6240\u611F\u300D\u3092\u65B0\u305F\u306B\u53CE\u9332\u3002\",\"salesDate\":\"0219\u5E7402\u670828\u65E5\",\"itemPrice\":5720,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/15780570/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8366/9784000928366.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8366/9784000928366.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8366/9784000928366.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001004008009/001008022007\"},{\"title\":\"\u306C\u3051\u7A74\u306E\u9996\",\"titleKana\":\"\u30CC\u30B1\u30A2\u30CA\u30CE\u30AF\u30D3\",\"subTitle\":\"\u897F\u9DB4\u306E\u8AF8\u56FD\u3070\u306A\u3057\",\"subTitleKana\":\"\u30B5\u30A4\u30AB\u30AF\u30CE\u30B7\u30E7\u30B3\u30AF\u30D0\u30CA\u30B7\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u5EE3\u672B\u3000\u4FDD\",\"authorKana\":\"\u30D2\u30ED\u30B9\u30A8\u3000\u30BF\u30E2\u30C4\",\"publisherName\":\"\u5CA9\u6CE2[...]
[...]
