interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3&page=2
  response:
    body: {string: "{\"count\":10676,\"page\":2,\"first\":4,\"last\":6,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u30CF\u30AF\u30E1\u30A4\u3068\u30DF\u30B3\u30C1
        1-5\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u6A2B\u6728\u7950\u4EBA\",\"artistName\":\"\",\"publisherName\":\"KADOKAWA\",\"label\":\"\",\"isbn\":\"2100010659309\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670806\u65E5\",\"itemPrice\":3348,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14652604/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9309/2100010659309.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9309/2100010659309.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9309/2100010659309.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001025\"},{\"title\":\"\u516D\u9053\u306E\u60AA\u5973\u305F\u3061
        1-2\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u4E2D\u6751\u52C7\u5FD7\",\"artistName\":\"\",\"publisherName\":\"\u79CB\u7530\u66F8\u5E97\",\"label\":\"\",\"isbn\":\"2100010652768\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670808\u65E5\",\"itemPrice\":926,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14641435/\",\"affil[...]
