interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86
  response:
    body:
      string: "{\"count\":124,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":42,\"Items\":[{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\u3060\u3051\u304C\u3001\u306A\u305C\u5F37\u3044\u306E\u304B\uFF1F\",\"author\":\"\u5742\u53E3
        \u5B5D\u5247\",\"artistName\":\"\",\"publisherName\":\"PHP\u7814\u7A76\u6240\",\"label\":\"\",\"isbn\":\"9784569841755\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\uFF12\uFF19\u671F\u9023\u7D9A\u5897\u53CE\u30FB\u618E\u76CA\uFF01\u6700\u5148\u7AEF\u3092\u884C\u304F\u7570\u8272\u306E\u5C0F\u58F2\u4F01\u696D\u3092\u5FB9\u5E95\u89E3\u5256\uFF01\",\"salesDate\":\"2018\u5E7411\u670818\u65E5\",\"itemPrice\":1595,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/15635496/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1755/9784569841755.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1755/9784569841755.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1755/9784569841755.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":1,\"reviewAverage\":\"2.0\",\"booksGenreId\":\"001006019003\"},{\"title\":\"\u30C9\u30F3\u30FB\u30AD\u30DB\u30FC\u30C6\uFF08\u51686\u518A\u30BB\u30C3\u30C8\uFF09\",\"author\":\"\u30DF\u30B2\u30EB\u30FB\u30C7\u30FB\u30BB\u30EB\u30D0\u30F3\u30C6\u30B9\u30FB\u30B5\u30A2\u30D9\u30C9\u30E9/\u725B\u5CF6\u4FE1\u660E\",\"artistName\":\"\",\"publisherName\":\"\u5CA9\u6CE2\u66F8\u5E97\",\"label\":\"\",\"isbn\":\"9784002010588\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2001\u5E7407\u6708\",\"itemPrice\":6347,\"l[...]
[...]
