interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404?applicationId=XXXXXX&booksGenreId=001025&formatVersion=2&hits=3&page=2
  response:
    body:
      string: "{\"count\":14519,\"page\":2,\"first\":4,\"last\":6,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u89D2\u5DDD\u307E\u3093\u304C\u5B66\u7FD2\u30B7\u30EA\u30FC\u30BA\u3000\u65E5\u672C\u306E\u6B74\u53F2\u30003\u5927\u7279\u5178\u3064\u304D\u516815\u5DFB+\u5225\u5DFB4\u518A\u30BB\u30C3\u30C8\",\"author\":\"\u5C71\u672C\u3000\u535A\u6587\",\"artistName\":\"\",\"publisherName\":\"KADOKAWA\",\"label\":\"\",\"isbn\":\"9784041088326\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7411\u670815\u65E5\",\"itemPrice\":16720,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16075017/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8326/9784041088326.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8326/9784041088326.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8326/9784041088326.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"5\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001003007/001025002\"},{\"title\":\"\u30B3\u30FC\u30D2\u30FC\uFF06\u30D0\u30CB\u30E9\u30001-13\u5DFB\u30BB\u30C3\u30C8\",\"author\":\"\u6731\u795E
        \u5B9D\",\"artistName\":\"\",\"publisherName\":\"\u5C0F\u5B66\u9928\",\"label\":\"\",\"isbn\":\"2100011550209\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7410\u6708\",\"itemPrice\":6162,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16075316/\"[...]
[...]
