interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=XXXXXX&formatVersion=2&hits=3&sort=sales
  response:
    body:
      string: "{\"count\":984889,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u3010\u7279\u5178\u4ED8\u304D\u3011\u6708\u661F\u5EA7\u30C0\u30A4\u30A2\u30EA\u30FC2020\u3000\u81EA\u5206\u306E\u300C\u5F15\u304D\u5BC4\u305B\u529B\u300D\u3092\u80B2\u3066\u305F\u3044\u3042\u306A\u305F\u3078\u3000Keiko\u7684Lunalogy\",\"titleKana\":\"\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"Keiko\",\"authorKana\":\"\u30B1\u30A4\u30B3\",\"publisherName\":\"\u30DE\u30AC\u30B8\u30F3\u30CF\u30A6\u30B9\",\"size\":\"\",\"isbn\":\"2100011532205\",\"itemCaption\":\"\",\"salesDate\":\"2019\u5E7409\u670825\u65E5\",\"itemPrice\":1650,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"https://books.rakuten.co.jp/rb/16033297/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/2205/2100011532205.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/2205/2100011532205.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/2205/2100011532205.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":19,\"reviewAverage\":\"4.58\",\"booksGenreId\":\"001010013004\"},{\"title\":\"\u81EA\u5206\u30C4\u30C3\u30B3\u30DF\u304F\u307E\u306E\u672C\u3000\u3082\u3050\u3089\u30B3\u30ED\u30C3\u30B1\u306E\u3046\u305F\",\"titleKana\":\"\u30B8\u30D6\u30F3\u30C4\u30C3\u30B3\u30DF\u30AF\u30DE\u30CE\u30DB\u30F3
        \u30E2\u30B0\u30E9\u30B3\u30ED\u30C3\u30B1\u30CE\u30A6\u30BF\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\u30EF\u30A4\u30C9KC\",\"seriesNameKana\":\"\u30EF\u30A4\u30C9KC\u30B3\u30DF\u30C3\u30AF\u30B9\",\"contents\":\"\",\"author[...]
[...]
