interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522?applicationId=XXXXXX&availability=3&formatVersion=2&hits=3&keyword=%E3%83%89%E3%83%B3%E3%83%BB%E3%82%AD%E3%83%9B%E3%83%BC%E3%83%86
  response:
    body: {string: "{\"count\":13,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":5,\"Items\":[{\"title\":\"UN681\u3000\u4EA4\u97FF\u66F2\u7B2C3\u756A\u3000\u30C9\u30F3\u30AD\u30DB\u30FC\u30C6\u3088\u308A\u3000\u7B2C\u4E00\u697D\u7AE0\u3000\u63A2\u6C42\uFF0F\u30ED\u30D0\u30FC\u30C8\u30B9\u30DF\u30B9\u3000\uFF08\u30D0\u30FC\u30F3\u30CF\u30A6\u30B9\uFF09\",\"author\":\"\",\"artistName\":\"\",\"publisherName\":\"\uFF08\u682A\uFF09\u30ED\u30B1\u30C3\u30C8\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\",\"label\":\"\",\"isbn\":\"4562360107615\",\"jan\":\"\",\"hardware\":\"\",\"os\":\"\",\"itemCaption\":\"\",\"salesDate\":\"2012\u5E7403\u670822\u65E5\",\"itemPrice\":17280,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14132552/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"3\",\"postageFlag\":2,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001018005001\"},{\"title\":\"UN684\u3000\u4EA4\u97FF\u66F2\u7B2C3\u756A\u3000\u30C9\u30F3\u30AD\u30DB\u30FC\u30C6\u3088\u308A\u3000\u7B2C4\u697D\u7AE0\u3000\u30A4\u30EB\u30DF\u30CD\u30FC\u30B7\u30E7\u30F3\uFF0F\u30ED\u30D0\u30FC\u30C8\u30B9\u30DF\u30B9\u3000\uFF08\u30D0\u30FC\u30F3\u30CF\u30A6\u30B9\uFF09\",\"author\":\"\",\"artistName\":\"\",\"publisherName\":\"\uFF08\u682A\uFF09\u30ED\u30B1\u30C3\u30C8\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\",\"label\":\"\",\"isbn\":\"4562360107646\",\"jan\":\"[...]
