interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&sort=%2BreleaseDate
  response:
    body: {string: "{\"count\":983132,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u6C34\u7406\u5B66\u5165\u9580\u6539\u8A02\u7248\",\"titleKana\":\"\u30B9\u30A4\u30EA\u30AC\u30AF
        \u30CB\u30E5\u30A6\u30E2\u30F3\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\u672C\u9593\u4EC1\",\"authorKana\":\"\u30DB\u30F3\u30DE,\u30DE\u30B5\u30B7\",\"publisherName\":\"\u68EE\u5317\u51FA\u7248\",\"size\":\"\u5358\u884C\u672C\",\"isbn\":\"9784627491311\",\"itemCaption\":\"\",\"salesDate\":\"1900\u5E74\",\"itemPrice\":1944,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/100425/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/noimage_01.gif?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":1,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001012011\"},{\"title\":\"\u306B\u307B\u3093\u3080\u304B\u3057\u3070\u306A\u3057\uFF08\u516810\u5DFB\u30BB\u30C3\u30C8\uFF09\",\"titleKana\":\"\u30CB\u30DB\u30F3
        \u30E0\u30AB\u30B7 \u30D0\u30CA\u30B7\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\",\"seriesNameKana\":\"\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u30D5\u30EC\u30FC\u30D9\u30EB\u9928\",\"size\":\"\u7D75\u672C\",\"isbn\":\"9784577011898\",\"itemCaption\":\"\",\"salesDate\":\"1[...]
