interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksBook/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&title=%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9
  response:
    body: {string: "{\"count\":334,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"title\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\u8D85\u7814\u7A76\uFF01\u4EBA\u6C17\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u306B\u5B66\u3076\u5FC3\u7406\u30C6\u30AF\u30CB\u30C3\u30AF\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30C1\u30E7\u30A6\u30B1\u30F3\u30AD\u30E5\u30A6 \u30CB\u30F3\u30AD \u30AD\u30E3\u30E9\u30AF\u30BF\u30FC
        \u30CB \u30DE\u30CA\u30D6 \u30B7\u30F3\u30EA \u30C6\u30AF\u30CB\u30C3\u30AF\",\"subTitle\":\"\",\"subTitleKana\":\"\",\"seriesName\":\"\uFF3B\u30D0\u30E9\u30A8\u30C6\u30A3\uFF3D\",\"seriesNameKana\":\"\u30D0\u30E9\u30A8\u30C6\u30A3\",\"contents\":\"\",\"author\":\"\",\"authorKana\":\"\",\"publisherName\":\"\u5EE3\u6E08\u5802\u51FA\u7248\",\"size\":\"\u30E0\u30C3\u30AF\u305D\u306E\u4ED6\",\"isbn\":\"9784331253205\",\"itemCaption\":\"\",\"salesDate\":\"2017\u5E7402\u670801\u65E5\",\"itemPrice\":880,\"listPrice\":0,\"discountRate\":0,\"discountPrice\":0,\"itemUrl\":\"http://books.rakuten.co.jp/rb/14664018/\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3205/9784331253205.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3205/9784331253205.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3205/9784331253205.jpg?_ex=200x200\",\"chirayomiUrl\":\"\",\"availability\":\"1\",\"postageFlag\":0,\"limitedFlag\":0,\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"booksGenreId\":\"001022002\"},{\"title\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\u8AD6\u8A9E
        \u30EF\u30F3\u30D4\u30FC\u30B9\u306E\u540D\u8A00100\",\"titleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\u30ED\u30F3\u30B4\u30EF\u30F3\u30D4\u30FC\u30B9\u30CE\u30E1\u30A4\u30B2\u30F3\u30D2\u30E3\u30AF\",\"subTitle\":\"\u30EF\u30F3\u30D4\u30FC\u30B9\u306E\u540D\u8A00100\",\"subTitleKana\":\"\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30CE \u30E1\u30A4\u30B2\u30F3 \u30D2\u30E3\u30AF\",\"seriesName\":\"\",\"seriesNameKana\":\"\[...]
