interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/BooksGame/Search/20130522?applicationId=XXXXXX&formatVersion=2&hits=3&title=mario
  response:
    body: {string: "{\"count\":58,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":20,\"Items\":[{\"title\":\"\u30DE\u30EA\u30AA\u30B9\u30DD\u30FC\u30C4
        \u30B9\u30FC\u30D1\u30FC\u30B9\u30BF\u30FC\u30BA\",\"titleKana\":\"\u30DE\u30EA\u30AA\u30B9\u30DD\u30FC\u30C4
        \u30B9\u30FC\u30D1\u30FC\u30B9\u30BF\u30FC\u30BA\",\"hardware\":\"Nintendo
        3DS\",\"label\":\"\u4EFB\u5929\u5802\",\"jan\":\"4902370536423\",\"makerCode\":\"CTR-P-AUNJ\",\"itemCaption\":\"\\n\\n\u30DE\u30EA\u30AA\u305F\u3061\u304C\u672C\u6C17\u3067\u6311\u30805\u3064\u306E\u30B9\u30DD\u30FC\u30C4\u3001\u3053\u3053\u306B\u96C6\u7D50\u3002\\n\\n\u25A0\u672C\u683C\u7684\u306B\u697D\u3057\u3081\u308B5\u3064\u306E\u7AF6\u6280\u30B5\u30C3\u30AB\u30FC\u3001\u30D9\u30FC\u30B9\u30DC\u30FC\u30EB\u3001\u30C6\u30CB\u30B9\u3001\u30B4\u30EB\u30D5\u3001\u4E57\u99AC\u30EC\u30FC\u30B9\u306E5\u3064\u306E\u7AF6\u6280\u306F\u3001\u305D\u308C\u305E\u308C\u304C\u3057\u3063\u304B\u308A\u3068\u3057\u3[...]
