interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/navigation/genre/tag/get?genreId=101240
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>navigation.genre.tag.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>f9532f08-9419-478b-bafa-0a9c8c315771</requestId><requests><genreId>101240</genreId></requests></status><navigationGenreTagGetResult><status>Success</status><genreLastUpdateDate>2017-01-31T10:00:00+09:00</genreLastUpdateDate><tagLastUpdateDate>2017-01-31T10:00:00+09:00</tagLastUpdateDate><genre><genreId>101240</genreId><genreName>CD\u30FBDVD\u30FB\u697D\u5668</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg><ancestorGenre/><childGenre><genre><genreId>101354</genreId><genreName>DVD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>505034</genreId><genreName>Blu-ray</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>101311</genreId><genreName>CD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>112493</genreId><genreName>\u697D\u5668</genre[...]
