interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/navigation/genre/get?genreId=0
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>navigation.genre.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>911ba6d2-8996-4ce9-a32b-ae470b14d13b</requestId><requests><genreId>0</genreId></requests></status><navigationGenreGetResult><status>Success</status><genreLastUpdateDate>2017-01-31T10:00:00+09:00</genreLastUpdateDate><tagLastUpdateDate>2017-01-31T10:00:00+09:00</tagLastUpdateDate><genre><genreId/><genreName/><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg><ancestorGenre/><childGenre><genre><genreId>101240</genreId><genreName>CD\u30FBDVD\u30FB\u697D\u5668</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>100804</genreId><genreName>\u30A4\u30F3\u30C6\u30EA\u30A2\u30FB\u5BDD\u5177\u30FB\u53CE\u7D0D</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>101164</genreId><genreName>\u304A\u3082\u3061\u3083\u30FB\u30DB\u30D3\u30FC\u30FB\u30B2\u30FC\u30E0</genreName><itemRegisterFlg><directory>0</direct[...]
