interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/navigation/genre/tag/get?genreId=101240
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>navigation.genre.tag.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>714aa909-bc89-4873-a2e3-2880d7b2814d</requestId><requests><genreId>101240</genreId></requests></status><navigationGenreTagGetResult><status>Success</status><genreLastUpdateDate>2019-07-30T10:00:00+09:00</genreLastUpdateDate><tagLastUpdateDate>2019-07-30T10:00:00+09:00</tagLastUpdateDate><genre><genreId>101240</genreId><genreName>CD\u30FBDVD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg><ancestorGenre/><childGenre><genre><genreId>101311</genreId><genreName>CD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>101354</genreId><genreName>DVD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>505034</genreId><genreName>Blu-ray</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>200531</genreId><genreName>\u30EC\u30B3\u30FC\u30C9</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>101327</genreId><genreName>\u30D3\u30C7\u30AA</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>205900</genreId><genreName>\u30AB\u30BB\u30C3\u30C8</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>200532</genreId><genreName>LD</genreName><itemRegisterFlg><directory>0</directory><auction>0</auction></itemRegisterFlg></genre><genre><genreId>112960</genreId><genreName>\u305D\u306E\u4ED6</genreName><itemRegisterFlg><directory>1</directory><auction>1</auction></itemRegisterFlg></genre></childGenre><tagGroups><tagGroup><tagGroupId>1001050</tagGroupId><tagGroupName>\u9650\u5B9A\u7279\u5178</tagGroupName><tags><tag><tagId>1011603</tagId><tagName>\u697D\u5929\u9650\u5B9A\u7279\u5178\u4ED8\u304D</tagName><parentTagId/></tag><tag><tagId>1011604</tagId><tagName>\u5E97\u8217\u5171\u901A\u7279\u5178\u4ED8\u304D</tagName><parentTagId/></tag><tag><tagId>1011605</tagId><tagName>\u521D\u56DE\u7248\u30FB\u7279\u88C5\u7248</tagName><parentTagId/></tag></tags></tagGroup></tagGroups></genre></navigationGenreTagGetResult></result>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      requestId:
      - 714aa909-bc89-4873-a2e3-2880d7b2814d
      timeStamp:
      - '2019-10-22T12:25:47'
    status:
      code: 200
      message: OK
version: 1
