interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/navigation/genre/header/get
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>navigation.genre.header.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>3ce8dbca-c5b7-41f1-8bb8-626de3d3f698</requestId></status><navigationHeaderGetResult><status>Success</status><genreLastUpdateDate>2019-07-30T10:00:00+09:00</genreLastUpdateDate><tagLastUpdateDate>2019-07-30T10:00:00+09:00</tagLastUpdateDate></navigationHeaderGetResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      requestId:
      - 3ce8dbca-c5b7-41f1-8bb8-626de3d3f698
      timeStamp:
      - '2019-10-22T12:25:48'
    status:
      code: 200
      message: OK
version: 1
