interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E9%AB%98%E9%9B%BB%E7%A4%BE
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>3aa3e0e1-ce8b-4149-8911-d8ff8aade80a</requestId><requests><productId/><keyword/><genreId/><makerName>\u9AD8\u96FB\u793E</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>206</numFound><offset>0</offset></pagination><products><product><productId>4956881070600</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/e700de796bcbe1f58dd0a09db56fc9b0/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/e700de796bcbe1f58dd0a09db56fc9b0/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u9AD8\u96FB\u793E
        \u4E2D\u56FD\u8A9E\u7FFB\u8A33\u30BD\u30D5\u30C8 J\u5317\u4EAC7 \u30D7\u30EC\u30DF\u30A2\u30E0
        \u30A2\u30AB\u30C7\u30DF\u30C3\u30AF (OCR/\u5C02\u9580\u7528\u8A9E\u8F9E\u66F8/CW9\u4ED8)
        /JB7-PAC</productName><releaseDateDisp/><detailInfo/><brandName/><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2012-02-01T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2017-02-20T01:40:48.205+09:00</updateDate></product><product><productId>4956881011405</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/b94533e06c2e338ce42b9301b16a51ae/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/b94533e06c2e338ce42b9301b16a51ae/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>J\u30FBSeoul
        V6 \u30A2\u30AB\u30C7\u30DF\u30C3\u30AF \u30AD\u30E3\u30F3\u30DA\u30FC\u30F3\u7248</productName><releaseDateDisp>2004\u5E743\u67085\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice>19950</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2004-03-05T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2017-02-20T01:41:00.351+09:00</updateDate></product><product><productId>4956881051104</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/44af0f6e3c3800df6b86980b54d8c5de/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakut[...]
