interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=%2F0%2F100371%2F110729%2F403839&limit=15&offset=0&sortBy=standardPriceAsc
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>f7060a65-3a3a-48eb-a533-6272467478de</requestId><requests><productId/><keyword/><genreId>/0/100371/110729/403839</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy>standardPriceAsc</sortBy><offset>0</offset><limit>15</limit></requests></status><productSearchResult><pagination><numFound>28545</numFound><offset>0</offset></pagination><products><product><productId>1001000005273993</productId><productNo>B39990_20901-021822</productNo><reviewCount>1</reviewCount><reviewAverage>5</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/0c491eefe820e5f955c8a17f35e020f3/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/0c491eefe820e5f955c8a17f35e020f3/review/</reviewUrlMobile><rank>2331</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProductCount>28546</rankTargetProductCount><genreId>/0/100371/110729/403839</genreId><genreName>\u30EC\u30C7\u30A3\u30FC\u30B9\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3>\u30EF\u30F3\u30D4\u30FC\u30B9>\u30DF\u30C7\u30A3\u30A2\u30E0</genreName><productName>\u7DCF\u82B1\u67C4\u30DE\u30AD\u30B7\u30EF\u30F3\u30D4\u30FC\u30B9</productName><releaseDateDisp>2015\u5E745\u670815\u65E5</releaseDateDisp><detailInfo/><brandName>clear</brandName><standardPrice>1000</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2015-05-15T09:00:00.000+09:00</releaseDate><makerName/><updateDate>2017-02-20T07:02:44.733+09:00</updateDate></product><product><productId>1001000006252454</productId><productNo>B91314_20101-023260</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/315ce6013c1e04baf811901ec70cf3d6/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/315ce6013c1e04baf811901ec70cf3d6/review/</reviewUrlMobile><rank>2359</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProdu[...]
