interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=%2F0%2F100371%2F110729%2F403839
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>f7d83665-08ae-4a58-b6b9-62999e393512</requestId><requests><productId/><keyword/><genreId>/0/100371/110729/403839</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>28542</numFound><offset>0</offset></pagination><products><product><productId>1001000006686389</productId><productNo>S61112_18157HE1050</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/6b61f4fde954c36bcf2e7ca884461431/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/6b61f4fde954c36bcf2e7ca884461431/review/</reviewUrlMobile><rank>24572</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProductCount>28482</rankTargetProductCount><genreId>/0/100371/110729/403839</genreId><genreName>\u30EC\u30C7\u30A3\u30FC\u30B9\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3>\u30EF\u30F3\u30D4\u30FC\u30B9>\u30DF\u30C7\u30A3\u30A2\u30E0</genreName><productName>\u30DC\u30C8\u30EB\u30CD\u30C3\u30AF\u30CB\u30C3\u30C8\u30EF\u30F3\u30D4\u30FC\u30B9</productName><releaseDateDisp>2006\u5E7411\u670820\u65E5</releaseDateDisp><detailInfo/><brandName>earth
        music&amp;ecology</brandName><standardPrice>5990</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2006-11-20T09:00:00.000+09:00</releaseDate><makerName/><updateDate>2017-02-13T01:39:02.884+09:00</updateDate></product><product><productId>1001000003670985</productId><productNo>A90834_001510302701</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/c69186684398c73379063537513b4c1a/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/c69186684398c73379063537513b4c1a/review/</reviewUrlMobile><rank>14525</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProd[...]
