interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E3%83%80%E3%82%A4%E3%82%AD%E3%82%B5%E3%82%A6%E3%83%B3%E3%83%89
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>1f2e531f-9a88-43c4-95d4-98140946a771</requestId><requests><productId/><keyword/><genreId/><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>39786</numFound><offset>0</offset></pagination><products><product><productId>4948722385004</productId><productNo>RX-31</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/033565ee8170c96616546bbc9378ab60/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/033565ee8170c96616546bbc9378ab60/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>SPACE\u3000OPERA/\uFF23\uFF24/RX-31</productName><releaseDateDisp>2009\u5E7410\u670821\u65E5</releaseDateDisp><detailInfo/><brandName/><standardPrice>2400</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2009-10-21T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2019-10-22T01:46:02.096+09:00</updateDate></product><product><productId>4948722017820</productId><productNo>MID-30</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/43a806c5bda22fe625ae6b6c3c2e5f7c/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/43a806c5bda22fe625ae6b6c3c2e5f7c/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>SOTSUGY[...]
