interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E3%83%80%E3%82%A4%E3%82%AD%E3%82%B5%E3%82%A6%E3%83%B3%E3%83%89
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>132de3d1-be04-4ed9-a8d9-f4bca982cdcc</requestId><requests><productId/><keyword/><genreId/><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>37009</numFound><offset>0</offset></pagination><products><product><productId>4948722022824</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/c070defb74fd669d2b310d86bfa1710c/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/c070defb74fd669d2b310d86bfa1710c/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u2606\u30AB\u30BB\u30C3\u30C8/\u30AA\u30E0\u30CB\u30D0\u30B9/ULTIMATE
        MIX ADJUSTMENT mixed by DJ TATSUTA/LACT-1</productName><releaseDateDisp/><detailInfo/><brandName/><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2011-05-01T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2017-02-13T01:38:27.422+09:00</updateDate></product><product><productId>4948722429395</productId><productNo>CCNT-1002</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/067f08aeed7be64e87da50c816815dc2/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/067f08aeed7be64e87da50c816815dc2/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>STELLA\u3000ESPERANZA/\uFF23\uFF24/CCNT-1002</productName><releaseDateDisp>2011\u5E747\u670820\u65E5</releaseDateDisp><detailInfo/><brandName/><standardPrice>3000</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2011-07-20T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2017-02-13T01:38:41.993+09:00</updateDate></product><product><productId>4948722424765</productId><productNo>KNCA-13014</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/dbf7037b75a68c0fc668e7ff5ff250cd/review/</reviewU[...]
