interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E9%AB%98%E9%9B%BB%E7%A4%BE
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>406b52be-88d0-45c1-81cc-5cd26fedfebb</requestId><requests><productId/><keyword/><genreId/><makerName>\u9AD8\u96FB\u793E</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>206</numFound><offset>0</offset></pagination><products><product><productId>4956881451607</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/4ce133bffac14f0b31c1aca05037be99/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/4ce133bffac14f0b31c1aca05037be99/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u9AD8\u96FB\u793E
        \u8F9E\u66F8\u30A6\u30A9\u30FC\u30AB\u30FC \u82F1\u8A9E\u30FB\u4E2D\u56FD\u8A9E
        /DICW-EC</productName><releaseDateDisp>2009\u5E748\u67087\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2009-08-07T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2019-10-22T01:46:40.045+09:00</updateDate></product><product><productId>4956881005763</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/f2a6f310ed5f0aa23e96115ad426208f/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/f2a6f310ed5f0aa23e96115ad426208f/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>JE\u5C02\u9580\u7528\u8A9E\u8F9E\u66F8
        \u81EA\u7136\u79D1\u5B66\u7CFB</productName><releaseDateDisp>2004\u5E7412\u67083\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice>31290</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2004-12-03T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2019-10-22T01:46:55.795+09:00</updateDate></product><product><productId>4956881099809</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/371227ce42b9c75ef738869d35e8647e/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakut[...]
