interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?keywordd=Tokyo&testWrongParameter=test
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>product.search</interfaceId><systemStatus>NG</systemStatus><message>ParameterError</message><requestId>02573c48-0a18-4eb2-ad44-757373887281</requestId><requests><productId/><keyword/><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
