interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=%2F0%2F100371%2F110729%2F403839
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>e788968e-7dfb-450d-833e-6a5ba757c9da</requestId><requests><productId/><keyword/><genreId>/0/100371/110729/403839</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>28545</numFound><offset>0</offset></pagination><products><product><productId>1001000004107749</productId><productNo>B25259_29490123</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/45f94cae72e97ae7f22bee3822b82f13/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/45f94cae72e97ae7f22bee3822b82f13/review/</reviewUrlMobile><rank>2477</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProductCount>28528</rankTargetProductCount><genreId>/0/100371/110729/403839</genreId><genreName>\u30EC\u30C7\u30A3\u30FC\u30B9\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3>\u30EF\u30F3\u30D4\u30FC\u30B9>\u30DF\u30C7\u30A3\u30A2\u30E0</genreName><productName>(L)\u30D0\u30C3\u30AF\u30EC\u30FC\u30B9\u30AD\u30EA\u30AB\u30A8\u30AA\u30FC\u30EB\u30A4\u30F3\u30EF\u30F3</productName><releaseDateDisp>2015\u5E744\u670828\u65E5</releaseDateDisp><detailInfo/><brandName>VENCE
        EXCHANGE</brandName><standardPrice>4800</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2015-04-28T09:00:00.000+09:00</releaseDate><makerName/><updateDate>2017-02-20T01:40:57.043+09:00</updateDate></product><product><productId>1001000005185067</productId><productNo>B22704_4081</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/27577f5a15aedc62194983e5ddb7213c/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/27577f5a15aedc62194983e5ddb7213c/review/</reviewUrlMobile><rank>27657</rank><rankTargetGenreId>403839</rankTargetGenreId><rankTargetProductCount[...]
