interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?keyword=djshfksdhgflhskdjdsfbhdezeeeeeeeee
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>product.search</interfaceId><systemStatus>NG</systemStatus><message>Data
        not found</message><requestId>99ee4fb0-d7e1-45e4-8a82-804b5c3a06e1</requestId><requests><productId/><keyword>djshfksdhgflhskdjdsfbhdezeeeeeeeee</keyword><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
