interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E9%AB%98%E9%9B%BB%E7%A4%BE
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>1e113d9b-1550-44c9-9717-051c0abbcc32</requestId><requests><productId/><keyword/><genreId/><makerName>\u9AD8\u96FB\u793E</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>206</numFound><offset>0</offset></pagination><products><product><productId>4956881451607</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/4ce133bffac14f0b31c1aca05037be99/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/4ce133bffac14f0b31c1aca05037be99/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u9AD8\u96FB\u793E
        \u8F9E\u66F8\u30A6\u30A9\u30FC\u30AB\u30FC \u82F1\u8A9E\u30FB\u4E2D\u56FD\u8A9E
        /DICW-EC</productName><releaseDateDisp>2009\u5E748\u67087\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2009-08-07T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2017-02-13T01:38:25.722+09:00</updateDate></product><product><productId>4956881090301</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/96b991fce246e5889e2c030126029549/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/96b991fce246e5889e2c030126029549/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30C1\u30E3\u30A4\u30DD\u30C3\u30C9
        \u4E2D\u56FD\u8A9E\u691C\u5B9A4\u7D1A\u30B9\u30BF\u30FC\u30C8!(iPod\u5BFE\u5FDC)</productName><releaseDateDisp>2007\u5E744\u670813\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice>4200</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2007-04-13T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2017-02-13T01:38:16.989+09:00</updateDate></product><product><productId>4956881010705</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/b961ae1303c7b14104ddc84a021fa0f7/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakute[...]
