interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=203063
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>cfc3f790-d1d7-49a8-b181-319b03147b47</requestId><requests><productId/><keyword/><genreId>203063</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>204522</numFound><offset>0</offset></pagination><products><product><productId>9784653006053</productId><productNo>9784653006053</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/f7f50d534ed20e7d3c231fd6e9a86744/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/f7f50d534ed20e7d3c231fd6e9a86744/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId>/0/200162/203063</genreId><genreName>\u672C\u30FB\u96D1\u8A8C\u30FB\u30B3\u30DF\u30C3\u30AF>\u305D\u306E\u4ED6</genreName><productName>\u5E1D\u56FD\u8B70\u4F1A\u8846\u8B70\u9662\u59D4\u54E1\u4F1A\u8B70\u9332\u300016\u3000\u7B2C\u56DB\u3007\u56DE\u8B70\u4F1A\u30FB3\uFF08\u5927\u6B63\u516D\u30FB\u4E03</productName><releaseDateDisp>1982\u5E741\u6708</releaseDateDisp><detailInfo/><brandName>\u81E8\u5DDD\u66F8\u5E97</brandName><standardPrice>8252</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>1982-01-01T09:00:00.000+09:00</releaseDate><makerName>\u81E8\u5DDD\u66F8\u5E97</makerName><updateDate>2019-10-22T08:31:05.151+09:00</updateDate></product><product><productId>9781856710879</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/cdd6c35bca8dfa1e86de21cdc263e331/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/cdd6c35bca8dfa1e86de21cdc263e331/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId>/0/200162/203063</genreId><genreName>\u672C\u30FB\[...]
