interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=203063&limit=15&offset=0&sortBy=standardPriceAsc
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>07a759e6-135f-43f6-bb1d-5bab1337ce98</requestId><requests><productId/><keyword/><genreId>203063</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy>standardPriceAsc</sortBy><offset>0</offset><limit>15</limit></requests></status><productSearchResult><pagination><numFound>204522</numFound><offset>0</offset></pagination><products><product><productId>9784924930230</productId><productNo>9784924930230</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/dce50a5116016b83a51bd14a5dc5bf4a/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/dce50a5116016b83a51bd14a5dc5bf4a/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId>/0/200162/203063</genreId><genreName>\u672C\u30FB\u96D1\u8A8C\u30FB\u30B3\u30DF\u30C3\u30AF>\u305D\u306E\u4ED6</genreName><productName>\u30DE\u30E2\u30EB\u30DE\u30CB\u30A2</productName><releaseDateDisp>1905\u5E746\u6708</releaseDateDisp><detailInfo/><brandName/><standardPrice>1</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>1905-06-01T09:00:00.000+09:00</releaseDate><makerName>\u30C8\u30A4\u30BA\u30D7\u30EC\u30B9</makerName><updateDate>2019-10-22T15:22:10.230+09:00</updateDate></product><product><productId>9784889030365</productId><productNo>9784889030365</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/2ca765850817172520a755f8abbf7220/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/2ca765850817172520a755f8abbf7220/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId>/0/200162/203063</genreId>[...]
