interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?productId=4986773144973
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>a7eb0a24-835b-4ba8-827a-c9f3829d2861</requestId><requests><productId>4986773144973</productId><keyword/><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>1</numFound><offset>0</offset></pagination><products><product><productId>4986773144973</productId><productNo>SAMSUNG
        400TFT</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/6d435f1090c561299f42a4475b010dae/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/6d435f1090c561299f42a4475b010dae/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>SAMSUNG
        400TFT</productName><releaseDateDisp/><detailInfo/><brandName>SAMSUNG</brandName><standardPrice/><isOpenPrice>1</isOpenPrice><taxCategory>9</taxCategory><releaseDate>1970-01-01T09:00:00.000+09:00</releaseDate><makerName>\u30B5\u30E0\u30B9\u30F3\u96FB\u5B50\u30B8\u30E3\u30D1\u30F3</makerName><updateDate>2019-10-22T01:46:07.047+09:00</updateDate></product></products></productSearchResult></result>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
