interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?productId=4943586953048%2C4943586934344%2C4943586934368%2C4943586934337%2C4943586934351%2C4943586927957%2C4943586933033%2C4943586933040%2C4943586948099%2C4943586988033%2C4943586998407%2C4943586933026%2C4943586988026%2C4943586933057%2C4943586988019%2C4943586924819%2C4943586948082%2C4943586927926%2C4943586998414%2C4943586953031%2C4943586927933%2C4943586924802%2C4943586927940%2C4943586998391%2C4943586988002%2C4943586998384%2C4908055660261%2C6922017898781%2C1001000004814135%2C1001000004102447
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>c086d85e-c9ad-4e89-8f11-3508e76ad8d0</requestId><requests><productId>4943586953048,4943586934344,4943586934368,4943586934337,4943586934351,4943586927957,4943586933033,4943586933040,4943586948099,4943586988033,4943586998407,4943586933026,4943586988026,4943586933057,4943586988019,4943586924819,4943586948082,4943586927926,4943586998414,4943586953031,4943586927933,4943586924802,4943586927940,4943586998391,4943586988002,4943586998384,4908055660261,6922017898781,1001000004814135,1001000004102447</productId><keyword/><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>30</numFound><offset>0</offset></pagination><products><product><productId>6922017898781</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/949d0c60f76d66ad1cf476b1caa70872/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/949d0c60f76d66ad1cf476b1caa70872/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30EF\u30F3\u30D4\u30FC\u30B9</productName><releaseDateDisp/><detailInfo/><brandName/><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>1970-01-01T09:00:00.000+09:00</releaseDate><makerName/><updateDate>2019-10-22T01:47:13.502+09:00</updateDate></product><product><productId>4943586948099</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/eb08bbf3c658f01e5d8b99731c1f5779/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/eb08bbf3c658f01e5d8b99731c1f5779/review/</reviewUrlMobile><rank>183016</rank><rankTargetGenreId>112938</rankTargetGenreId><rankTargetProductCount>200984</rankTargetProductCount><genreId>/0/101164/101165/112938</genreId><genreName>\u30DB\u30D3\u30FC>\u30B3\u30EC\u30AF\u30B7\u30E7\u30F3>\u305D\u306E\u4ED6</genreName><productName>\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30E8\u30DF\u30E8\u30DF\u306E\u6E6F \u7D05\u8336\u306E\u9999\u308A \u5165\u6D74\u5264
        25g</productName><releaseDateDisp/><detailInfo/><brandName>\u30EF\u30F3\u30D4\u30FC\u30B9\u5165\u6D74\u5264</brandName><standardPrice>150</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>3</taxCategory><releaseDate>1970-01-01T09:00:00.000+09:00</releaseDate><makerName>\u30A8\u30A4\u30C1\u30FB\u30A8\u30CC\u30FB\u30A2\u30F3\u30C9\u30FB\u30A2\u30BD\u30B7\u30A8\u30A4\u30C4</makerName><updateDate>2019-10-22T09:35:06.808+09:00</updateDate></product><product><productId>4943586934344</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/04cc0fecbb0dfda591971acd1273b9db/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/04cc0fecbb0dfda591971acd1273b9db/review/</r[...]
