interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E9%AB%98%E9%9B%BB%E7%A4%BE
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>e890d344-24e9-4f90-a164-c0ae11f71fe6</requestId><requests><productId/><keyword/><genreId/><makerName>\u9AD8\u96FB\u793E</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>206</numFound><offset>0</offset></pagination><products><product><productId>4956881451409</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/d848c9c24b449eff9249265c555b2e5a/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/d848c9c24b449eff9249265c555b2e5a/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u7FFB\u8A33\u30A6\u30A9\u30FC\u30AB\u30FCJ\u30FB\u5317\u4EACV3</productName><releaseDateDisp>2007\u5E7410\u67085\u65E5</releaseDateDisp><detailInfo/><brandName>\u9AD8\u96FB\u793E</brandName><standardPrice>31290</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>2007-10-05T09:00:00.000+09:00</releaseDate><makerName>\u9AD8\u96FB\u793E</makerName><updateDate>2019-10-22T01:47:02.799+09:00</updateDate></product><product><productId>4956881010002</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/8926479d23ca68c7d8b36a44aadf7608/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/8926479d23ca68c7d8b36a44aadf7608/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>J\u30FB\u5317\u4EAC
    [...]
