interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E3%83%80%E3%82%A4%E3%82%AD%E3%82%B5%E3%82%A6%E3%83%B3%E3%83%89
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>25a144aa-2906-495f-9c90-89cd4b4d8f61</requestId><requests><productId/><keyword/><genreId/><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>37027</numFound><offset>0</offset></pagination><products><product><productId>4948722424536</productId><productNo>RCIP-157</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/5f9d24e40e5cb695730530eccd1f945a/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/5f9d24e40e5cb695730530eccd1f945a/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30C6\u30EC\u30DC\u30C3\u30B5/\uFF23\uFF24/RCIP-157</productName><releaseDateDisp>2011\u5E743\u670824\u65E5</releaseDateDisp><detailInfo/><brandName/><standardPrice>2190</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2011-03-24T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2017-02-20T01:41:06.916+09:00</updateDate></product><product><productId>4948722011095</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/a074d0f84b6cceaf951697478911ea74/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/a074d0f84b6cceaf951697478911ea74/review/</reviewUrlMobile><rank>201820</rank><rankTargetGenreId>200533</rankTargetGenreId><rankTargetProductCount>212801</rankTargetProductCount><genreId>/0/101240/101311/200533/200542</genreId><genreName>CD\u30FBDVD\u30FB\u697D\u5668>CD>\u90A6\u697D>\u305D\u306E\u4ED6</genreName><productName>red
        alert / RED A REAT</productName><releaseDateDisp>1998\u5E746\u670821\u65E5</releaseDateDisp><detailInfo/><brandName/><standardPrice/><isOpenPrice>0</isOpenPrice><taxCategory>1</taxCategory><releaseDate>1998-06-21T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2017-02-20T01:41:06.944+09:00</updateDate></product><product><productId>49487[...]
