interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?keyword=%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>27753879-839c-4cbf-b7ef-19de11ba30d5</requestId><requests><productId/><keyword>\u30EF\u30F3\u30D4\u30FC\u30B9</keyword><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>147552</numFound><offset>0</offset></pagination><products><product><productId>1001000017630609</productId><productNo>R22120_5926061</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/c1dc6d487ce7fa7d6ec6c3ccc8b263b1/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/c1dc6d487ce7fa7d6ec6c3ccc8b263b1/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>MOONONNON/\u65E5\u672C\u88FD\u7DBF100%\u82B1\u67C4\u30EA\u30DC\u30F3\u4ED8\u304D\u30EF\u30F3\u30D4\u30FC\u30B9</productName><releaseDateDisp>2019\u5E743\u670822\u65E5</releaseDateDisp><detailInfo/><brandName>\u5973\u306E\u5B50
        \u5B50\u4F9B\u670D \u30EF\u30F3\u30D4\u30FC\u30B9 MOONONNON</brandName><standardPrice>12000</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>11</taxCategory><releaseDate>2019-03-22T09:00:00.000+09:00</releaseDate><makerName/><updateDate>2019-10-22T01:46:12.488+09:00</updateDate></product><product><productId>4573168907468</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/b786317702dcc2a4f7818afbb714b5ee/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/b786317702dcc2a4f7818afbb714b5ee/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30EF\u30F3\u30D4\u30FC\u30B9
        \u3068\u3058\u30B3\u30EC \u7F36\u30D0\u30C3\u30B8 2 \u5358\u54C1</productName><releaseDateDisp/><detailInfo/><brandName>\u30EF\u30F3\u30D4\u30FC\u30B9</brandName><standardPrice>300</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>1970-01-01T09:00:00.000+09:00</releaseDate><makerName>\u30C4\u30A4\u30F3\u30AF\u30EB</makerName><updateDate>2019-10-22T01:46:11.148+09:00</updateDate></product><product><productId>4943586948082</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/d5b8f1bb925c1faac80d267fad30b8c7/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/d5b8f1bb925c1faac80d267fad30b8c7/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genr[...]
