interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?genreId=%2F0%2F100371%2F110729%2F403839&limit=15&offset=0&sortBy=standardPriceAsc
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>product.search</interfaceId><systemStatus>NG</systemStatus><message>Data
        not found</message><requestId>6913d1c8-49b9-4083-b5be-511051d051cc</requestId><requests><productId/><keyword/><genreId>/0/100371/110729/403839</genreId><makerName/><releaseDateFrom/><releaseDateTo/><sortBy>standardPriceAsc</sortBy><offset>0</offset><limit>15</limit></requests></status></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
