interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?keyword=%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>98539bc5-b521-464b-abed-cda0078016d6</requestId><requests><productId/><keyword>\u30EF\u30F3\u30D4\u30FC\u30B9</keyword><genreId/><makerName/><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>91745</numFound><offset>0</offset></pagination><products><product><productId>4943586934337</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/a7065c0c4ce1e7b608d7585cccce0dc8/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/a7065c0c4ce1e7b608d7585cccce0dc8/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30C0\u30F3\u30C7\u30A3\u30D0\u30B9\u30BD\u30EB\u30C8 \u30BE\u30ED \u7B39\u7AF9\u306E\u9999\u308A
        25g</productName><releaseDateDisp/><detailInfo/><brandName>\u30EF\u30F3\u30D4\u30FC\u30B9\u5165\u6D74\u5264</brandName><standardPrice>180</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>3</taxCategory><releaseDate>2013-03-01T09:00:00.000+09:00</releaseDate><makerName>\u30A8\u30A4\u30C1\u30FB\u30A8\u30CC\u30FB\u30A2\u30F3\u30C9\u30FB\u30A2\u30BD\u30B7\u30A8\u30A4\u30C4</makerName><updateDate>2017-02-20T01:41:35.812+09:00</updateDate></product><product><productId>4943586934368</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/314304f7ee4cab71595f93fd7211a77e/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/314304f7ee4cab71595f93fd7211a77e/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30C0\u30F3\u30C7\u30A3\u30D0\u30B9\u30BD\u30EB\u30C8 \u30DF\u30DB\u30FC\u30AF
        \u30E9\u30D9\u30F3\u30C0\u30FC\u306E\u9999\u308A 25g</productName><releaseDateDisp/><detailInfo/><brandName>\u30EF\u30F3\u30D4\u30FC\u30B9\u5165\u6D74\u5264</brandName><standardPrice>180</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>3</taxCategory><releaseDate>2013-03-01T09:00:00.000+09:00</releaseDate><makerName>\u30A8\u30A4\u30C1\u30FB\u30A8\u30CC\u30FB\u30A2\u30F3\u30C9\u30FB\u30A2\u30BD\u30B7\u30A8\u30A4\u30C4</makerName><updateDate>2017-02-20T01:41:34.933+09:00</updateDate></product><product><productId>4943586953048</productId><productNo/><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/045ee2e12c8427b4bfa7dd031409048f/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/045ee2e12c8427b4bfa7dd031409048f/review/</reviewUrlMobile><rank>3083</rank><rankTargetGenreId>205761</rankTargetGenreId><rankTargetProductCount>4683</rankTargetProductCount><genreId>/0/215783/111475/205761/205764</genreId><genreName>\u65E5\u7528\u54C1\u96D1\u8CA8\u30FB\u6587\u623F\u5177\u30FB\u624B\u82B8>\u30D0\u30B9\u7528\u54C1>\u5165\u6D74\u5264>\u30D0\u30B9\u30BD\u30EB\u30C8</genreName><productName>\u30EF\u30F3\u30D4\u30FC\u30B9
        \u30C0\u30F3\u30C7\u30A3\u30D0\u30B9\u30BD\u30EB\u30C8 \u30ED\u30FC \u30D9\u30EB\u30AC\u30E2\u30C3\u30C8\u30AA\u30EC\u30F3\u30B8\u306E\u9999\u308A
        25g</productName><releaseDateDisp/><detailInfo/><brandName>\u30EF\u30F3\u30D4\u30FC\u30B9\u5165\u6D74\u5264</brandName><standardPrice/[...]
