interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/2.0/product/search?makerName=%E3%83%80%E3%82%A4%E3%82%AD%E3%82%B5%E3%82%A6%E3%83%B3%E3%83%89
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>product.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>7842bc4d-9870-4e87-8e38-aacfc88a3570</requestId><requests><productId/><keyword/><genreId/><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><releaseDateFrom/><releaseDateTo/><sortBy/><offset/><limit/></requests></status><productSearchResult><pagination><numFound>39786</numFound><offset>0</offset></pagination><products><product><productId>4948722183969</productId><productNo>WWWCD-4</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/fa8a3ad658ac21da61d9b6387d4bda6b/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/fa8a3ad658ac21da61d9b6387d4bda6b/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>Heavens\uFF06Hells-Battle\u3000Royal/\uFF23\uFF24/WWWCD-4</productName><releaseDateDisp>2005\u5E746\u67083\u65E5</releaseDateDisp><detailInfo/><brandName/><standardPrice>2381</standardPrice><isOpenPrice>0</isOpenPrice><taxCategory>9</taxCategory><releaseDate>2005-06-03T09:00:00.000+09:00</releaseDate><makerName>\u30C0\u30A4\u30AD\u30B5\u30A6\u30F3\u30C9</makerName><updateDate>2019-10-22T01:46:42.738+09:00</updateDate></product><product><productId>4948722392910</productId><productNo>TSIP-2031</productNo><reviewCount>0</reviewCount><reviewAverage>0</reviewAverage><reviewUrlPC>http://product.rakuten.co.jp/product/-/a3732bbad1fd866e9cc800f4d81ca4fa/review/</reviewUrlPC><reviewUrlMobile>http://m.product.rakuten.co.jp/product/a3732bbad1fd866e9cc800f4d81ca4fa/review/</reviewUrlMobile><rank/><rankTargetGenreId/><rankTargetProductCount/><genreId/><genreName/><productName>\u30[...]
