interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-updateTimestamp
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO-\u30CA\u30EB\u30C8-
        \u75BE\u98A8\u4F1D \u30CA\u30EB\u30C6\u30A3\u30E1\u30C3\u30C8\u30B9\u30C8\u30FC\u30E0\u30EC\u30DC\u30EA\u30E5\u30FC\u30B7\u30E7\u30F3
        - Xbox360/\u9001\u6599\u8FBC\uFF01\",\"catchcopy\":\"NARUTO-\u30CA\u30EB\u30C8-
        \u75BE\u98A8\u4F1D \u30CA\u30EB\u30C6\u30A3\u30E1\u30C3\u30C8\u30B9\u30C8\u30FC\u30E0\u30EC\u30DC\u30EA\u30E5\u30FC\u30B7\u30E7\u30F3
        -/\u9001\u6599\u8FBC\uFF01\",\"itemCode\":\"nascar88:10100465\",\"itemPrice\":14958,\"itemCaption\":\"\u203B\u8F38\u9001\u30C0\u30F3\u30DC\u30FC\u30EB\u30FB\u7D0D\u54C1\u66F8\u306B\u30A2\u30DE\u30BE\u30F3\u306E\u30ED\u30B4\u304C\u5165\u308B\u5834\u5408\u304C\u3054\u3056\u3044\u307E\u3059\u3002\u5546\u54C1\u540DNARUTO-\u30CA\u30EB\u30C8-
        \u75BE\u98A8\u4F1D \u30CA\u30EB\u30C6\u30A3\u30E1\u30C3\u30C8\u30B9\u30C8\u30FC\u30E0\u30EC\u30DC\u30EA\u30E5\u30FC\u30B7\u30E7\u30F3
        - Xbox360JAN4549576000138\u54C1\u756A967-00001\u91CD\u91CF0.14 kg\u5546\u54C1\u8AAC\u660E4\u65E5\u7A0B\u5EA6\u3067\u51FA\u8377\u3057\u3066\u307E\u3059\u3002\u5B8C\u5168\u8FD4\u91D1\u4FDD\u8A3C\u4ED8\",\"itemUrl\":\"http://item.rakuten.co.jp/nascar88/100y00l50wqp6/\",\"shopUrl\":\"http://www.rakuten.co.jp/nascar88/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_0.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_1.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_2.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_0.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_1.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/nascar88/cabinet/86/b00l50wqp6_2.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u30CA\u30B9\u30AB\u30FC\u3000\u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"nascar88\",\"genreId\":\"101739\",\"tagIds\":[]},{\"itemName\":\"NARUTO\u30AE\u30E3\u30EB\u30BA
        NARUTO\u2010\u30CA\u30EB\u30C8\u2010 \u75BE\u98A8\u4F1D \u7DB1\u624B \u5B8C\u6210\u54C1\u30D5\u30A3\u30AE\u30E5\u30A2[\u30E1\u30AC\u30CF\u30A6\u30B9]\u300A06\u6708\u4E88\u7D04\u300B\",\"catchcopy\":\"\",\"itemCode\":\"amiami:11189149\",\"itemPrice\":7970,\"itemCaption\":\"\u203B\u753B\u50CF\u306F\u8A66\u4F5C\u54C1\u3092\u64AE\u5F71\u3057\u305F\u3082\u306E\u3067\u3059\u3002\u5B9F\u969B\u306E\u5546\u54C1\u3068\u306F\u7570\u306A\u308B\u5834[...]
