interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&minAffiliateRate=5.0
  response:
    body: {string: "{\"count\":32268,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO\u30FC\u30CA\u30EB\u30C8\u30FC\u5916\u4F1D\u301C\u4E03\u4EE3\u76EE\u706B\u5F71\u3068\u7DCB\u8272\u306E\u82B1\u3064\u6708\u301C\u3010\u96FB\u5B50\u66F8\u7C4D\u3011[
        \u5CB8\u672C\u6589\u53F2 ]\",\"catchcopy\":\"\u3010\u306F\u3058\u3081\u3066\u306E\u65B9\u9650\u5B9A\uFF01\u4E00\u518A\u7121\u6599\u30AF\u30FC\u30DD\u30F3\u3082\u308C\u306A\u304F\u30D7\u30EC\u30BC\u30F3\u30C8\u3011\",\"itemCode\":\"rakutenkobo-ebooks:14746232\",\"itemPrice\":400,\"itemCaption\":\"\u4E16\u754C\u3092\u63FA\u308B\u304C\u3059\u5FCD\u754C\u5927\u6226\u304B\u3089\u6642\u306F\u6D41\u308C\u3001\u4EBA\u3005\u306F\u5E73\u548C\u3092\u4EAB\u53D7\u3057\u3066\u3044\u305F\u3002\u6728\u30CE\u8449\u306E\u91CC\u3067\u306F\u65B0\u305F\u306A\u4E16\u4EE3\u304C\u80B2\u3061\u59CB\u3081\u3066\u3044\u308B\u3002\u3060\u304C\u3001\u5199\u8F2A\u773C\u3092\u6301\u3064\u4E0D\u7A4F\u306A\u5F71\u304C\u8822\u52D5\u3092\u59CB\u3081\u3001\u30B5\u30B9\u30B1\u3068\u30B5\u30AF\u30E9\u306E\u5A18\u30FB\u30B5\u30E9\u30C0\u304C\u6A19\u7684\u3068\u3057\u3066\u72D9\u308F\u308C!?\u753B\u9762\u304C\u5207\u308A\u66FF\u308F\u308A\u307E\u3059\u306E\u3067\u3001\u3057\u3070\u3089\u304F\u304A\u5F85\u3061\u4E0B\u3055\u3044\u3002
        \u203B\u3054\u8CFC\u5165\u306F\u3001\u697D\u5929kobo\u5546\u54C1\u30DA\u30FC\u30B8\u304B\u3089\u304A\u9858\u3044\u3057\u307E\u3059\u3002\u203B\u5207\u308A\u66FF\u308F\u3089\u306A\u3044\u5834\u5408\u306F\u3001\u3053\u3061\u3089
        \u3092\u30AF\u30EA\u30C3\u30AF\u3057\u3066\u4E0B\u3055\u3044\u3002 \u203B\u3053\u306E\u30DA\u30FC\u30B8\u304B\u3089\u306F\u6CE8\u6587\u3067\u304D\u307E\u305B\u3093\u3002\",\"itemUrl\":\"http://item.rakuten.co.jp/rakutenkobo-ebooks/4724e9cbeac6358686a179c2cbe12abf/\",\"shopUrl\":\"http://www.rakuten.co.jp/rakutenkobo-ebooks/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/4350/2000003374350.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/4350/2000003374350.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":10,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":6,\"reviewAverage\":4.5,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929Kobo\u96FB\u5B50\u66F8\u7C4D\u30B9\u30C8\u30A2\",\"shopCode\":\"rakutenkobo-ebooks\",\"genreId\":\"209194\",\"tagIds\":[]},{\"itemName\":\"NARUTO\u30FC\u30CA\u30EB\u30C8\u30FC
        \u30E2\u30CE\u30AF\u30ED\u7248 71\u3010\u96FB\u5B50\u66F8\u7C4D\u3011[ \u5CB8\u672C\u6589\u53F2
        ]\",\"catchcopy\":\"\u3010\u306F\u3058\u3081\u3066\u306E\u65B9\u9650\u5B9A\uFF01\u4E00\u518A\u7121\u6599\u30AF\u30FC\u30DD\u30F3\u3082\u308C\u306A\u304F\u30D7\u30EC\u30BC\u30F3\u30C8\u3011\",\"itemCode\":\"rakutenkobo-ebooks:13736096\",\"itemPrice\":400,\"itemCaption\":\"\u7121\u9650\u6708\u8AAD\u304C\u767A\u52D5\u3057\u3001\u4EB[...]
