interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BreviewCount
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA
        \u624B\u5E33\u578B\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9
        SD\u30AA\u30FC\u30EB\u30B9\u30BF\u30FC \uFF08\u30D6\u30E9\u30C3\u30AF\uFF09
        / for Xperia Z5 SO-01H/docomo \u3010\u624B\u5E33\u578B\u30B1\u30FC\u30B9\u3011xperia
        z5 \u30B1\u30FC\u30B9 xperia z5 \u30AB\u30D0\u30FC z5 \u30B1\u30FC\u30B9 z5
        \u30AB\u30D0\u30FC \u30A8\u30AF\u30B9\u30DA\u30EA\u30A2z5 \u30B1\u30FC\u30B9
        \u30A8\u30AF\u30B9\u30DA\u30EA\u30A2z5 \u30AB\u30D0\u30FC so\u221201h \u30B1\u30FC\u30B9
        so\u221201h \u30AB\u30D0\u30FC\",\"catchcopy\":\"docomo Xperia Z5 SO-01H\u7528\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9\u30FB\u30B9\u30DE\u30DB\u30AB\u30D0\u30FC\uFF08\u624B\u5E33\u578B\u30B1\u30FC\u30B9\uFF09\",\"itemCode\":\"isense:11300590\",\"itemPrice\":3456,\"itemCaption\":\"\u7D20\u6750\u624B\u5E33\u90E8\u5206\uFF0F\u5408\u6210\u76AE\u9769\u30B1\u30FC\u30B9\u90E8\u5206\uFF0F\u30D7\u30E9\u30B9\u30C1\u30C3\u30AF\u52A0\u5DE5\u65E5\u672C\u539F\u7523\u56FD\u4E2D\u56FD\u5BFE\u5FDC\u6A5F\u7A2EXperia
        Z5 SO-01H/docomo\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011xperia z5
        \u30B1\u30FC\u30B9 xperia z5 \u30AB\u30D0\u30FC z5 \u30B1\u30FC\u30B9 z5 \u30AB\u30D0\u30FC
        z5\u30B1\u30FC\u30B9 z5\u30AB\u30D0\u30FC sony xperia z5 \u30B1\u30FC\u30B9
        s[...]
