interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pointRateFlag=1
  response:
    body: {string: "{\"count\":1346,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":45,\"Items\":[{\"itemName\":\"NARUTO-\u30CA\u30EB\u30C8\u30FC
        \u6728\u30CE\u8449\u65B0\u4F1D \u6E6F\u7159\u5FCD\u6CD5\u5E16 [ \u3072\u306A\u305F
        \u3057\u3087\u3046 ]\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:18076637\",\"itemPrice\":702,\"itemCaption\":\"JUMP
        jBOOKS \u3072\u306A\u305F \u3057\u3087\u3046 \u5CB8\u672C \u6589\u53F2 \u96C6\u82F1\u793E\u30A2\u30CB\u30E1
        \u4EBA\u6C17 \u30B8\u30E3\u30F3\u30D7 SQ \u30CE\u30D9\u30EB \u5C0F\u8AAC J\u30D6\u30C3\u30AF\u30B9
        \u79D8\u4F1D \u771F\u4F1D \u30AB\u30AB\u30B7 \u30B7\u30AB\u30DE\u30EBBKSCPN_\u3010book\u30FCfestival\u30FCthr\u3011
        \u767A\u884C\u5E74\u6708\uFF1A2016\u5E7408\u670804\u65E5 \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2016\u5E7408\u670802\u65E5
        \u30DA\u30[...]
