interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-seller
  response:
    body:
      string: "{\"count\":13863,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"60ff05c58ae9b8b80704e14728e887e7\",\"productName\":\"\u30CA\u30EB\u30C8
        \u3075\u307F\u3053\u8FB2\u5712 \u3077\u3061\u3042\u3093\u307D\u67FF 8\u500B\",\"productNo\":\"\",\"brandName\":\"\u30CA\u30EB\u30C8\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/60ff05c58ae9b8b80704e14728e887e7/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/60ff05c58ae9b8b80704e14728e887e7/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/904/330/250/141/10010004904330250141_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/904/330/250/141/10010004904330250141_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"104904330\",\"makerName\":\"\u30CA\u30EB\u30C8\",\"makerNameKana\":\"\u30CA\u30EB\u30C8\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30CA\u30EB\u30C8\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/201014/104904330/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/201014/104904330/\",\"itemCount\":2,\"salesItemCount\":2,\"usedExcludeCount\":2,\"usedExcludeSalesItemCount\":2,\"maxPrice\":1000,\"salesMaxPrice\":1000,\"usedExcludeMaxPrice\":1000,\"usedExcludeSalesMaxPrice\":1000,\"minPrice\":486,\"salesMinPrice\":486,\"usedExcludeMinPrice\":486,\"usedExcludeSalesMinPrice\":486,\"averagePrice\":743,\"reviewCount\":699,\"reviewAverage\":4.34,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/60ff05c58ae9b8b80704e14728e887e7/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/60ff05c58ae9b8b80704e14728e887e7/review/\",\"rank\":1,\"rankTargetGenreId\":\"201014\",\"rankTargetProductCount\":543,\"genreId\":\"201014\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u5185\u5BB9\u91CF\",\"value\":\"8\u500B\"},{\"name\":\"\u5305\u88C5\u5F62\u614B\",\"value\":\"\u30BB\u30C3\u30C8\"},{\"name\":\"\u7DCF\u5185\u5BB9\u91CF\",\"value\":\"8\u500B\"}]},{\"productId\":\"bab3ccce49a77e7235446436ef25ff38\",\"productName\":\"\uFF22\uFF2F\uFF32\uFF35\uFF34\uFF2F-\uFF2E\uFF21\uFF32\uFF35\uFF34\uFF2F\u3000\uFF2E\uFF25\uFF38\uFF34\u3000\uFF27\uFF25\uFF2E\uFF25\uFF32\uFF21\uFF34\uFF29\uFF2F\uFF2E\uFF33-
        \ \u5DFB\u30CE\u4E5D /\u96C6\u82F1\u793E/\u5CB8\u672C\u6589\u53F2\",\"productNo\":\"97840888208[...]
[...]
