interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&carrier=0&formatVersion=2
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"Mon, 13 Feb 2017 00:00:00 +0900\",\"Items\":[{\"rank\":1,\"carrier\":0,\"itemName\":\"\uFF3C\uFF3C\u6570\u91CF\u9650\u5B9A\u3000\u30B9\u30D7\u30EA\u30F3\u30B0\u30B7\u30E3\u30F3\u30D7\u30FC\u65B0\u767B\u5834\uFF0F\uFF0F\u3010\u30DD\u30A4\u30F3\u30C82\u500D\uFF06300\u5186\u30AF\u30FC\u30DD\u30F3\u914D\u5E03\u4E2D\u3011BOTANIST
        \u30DC\u30BF\u30CB\u30AB\u30EB \u30B7\u30E3\u30F3\u30D7\u30FC\u30FB\u30C8\u30EA\u30FC\u30C8\u30E1\u30F3\u30C8\u3010\u30B9\u30AB\u30EB\u30D7
        \u30AA\u30FC\u30AC\u30CB...\",\"catchcopy\":\"\u226A\u5929\u7136\u690D\u7269\u6210\u520690\uFF05\u4EE5\u4E0A\u3067\u512A\u3057\u3044\u30DC\u30BF\u30CB\u30AB\u30EB\u30B7\u30E3\u30F3\u30D7\u30FC&\u30C8\u30EA\u30FC\u30C8\u30E1\u30F3\u30C8\u226B\",\"itemCode\":\"kobe-beauty-labo:10000193\",\"itemPrice\":\"1512\",\"itemCaption\":\"\u203B5\u301C7\u55B6\u696D\u65E5\u5185\u767A\u9001
        \u203B\u30B9\u30D7\u30EA\u30F3\u30B0\u30B7\u30E3\u30F3\u30D7\u30FC\u30FB\u30C8\u30EA\u30FC\u30C8\u30E1\u30F3\u30C8\u306E\u3054\u6CE8\u6587\u306F\u304A\u4E00\u4EBA\u69D8\u5408\u8A084\u672C\u307E\u3067\u3068\u3055\u305B\u3066\u9802\u304D\u307E\u3059\u3002\u5408\u8A084\u672C\u4EE5\u4E0A\u306E\u3054\u6CE8\u6587\u306F\u5BFE\u5FDC\u81F4\u3057\u304B\u306D\u307E\u3059\u306E\u3067\u4E88\u3081\u3054\u4E86\u627F\u304F\u3060\u3055\u3044\u3002
    [...]
