interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&formatVersion=2&period=realtime
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"Tue, 21 Feb 2017 00:27:00 +0900\",\"Items\":[{\"rank\":1,\"carrier\":0,\"itemName\":\"\u300C\u6700\u4E0A\u3082\u304C\u306E\u3082\u304C\u30DE\u30AC\uFF01\u300D\u7279\u5225\u4ED8\u9332\u30102000\u90E8\u9650\u5B9A\u7248\u3011
        [ \u6700\u4E0A\u3082\u304C ]\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:18409401\",\"itemPrice\":\"5000\",\"itemCaption\":\"\u6700\u4E0A\u3082\u304C
        \u7965\u4F1D\u793E\u3067\u3093\u3071\u7D44.inc \u6700\u4E0A\u3082\u304C \u767A\u884C\u5E74\u6708\uFF1A2017\u5E7404\u670810\u65E5
        \u30DA\u30FC\u30B8\u6570\uFF1A96p ISBN\uFF1A9784396920159 \u672C \u30A8\u30F3\u30BF\u30E1\u30FB\u30B2\u30FC\u30E0
        \u30BF\u30EC\u30F3\u30C8\u95A2\u9023\u672C\",\"itemUrl\":\"http://item.rakuten.co.jp/book/14705341/\",\"affiliateUrl\":\"\",\"imageFlag\":1,\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0159/9784396920159.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0159/9784396920159.jpg?_ex=128x128\"],\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":\"1.0\",\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":\"0.0\",\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"shopCode\":\"book\",\"shopUrl\":\"http://www.rakuten.co.jp/book/\",\"genreId\":\"562214\"},{\"rank\":2,\"carrier\":0,\"itemName\":\"50\u5186\u30AF\u30FC\u30DD\u30F3\uFF01\u30AF\u30EA\u30B9\u30BF\u30EB\u30AC\u30A4\u30B6\u30FC(500mL*48\u672C\u5165)\u3010\u30AF\u30EA\u30B9\u30BF\u30EB\u30AC\u30A4\u30B6\u30FC(Crystal
        Geyser)\u3011[\u30DF\u30CD\u30E9\u30EB\u30A6\u30A9\u30FC\u30BF\u30FC 500ml
        48\u672C \u6C34 \u30B1\u30FC\u30B9]\u3010\u9001\u6599\u7121\u6599(\u5317\u6D77\u9053\u3001\u6C96\u7E04\u3092\u9664\u304F)\u3011\",\"catchcopy\":\"\u30AF\u30EA\u30B9\u30BF\u3[...]
