interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-satisfied
  response:
    body: {string: "{\"count\":17341,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"04a8bba07f28dfc2689644edbe9fa9b1\",\"productName\":\"NARUTO-\u30CA\u30EB\u30C8-\u30005th\u3000STAGE\u30002007\u3000\u5DFB\u30CE\u4E94/\uFF24\uFF36\uFF24/ANSB-1875\",\"productNo\":\"ANSB-1875\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/04a8bba07f28dfc2689644edbe9fa9b1/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/04a8bba07f28dfc2689644edbe9fa9b1/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/017/727/10010004534530017727_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/017/727/10010004534530017727_1.jpg?_ex=128x128\",\"productCaption\":\"\u300C\u9031\u520A\u5C11\u5E74\u30B8\u30E3\u30F3\u30D7\u300D\u9023\u8F09\u306E\u5CB8\u672C\u6589\u53F2\u539F\u4F5C\u306B\u3088\u308B\u4EBA\u6C17\u30B3\u30DF\u30C3\u30AF\u3092\u30A2\u30CB\u30E1\u5316\u3002\u91CC\u4E00\u756A\u306E\u5FCD\u8005\u306B\u306A\u308B\u3053\u3068\u3092\u5922\u898B\u308B\u5C11\u5E74\u201C\u30CA\u30EB\u30C8\u201D\u306E\u6D3B\u8E8D\u3092\u63CF\u3044\u305F5th\u30B9\u30C6\u30FC\u30B8\u3002\u58F0\u306E\u51FA\u6F14\u306B\u7AF9\u5185\u9806\u5B50\u3001\u6749\u5C71\u7D00\u5F70\u3001\u4E2D\u6751\u5343\u7D75\u307B\u304B\u3002\u7B2C196\uFF5E199\u8A71\u53CE\u9332\u3002\",\"releaseDate\":\"2007\u5E745\u67082\u65E5\",\"makerCode\":\"104534530\",\"makerName\":\"\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerNameKana\":\"\u30A2\u30CB\u30D7\u30EC\u30C4\u30AF\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/101953/104534530/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/101953/104534530/\",\"itemCount\":22,\"salesItemCount\":12,\"usedExcludeCount\":17,\"usedExcludeSalesItemCount\":10,\"maxPrice\":4212,\"salesMaxPrice\":4212,\"usedExcludeMaxPrice\":4212,\"usedExcludeSalesMaxPrice\":4212,\"minPrice\":300,\"salesMinPrice\":734,\"usedExcludeMinPrice\":3226,\"usedExcludeSalesMinPrice\":3226,\"averagePrice\":3099,\"reviewCount\":4,\"reviewAverage\":5,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/04a8bba07f28dfc2689644edbe9fa9b1/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/04a8bba07f28dfc2689644edbe9fa9b1/review/\",\"rank\":33026,\"rankTargetGenreId\":\"101374\",\"rankTargetProductCount\":45737,\"genreId\":\"101953\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u51FA\u6F14\",\"value\":\"\u4E95\u4E0A\u548C\u5F66\u3001\u7AF9\u5185\u9806\u5B50\u3001\u6749\u5C71\u7D00\u5F70\u3001\u4E2D\u6751\u5343\u7D75\"},{\"name\":\"\u76E3\u7763\",\"value\":\"\u4F0A\u9054\u52C7\u767B\"},{\"name\":\"\u53D7\u8CDE\",\"value\":\"---\"},{\"name\":\"\u88FD\u4F5C\u5E74\",\"value\":\"2006\u5E74\"},{\"name\":\"\u88FD\u4F5C\u56FD\u540D\",\"value\":\"\u65E5\u672C\"},{\"name\":\"\u3042\u3089\u3059\u3058\",\"value\":\"---\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\",\"value\":\"---\"},{\"name\":\"\u30B7\u30EA\[...]
