interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?age=20&applicationId=XXXXXX&formatVersion=2
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u30FB20\u4EE3\u3011\",\"lastBuildDate\":\"Mon, 20 Feb 2017
        00:00:00 +0900\",\"Items\":[{\"rank\":1,\"carrier\":0,\"itemName\":\"\u3010\u516C\u5F0F\u9650\u5B9A
        2\u7BB1\u8CFC\u5165\u30671\u7BB1\u30D7\u30EC\u30BC\u30F3\u30C8\u3011\u5B89\u5BA4\u5948\u7F8E\u6075
        \u30AB\u30E9\u30B3\u30F3 ReVIA 1day/COLOR 10\u679A\u5165\u308A\u3010\u9001\u6599\u7121\u6599\u3000\u767A\u58F2\u8A18\u5FF5\u7279\u5178\u4ED8\u304D\u3011[\u30EC\u30F4\u30A3\u30A2\u3000\u30EF\u30F3\u30C7\u30FC\u3000\u5EA6\u306A...\",\"catchcopy\":\"\u30AB\u30E9\u30B3\u30F3
        \u30AD\u30E3\u30F3\u30DE\u30B8 \u5B89\u5BA4\u5948\u7F8E\u6075 1day \u30EF\u30F3\u30C7\u30FC
        \u30B3\u30F3\u30BF\u30AF\u30C8 \u30AB\u30E9\u30FC\u30B3\u30F3\u30BF\u30AF\u30C8\",\"itemCode\":\"candymagic:10000575\",\"itemPrice\":\"1684\",\"itemCaption\":\"\u30B9\u30DA\u30C3\u30AF
        \u9AD8\u542B\u6C34\u30EC\u30F3\u30BA\u3000\uFF0B\u3000UV\u30AB\u30C3\u30C8\u3000\u6A5F\u80FD\u4ED8\u304D
        \u5546\u54C1\u540D \u30EC\u30F4\u30A3\u30A2\u3000\u30EF\u30F3\u30C7\u30FC\u3000\u30AB\u30E9\u30FC
        \u5B89\u5BA4\u5948\u7F8E\u6075\u30A4\u30E1\u30FC\u30B8\u30E2\u30C7\u30EB \u4F7F\u7528\u671F\u9650
        \u958B\u5C01\u5F8C1\u65E5 \u30AB\u30E9\u30FC PaleMirage MistIris Nostalgia
        SheerSable PralineBran GypsyAmber \u8CA9\u58F2\u5EA6\u657[...]
