interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-reviewAverage
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/notetype/dso02g/dso02g-ijtc-401-sa11.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/notetype/techo_shousai.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/casecamp_parts/caution_pcab.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":2,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u7D20\u6750\u624B\u5E33\u90E8\u5206\uFF0F\u5408\u6210\u76AE\u9769\u30B1\u30FC\u30B9\u90E8\u5206\uFF0F\u30D7\u30E9\u30B9\u30C1\u30C3\u30AF\u52A0\u5DE5\u65E5\u672C\u539F\u7523\u56FD\u4E2D\u56FD\u5BFE\u5FDC\u6A5F\u7A2EXperia
        Z3/SoftBank\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9/\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30AB\u30D0\u30FC/\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9/\u30B9\u30DE\u30DB\u30AB\u30D0\u30FC/\u30B9\u30DE[...]
[...]
