interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&page=2
  response:
    body: {string: "{\"count\":17367,\"page\":2,\"first\":31,\"last\":60,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"a255b4641fb491cecb167b03ab728fa9\",\"productName\":\"\uFF2E\uFF21\uFF32\uFF35\uFF34\uFF2F
        \ \uFF13 /\u96C6\u82F1\u793E/\u5CB8\u672C\u6589\u53F2\",\"productNo\":\"9784088728988\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/a255b4641fb491cecb167b03ab728fa9/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/a255b4641fb491cecb167b03ab728fa9/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/728/988/20010009784088728988_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/728/988/20010009784088728988_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"2000\u5E748\u67084\u65E5\",\"makerCode\":\"20978408\",\"makerName\":\"\u96C6\u82F1\u793E\",\"makerNameKana\":\"\u30B7\u30E6\u30A6\u30A8\u30A4\u30B7\u30E4\",\"makerNameFormal\":\"\u96C6\u82F1\u793E\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/209194/20978408/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/209194/20978408/\",\"itemCount\":44,\"salesItemCount\":41,\"usedExcludeCount\":15,\"usedExcludeSalesItemCount\":14,\"maxPrice\":500,\"salesMaxPrice\":500,\"usedExcludeMaxPrice\":500,\"usedExcludeSalesMaxPrice\":500,\"minPrice\":50,\"salesMinPrice\":80,\"usedExcludeMinPrice\":400,\"usedExcludeSalesMinPrice\":400,\"averagePrice\":259,\"reviewCount\":39,\"reviewAverage\":4.8,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/a255b4641fb491cecb167b03ab728fa9/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/a255b4641fb491cecb167b03ab728fa9/review/\",\"rank\":1171,\"rankTargetGenreId\":\"201975\",\"rankTargetProductCount\":38945,\"genreId\":\"209194\",\"genreName\":\"\u96C6\u82F1\u793E
        \u30B8\u30E3\u30F3\u30D7C\",\"ProductDetails\":[{\"name\":\"\u66F8\u540D\u30AB\u30CA\",\"value\":\"\u30CA\u30EB\u30C8
        3\"},{\"name\":\"\u8457\u8005\u540D\",\"value\":\"\u5CB8\u672C\u6589\u53F2\"},{\"name\":\"\u8457\u8005\u540D\u30AB\u30CA\",\"value\":\"\u30AD\u30B7\u30E2\u30C8,\u30DE\u30B5\u30B7\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\",\"value\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\u30AB\u30CA\",\"value\":\"\u30B8\u30E3\u30F3\u30D7
        \u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u767A\u884C\u8005\",\"val[...]
