interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&hasMovieFlag=1&keyword=Naruto
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/3apip7_2/3apip7-pcnt-214-v259.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/casecamp_parts/caution_pcab.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":2,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u7D20\u6750\u30B1\u30FC\u30B9\u672C\u4F53\uFF0F\u30DD\u30EA\u30AB\u30FC\u30DC\u30CD\u30FC\u30C8\u52A0\u5DE5UV\u786C\u5316\u578B\u30A4\u30F3\u30AF\u5370\u5237\u7BC4\u56F2\u5E73\u9762\u30D7\u30EA\u30F3\u30C8\uFF08\u5074\u9762\u306B\u30D7\u30EA\u30F3\u30C8\u306F\u5165\u308A\u307E\u305B\u3093\uFF09\u5BFE\u5FDC\u6A5F\u7A2EiPhone
        8/7/Apple\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011iphone 8 \u30B1\u30FC\u30B9
        7 \u30B1\u30FC\u30B9 iphone 8 \u30AB\u30D0\u30FC 7 \u30AB\u30D0\u30FC [...]
[...]
