interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BupdateTimestamp
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/yuutarou/cabinet//10161/4543112415349.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u8AAC\u660E\u66F8\u7121\u3057\u306EPSP\u30BD\u30D5\u30C8\u304C\u4E2D\u53E4\u4FA1\u683C\u3067\u304A\u8CB7\u3044\u5F97\uFF01(\u5F53\u5E97\u3067\u8CB7\u53D6\u3057\u305F\u4E2D\u53E4\u30BD\u30D5\u30C8\u306B\u306A\u308A\u307E\u3059\u3002\u8AAC\u660E\u66F8\u306A\u3057\u306E\u5546\u54C1\u3067\u3059\u3002\u65B0\u54C1\u6642\u306B\u4ED8\u5C5E\u3057\u3066\u3044\u305F\u7279\u5178\u7269\u306A\u3069\u306F\u4ED8\u5C5E\u3057\u306A\u3044\u5834\u5408\u304C\u3042\u308A\u307E\u3059\uFF09
        \uFF08\u8AAC\u660E\u66F8\u304C\u3042\u3063\u305F\u5834\u5408\u306F\u8AAC\u660E\u66F8\u4ED8\u3067\u767A\u9001\u3059\u308B\u5834\u5408\u304C\u3054\u3056\u3044\u307E\u3059\uFF09\",\"catchcopy\":\"\uFF08\u8AAC\u660E\u66F8\u7121\u3057\uFF09\u306E\u30D7\u30EC\u30A4\u30B9\u30C6\u30FC\u30B7\u30E7\u30F3\u30DD\u30FC\u30BF\u30D6\u30EB\u4E2D\u53E4\u30BD\u30D5\u30C8\",\"tagIds\":[1001161,1002298,1010512],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/yuutarou/cabinet//10161/4543112415349.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"yuutarou:10015630\",\"postageFlag\":1,\"itemName\":\"(\u4E2D\u53E4\u30FB\u8AAC\u660E\u66F8\u7121\u3057\uFF09NARUTO\u3000\u30CA\u30EB\u30C6\u30A3\u30E1\u30C3\u30C8P
        \u7121\u5E7B\u57CE\u306E\u5DFB\",\"itemPrice\":480,\"pointRateEndTime\":\"\",\"shopCode\":\"yuutarou\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u904A\u592A\u90CE\u697D\u5929\u5E02\u5834\u5E97\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/yuutarou/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\",\"genreId\":\"566416\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/yuutarou/c52200/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/yuutarou/cabinet//20161/4904810353188.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u4EFB\u5929\u5802Wii\u30BD\u30D5\u30C8\u304C\u4E2D\u53E4\u4FA1\u683C\u3067\u304A\u8CB7\u3044\u5F97\uFF01(\u5F53\u5E97\u3067\u8CB7\u53D6\u3057\u305F\u4E2D\[...]
[...]
