interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-updateTimestamp
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u4E2D\u53E4\u3011
        NARUTO\u2212\u30CA\u30EB\u30C8\u2212\u75BE\u98A8\u4F1D\u3000\u4E5D\u5C3E\u638C\u63E1\u3068\u56E0\u679C\u306A\u308B\u9082\u9005\u306E\u7AE0\u30004
        \uFF0F\u5CB8\u672C\u6589\u53F2\uFF08\u539F\u4F5C\uFF09,\u7AF9\u5185\u9806\u5B50\uFF08\u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8\uFF09,\u6C5F\u5DDD\u592E\u751F\uFF08\u30AD\u30E9\u30FC\u30D3\u30FC\uFF09,\u4E2D\u6751\u5343\u7D75\uFF08\u6625\u91CE\u30B5\u30AF\u30E9
        \u3010\u4E2D\u53E4\u3011afb\",\"catchcopy\":\"\",\"itemCode\":\"bookoffonline:12255653\",\"itemPrice\":2280,\"itemCaption\":\"\u5CB8\u672C\u6589\u53F2\uFF08\u539F\u4F5C\uFF09,\u7AF9\u5185\u9806\u5B50\uFF08\u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8\uFF09,\u6C5F\u5DDD\u592E\u751F\uFF08\u30AD\u30E9\u30FC\u30D3\u30FC\uFF09,\u4E2D\u6751\u5343\u7D75\uFF08\u6625\u91CE\u30B5\u30AF\u30E9\uFF09,\u897F\u5C3E\u9244\u4E5F\uFF08\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u30C7\u30B6\u30A4\u30F3\uFF09,\u9234\u6728\u535A\u6587\uFF08\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u30C7\u30B6\u30A4\u30F3\uFF09,\u9AD8\u68A8\u5EB7\u6CBB\uFF08\u97F3\u697D\uFF09,\u5203\u2212yaiba\u2212\uFF08\u97F3\u697D\uFF09\u8CA9\u58F2\u4F1A\u793E/\u767A\u58F2\u4F1A\u793E\uFF1A\uFF08\u682A\uFF09\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9(\uFF08\u682A\uFF09\u30BD\u30CB\u30FC\u30FB\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30C7\u30A3\u30B9\u30C8\u30EA\u30D3\u30E5\u30FC\u30B7\u30E7\u30F3)\u767A\u58F2\u5E74\u6708\u65E5\uFF1A2013/01/09JAN\uFF1A4534530061478\u4E94\u3064\u306E\u5F71\u304C\u91CD\u306A\u308B\u6642\u3001\u6B74\u53F2\u304C\u5927\u304D\u304F\u52D5\u304D\u51FA\u3059\u2014\u2014\u3002\u7DCA\u8FEB\u306E\u539F\u4F5C\u30A8\u30D4\u30BD\u30FC\u30C9\u300E\u4E94\u5F71\u4F1A\u8AC7\u7DE8\u300F\u30B9\u30BF\u30FC\u30C8\uFF01\",\"itemUrl\":\"http://item.rakuten.co.jp/bookoffonline/0016905366/\",\"shopUrl\":\"http://www.rakuten.co.jp/bookoffonline/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/bookoffonline/cabinet/328/r_noimg.gif?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/bookoffonline/cabinet/328/r_noimg.gif?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":1,\"creditCardFlag\":1,\"shopOfTheYearFlag\":1,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u30D6\u30C3\u30AF\u30AA\u30D5\u30AA\u30F3\u30E9\u30A4\u30F3\u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"bookoffonline\",\"genreId\":\"101376\",\"tagIds\":[]},{\"itemName\":\"\u3010\u4E2D\u53E4\u3011
        NARUTO\u2212\u30CA\u30EB\u30C8\u2212(62) \u30B8\u30E3\u30F3\u30D7C\uFF0F\u5CB8\u672C\u6589\u53F2(\u8457\u8005)
        \u3010\u4E2D\u53E4\u3011afb\",\"catchcopy\":\"\",\"itemCode\":\"bookoffonline:11888728\",\"itemPrice\":128,\"itemCaption\":\"\u5CB8\u672C\u6589\u53F2(\u8457\u8005)\u8CA9\u58F2\u4F1A\u793E/\u767A\u58F2\u4F1A\u793E\uFF1A\u96C6\u82F1\u793E/
        \u767A\u58F2\u5E74\u6708\u65E5\uFF1A2012/10/04JAN\uFF1A9784088705156\",\"itemUrl\"[...]
