interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaGenre/Search/20120723?applicationId=XXXXXX&formatVersion=2&genreId=0&genrePath=1
  response:
    body:
      string: "{\"parents\":[],\"current\":{\"genreLevel\":0,\"genreName\":\"\",\"genreId\":0},\"children\":[{\"genreLevel\":1,\"genreName\":\"\u30EC\u30C7\u30A3\u30FC\u30B9\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3\",\"genreId\":100371},{\"genreLevel\":1,\"genreName\":\"\u30E1\u30F3\u30BA\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3\",\"genreId\":551177},{\"genreLevel\":1,\"genreName\":\"\u30A4\u30F3\u30CA\u30FC\u30FB\u4E0B\u7740\u30FB\u30CA\u30A4\u30C8\u30A6\u30A8\u30A2\",\"genreId\":100433},{\"genreLevel\":1,\"genreName\":\"\u30D0\u30C3\u30B0\u30FB\u5C0F\u7269\u30FB\u30D6\u30E9\u30F3\u30C9\u96D1\u8CA8\",\"genreId[...]
[...]
