interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&purchaseType=1
  response:
    body: {string: '{"count":0,"page":1,"first":0,"last":0,"hits":0,"carrier":0,"pageCount":0,"Items":[],"GenreInformation":[],"TagInformation":[]}'}
    headers:
      Content-Language: [ja-JP]
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
