interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&minPrice=10000
  response:
    body:
      string: "{\"count\":63,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":3,\"Products\":[{\"productId\":\"392e6c159cb934a93487404060f906e6\",\"productName\":\"G.E.M.\u30B7\u30EA\u30FC\u30BA
        NARUTO-\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8
        \u516D\u9053\u4ED9\u4EBA\u30E2\u30FC\u30C9 \u5B8C\u6210\u54C1\u30D5\u30A3\u30AE\u30E5\u30A2
        \u30E1\u30AC\u30CF\u30A6\u30B9\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/392e6c159cb934a93487404060f906e6/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/392e6c159cb934a93487404060f906e6/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/535/123/827/495/10010004535123827495_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/535/123/827/495/10010004535123827495_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"104535123\",\"makerName\":\"\u30E1\u30AC\u30CF\u30A6\u30B9\",\"makerNameKana\":\"\u30E1\u30AC\u30CF\u30A6\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30E1\u30AC\u30CF\u30A6\u30B9\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/112203/104535123/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/112203/104535123/\",\"itemCount\":3,\"salesItemCount\":2,\"usedExcludeCount\":2,\"usedExcludeSalesItemCount\":1,\"maxPrice\":16582,\"salesMaxPrice\":16582,\"usedExcludeMaxPrice\":14980,\"usedExcludeSalesMaxPrice\":14980,\"minPrice\":12100,\"salesMinPrice\":14980,\"usedExcludeMinPrice\":12100,\"usedExcludeSalesMinPrice\":14980,\"averagePrice\":14554,\"reviewCount\":0,\"reviewAverage\":0,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/392e6c159cb934a93487404060f906e6/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/392e6c159cb934a93487404060f906e6/review/\",\"rank\":5584,\"rankTargetGenreId\":\"112203\",\"rankTargetProductCount\":40367,\"genreId\":\"112203\",\"genreName\":\"\u30D5\u30A3\u30AE\u30E5\u30A2\",\"ProductDetails\":[]},{\"productId\":\"02fb1ec3e8673e11a41ae024597df5f1\",\"productName\":\"G.E.M.\u30B7\u30EA\u30FC\u30BA
        NARUTO-\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u3046\u3061\u306F\u30B5\u30B9\u30B1
        \u5B8C\u6210\u54C1\u30D5\u30A3\u30AE\u30E5\u30A2 \u30E1\u30AC\u30CF\u30A6\u30B9\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/02fb1ec3e8673e11a41ae024597df5f1/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/02fb1ec3e8673e11a41[...]
[...]
