interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BitemPrice
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u4E2D\u53E4\u3011[TCG]\u30C7\u30E5\u30A8\u30DE
        DMR01 51/110U \u30CA\u30EB\u30C8\u30FB\u30B9\u30D1\u30A4\u30E9\u30EB(20130801)\u3010RCP\u3011\",\"catchcopy\":\"\u5E74\u4E2D\u7121\u4F11|\u5168\u56FD\u4E00\u5F8B\u9001\u6599|\u7121\u6599\u30E9\u30C3\u30D4\u30F3\u30B0\u5BFE\u5FDC\u3010\u4E2D\u53E4\u3011[TCG]\u30C7\u30E5\u30A8\u30DE
        DMR01 51/110U \u30CA\u30EB\u30C8\u30FB\u30B9\u30D1\u30A4\u30E9\u30EB\",\"itemCode\":\"mediaworldkaitoriworld:10045535\",\"itemPrice\":18,\"itemCaption\":\"\u25A0\u30BF\u30A4\u30C8\u30EB:\u30C7\u30E5\u30A8\u30DE
        DMR01 51/110U \u30CA\u30EB\u30C8\u30FB\u30B9\u30D1\u30A4\u30E9\u30EB\u25A0\u6A5F\u7A2E:\u30C7\u30E5\u30A8\u30EB\u30DE\u30B9\u30BF\u30FC\u30BA\u25A0\u767A\u58F2\u65E5:2013/08/01\u25A0\u30E1\u30FC\u30AB\u30FC\u54C1\u756A:DMR01
        51/110\u25A0\u53CE\u9332\uFF1A\u30A8\u30D4\u30BD\u30FC\u30C91 \u30D5\u30A1\u30FC\u30B9\u30C8\u30FB\u30B3\u30F3\u30BF\u30AF\u30C8\u25A0\u30EC\u30A2\u30EA\u30C6\u30A3\uFF1A\u30A2\u30F3\u30B3\u30E2\u30F3\[...]
