interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-satisfied
  response:
    body:
      string: "{\"count\":13863,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"be1775cd0d8beb3fedb5a25717ddd805\",\"productName\":\"NARUTO
        -\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u30AB\u30AB\u30B7T\u30B7\u30E3\u30C4/\u30DB\u30EF\u30A4\u30C8-L
        \u30B3\u30B9\u30D1\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/be1775cd0d8beb3fedb5a25717ddd805/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/be1775cd0d8beb3fedb5a25717ddd805/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/531/894/373/124/10010004531894373124_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/531/894/373/124/10010004531894373124_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"104531894\",\"makerName\":\"\u30B3\u30B9\u30D1\",\"makerNameKana\":\"\u30B3\u30B9\u30D1\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30B3\u30B9\u30D1\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/112938/104531894/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/112938/104531894/\",\"itemCount\":4,\"salesItemCount\":3,\"usedExcludeCount\":4,\"usedExcludeSalesItemCount\":3,\"maxPrice\":3190,\"salesMaxPrice\":3190,\"usedExcludeMaxPrice\":3190,\"usedExcludeSalesMaxPrice\":3190,\"minPrice\":3132,\"salesMinPrice\":3190,\"usedExcludeMinPrice\":3132,\"usedExcludeSalesMinPrice\":3190,\"averagePrice\":3175,\"reviewCount\":1,\"reviewAverage\":5,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/be1775cd0d8beb3fedb5a25717ddd805/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/be1775cd0d8beb3fedb5a25717ddd805/review/\",\"rank\":18016,\"rankTargetGenreId\":\"112938\",\"rankTargetProductCount\":200984,\"genreId\":\"112938\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[]},{\"productId\":\"e59ff3e110e0f63565b0901a4bb155a2\",\"productName\":\"\uFF08\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9\uFF09\u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA
        NARUTO\xD7PansonWorks \u30AA\u30FC\u30EB\u30B9\u30BF\u30FC\u30BA \uFF08\u30D6\u30EB\u30FC\uFF09\uFF08\u30AF\u30EA\u30A2\uFF09/
        for iPhone 6/Apple\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/e59ff3e110e0f63565b0901a4bb155a2/\",\"productUrlMobile\"[...]
[...]
