interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&tagId=1000943
  response:
    body:
      string: '{"Items":[],"pageCount":0,"TagInformation":[],"hits":0,"last":0,"count":0,"page":1,"carrier":0,"GenreInformation":[],"first":0}'
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&tagId=1000943
  response:
    body:
      string: '{"Items":[],"pageCount":0,"TagInformation":[],"hits":0,"last":0,"count":0,"page":1,"carrier":0,"GenreInformation":[],"first":0}'
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
