interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&minAffiliateRate=5.0
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/renovatio/cabinet/visionstreetwear2/imgrc0073814916.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/renovatio/cabinet/visionstreetwear2/imgrc0073813947.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/renovatio/cabinet/visionstreetwear2/imgrc0073813948.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":8,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u25A0
        \u5546\u54C1\u8AAC\u660E \u300E VISION T\u30B7\u30E3\u30C4 NARUTO T\u30B7\u30E3\u30C4
        \u300F\u5546\u54C1\u756A\u53F7 VISION-174 \u25A0 \u7D20\u6750 [\u672C\u4F53]
        \u7DBF/100% \u25A0 \u3000NARUTO-\u30CA\u30EB\u30C8\u3068\u3001BORUTO-\u30DC\u30EB\u30C8-
        -NARUTO NEXT GENERATIONS-\u3001\u30B9\u30C8\u30EA\u30FC\u30C8\u30D6\u30E9\u30F3\u30C9\u306EVISIONSTREETWEAR\u306E\u30B3\u30E9\u30DC\u30A2\u30A4\u30C6\u30E0\u3002\u30CA\u30EB\u30C8\u306E\u767B\u5834\u30AD\u30[...]
[...]
