interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&page=2
  response:
    body: {string: "{\"count\":50334,\"page\":2,\"first\":31,\"last\":60,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO\u30FC\u30CA\u30EB\u30C8\u30FC
        \u30E2\u30CE\u30AF\u30ED\u7248 68\u3010\u96FB\u5B50\u66F8\u7C4D\u3011[ \u5CB8\u672C\u6589\u53F2
        ]\",\"catchcopy\":\"\u3010\u306F\u3058\u3081\u3066\u306E\u65B9\u9650\u5B9A\uFF01\u4E00\u518A\u7121\u6599\u30AF\u30FC\u30DD\u30F3\u3082\u308C\u306A\u304F\u30D7\u30EC\u30BC\u30F3\u30C8\u3011\",\"itemCode\":\"rakutenkobo-ebooks:13361937\",\"itemPrice\":400,\"itemCaption\":\"\u30AA\u30D3\u30C8\u306E\u529B\u306B\u6298\u308C\u304B\u3051\u305F\u5FCD\u9054\u306E\u5FC3\u3092\u3001\u30CA\u30EB\u30C8\u306E\u60F3\u3044\u304C\u7E4B\u304E\u6B62\u3081\u305F\uFF01\u3000\u6226\u5834\u3067\u306F\u4E94\u5F71\u3068\u5171\u306B\u5168\u8ECD\u304C\u529B\u3092\u96C6\u7D50\u3057\u3001\u795E\u6A39\u306B\u7ACB\u3061\u5411\u304B\u3046\uFF01\u3000\u4E00\u65B9\u3001\u30CA\u30EB\u30C8\u3068\u30B5\u30B9\u30B1\u306F\u30AA\u30D3\u30C8\u306E\u7121\u9650\u6708\u8AAD\u3092\u6B62\u3081\u308B\u3079\u304F\u4E8C\u3064\u306E\u529B\u3092\u91CD\u306D\u5408\u308F\u305B!?\u753B\u9762\u304C\u5207\u308A\u66FF\u308F\u308A\u307E\u3059\u306E\u3067\u3001\u3057\u3070\u3089\u304F\u304A\u5F85\u3061\u4E0B\u3055\u3044\u3002
        \u203B\u3054\u8CFC\u5165\u306F\u3001\u697D\u5929kobo\u5546\u54C1\u30DA\u30FC\u30B8\u304B\u3089\u304A\u9858\u3044\u3057\u307E\u3059\u3002\u203B\u5207\u308A\u66FF\u308F\u3089\u306A\u3044\u5834\u5408\u306F\u3001\u3053\u3061\u3089
        \u3092\u30AF\u30EA\u30C3\u30AF\u3057\u3066\u4E0B\u3055\u3044\u3002 \u203B\u3053\u306E\u30DA\u30FC\u30B8\u304B\u3089\u306F\u6CE8\u6587\u3067\u304D\u307E\u305B\u3093\u3002\",\"itemUrl\":\"http://item.rakuten.co.jp/rakutenkobo-ebooks/d25a96674b44373e8687c1f1ec71d466/\",\"shopUrl\":\"http://www.rakuten.co.jp/rakutenkobo-ebooks/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/4644/2000002064644.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/4644/2000002064644.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":10,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":2,\"reviewAverage\":4.5,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929Kobo\u96FB\u5B50\u66F8\u7C4D\u30B9\u30C8\u30A2\",\"shopCode\":\"rakutenkobo-ebooks\",\"genreId\":\"209194\",\"tagIds\":[]},{\"itemName\":\"NARUTO\u30FC\u30CA\u30EB\u30C8\u30FC
        \u30E2\u30CE\u30AF\u30ED\u7248 70\u3010\u96FB\u5B50\u66F8\u7C4D\u3011[ \u5CB8\u672C\u6589\u53F2
        ]\",\"catchcopy\":\"\u3010\u306F\u3058\u3081\u3066\u306E\u65B9\u9650\u5B9A\uFF01\u4E00\u518A\u7121\u6599\u30AF\u30FC\u30DD\u30F3\u3082\u308C\u306A\u304F\u30D7\u30EC\u30BC\u30F3\u30C8\u3011\",\"itemCode\":\"rakutenkobo-ebooks:13517575\",\"itemPrice\":400,\"itemCaption\":\"\u5C3E\u7363\u3092\u5168\u3066\u53D6\u308A\u8FBC\u307F\u516[...]
