interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&shipOverseasArea=ALL&shipOverseasFlag=1
  response:
    body: {string: "{\"count\":843,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":29,\"Items\":[{\"itemName\":\"\u3010\u5168\u5DFB\u6F2B\u753B\u3011NARUTO
        \uFF3B\u30CA\u30EB\u30C8\uFF3D\uFF081-72\u5DFB \u5168\u5DFB\uFF09\u6F2B\u753B\u5168\u5DFB\u30BB\u30C3\u30C8\u3010\u4E2D\u53E4\u672C\u3011\u3010\u4E2D\u53E4\u3011afb\u3010\u3011\",\"catchcopy\":\"\u3010\u30DD\u30A4\u30F3\u30C8\u6700\u592716\u500D\u3011\u3010\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"zenkanmanga:10000059\",\"itemPrice\":12990,\"itemCaption\":\"\u51FA\u7248\u793E\uFF1A\u96C6\u82F1\u793E\u4F5C\u8005\uFF1A\u5CB8\u672C\u6589\u53F2\u7248\u578B\uFF08\u30B5\u30A4\u30BA)\uFF1A\u65B0\u66F8\u72B6\u614B\uFF1A\u51FA\u6765\u308B\u9650\u308A\u72B6\u614B\u306E\u826F\u3044\u5546\u54C1\u3092\u767A\u9001\u3055\u305B\u3066\u9802\u304D\u307E\u3059\u3002\u53E4\u672C\u3067\u3059\u306E\u3067\u82E5\u5E72\u306E\u4F7F\u7528\u611F\u304C\u3042\u308A\u307E\u3059\u3002\u307E\u305F\u3001\u767A\u884C\u304B\u3089\u5E74\u6708\u304C\u7D4C\u3063\u3066\u3044\u308B\u308[...]
