interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&appointDeliveryDateFlag=1&formatVersion=2&keyword=Naruto
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/amiami/cabinet/images/2019/32/goods-00321889.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u203B\u753B\u50CF\u306F\u76E3\u4FEE\u4E2D\u306E\u3082\u306E\u3067\u3059\u3002\u5B9F\u969B\u306E\u5546\u54C1\u3068\u306F\u7570\u306A\u308B\u5834\u5408\u304C\u3042\u308A\u307E\u3059\u3002\u8CA9\u58F2\u6570\u91CF\u5236\u9650\u304A\u4E00\u4EBA\u69D8
        3 \u30F6\u307E\u3067\u3002\uFF08\u540C\u4E00\u4F4F\u6240\u3001\u3042\u307F\u3042\u307F\u672C\u5E97\u652F\u5E97\u5408\u308F\u305B\u3066\u306E\u5236\u9650\u6570\u3067\u3059\uFF09\u767A\u58F2\u65E519\u5E7411\u6708\u4E0B\u65EC\u30D6\u30E9\u30F3\u3[...]
[...]
