interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pamphletFlag=1
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040_1.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040_2.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u25A0\u5546\u54C1\u8AAC\u660E\u2192\u30CA\u30EB\u30C8\u3000\u3055\u3044\u3075\u3000\u304C\u307E\u53E3\u3000\u672A\u4F7F\u7528\u54C1\u3002\u30B5\u30A4\u30BA\uFF08\u7D04\uFF09\uFF1A\u30E8\u30B38\xD7\u30BF\u30C610\xD7\u9AD8\u30557cm\u7A0B\u5EA6\u3002\u7ACB\u4F53\u7684\u306A\u306C\u3044\u3050\u308B\u307F\u306E\u3088\u3046\u306A\u304C\u307E\u53E3\u3067\u3059\u3002\u30D5\u30A1\u30C3\u30B7\u30E7\u30F3\u96D1\u8CA8\u3092\u53D6\u6271\u4E2D\uFF01\uFF01\u3000\u88CF\u539F\u7CFB\u3001\u30B9\u30C8\u30EA\u30FC\u30C8\u3001\u30EC\u30C7\u30A3\u30FC\u30B9\u3000\u305D\u306E\u4ED6\u30EC\u30A2\u3067\u6C17\u306B\u306A\u308B\u30A2\u30A4\u30C6\u30E0\u6E80\u8F09\uFF01\uFF01\u3000\",\"catchcopy\":\"\u30CA\u30EB\u30C8\u3000\u96D1\u8CA8\u3000\u901A\u8CA9\",\"tagIds\":[1010450],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040_1.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/amaxshop/cabinet/1659/x170714040_2.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"amaxshop:10040111\",\"postageFlag\":1,\"itemName\":\"ZAK\u3000\u30CA\u30EB\u30C8\u3000\u3055\u3044\u3075\u3000\u304C\u307E\u53E3\",\"itemPrice\":3849,\"pointRateEndTime\":\"\",\"shopCode\":\"amaxshop\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"amax\u3000\u697D\u5929\u5E02\u5834\u5E97\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/amaxshop/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\u30AB\u30CA\u30C0/\u30B9\u30A4\u30B9/\u4E2D\u56FD/\u30C9\u30A4\u30C4/\u30B9\u30DA\u30A4\u30F3/\u30D5\u30E9\u30F3\u30B9/\u82F1\u56FD/\u30A4\u30F3\u30C9/\u30A4\u30BF\u30EA\u30A2/\u97D3\u56FD/\u53F0\u6E7E/\u30A2\u30E1\u30EA\u30AB\",\"genreId\":\"112938\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/amaxshop/x170714040/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/comfort-s/cabinet/cabinet/ca046_mein.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/comfort-s/cabinet/cabinet/ca046_color.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/comfort-s/cabinet/cabinet/ca046_size.jpg?_ex=128x128\"],\"pointRate\":2,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\[...]
[...]
