interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&formatVersion=2&sex=1
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u30FB\u5973\u6027\u3011\",\"lastBuildDate\":\"Mon, 20 Feb
        2017 00:00:00 +0900\",\"Items\":[{\"rank\":1,\"carrier\":0,\"itemName\":\"\u30104\u65E5\u9593\u9650\u5B9A45\uFF05OFF\u3011\u5927\u5BB9\u91CF
        \u30DE\u30CC\u30AB\u30CF\u30CB\u30FC UMF\u8702\u871C\u5354\u4F1A\u8A8D\u5B9A
        5+ 500g\u300A3500\u5186\u4EE5\u4E0A\u3067\u9001\u6599\u7121\u6599\u300B\u3010\u304A\u4E00\u4EBA\u69D82\u500B\u307E\u3067\u3011\",\"catchcopy\":\"UMF
        \u30DE\u30CC\u30AB\u30CF\u30CB\u30FC \u697D\u5929\u6700\u5B89\u5024\u306B\u6311\u6226\uFF01\u300A2\u500B\u4EE5\u4E0A\u3082\u3057\u304F\u306F3500\u5186\u4EE5\u4E0A\u3054\u8CFC\u5165\u3067\u9001\u6599\u7121\u6599\u300B\",\"itemCode\":\"comvita:10000114\",\"itemPrice\":\"1998\",\"itemCaption\":\"\u72EC\u7ACB\u691C\u67FB\u6A5F\u95A2UMFHA\u8A8D\u5B9A\u306ESweet
        Meadow\u30DE\u30CC\u30AB\u30CF\u30CB\u30FCUMF5+ [MGO 83\u4EE5\u4E0A261\u672A\u6E80(MGO
        100+/200+\u76F8\u5F53)]\u306F\u3001100\uFF05\u30CA\u30C1\u30E5\u30E9\u30EB\u3067\u5E0C\u5C11\u306A\u30CF\u30C1\u30DF\u30C4\u3067\u3059\u3002
        \u30AF\u30EA\u30FC\u30E0\u30AD\u30E3\u30E9\u30E1\u30EB\u306E\u3088\u3046\u306A\u6DF1\u3044\u5473\u308F\u3044\u3067\u3001\u7279\u306B\u5065\u5EB7\u6210\u5206\u300C\u30E1\u30C1\u30EB\[...]
