interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BreviewCount
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u4E2D\u53E4\u3011\u3010\u53E4\u672C\u3011NARUTO\u2212\u30CA\u30EB\u30C8\u2212\u6211\u611B\u7F85\u79D8\u4F1D\u3000\u7802\u5875\u5E7B\u60F3/\u5CB8\u672C\u6589\u53F2\uFF0F\u8457\u3000\u5C0F\u592A\u5200\u53F3\u4EAC\uFF0F\u8457\u3010\u65B0\u66F8\u30FB\u9078\u66F8
        \u96C6\u82F1\u793E\u3011\",\"catchcopy\":\"\u30102500\u5186\u4EE5\u4E0A\u8CFC\u5165\u3067\u9001\u6599\u7121\u6599\u3011\u3010\u53E4\u672C\u3011NARUTO\u2212\u30CA\u30EB\u30C8\u2212\u6211\u611B\u7F85\u79D8\u4F1D\u3000\u7802\u5875\u5E7B\u60F3/\u5CB8\u672C\u6589\u53F2\uFF0F\u8457\u3000\u5C0F\u592A\u5200\u53F3\u4EAC\uFF0F\u8457\u3010\u65B0\u66F8\u30FB\u9078\u66F8
        \u96C6\u82F1\u793E\u3011\",\"itemCode\":\"dorama:11954382\",\"itemPrice\":491,\"itemCaption\":\"\u5546\u54C1\u60C5\u5831
        \u30BF\u30A4\u30C8\u30EB NARUTO\u2212\u30CA\u30EB\u30C8\u2212\u6211\u611B\u7F85\u79D8\u4F1D\u3000\u7802\u5875\u5E7B\u60F3
        \u30D5\u30EA\u30AC\u30CA \u30CA\u30EB\u30C8\u3000\u30AC\u30A2\u30E9\u3000\u30D2\u30C7\u30F3\u3000\u30B5\u30B8\u30F3\u3000\u30B2\u30F3\u30BD\u30A6\u3000\u30B8\u30E4\u30F3\u30D7\u3000\u30B8\u30A8\u2212\u3000\u30D6\u30C4\u30AF\u30B9\u3000JUMP\u3000J\u3000BOOKS
        \u8457\u8005 \u5CB8\u672C\u6589\u53F2\uFF0F\u8457\u3000\u5C0F\u592A\u5200\u53F3\u4EAC\uFF0F\u8457
        \u8457\u8005\u30E8\u30DF \u30AD\u30B7\u30E2\u30C8\uFF0C\u30DE\u30B5\u30B7\u3000\u30B3\u30C0\u30C1\uFF0C\u30A6\u30AD\u30E8\u30A6
        ISBN 9784087033649 \u51FA\u7248\u793E \u96C6\u82F1\u793E \u30B8\u30E3\u30F3\u30EB
        \u65B0\u66F8\u30FB\u9078\u66F8 \u30CE\u30D9\u30EB\u30B9 J\u3000BOOKS\u3000
        \u767A\u58F2\u65E5 2015/6/1\",\"itemUrl\":\"http://item.rakuten.co.jp/dorama/9784087033649/\",\"shopUrl\":\"http://www.rakuten.co.jp/dorama/\",\"smallImageUrls\":[],\"mediumImageUrls\":[],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":0,\"availability\":1,\"taxFlag\":0,\"postageFlag\":1,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u30C9\u30E9\u30DE\u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"dorama\",\"genreId\":\"216836\",\"tagIds\":[]},{\"itemName\":\"\u3010\u5149\u6CA2\u306A\u3057\u3011
        \u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA NARUTO\xD7PansonWorks
        \u51AC\u666F\u8272 \u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8 \uFF08\u30AF\u30EA\u30A2\uFF09
        / for Galaxy A8 SCV32/augalaxy a8 \u30B1\u30FC\u30B9 galaxy a8 \u30AB\u30D0\u30FC
        \u30AE\u30E3\u30E9\u30AF\u30B7\u30FC a8 \u30B1\u30FC\u30B9 \u30AE\u30E3\u30E9\u30AF\u30B7\u30FC
        a8 \u30AB\u30D0\u30FC a8 \u30B1\u30FC\u30B9 a8 \u[...]
