interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&appointDeliveryDateFlag=1&formatVersion=2&keyword=Naruto
  response:
    body: {string: "{\"count\":41369,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u5728\u5EAB\u3042\u308A/\u5373\u51FA\u8377\u53EF\u3011\u3010\u65B0\u54C1\u3011\u30CA\u30EB\u30C8
        NARUTO (1-72\u5DFB \u5168\u5DFB) \u5168\u5DFB\u30BB\u30C3\u30C8_\u5B9A\u756A\u4EBA\u6C17\u5546\u54C1\",\"catchcopy\":\"\u5E73\u65E515\u6642\u3001\u571F\u65E5\u795D\u306F14\u6642\u307E\u3067\u5F53\u65E5\u767A\u9001\uFF01\",\"itemCode\":\"mangazenkan:10001106\",\"itemPrice\":30673,\"itemCaption\":\"\u4F5C\u8005
        : \u5CB8\u672C\u6589\u53F2 \u51FA\u7248\u793E : \u96C6\u82F1\u793E \u7248\u578B
        : \u65B0\u66F8\u7248 \u6700\u65B0\u520A\u767A\u58F2\u65E5 : 2015\u5E7402\u670804\u65E5\u63A8\u5B9A\u5B8C\u8AAD\u6642\u9593
        : 36\u6642\u959314\u5206\uFF08\u6F2B\u753B\u5168\u5DFB\u30C9\u30C3\u30C8\u30B3\u30E0\u8ABF\u3079\uFF09\u3042\u3089\u3059\u3058
        : \u3053\u3053\u306F\u6728\u30CE\u8449\u96A0\u308C\u306E\u91CC\u3002\u5FCD\u8853\u5B66\u6821\u306E\u554F\u984C\u5150\u3001\u30CA\u30EB\u30C8\u306F\u4ECA\u65E5\u3082\u30A4\u30BF\u30BA\u30E9\u4E09\u6627\uFF01\uFF01\u3000\u305D\u3093\u306A\u30CA\u30EB\u30C8\u306E\u3067\u3063\u304B\u3044\u5922\u306F\u6B74\u4EE3\u306E\u52C7\u8005\u3001\u706B\u5F71\u306E\u540D\u3092\u53D7\u3051\u3064\u3044\u3067\u3001\u5148\u4EE3\u3092\u8D8A\u3048\u308B\u5FCD\u8005\u306B\u306A\u308B\u3053\u3068\u3060\u3002\u3060\u304C\u30CA\u30EB\u30C8\u306B\u306F\u51FA\u751F\u306E\u79D8\u5BC6\u304C\u2026\uFF01\uFF1F
        \u304A\u3059\u3059\u3081\u5546\u54C1 : ONE PIECE\u30C9\u30E9\u30B4\u30F3\u30DC\u30FC\u30EB\u91D1\u8272\u306E\u30AC\u30C3\u30B7\u30E5\uFF01\uFF01\u30CA\u30EB\u30C8
        NARUTO \u5168\u5DFB\u30BB\u30C3\u30C8\u306A\u3089\u3001\u6F2B\u753B\u3001\u30B3\u30DF\u30C3\u30AF\u5168\u5DFB\u5927\u4EBA\u8CB7\u3044\u5C02\u9580\u66F8\u5E97\u306E\u6F2B\u753B\u5168\u5DFB\u30C9\u30C3\u30C8\u30B3\u30E0\",\"itemUrl\":\"http://item.rakuten.co.jp/mangazenkan/10001106/\",\"shopUrl\":\"http://www.rakuten.co.jp/mangazenkan/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/m-comic/waku0001/na-01.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/comic3/img56005110.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/comic3/img56005111.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/m-comic/waku0001/na-01.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/comic3/img56005110.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/comic3/img56005111.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":1,\"shipOverseasArea\":\"\u30AA\u30FC\u30B9\u30C8\u30EA\u30A2/\u30AA\u30FC\u30B9\u30C8\u30E9\u30EA\u30A2/\u30D9\u30EB\u30AE\u30FC/\u30B9\u30A4\u30B9/\u4E2D\u56FD/\u30C9\u30A4\u30C4/\u30C7\u30F3\u30DE\u30FC\u30AF/\u30B9\u30DA\u30A4\u30F3/\u30D5\u30E9\u30F3\u30B9/\u82F1\u56FD/\u30AE\u30EA\u30B7\u30E3/\u9999\u6E2F/\u30A4\u30F3\u30C9\u30CD\u30B7\u30A2/\u30A4\u30F3\u30C9/\u30A4\u30BF\u30EA\u30A2/\u97D3\u56FD/\u30E2\u30ED\u30C3\u30B3/\u30DE\u30EC\u30FC\u30B7\u30A2/\u30AA\u30E9\u30F3\u30C0/\u30CB\u30E5\u30FC\u30B8\u30FC\u30E9\u30F3\u30C9/\u30D5\u30A3\u30EA\u30D4\u30F3/\u30DD\u30FC\u30E9\u30F3\u30C9/\u30DD\u30EB\u30C8\u30AC\u30EB/\u30ED\u30B7\u30A2/\u30B9\u30A6\u30A7\u30FC\u30C7\u30F3/\u30B7\u30F3\u30AC\u30DD\u30FC\u30EB/\u30BF\u30A4/\u30C8\u30EB\u30B3/\u53F0\u6E7E/\u30D9\u30C8\u30CA\u30E0\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":123,\"reviewAverage\":4.47,\"pointRate\":10,\"pointRateStartTime\":\"2017-02-17
        15:00\",\"pointRateEndTime\":\"2017-02-24 10:59\",\"giftFlag\":0,\"shopName\":\"\u6F2B\u753B\u5168\u5DFB\u30C9\u30C3\u30C8\u30B3\u30E0
        \u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"mangazenkan\",\"genreId\":\"201998\",\"tagIds\":[]},{\"itemName\":\"NARUTO\u30AE\u30E3\u30EB\u30BA
        NARUTO\u2010\u30CA\u30EB\u30C8\u2010 \u75BE\u98A8\u4F1D \u65E5\u5411\u30D2\u30CA\u30BF
        \u5B8C\u6210\u54C1\u30D5\u30A3\u30AE\u30E5\u30A2[\u30E1\u30AC\u30CF\u30A6\u30B9]\u300A\u767A\u58F2\u6E08\u30FB\u5728\u5EAB\u54C1\u300B\",\"catchcopy\":\"\",\"itemCode\":\"amiami:11137745\",\"itemPrice\":9990,\"itemCaption\":\"\u203B\u753B\u50CF\u306F\u8A66\u4F5C\u54C1\u3092\u64AE\u5F71\u3057\u305F\u3082\u306E\u3067\u3059\u3002\u5B9F\u969B\u306E[...]
