interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaGenre/Search/20120723?applicationId=XXXXXX&formatVersion=2&genreId=0&genrePath=1
  response:
    body: {string: "{\"parents\":[],\"current\":{\"genreId\":0,\"genreName\":\"\",\"genreLevel\":0},\"children\":[{\"genreId\":101240,\"genreName\":\"CD\u30FBDVD\u30FB\u697D\u5668\",\"genreLevel\":1},{\"genreId\":100804,\"genreName\":\"\u30A4\u30F3\u30C6\u30EA\u30A2\u30FB\u5BDD\u5177\u30FB\u53CE\u7D0D\",\"genreLevel\":1},{\"genreId\":101164,\"genreName\":\"\u304A\u3082\u3061\u3083\u30FB\u30DB\u30D3\u30FC\u30FB\u30B2\u30FC\u30E0\",\"genreLevel\":1},{\"genreId\":100533,\"genreName\":\"\u30AD\u30C3\u30BA\u30FB\u30D9\u30D3\u30FC\u30FB\u30DE\u30BF\u30CB\u30C6\u30A3\",\"genreLevel\":1},{\"genreId\":215783,\"genr[...]
