interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-reviewAverage
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO-\u30CA\u30EB\u30C8\u30FC
        \u75BE\u98A8\u4F1D \u5B88\u8B77\u5FCD\u5341\u4E8C\u58EB\u306E\u7AE0 1 [ \u7AF9\u5185\u9806\u5B50
        ]\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:12962629\",\"itemPrice\":4179,\"itemCaption\":\"\u7AF9\u5185\u9806\u5B50
        \u4E2D\u6751\u5343\u7D75 \u5C0F\u5C71\u529B\u4E5F \u4F0A\u9054\u52C7\u767B\u3010VDCP_700\u3011\u3010VDCP_482\u3011
        \u767A\u58F2\u65E5\uFF1A2008\u5E7409\u670803\u65E5 \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2008\u5E7408\u670827\u65E5
        (\u682A)\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9 \u3010\u6620\u50CF\u7279\u5178\u3011
        INFOMATION ANSB\u30FC2671 JAN\uFF1A4534530025654 \u3010\u30B7\u30EA\u30FC\u30BA\u89E3\u8AAC\u3011
        \u8607\u308B\u3001\u5B88\u8B77\u5FCD\u5341\u4E8C\u58EB\u306E\u9B42\u3002 16:9LB
        \u30AB\u30E9\u30FC \u65E5\u672C\u8A9E(\u30AA\u30EA\u30B8\u30CA\u30EB\u8A00\u8A9E)
        \u30EA\u30CB\u30A2PCM\u30B9\u30C6\u30EC\u30AA(\u30AA\u30EA\u30B8\u30CA\u30EB\u97F3\u58F0\u65B9\u5F0F)
        \u65E5\u672C 2007\u5E74 NARUTO SHIPPUDEN THE CHAPTER OF TWELVE GUARDIAN NINJA
        1 DVD \u30A2\u30CB\u30E1 \u6D0B\u753B \u30A2\u30CB\u30E1 \u90A6\u753B \u30A2\u30CB\u30E1
        \u30C6\u30EC\u30D3\u30A2\u30CB\u30E1 \u30A2\u30CB\u30E1 OVA \u30A2\u30CB\u30E1
        \u305D\u306E\u4ED6\",\"itemUrl\":\"http://item.rakuten.co.jp/book/5736121/\",\"shopUrl\":\"http://www.rakuten.co.jp/book/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5654/4534530025654.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5654/4534530025654.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":1,\"asurakuClosingTime\":\"12:00\",\"asurakuArea\":\"\u7FA4\u99AC\u770C/\u57FC\u7389\u770C/\u5343\u8449\u770C/\u6771\u4EAC\u90FD/\u795E\u5948\u5DDD\u770C/\u65B0\u6F5F\u770C/\u5BCC\u5C71\u770C/\u77F3\u5DDD\u770C/\u798F\u4E95\u770C/\u5C71\u68A8\u770C/\u9577\u91CE\u770C/\u5C90\u961C\u770C/\u9759\u5CA1\u770C/\u611B\u77E5\u770C/\u4E09\u91CD\u770C/\u6ECB\u8CC0\u770C/\u4EAC\u90FD\u5E9C/\u5927\u962A\u5E9C/\u5175\u5EAB\u770C/\u5948\u826F\u770C/\u548C\u6B4C\u5C71\u770C/\u8328\u57CE\u770C/\u6803\u6728\u770C\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":3,\"reviewAverage\":5,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"shopCode\":\"book\",\"genreId\":\"101953\",\"tagIds\":[]},{\"itemName\":\"\u3010\u30B3\u30B9\u30D7\u30EC\u554F\u5C4B\u3011NARUTO
        -\u30CA\u30EB\u30C8-\u2605\u6211\u611B\u7F85\uFF08\u304C\u3042\u3089\uFF09\u2606\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\",\"catchcopy\":\"\u30B9\u30D4\u30FC\u30C9\u914D\u9001!!\u7D0410\u65E5!!\",\"itemCode\":\"cosplaydonya:10000716\",\"itemPrice\":10900,\"itemCaption\":\"\u25C6\u53D7\u6CE8\u751F\u7523\u54C1\u306B\u3064\u304D\u3054\u6CE8\u6587\u5F8C\u306E\u5909\u66F4\u30FB\u30AD\u30E3\u30F3\u30BB\u30EB\u306F\u304A\u53[...]
