interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&page=2
  response:
    body:
      string: "{\"count\":13863,\"page\":2,\"first\":31,\"last\":60,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"b4a19c9b7904a65b03b282b30a1a6aea\",\"productName\":\"\uFF2E\uFF21\uFF32\uFF35\uFF34\uFF2F
        \ \u5DFB\u30CE\uFF16\uFF14 /\u96C6\u82F1\u793E/\u5CB8\u672C\u6589\u53F2\",\"productNo\":\"9784088706283\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/b4a19c9b7904a65b03b282b30a1a6aea/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/b4a19c9b7904a65b03b282b30a1a6aea/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/706/283/20010009784088706283_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/706/283/20010009784088706283_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"2013\u5E744\u67084\u65E5\",\"makerCode\":\"20978408\",\"makerName\":\"\u96C6\u82F1\u793E\",\"makerNameKana\":\"\u30B7\u30E6\u30A6\u30A8\u30A4\u30B7\u30E4\",\"makerNameFormal\":\"\u96C6\u82F1\u793E\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/209194/20978408/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/209194/20978408/\",\"itemCount\":37,\"salesItemCount\":21,\"usedExcludeCount\":9,\"usedExcludeSalesItemCount\":6,\"maxPrice\":528,\"salesMaxPrice\":528,\"usedExcludeMaxPrice\":528,\"usedExcludeSalesMaxPrice\":528,\"minPrice\":88,\"salesMinPrice\":88,\"usedExcludeMinPrice\":418,\"usedExcludeSalesMinPrice\":418,\"averagePrice\":261,\"reviewCount\":130,\"reviewAverage\":4.82,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/b4a19c9b7904a65b03b282b30a1a6aea/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/b4a19c9b7904a65b03b282b30a1a6aea/review/\",\"rank\":12459,\"rankTargetGenreId\":\"201975\",\"rankTargetProductCount\":44606,\"genreId\":\"209194\",\"genreName\":\"\u96C6\u82F1\u793E
        \u30B8\u30E3\u30F3\u30D7C\",\"ProductDetails\":[{\"name\":\"\u66F8\u540D\u30AB\u30CA\",\"value\":\"\u30CA\u30EB\u30C8
        64\"},{\"name\":\"\u8457\u8005\u540D\",\"value\":\"\u5CB8\u672C\u6589\u53F2\"},{\"name\":\"\u8457\u8005\u540D\u30AB\u30CA\",\"value\":\"\u30AD\u30B7\u30E2\u30C8,\u30DE\u30B5\u30B7\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\",\"value\":\"\u30B8\u30E3\u30F3\u30D7\u30FB\u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\u30AB\u30CA\",\"value\":\"\u30B8\u30E3\u30F3\u30D7
        \u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u767A\u884C\u8005\[...]
[...]
