interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&formatVersion=2&period=realtime
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"Mon, 13 Feb 2017 23:27:00 +0900\",\"Items\":[{\"rank\":1,\"carrier\":0,\"itemName\":\"[23:59\u307E\u3067!70%OFF\u30AF\u30FC\u30DD\u30F3\u5BFE\u8C61\u5546\u54C1]\u3010\u7279\u5225\u9001\u6599\u7121\u6599\uFF01\u3011\u30B8\u30E3\u30B1\u30C3\u30C8
        S/M/L/LL\u3000\u6696\u304B\u3044 \u30AD\u30EB\u30C6\u30A3\u30F3\u30B0 \u30A2\u30A6\u30BF\u30FC
        \u30EC\u30C7\u30A3\u30FC\u30B9 \u30AD\u30EB\u30C6\u30A3\u30F3\u30B0\u30B3\u30FC\u30C8
        \u7FBD\u7E54 \u4E2D\u7DBF \u6625\u25C6zootie\uFF08\u30BA\u30FC\u30C6\u30A3\u30FC\uFF09\uFF1A\u30E6\u30CB\u30AA\u30F3
        \u30AD\u30EB\u30C6\u30A3\u30F3\u30B0\u30B8\u30E3\u30B1\u30C3\u30C8\uFF3B\u30B9\u30BF\u30F3\u30C0\u30FC\u30C9\u30FB\u30D5\u30FC\u30C9\uFF3D\",\"catchcopy\":\"\u2605\u2605\u30AF\u30FC\u30DD\u30F3\u306770%OFF\u2605\u260594,033\u679A\u5B8C\u58F2\uFF01\u30A2\u30A6\u30BF\u30FC\u306F\u3001\u6BCE\u65E5\u7740\u308C\u308B\u3082\u306E\u3067\u3042\u308A\u305F\u3044\u304B\u3089\u3002\u300C\u5B9A\u756A\u300D\u3092\u9032\u5316\u3055\u305B\u305F\u3001\u3053\u306A\u308C\u305F\u30AB\u30B8\u30E5\u30A2\u30EB\u30B9\u30BF\u30A4\u30EB\u306B\u4F3C\u5408\u3046\u30AA\u30EA\u30B8\u30CA\u30EB\u306E\u30AD\u30EB\u30C6\u30A3\u30F3\u30B0\u30B3\u30FC\u30C8\u3002\",\"itemCode\":\"e-zakkamania:10024686\",\"itemPrice\":\"3780\",\"itemCaption\":\"\u5546\u54C1\u30AB\u30C6\u30B4\u30EA\uFF1A\u3010\u30D6\u30E9\u30A6\u30F3\u3011\u3010\u30DB\u30EF\u30A4\u30C8\u3011\u3010\u30B0\u30EA\u30FC\u30F3\u3011\u3010\u30D4\u30F3\u30AF\u3011\u3010\u30D6\u30EB\u30FC\u3011\u3010\u30B0\u30EC\u30FC\u3011\u3010\u7070\u8272\u3011\u3010\u30D6\u30E9\u30C3\u30AF\u3011\u3010\u9ED2\u3011\u3010\u767D\u3011\u3010\u8336\u8272\u3011\u30B8\u30E3\u30F3\u30D1\u30FC
        \u30B8\u30E3\u30B1\u30C3\u30C8 \u30AD\u30EB\u30C6\u30A3\u30F3\u30B0 \u30B3\u30FC\u30C8
        \u30[...]
