interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&carrier=2&formatVersion=2&keyword=Naruto
  response:
    body: {string: "{\"count\":49541,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":2,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO
        THE BEST (\u671F\u9593\u751F\u7523\u9650\u5B9A\u76E4) [ (\u30A2\u30CB\u30E1\u30FC\u30B7\u30E7\u30F3)
        ]\",\"catchcopy\":\"\u3010\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:17924463\",\"itemPrice\":3456,\"itemCaption\":\"\u3010SPsale\u3011
        JAN\uFF1A4534530093202 SVWC\u30FC70175/6 \u767A\u58F2\u65E5\uFF1A2016\u5E7407\u670806\u65E5
        (\u682A)\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9 (\u30A2\u30CB\u30E1\u30FC\u30B7\u30E7\u30F3)
        (\u682A)\u30BD\u30CB\u30FC\u30FB\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30DE\u30FC\u30B1\u30C6\u30A3\u30F3\u30B0
        [Disc1] \u300ENARUTO THE BEST\u300F\uFF0FCD \u30A2\u30FC\u30C6\u30A3\u30B9\u30C8\uFF1ADOES\uFF0FDISH//
        \u307B\u304B \u66F2\u76EE\u30BF\u30A4\u30C8\u30EB\uFF1A &nbsp;1. \u7D05\u84EE
        [4:04] &nbsp;2. FLAME [4:04] &nbsp;3. Never Change feat.Lyu:Lyu [4:08] &nbsp;4.
        \u30B7\u30EB\u30A8\u30C3\u30C8 [4:02] &nbsp;5. \u3060\u3081\u3060\u3081\u3060
        [3:59] &nbsp;6. Spinning World [3:56] &nbsp;7. \u98A8 [4:09] &nbsp;8. \u8A00\u8449\u306E\u3044\u3089\u306A\u3044\u7D04\u675F
        [4:14] &nbsp;9. \u8679\u306E\u7A7A [4:07] &nbsp;10. LINE [4:43] &nbsp;11.
        \u30C8\u30E9\u30D6\u30EB\u30E1\u30A4\u30AB\u30FC [4:04] &nbsp;12. \u305D\u3093\u306A\u541B\u3001\u3053\u3093\u306A\u50D5
        [4:50] &nbsp;13. \u661F\u306E\u3046\u3064\u308F [5:36] &nbsp;14. \u30C0\u30A4\u30D0\u30FC
        [4:32] [Disc2] \u300ENARUTO THE BEST\u300F\uFF0FDVD \u66F2\u76EE\u30BF\u30A4\u30C8\u30EB\uFF1A
        1.\u7279\u5178DVD[\u30FC]\",\"itemUrl\":\"http://item.rakuten.co.jp/book/14123464/\",\"shopUrl\":\"http://www.rakuten.co.jp/book/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3202/4534530093202.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3202/4534530093202.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":1,\"asurakuClosingTime\":\"12:00\",\"asurakuArea\":\"\u7FA4\u99AC\u770C/\u57FC\u7389\u770C/\u5343\u8449\u770C/\u6771\u4EAC\u90FD/\u795E\u5948\u5DDD\u770C/\u65B0\u6F5F\u770C/\u5BCC\u5C71\u770C/\u77F3\u5DDD\u770C/\u798F\u4E95\u770C/\u5C71\u68A8\u770C/\u9577\u91CE\u770C/\u5C90\u961C\u770C/\u9759\u5CA1\u770C/\u611B\u77E5\u770C/\u4E09\u91CD\u770C/\u6ECB\u8CC0\u770C/\u4EAC\u90FD\u5E9C/\u5927\u962A\u5E9C/\u5175\u5EAB\u770C/\u5948\u826F\u770C/\u548C\u6B4C\u5C71\u770C/\u8328\u57CE\u770C/\u6803\u6728\u770C\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":6,\"reviewAverage\":4.67,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"shopCode\":\"book\",\"genreId\":\"101326\",\"tagIds\":[]},{\"itemName\":\"BORUTO-\u30DC\u30EB\u30C8\u30FC
        2 -NARUTO NEXT GENERATIONS- [ \u6C60\u672C \u5E79\u96C4 ]\",\"catchcopy\":\"\u3010\u9001\u6599\u7121\u6599\u3011\",\"itemCode\":\"book:18257342\",\"itemPrice\":432,\"itemCaption\":\"BKSCPN_\u30103\u518A10\u500D\u3011
        ISBN\uFF1A9784088808277 \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9
        \u6C60\u672C \u5E79\u96C4 \u5C0F\u592A\u5200 \u53F3\u4EAC \u96C6\u82F1\u793E
        \u767A\u58F2\u65E5\uFF1A2016\u5E7412\u67080[...]
