interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&maxPrice=10000&orFlag=1
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/renet3/cabinet/item_photo/001189/5/0011895534.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/renet3/cabinet/campaign/imgrc0072600979.gif?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"&nbsp;&nbsp;&nbsp;
        NARUTO 67 \u65B0\u66F8\u7248 \u306E\u8A73\u7D30 \u51FA\u7248\u793E: \u96C6\u82F1\u793E
        \u30EC\u30FC\u30D9\u30EB: \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9
        \u4F5C\u8005: \u5CB8\u672C\u6589\u53F2 \u30AB\u30CA: \u30CA\u30EB\u30C8 /
        \u30AD\u30B7\u30E2\u30C8\u30DE\u30B5\u30B7 \u30B5\u30A4\u30BA: \u65B0\u66F8\u7248
        ISBN: 9784088708492 \u767A\u58F2\u65E5: 2013/12/04 \u95A2\u9023\u5546\u54C1\u30EA\u30F3\u30AF
        : \u5CB8\u672C\u6589\u53F2 \u96C6\u82F1\u793E \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\u3000\u3000NARUTO
        \u307E\u3068\u3081\u8CB7\u3044\u306F \u3053\u3061\u3089\",\"catchcopy\":\"\u301010\u70B9\u8CFC\u5165\u3067\u5168\u54C15%OFF\u3011\",\"tagIds\":[],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/renet3/cabinet/item_photo/001189/5/0011895534.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/renet3/cabinet/campaign/imgrc0072600979.gif?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"renet3:10575371\",\"postageFlag\":1,\"itemName\":\"\u3010\u4E2D\u53E4\u3011\u3010\u5168\u54C15\u500D\u3011NARUTO
        67/ \u5CB8\u672C\u6589\u53F2\",\"itemPrice\":88,\"pointRateEndTime\":\"\",\"shopCode\":\"renet3\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u30CD\u30C3\u30C8\u30AA\u30D5\u697D\u5929\u5E02\u5834\u652F\u5E97\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/renet3/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\",\"genreId\":\"209194\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/renet3/0011895534/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/9443/2000003859443.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\uFF1Cp\uFF1E\u3010\u5C0F\u8AAC\u7248\u767B\u5834\uFF01\u3011\u771F\u5B9F\u3092\u898B\u901A\u3059\u77B3\u3092\u6301\u3061\u3001\u5E0C\u671B\u3068[...]
[...]
