interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-affiliateRate
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u30CA\u30EB\u30C8
        \u30AD\u30E3\u30E9\u30AF\u30BF\u30FC \u30C7\u30B8\u30BF\u30EB \u30D7\u30EA\u30F3\u30C8
        \u30B9\u30C8\u30EC\u30C3\u30C1 \u30EC\u30AE\u30F3\u30B9\",\"catchcopy\":\"\u30AB\u30E9\u30D5\u30EB
        \u30C7\u30B6\u30A4\u30F3 \u30D7\u30EA\u30F3\u30C8 \u30EC\u30AE\u30F3\u30B9
        XL\u307E\u3067 \u30DF\u30C3\u30AF\u30B9\",\"itemCode\":\"auc-lovenobland:10037568\",\"itemPrice\":2400,\"itemCaption\":\"\u8907\u6570\u5E97\u8217\u306B\u3066\u5728\u5EAB\u3092\u5171\u6709\u3057\u3066\u3044\u308B\u305F\u3081\u3001\u3054\u6CE8\u6587\u5F8C\u306B\u7D0D\u671F\u306E\u9045\u308C\u3001\u30AD\u30E3\u30F3\u30BB\u30EB\u306A\u3069\u304C\u3042\u308B\u5834\u5408\u304C\u3054\u3056\u3044\u307E\u3059\u3002
        \u5373\u7D0D\u5546\u54C1\u7B49\u3068\u540C\u68B1\u306E\u5834\u5408\u3001\u5546\u54C1\u304C\u5168\u3066\u63C3\u3063\u3066\u304B\u3089\u306E\u914D\u9001\u306B\u306A\u308A\u307E\u3059\u3002\u4F50\u5DDD\u6025\u4FBF\u30BB\u30F3\u30BF\u30FC\u7559\u3081\u53EF\u80FD\u3067\u3059\u3002
        \u4E2D\u8EAB\u304C\u308F\u304B\u3089\u306A\u3044\u3088\u3046\u306B\u914D\u9001\u81F4\u3057\u307E\u3059\u3002S\u30B5\u30A4\u30BA
        \u30A6\u30A8\u30B9\u30C870cm \u30D2\u30C3\u30D790cm M\u30B5\u30A4\u30BA \u30A6\u30A8\u30B9\u30C874cm
        \u30D2\u30C3\u30D794cm L\u30B5\u30A4\u30BA \u30A6\u30A8\u30B9\u30C878cm \u30D2\u30C3\u30D798cm
        XL\u30B5\u30A4\u30BA \u30A6\u30A8\u30B9\u30C882cm \u30D2\u30C3\u30D7102cm
        XXL\u30B5\u30A4\u30BA \u30A6\u30A8\u30B9\u30C886cm \u30D2\u30C3\u30D7106cm\",\"itemUrl\":\"http://item.rakuten.co.jp/auc-lovenobland/lb13478/\",\"shopUrl\":\"http://www.rakuten.co.jp/auc-lovenobland/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478_1.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478_2.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478_1.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-lovenobland/cabinet/leg3/lb13478_2.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":1,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":51.1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"LOVE
        NO BLAND \u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"auc-lovenobland\",\"genreId\":\"403933\",\"tagIds\":[1000319,1000887,1001534]},{\"itemName\":\"\u30CA\u30EB\u30C8
        \u30C7\u30B8\u30BF\u30EB \u30D7\u30EA\u30F3\u30C8 \u30B9\u30C8\u30EC\u30C3\u30C1
        \u30D5\u30C3\u30C8\u30EC\u30B9 \u30EC\u30AE\u30F3\u30B9\",\"catchcopy\":\"\u30AB\u30E9\u30D5\u30EB
        \u30C7\u30B6\u30A4\u30F3 \u30D7\u30EA\u30F3\u30C8 \u30EC\u30AE\u30F3\u30B9
        XL\u307E\u3067 \u30DF\u30C3\u30AF\u30B9\",\"itemCode\":\"auc-lovenobland:10037572\",\"itemPrice\":2400,\"itemCaption\":\"\u8907\u6570\u5E97\u8217\u306B[...]
