interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&formatVersion=2&page=2
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"Mon, 13 Feb 2017 00:00:00 +0900\",\"Items\":[{\"rank\":31,\"carrier\":0,\"itemName\":\"\u3010\u9001\u6599\u7121\u6599\u3011
        \u30EF\u30F3\u30C7\u30FC\u30A2\u30AD\u30E5\u30D3\u30E5\u30FC\u30E2\u30A4\u30B9\u30C8
        90\u679A\u30D1\u30C3\u30AF 2\u7BB1\u30BB\u30C3\u30C8 ( \u30B3\u30F3\u30BF\u30AF\u30C8\u30EC\u30F3\u30BA
        \u30B3\u30F3\u30BF\u30AF\u30C8 1\u65E5\u4F7F\u3044\u6368\u3066 \u30EF\u30F3\u30C7\u30FC
        1day \u30B8\u30E7\u30F3\u30BD\u30F3 \u30E2\u30A4\u30B9\u30C8 ...\",\"catchcopy\":\"\u5168\u30A2\u30A4\u30C6\u30E0\u65B0\u898F\u958B\u5E97\u7279\u4FA1!!\",\"itemCode\":\"lensfactory:10000366\",\"itemPrice\":\"9741\",\"itemCaption\":\"\u25CF\u672C\u88FD\u54C1\u306E\u8CFC\u5165\u65B9\u6CD5\u306F\u3010\u8CFC\u5165\u65B9\u6CD5
        B\u3011\u533B\u7642\u6A5F\u95A2\u540D\u8A18\u5165\u3067\u3059\u3002\u3010\u8CFC\u5165\u65B9\u6CD5
        A\u3011\u51E6\u65B9\u7B8B\u63D0\u51FA\u3042\u308A\u306F\u3053\u3061\u3089\u3002
        \u25CF\u8A73\u3057\u3044\u5546\u54C1\u8AAC\u660E\u306F\u3053\u3061\u3089\u3002\u5E83\u544A\u6587\u8CAC\u682A\u5F0F\u4F1A\u793E\u30D6\u30E9\u30B9\u30C8
        03-3817-0070\u9AD8\u5EA6\u7BA1\u7406\u533B\u76[...]
