interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20170628?applicationId=XXXXXX&formatVersion=2&page=2
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakuten24/cabinet/208/23208.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakuten24/cabinet/208/23208-2.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakuten24/cabinet/208/23208-3.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":\"3.0\",\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"rank\":31,\"itemCaption\":\"\u304A\u5E97TOP\uFF1E\u65E5\u7528\u54C1\uFF1E\u6D17\u6FEF\u7528\u54C1\uFF1E\u6D17\u6FEF\u6D17\u5264\uFF1E\u6DB2\u4F53\u6D17\u5264
        \u8863\u985E\u7528\uFF1E\u30A2\u30EA\u30A8\u30FC\u30EB \u6D17\u6FEF\u6D17\u5264
        \u6DB2\u4F53 \u30A4\u30AA\u30F3\u30D1\u30EF\u30FC\u30B8\u30A7\u30EB \u8A70\u3081\u66FF\u3048
        \u8D85\u30B8\u30E3\u30F3\u30DC (1.62kg*6\u30B3\u30BB\u30C3\u30C8)\u3010\u30A2\u30EA\u30A8\u30FC\u30EB
        \u6D17\u6FEF\u6D17\u5264 \u6DB2\u4F53 \u30A4\u30AA\u30F3\u30D[...]
[...]
