interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&genreId=101240&keyword=Naruto
  response:
    body:
      string: "{\"count\":835,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":28,\"Products\":[{\"productId\":\"cf93e0c8e25327ab753aa3162f3e7a8d\",\"productName\":\"THE\u3000LAST\u3000-NARUTO\u3000THE\u3000MOVIE-\uFF08\u5B8C\u5168\u751F\u7523\u9650\u5B9A\u7248\uFF09/\uFF24\uFF36\uFF24/ANZB-11371\",\"productNo\":\"ANZB-11371\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/cf93e0c8e25327ab753aa3162f3e7a8d/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/cf93e0c8e25327ab753aa3162f3e7a8d/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/085/450/10010004534530085450_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/085/450/10010004534530085450_1.jpg?_ex=128x128\",\"productCaption\":\"\u300ENARUTO-\u30CA\u30EB\u30C8-\u300F\u5B8C\u7D50\uFF01\u30CA\u30EB\u30C8\u3068\u30B5\u30B9\u30B1\u306E\u56E0\u7E01\u306E\u6226\u3044\u304C\u6C7A\u7740\u3057\u305F\u6728\u30CE\u8449\u96A0\u308C\u306E\u91CC\u304B\u30892\u5E74\u5F8C\u3092\u63CF\u304F-\u3002\u8C6A\u83EF\u7279\u5178\u4ED8\u304D\u306E\u5B8C\u5168\u751F\u7523\u9650\u5B9A\u7248\u3002\",\"releaseDate\":\"2015\u5E747\u670822\u65E5\",\"makerCode\":\"104534530\",\"makerName\":\"\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerNameKana\":\"\u30A2\u30CB\u30D7\u30EC\u30C4\u30AF\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/101953/104534530/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/101953/104534530/\",\"itemCount\":30,\"salesItemCount\":19,\"usedExcludeCount\":21,\"usedExcludeSalesItemCount\":13,\"maxPrice\":5968,\"salesMaxPrice\":5968,\"usedExcludeMaxPrice\":5968,\"usedExcludeSalesMaxPrice\":5968,\"minPrice\":1518,\"salesMinPrice\":1677,\"usedExcludeMinPrice\":2250,\"usedExcludeSalesMinPrice\":4186,\"averagePrice\":4025,\"reviewCount\":22,\"reviewAverage\":4.55,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/cf93e0c8e25327ab753aa3162f3e7a8d/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/cf93e0c8e25327ab753aa3162f3e7a8d/review/\",\"rank\":6033,\"rankTargetGenreId\":\"101374\",\"rankTargetProductCount\":61863,\"genreId\":\"101953\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u51FA\u6F14\",\"value\":\"\u68EE\u4E45\u4FDD\u7965\u592A\u90CE\u3001\u6C34\u6A39\u5948\u3005\u3001\u7AF9\u5185\u9806\u5B50\u3001\u4E2D\u6751\u5343\u7D75\u3001\u65E5\u91CE\u8061\"},{\"name\":\"\u76E3\u7763\",\"value\":\"\u5C0F\u6797\u5E38\u592B\"},{\"name\":\"\u53D7\u8CDE\",\"value\":\"---\"},{\"name\":\"\u88FD\u4F5C\u5E74\",\"value\":\"2014\u5E74\"},{\"name\":\"\u88FD\u4F5C\u56FD\u540D\",\"value\":\"\u65E5\u672C\"},{\"name\":\"\u3042\u3089\u3059\u3058\",\"value\":\"---\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\",\"value\[...]
[...]
