interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&minPrice=100000
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-01.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-02.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-03.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"Tsume
        Art -\u30C4\u30E1\u30A2\u30FC\u30C8- NARUTO \u3046\u3061\u306F\u30DE\u30C0\u30E9
        HQS VARIATION Item Information \u30B5\u30A4\u30BA \u9AD8\u3055 52cm x \u5E45
        63cm x \u5965\u884C 61cm\",\"catchcopy\":\"\",\"tagIds\":[1001161],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-01.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-02.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/selectopia/cabinet/product/tsume-madara-hqs-03.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"selectopia:10000098\",\"postageFlag\":0,\"itemName\":\"Tsume
        Art -\u30C4\u30E1\u30A2\u30FC\u30C8- NARUTO \u3046\u3061\u306F\u30DE\u30C0\u30E9
        HQS\",\"itemPrice\":248000,\"pointRateEndTime\":\"\",\"shopCode\":\"selectopia\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"Selectopia\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/selectopia/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\",\"genreId\":\"112203\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/selectopia/tsume-madara-hqs/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/clothoid/cabinet/03431336/imgrc0063857912.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/clothoid/cabinet/03431336/imgrc0063857913.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/clothoid/cabinet/03431336/imgrc0063857914.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asuraku[...]
[...]
