interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&shipOverseasArea=ALL&shipOverseasFlag=1
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/utopia/cabinet/item09/090130_naruto_01.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/utopia/cabinet/item09/img55533980.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":5,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u6F01\u6E2F\u306E\u753A\u3001\u713C\u6D25\u304B\u3089\u65B0\u9BAE\u9B5A\u305F\u3063\u3077\u308A\u7DF4\u308A\u3053\u3093\u3060\u3001\u308F\u3093\u3061\u3083\u3093\u3001\u306D\u3053\u3061\u3083\u3093\u7528\u306ENARUTO\u30C1\u30C3\u30D7\u3067\u3059\u3002\u9B5A\u8089\u52B9\u679C\u3067\u624B\u8EFD\u306B\u30AB\u30EB\u30B7\u30A6\u30E0\u6442\u53D6\uFF01
        \u25A0\u751F\u7523\u5730\uFF1A\u9759\u5CA1\u770C\u713C\u6D25\u5E02 \u25A0\u6210\u5206
        \u7C97\u30BF\u30F3\u30D1\u30AF\u8CEA\u20266.0\uFF05\u4EE5\u4E0A \u7C97\u8102\u80AA\u20261.0\uFF05\u4EE5\u4E0A
        \u7C97\u7E4A\u7DAD\u20260.1\uFF05\u4EE5\u4E0B \u7C97\u7070\u5206\u20262.8\uFF05\u4EE5\u4E0B
        \u6C34\u5206\u202648\uFF05\u4EE5\u4E0B 202kcal\uFF0F100g\u3042\u305F\u308A\u539F\u6750\u6599
        \u30BF\u30E9\u3001\u6FB1\u7C89\u3001\u5927\u8C46\u3001\u98DF\u5869\u3001\u7D05\u9EB9\u8272\u7D20
        \u4FDD\u8A3C\u6210\u5206 \u7C97\u30BF\u30F3\u30D1\u30AF\u8CEA 6.0\uFF05\u4EE5\u4E0A
        \u7C97\u8102\u80AA 1.0\uFF05\u4EE5\u4E0A \u7C97\u7E4A\u7DAD 0.1\uFF05\u4EE5\u4E0B
        \u7C97\u7070\u5206 2.8\uFF05\u4EE5\u4E0B \u6C34\u5206 48.0\uFF05\u4EE5\u4E0B
        \u4EE3\u8B1D\u30A8\u30CD\u30EB\u30AE\u30FC 202kcal/40g \u539F\u7523\u56FD
        \u65E5\u672C \u5185\u5BB9\u91CF 90g\",\"catchcopy\":\"\u3010\u56FD\u7523\u54C1\u3011\u713C\u6D25\u306E\u65B0\u9BAE\u9B5A\u3092\u305F\u3063\u3077\u308A\u7DF4\u308A\u307F\u307E\u3057\u305F\",\"tagIds\":[1017398],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/utopia/cabinet/item09/090130_naruto_01.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/utopia/cabinet/item09/img55533980.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"utopia:10014607\",\"postageFlag\":1,\"itemName\":\"Nana
        \u72AC\u732B\u5FA1\u81B3 NARUTO\uFF08\u9B5A\u8089\u306A\u308B\u3068\u30C1\u30C3\u30D7\uFF09
        90g \u3010\u72AC\u7528\u304A\u3084\u3064\u30FB\u732B\u7528\u304A\u3084\u3064/\u72AC\u306E\u304A\u3084\u3064\u30FB\u732B\u306E\u304A\u3084\u3064/\u72AC\u306E\u30AA\u30E4\u30C4\u30FB\u732B\u306E\u30AA\u30E4\u30C4\u3011\u3010\u72AC\u7528\u54C1/\u732B\u7528\u54C1\u30FB\u732B/\u30DA\u30C3\u30C8\u30FB\u30DA\u30C3\u30C8\u30B0\u30C3\u30BA/\u30DA\u30C3\u30C8\u7528\u54C1\u3011\",\"itemPrice\":493,\"pointRateEndTime\":\"\",\"shopCode\":\"utopia\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u3086\u30FC\u3068\u3074\u3042\u301C\u732B\u7528\u54C1\u5C02\u9580\u5E97\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/utopia/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\u30EF\u30FC\u30EB\u30C9\u30EF\u30A4\u30C9\",\"genreId\":\"112114\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/utopia/10016506/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/toytoifactory/cabinet/image15/naturokewpie21_1.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/toytoifactory/cabinet/image15/naturokewpie21_2.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/toytoifactory/cabinet/image15/naturokewpie21_3.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":1,\"asur[...]
[...]
