interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaTag/Search/20140222?applicationId=XXXXXX&formatVersion=2&tagId=1000943
  response:
    body: {string: "{\"tagGroups\":[{\"tagGroupName\":\"\u9774\u306E\u30B9\u30BF\u30A4\u30EB\",\"tagGroupId\":1000114,\"tags\":[{\"tagId\":1000943,\"tagName\":\"\u30AB\u30B8\u30E5\u30A2\u30EB\",\"parentTagId\":0}]}]}"}
    headers:
      Content-Language: [ja-JP]
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
