interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&minPrice=10000
  response:
    body: {string: "{\"count\":36,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":2,\"Products\":[{\"productId\":\"7142bf257ce7d590e55433295189b426\",\"productName\":\"Naruto-\u30CA\u30EB\u30C8-
        1-62 \u5168\u5DFB \u30BB\u30C3\u30C8 \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9
        / \u5CB8\u672C\u6589\u53F2 \u30AD\u30B7\u30E2\u30C8\u30DE\u30B5\u30B7\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/7142bf257ce7d590e55433295189b426/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/7142bf257ce7d590e55433295189b426/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/3001/0005/000/052/146/270/30010005000052146270_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/3001/0005/000/052/146/270/30010005000052146270_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"0\",\"makerName\":\"\",\"makerNameKana\":\"\",\"makerNameFormal\":\"\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/201998/0/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/201998/0/\",\"itemCount\":8,\"salesItemCount\":7,\"usedExcludeCount\":3,\"usedExcludeSalesItemCount\":3,\"maxPrice\":30673,\"salesMaxPrice\":30673,\"usedExcludeMaxPrice\":30673,\"usedExcludeSalesMaxPrice\":30673,\"minPrice\":10989,\"salesMinPrice\":11700,\"usedExcludeMinPrice\":30673,\"usedExcludeSalesMinPrice\":30673,\"averagePrice\":19273,\"reviewCount\":273,\"reviewAverage\":4.32,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/7142bf257ce7d590e55433295189b426/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/7142bf257ce7d590e55433295189b426/review/\",\"rank\":4,\"rankTargetGenreId\":\"201997\",\"rankTargetProductCount\":1065,\"genreId\":\"201998\",\"genreName\":\"\u5168\u5DFB\u30BB\u30C3\u30C8\uFF08\u5C11\u5E74\uFF09\",\"ProductDetails\":[]},{\"productId\":\"c7d4b851b98e2ffdd78be9b8afc48b18\",\"productName\":\"NARUTO\u30AE\u30E3\u30EB\u30BA
        NARUTO\u2010\u30CA\u30EB\u30C8\u2010 \u75BE\u98A8\u4F1D \u65E5\u5411\u30D2\u30CA\u30BF
        \u5B8C\u6210\u54C1\u30D5\u30A3\u30AE\u30E5\u30A2 \u30E1\u30AC\u30CF\u30A6\u30B9\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/c7d4b851b98e2ffdd78be9b8afc48b18/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/c7d4b851b98e2ffd[...]
