interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pointRate=2&pointRateFlag=1
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769156.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769157.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769158.jpg?_ex=128x128\"],\"pointRate\":2,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u203B\u30E1\u30FC\u30AB\u30FC\u5E0C\u671B\u5C0F\u58F2\u4FA1\u683C\u306F\u30E1\u30FC\u30AB\u30FC\u30AB\u30BF\u30ED\u30B0\u306B\u57FA\u3065\u3044\u3066\u63B2\u8F09\u3057\u3066\u3044\u307E\u3059\u3002
        \u88FD\u54C1\u60C5\u5831 \u30B5\u30A4\u30BA 42cm\xD742cm \u7D20\u6750 \u7DBF100\uFF05
        \u30CA\u30D5\u30AD\u30F3 NARUTO \u30CA\u30EB\u30C8 \u30E9\u30F3\u30C1\u30AF\u30ED\u30B9
        \u5B50\u4F9B \u7537\u306E\u5B50 \u30AD\u30E3\u30E9\u30AF\u30BF\u30FC \u5FCD\u8005\",\"catchcopy\":\"\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC
        \u30CF\u30F3\u30AB\u30C1 \u30AD\u30C3\u30BA\u30CF\u30F3\u30AB\u30C1 \u5B50\u4F9B
        \u30CA\u30D5\u30AD\u30F3 \u5165\u5712 \u5165\u5B66 \u30B0\u30C3\u30BA \u30AD\u30C3\u30BA
        \u7537\u5150 \u30CA\u30EB\u30C8 NARUTO \u5FCD\u8005\",\"tagIds\":[1000993,1000994,1000995,1001000,1001001,1001161,1009192],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769156.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769157.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018522/imgrc0079769158.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"cherico:10011587\",\"postageFlag\":1,\"itemName\":\"\u30CA\u30D5\u30AD\u30F3
        NARUTO \u30CA\u30EB\u30C8 \u30E9\u30F3\u30C1\u30AF\u30ED\u30B9 \u5B50\u4F9B
        \u7537\u306E\u5B50 \u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u3010n6150\u3011\",\"itemPrice\":385,\"pointRateEndTime\":\"2019-10-29
        01:59\",\"shopCode\":\"cherico\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u96D1\u8CA8CHERICO\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/cherico/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\u30EF\u30FC\u30EB\u30C9\u30EF\u30A4\u30C9\",\"genreId\":\"551594\",\"pointRateStartTime\":\"2019-10-23
        20:00\",\"itemUrl\":\"https://item.rakuten.co.jp/cherico/n6150/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/towel/t1161.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/cherico/cabinet/06018535/imgrc0082548963.gif?_ex=128x128\"],\"pointRate\":2,\"shopOfTheYearFlag\":0,\"affiliateRate\":4,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u203B\u30E1\u30FC\u30AB\u30FC\u5E0C\u671B\u5C0F\u58F2\u4FA1[...]
[...]
