interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&genreInformationFlag=1&keyword=Naruto
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/animestore/cabinet/06676464/compass1549437199.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/animestore/cabinet/05806903/05883718/compass1548757857.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/animestore/cabinet/05806903/05883718/compass1548757870.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":2,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u5546\u54C1\u60C5\u5831
        \u30BF\u30A4\u30C8\u30EB \u3010\u9001\u6599\u7121\u6599\u3011NARUTO -\u30CA\u30EB\u30C8-
        \u5C11\u5E74\u7DE8 TV\u7248 \u30B3\u30F3\u30D7\u30EA\u30FC\u30C8 DVD-BOX \u30EA\u30DE\u30B9\u30BF\u30FC\u7248
        \u5CB8\u672C\u6589\u53F2 \u9031\u520A\u5C11\u5E74\u30B8\u30E3\u30F3\u30D7
        \u5FCD\u8005 \u30D0\u30C8\u30EB \u30A2\u30CB\u30E1\u53CE\u9332\u8A71\u6570
        \u5168220\u8A71\u53CE\u9332\u6642\u9593 5040\u5206\u30C7\u30A3\u30B9\u30AF\u679A\u657[...]
[...]
