interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&hits=15&keyword=Naruto
  response:
    body:
      string: "{\"count\":13863,\"page\":1,\"first\":1,\"last\":15,\"hits\":15,\"pageCount\":100,\"Products\":[{\"productId\":\"2eda782c366923a45f129b15c90d35eb\",\"productName\":\"\uFF2E\uFF21\uFF32\uFF35\uFF34\uFF2F
        \ \uFF11 /\u96C6\u82F1\u793E/\u5CB8\u672C\u6589\u53F2\",\"productNo\":\"9784088728407\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/2eda782c366923a45f129b15c90d35eb/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/2eda782c366923a45f129b15c90d35eb/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/728/407/20010009784088728407_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/2001/0009/784/088/728/407/20010009784088728407_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"2000\u5E743\u67083\u65E5\",\"makerCode\":\"20978408\",\"makerName\":\"\u96C6\u82F1\u793E\",\"makerNameKana\":\"\u30B7\u30E6\u30A6\u30A8\u30A4\u30B7\u30E4\",\"makerNameFormal\":\"\u96C6\u82F1\u793E\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/209194/20978408/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/209194/20978408/\",\"itemCount\":51,\"salesItemCount\":37,\"usedExcludeCount\":12,\"usedExcludeSalesItemCount\":12,\"maxPrice\":15080,\"salesMaxPrice\":15080,\"usedExcludeMaxPrice\":518,\"usedExcludeSalesMaxPrice\":518,\"minPrice\":88,\"salesMinPrice\":88,\"usedExcludeMinPrice\":408,\"usedExcludeSalesMinPrice\":408,\"averagePrice\":1814,\"reviewCount\":62,\"reviewAverage\":4.77,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/2eda782c366923a45f129b15c90d35eb/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/2eda782c366923a45f129b15c90d35eb/review/\",\"rank\":28506,\"rankTargetGenreId\":\"201975\",\"rankTargetProductCount\":44606,\"genreId\":\"209194\",\"genreName\":\"\u96C6\u82F1\u793E
        \u30B8\u30E3\u30F3\u30D7C\",\"ProductDetails\":[{\"name\":\"\u66F8\u540D\u30AB\u30CA\",\"value\":\"\u30CA\u30EB\u30C8
        1\"},{\"name\":\"\u8457\u8005\u540D\",\"value\":\"\u5CB8\u672C\u6589\u53F2\"},{\"name\":\"\u8457\u8005\u540D\u30AB\u30CA\",\"value\":\"\u30AD\u30B7\u30E2\u30C8,\u30DE\u30B5\u30B7\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\",\"value\":\"\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\u540D\u30AB\u30CA\",\"value\":\"\u30B8\u30E3\u30F3\u30D7
        \u30B3\u30DF\u30C3\u30AF\u30B9\"},{\"name\":\"\u767A\u884C\u8005\",\"val[...]
[...]
