interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=XXXXXX&formatVersion=2&page=2
  response:
    body: {string: "{\"title\":\"\u3010\u697D\u5929\u5E02\u5834\u3011\u30E9\u30F3\u30AD\u30F3\u30B0\u5E02\u5834
        \u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"Mon, 20 Feb 2017 00:00:00 +0900\",\"Items\":[{\"rank\":31,\"carrier\":0,\"itemName\":\"\u26052016\u5E74\u30DA\u30C3\u30C8\u30B8\u30E3\u30F3\u30EB\u5E74\u9593\u30E9\u30F3\u30AD\u30F3\u30B01\u4F4D\u2605\u3010\u9001\u6599\u7121\u6599\u3011
        1\u56DE\u4F7F\u3044\u6368\u3066 \u8584\u578B\u30DA\u30C3\u30C8\u30B7\u30FC\u30C4\u30EC\u30AE\u30E5\u30E9\u30FC800\u679A\u5165
        \u30EF\u30A4\u30C9400\u679A\u5165\u72AC \u8584\u578B \u30B7\u30FC\u30C8 \u30B7\u30FC\u30C4
        \u30C8\u30A4\u30EC...\",\"catchcopy\":\"\u26052016\u5E74\u30DA\u30C3\u30C8\u30B8\u30E3\u30F3\u30EB\u5E74\u9593\u30E9\u30F3\u30AD\u30F3\u30B01\u4F4D\u2605\",\"itemCode\":\"dog-kan:10004557\",\"itemPrice\":\"3240\",\"itemCaption\":\"2016\u5E74\u30DA\u30C3\u30C8\u30B8\u30E3\u30F3\u30EB\u5E74\u9593\u30E9\u30F3\u30AD\u30F3\u30B01\u4F4D\u2606(\u53D7\u8CDE\u65E5\uFF1A2016\u5E7412\u670816\u65E5)
        \uFF1E\uFF1E\uFF1E\u307E\u305A\u306F\u304A\u8A66\u3057\u30BF\u30A4\u30D7\u304B\u3089\uFF01\uFF01\uFF01\u203B\u3053\u3061\u3089\u306F\u6BB5\u30DC\u30FC\u30EB1\u30B1\u30FC\u30B9\u3067\u3072\u3068\u3064\u306E\u5546\u54C1\u3067\u3059\u3002\u6BB5\u30DC\u30FC\u30EB\u958B\u5C01\u5F8C\u306E\u8FD4\u54C1\u306F\u627F\u308B\u4E8B\u306F\u306[...]
