interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pamphletFlag=1
  response:
    body: {string: "{\"count\":77,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":3,\"Items\":[{\"itemName\":\"\u3010\u30E1\u30FC\u30EB\u4FBF\u5BFE\u5FDC\u30FB\u30E1\u30FC\u30EB\u4FBF\u9001\u6599\u7121\u6599\u3011NARUTO-\u30CA\u30EB\u30C8-\u75BE\u98A8\u4F1D\u3000\u30AA\u30EA\u30B8\u30CA\u30EB\u30A6\u30A9\u30FC\u30EB\u30B9\u30C6\u30C3\u30AB\u30FC\uFF08\u58C1\u306A\u3069\u306E\u30C7\u30B3\u30B7\u30FC\u30EB\uFF09\u300011.5cm\xD711.5cm\",\"catchcopy\":\"\u58C1\u3084\u5BB6\u5177\u306B\u8CBC\u308C\u308B\u53EF\u611B\u3044\u30B7\u30FC\u30EB\uFF01SD\u30AD\u30E3\u30E9\u306E\u30CA\u30EB\u30C8\u305F\u3061\u304C\u304A\u90E8\u5C4B\u3092\u5F69\u308A\u307E\u3059\uFF01\",\"itemCode\":\"re-wall:10001432\",\"itemPrice\":500,\"itemCaption\":\"\u30CA\u30EB\u30C8\u3000\u306A\u308B\u3068\u3000NARUTO
        \u30B7\u30FC\u30EB\u3000\u30B9\u30C6\u30C3\u30AB\u30FCNARUTO-\u30CA\u30EB\u30C8-\u75BE\u98A8\u4F1D\u30AA\u30EA\u30B8\u30CA\u30EB
        \u30A4\u30F3\u30C6\u30EA\u30A2\u30A2\u30FC\u30C8\u30B7\u30FC\u30EB \u30B7\u30FC\u30C8\u30B5\u30A4\u30BA\u3000H115mm\xD7W115mm
        \u2605NARUTO\u30AA\u30EA\u30B8\u30CA\u30EB\u5546\u54C1\u306E\u30D0\u30EA\u30A8\u30FC\u30B7\u30E7\u30F3\u306F\u3053\u3061\u3089\u2605
        45cm\xD745cm\u306E\u58C[...]
