interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20170628?applicationId=XXXXXX&carrier=0&formatVersion=2
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9839/2100011779839.gif?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":\"2.0\",\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"rank\":1,\"itemCaption\":\"Kis\u30FCMy\u30FCFt2\u30E9\u30A4\u30D6\u30C4\u30A2\u30FC\u30CB\u30BB\u30F3\u30B8\u30E5\u30A6\u30AD\u30E5\u30A6\u30D5\u30EA\u30FC\u30CF\u30B0\u30BA
        \u30AD\u30B9\u30DE\u30A4\u30D5\u30C3\u30C8\u30C4\u30FC \u767A\u58F2\u65E5\uFF1A2019\u5E7412\u670811\u65E5
        \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2019\u5E7412\u670807\u65E5 \u30A8\u30A4\u30D9\u30C3\u30AF\u30B9\u30FB\u30A8\u30F3\u30BF\u30C6\u30A4\u30F3\u30E1\u30F3\u30C8(\u682A)
        \u521D\u56DE\u9650\u5B9A JAN\uFF1A2100011779839 DVD \u30D6\u30EB\u30FC\u30EC\u30A4
        \u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30FB\u30E9\u30A4\u30D6\u6620\u50CF\",\"catchcopy\":\"\u3010\u697D\u5929\u30D6\u30C3\u30AF\u30B9\u306A\u3089\u3044\u3064\u3067\u3082\u9001\u6599\u7121\u6599\u3011\",\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/9839/2100011779839.gif?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"carrier\":0,\"imageFlag\":1,\"shopAffiliateUrl\":\"\",\"availability\":1,\"itemCode\":\"book:19818248\",\"postageFlag\":0,\"itemName\":\"\u3010\u30BB\u30C3\u30C8\u7D44\u3011\u3010\u5148\u7740\u7279\u5178\u3011LIVE
        TOUR 2019 FREE HUGS!(\u521D\u56DE\u76E4)\uFF06(\u901A\u5E38\u76E4)\uFF06(Blu-ray\u76E4)(\u30AA\u30EA\u30B8\u30CA\u30EB\u30D5\u30A9\u30C8\u30AB\u30FC\u30C98\u679A\u30BB\u30C3\u30C8\uFF1CA\uFF1E\u30FB\uFF1CB\uFF1E\u30FB\uFF1CC\uFF1E\u4ED8\u304D)
        [ Kis-My-Ft2 ]\",\"itemPrice\":\"20754\",\"pointRateEndTime\":\"\",\"shopCode\":\"book\",\"affiliateUrl\":\"\",\"shopName\":\"\u697D\u5929\u30D6\u30C3\u30AF\u30B9\",\"asurakuArea\":\"\",\"reviewCount\":2,\"shopUrl\":\"https://www.rakuten.co.jp/book/\",\"creditCardFlag\":1,\"reviewAverage\":\"5.0\",\"shipOverseasArea\":\"\",\"genreId\":\"505042\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/book/16101245/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/seedcoms/cabinet/images/thum/cpn/kom1_c75.jpg?_ex=128x128\"],\"pointRate\":10,\"shopOfTheYearFlag\":1,\"affiliateRate\":\"5.0\",\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"2023-08-22
        06:42\",\"taxFlag\":0,\"startTime\":\"2019-08-30 15:00\",\"rank\":2,\"itemCaption\":\"\u5185\u5BB9\u91CF
        1\u7C92\u91CD\u91CF465mg\xD730\u7C92\u3000\u7D041\u30F6\u6708\u5206 [...]
[...]
