interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BupdateTimestamp
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u30AF\u30CA\u30A4\u3000\u30CA\u30EB\u30C8!?
        \u5FCD\u8005\u30B3\u30B9\u30D7\u30EC\u3000(ZS-9457) \u30D7\u30E9\u30B9\u30C1\u30C3\u30AF\u88FD\",\"catchcopy\":\"\",\"itemCode\":\"auc-hs-ensyu:10001053\",\"itemPrice\":967,\"itemCaption\":\"\u6F2B\u9F8D\u5200\u5263
        \u30B3\u30B9\u30D7\u30EC\u30B0\u30C3\u30BA\uFF01 \u5168\u9577\uFF1A\u7D0426cm\u91CD\u91CF\uFF1A\u7D0450g\u6750\u8CEA\uFF1A\u30D7\u30E9\u30B9\u30C1\u30C3\u30AF
        \u203B\u5199\u771F\u306E\u30E9\u30A4\u30BF\u30FC\u306F\u4ED8\u5C5E\u3057\u307E\u305B\u3093\u25A0\u7121\u4FDD\u8A3C\u6295\u51FD\u4FBF
        \u767A\u9001\u5BFE\u5FDC\u54C1\uFF08\u5358\u54C1\u6642\u306E\u307F\uFF09\",\"itemUrl\":\"http://item.rakuten.co.jp/auc-hs-ensyu/10001053/\",\"shopUrl\":\"http://www.rakuten.co.jp/auc-hs-ensyu/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-hs-ensyu/cabinet/03633646/img61590447.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-hs-ensyu/cabinet/03633646/img61590448.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-hs-ensyu/cabinet/03633646/img61590447.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-hs-ensyu/cabinet/03633646/img61590448.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":1,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u30DB\u30D3\u30FC\u30B7\u30E7\u30C3\u30D7\u9060\u5DDE\u5C4B\u3000\u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"auc-hs-ensyu\",\"genreId\":\"213780\",\"tagIds\":[]},{\"itemName\":\"NARUTO
        \u5F71\u5206\u8EAB\u30AF\u30EA\u30FC\u30CA\u30FC\",\"catchcopy\":\"\u3010\u30E1\u30FC\u30EB\u4FBF\u53EF\u80FD\u3011\",\"itemCode\":\"bossleaf:10001438\",\"itemPrice\":580,\"itemCaption\":\"\u30CA\u30EB\u30C8\u5F71\u5206\u8EAB\u30AF\u30EA\u30FC\u30CA\u30FC\u3067\u3059\u3002\",\"itemUrl\":\"http://item.rakuten.co.jp/bossleaf/10002067/\",\"shopUrl\":\"http://www.rakuten.co.jp/bossleaf/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/bossleaf/c[...]
