interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&hasMovieFlag=1&keyword=Naruto
  response:
    body: {string: "{\"count\":29980,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA
        NARUTO\xD7PansonWorks \u624B\u5E33\u578B\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9
        \u3044\u3063\u3071\u3044 \u306F\u305F\u3051\u30AB\u30AB\u30B7 / for Xperia
        Z2 SO-03F/docomo\u30C9\u30B3\u30E2 so-03f \u30B1\u30FC\u30B9 so-03f \u30AB\u30D0\u30FC
        so03f \u30B1\u30FC\u30B9 so03f \u30AB\u30D0\u30FC xperia z2 \u30B1\u30FC\u30B9
        xperia z2 \u30AB\u30D0\u30FC\",\"catchcopy\":\"docomo Xperia Z2 SO-03F\u7528\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9\u30FB\u30B9\u30DE\u30DB\u30AB\u30D0\u30FC\uFF08\u624B\u5E33\u578B\u30B1\u30FC\u30B9\uFF09\",\"itemCode\":\"casecamp:10865705\",\"itemPrice\":3456,\"itemCaption\":\"\u7D20\u6750\u624B\u5E33\u90E8\u5206\uFF0F\u5408\u6210\u76AE\u9769\u30B1\u30FC\u30B9\u90E8\u5206\uFF0F\u30D7\u30E9\u30B9\u30C1\u30C3\u30AF\u52A0\u5DE5\u65E5\u672C\u539F\u7523\u56FD\u4E2D\u56FD\u5BFE\u5FDC\u6A5F\u7A2EXperia
        Z3/SoftBank\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9/\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30AB\u30D0\u30FC/\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9/\u30B9\u30DE\u30DB\u30AB\u30D0\u30FC/\u30B9\u30DE[...]
