interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&giftFlag=1&keyword=Naruto
  response:
    body: {string: "{\"count\":121,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":5,\"Items\":[{\"itemName\":\"\u5168\u56FD\u4E00\u5F8B\u9001\u6599\u7121\u6599\uFF01\u30A2\u30CB\u30E1
        \u30B3\u30B9\u30D7\u30EC\u8863\u88C5 \u3000 NARUTO\u3000\u30DC\u30EB\u30C8
        \u30CA\u30EB\u30C8\u30FB\u30B6\u30FB\u30E0\u30FC\u30D3\u30FC\u3000\u5287\u5834\u7248\u3000NARUTO
        THE MOVIE\u3000\u6625\u91CE\u30B5\u30AF\u30E9\u3000\u9AD8\u54C1\u8CEA\u65B0\u54C1
        Cosplay \u30B3\u30B9\u30C1\u30E5\u30FC\u30E0\",\"catchcopy\":\"\u3046\u3061\u306F\u30B5\u30B9\u30B1\u3000\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\uFF5C\u30DF\u30C4\u30AD\u3000\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\uFF5C\u6625\u91CE\u30B5\u30AF\u30E9\u3000\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\uFF5C\u3046\u305A\u307E\u304D\u30DC\u30EB\u30C8\u3000\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\uFF5C\u3046\u3061\u306F\u30B5\u30E9\u30C0\u3000\u30B3\u30B9\u30D7\u30EC\u8863\u88C5\",\"itemCode\":\"auc-asianresources:10006700\",\"itemPrice\":9000,\"itemCaption\":\".\u2606.&#12539;\u2234.&#12539;\u2235\u2606:*&#12539;\u2235.:*&#12539;\u2606.\u2606.\u3002.:*,\u2605
        :*&#12539;\u2235.:\u2606.\u3002.:*&#12539;:*&#12539;\u2235.\u2606:*&#12539;\u2235.\u309C
        \u719F\u7DF4\u306E\u8077\u4EBA\u3068\u5C02\u9580\u306E\u30C7\u30B6\u30A4\u30CA\u30FC\u304C\u88FD\u4F5C\u3057\u305F\u9AD8\u54C1\u8CEA\u306E\u81EA\u4FE1\u4F5C\u3067\u3059\u3002
        \u25A0 \u25A0\u5546\u54C1\u8A73\u7D30\u25A0 \u25A0 \u3000 &#10047;\u3010\u30BB\u30C3\u30C8\u5185\u5BB9\u3011\u4E0A\u7740\uFF0B\u30BA\u30DC\u30F3+\u8155\u8F2A
        &#10047;\u3010\u5546\u54C1\u72B6\u614B\u3011\u65B0\u54C1\u672A\u4F7F\u7528\u54C1
        &#10047;\u3010\u4F7F\u7528\u7D20\u6750\u3011\u30DD\u30EA\u30A8\u30B9\u30C6\u30EB\uFF5C\u305D\u306E\u4ED6
        &#10047;\u3010\u30B5\u30A4\u30BA\u3011\u30B5\u30A4\u30BA\u8868\u3092\u3054\u53C2\u7167\u304F\u3060\u3055\u3044\u3002
        &#10047;\u3010\u5236\u4F5C\u6642\u9593\u3011\u3054\u5165\u91D1\u78BA\u8A8D\u5F8C\u300112-15\u55B6\u696D\u65E5\u7D0D\u54C1\u304C\u3067\u304D\u307E\u3059\u3002
        \u25A0 \u25A0\u30B5\u30A4\u30BA\u25A0 \u25A0 \u3000 .\u2606.&#12539;\u2234.&#12539;\u2235\u2606:*&#12539;\u2235.:*&#12539;\u2606.\u2606.\u3002.:*,\u2605
        :*&#12539;\u2235.:\u2606.\u3002.:*&#12539;:*&#12539;\u2235.\u2606:*&#12539;\u2235.\u309C\",\"itemUrl\":\"http://item.rakuten.co.jp/auc-asianresources/c0142/\",\"shopUrl\":\"http://www.rakuten.co.jp/auc-asianresources/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812026.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812027.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812029.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812026.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812027.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/auc-asianresources/cabinet/03817222/04642112/imgrc0066812029.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":1,\"shopName\":\"asian
        resources\",\"shopCode\":\"auc-asianresources\",\"genreId\":\"303776\",\"tagIds\":[]},{\"itemName\":\"\u30E1\u30AC\u30CF\u30A6\u30B9
        G.E.M.\u30B7\u30EA\u30FC\u30BA NARUTO\u75BE\u98A8\u4F1D \u30CA\u30EB\u30C8
        \u306F\u305F\u3051\u30AB\u30AB\u30B7 \u6697\u90E8ver.\",\"catchcopy\":\"\u9001\u6599\u30FB\u5404\u7A2E\u30E9\u30C3\u30D4\u30F3\u30B0\u7121\u6599\uFF0B\u771F\u5FC3\u3092\u304A\u7D04\u675F\u3002\",\"itemCode\":\"allblue:10005040\",\"itemPrice\":45800,\"itemCaption\":\"\u4EBA\u6C17\u306E\u306F\u305F\u3051\u30AB\u30AB\u30B7\u3092\u6697\u90E8\u7BC7\u306E\u8863\[...]
