interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaTag/Search/20140222?applicationId=XXXXXX&formatVersion=2&tagId=1000943
  response:
    body:
      string: "{\"tagGroups\":[{\"tags\":[{\"parentTagId\":0,\"tagName\":\"\u30AB\u30B8\u30E5\u30A2\u30EB\",\"tagId\":1000943}],\"tagGroupId\":1000114,\"tagGroupName\":\"\u9774\u306E\u5229\u7528\u30B7\u30FC\u30F3\uFF0FTPO\"}]}"
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaTag/Search/20140222?applicationId=XXXXXX&formatVersion=2&tagId=1000943
  response:
    body:
      string: "{\"tagGroups\":[{\"tags\":[{\"parentTagId\":0,\"tagName\":\"\u30AB\u30B8\u30E5\u30A2\u30EB\",\"tagId\":1000943}],\"tagGroupId\":1000114,\"tagGroupName\":\"\u9774\u306E\u5229\u7528\u30B7\u30FC\u30F3\uFF0FTPO\"}]}"
    headers:
      Content-Language:
      - ja-JP
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
