interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BreviewAverage
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u5149\u6CA2\u306A\u3057\u3011
        \u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA NARUTO\xD7PansonWorks
        \u3044\u3063\u3071\u3044 \u306F\u305F\u3051\u30AB\u30AB\u30B7 \uFF08\u30AF\u30EA\u30A2\uFF09
        / for Disney Mobile on docomo SH-05F/docomosh05f \u30B1\u30FC\u30B9 sh05f
        \u30AB\u30D0\u30FC sh05f\u30B1\u30FC\u30B9 sh05f\u30AB\u30D0\u30FC sh05f \u30DF\u30C3\u30AD\u30FC
        sh05f \u30C7\u30A3\u30BA\u30CB\u30FC\",\"catchcopy\":\"docomo Disney Mobile
        on docomo SH-05F\u7528\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9\u30FB\u30B9\u30DE\u30DB\u30AB\u30D0\u30FC\uFF08\u30CF\u30FC\u30C9\u30B1\u30FC\u30B9\uFF09\",\"itemCode\":\"casecamp:10686735\",\"itemPrice\":3240,\"itemCaption\":\"\u7D20\u6750\u30B1\u30FC\u30B9\u672C\u4F53\uFF0F\u30DD\u30EA\u30AB\u30FC\u30DC\u30CD\u30FC\u30C8\u52A0\u5DE5UV\u786C\u5316\u578B\u30A4\u30F3\u30AF\u5370\u5237\u7BC4\u56F2\u5E73\u9762\u30D7\u30EA\u30F3\u30C8\uFF08\u5074\u9762\u306B\u30D7\u30EA\u30F3\u30C8\u306F\u5165\u308A\u307E\u305B\u3093\uFF09\u5BFE\u5FDC\u6A5F\u7A2EDisney
        Mobile on docomo SH-05F/docomo\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011disney
        mobile on docomo sh-05f \u30B1\u30FC\u30B9 disney mobile on docomo sh-[...]
