interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-satisfied
  response:
    body: {string: "{\"count\":17367,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"469f2b4806ee2ba35f64cb6dcd073258\",\"productName\":\"\uFF08\u30B9\u30DE\u30DB\u30B1\u30FC\u30B9\uFF09\u30CA\u30EB\u30C8\u75BE\u98A8\u4F1D\u30B7\u30EA\u30FC\u30BA
        NARUTO\xD7PansonWorks \u3044\u3063\u3071\u3044 \u306F\u305F\u3051\u30AB\u30AB\u30B7
        \uFF08\u30AF\u30EA\u30A2\uFF09/ for GALAXY S III \u03B1 SC-03E/docomo\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/469f2b4806ee2ba35f64cb6dcd073258/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/469f2b4806ee2ba35f64cb6dcd073258/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/589/907/777/254/10010004589907777254_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/589/907/777/254/10010004589907777254_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"10456249226\",\"makerName\":\"\u30AF\u30AA\u30EA\u30A8\",\"makerNameKana\":\"\u30AF\u30AA\u30EA\u30A8\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30AF\u30AA\u30EA\u30A8\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/560271/10456249226/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/560271/10456249226/\",\"itemCount\":2,\"salesItemCount\":2,\"usedExcludeCount\":2,\"usedExcludeSalesItemCount\":2,\"maxPrice\":3240,\"salesMaxPrice\":3240,\"usedExcludeMaxPrice\":3240,\"usedExcludeSalesMaxPrice\":3240,\"minPrice\":3240,\"salesMinPrice\":3240,\"usedExcludeMinPrice\":3240,\"usedExcludeSalesMinPrice\":3240,\"averagePrice\":3240,\"reviewCount\":1,\"reviewAverage\":5,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/469f2b4806ee2ba35f64cb6dcd073258/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/469f2b4806ee2ba35f64cb6dcd073258/review/\",\"rank\":253499,\"rankTargetGenreId\":\"560271\",\"rankTargetProductCount\":1038661,\"genreId\":\"560271\",\"genreName\":\"\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9\",\"ProductDetails\":[]},{\"productId\":\"35a80d98aed8797f23d5d3104877f622\",\"productName\":\"Hero\u2019s\u3000Come\u3000Back\uFF01\uFF01/\uFF23\uFF24\u30B7\u30F3\u30B0\u30EB\uFF08\uFF11\uFF12\uFF43\uFF4D\uFF09/AICL-1824\",\"productNo\":\"AICL-1824\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/35a80d98aed8797f23d5d3104877f622/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/35a80d98aed8797f23d5d3104877f622/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail[...]
