interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-releaseDate
  response:
    body: {string: "{\"count\":17341,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"25c8a177ce4a82e3090dc50a8cfd90ba\",\"productName\":\"NARUTO-\u30CA\u30EB\u30C8-\u3000\u75BE\u98A8\u4F1D\u3000\u30CA\u30EB\u30C8\u3068\u30B5\u30B9\u30B1\u306E\u7AE0\u30002/\uFF24\uFF36\uFF24/ANSB-12821\",\"productNo\":\"ANSB-12821\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/25c8a177ce4a82e3090dc50a8cfd90ba/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/25c8a177ce4a82e3090dc50a8cfd90ba/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/101/433/10010004534530101433_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/101/433/10010004534530101433_1.jpg?_ex=128x128\",\"productCaption\":\"\u5CB8\u672C\u6589\u53F2\u539F\u4F5C\u306E\u30C6\u30EC\u30D3\u30A2\u30CB\u30E1\u300ENARUTO-\u30CA\u30EB\u30C8-\u75BE\u98A8\u4F1D\u300F\u306EDVD\u30B7\u30EA\u30FC\u30BA\uFF01\u7B2C694\uFF5E697\u8A71\u3092\u53CE\u9332\u3002\",\"releaseDate\":\"2017\u5E745\u670810\u65E5\",\"makerCode\":\"104534530\",\"makerName\":\"\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerNameKana\":\"\u30A2\u30CB\u30D7\u30EC\u30C4\u30AF\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/101953/104534530/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/101953/104534530/\",\"itemCount\":16,\"salesItemCount\":15,\"usedExcludeCount\":15,\"usedExcludeSalesItemCount\":15,\"maxPrice\":4644,\"salesMaxPrice\":4644,\"usedExcludeMaxPrice\":4644,\"usedExcludeSalesMaxPrice\":4644,\"minPrice\":3180,\"salesMinPrice\":3465,\"usedExcludeMinPrice\":3465,\"usedExcludeSalesMinPrice\":3465,\"averagePrice\":3956,\"reviewCount\":0,\"reviewAverage\":0,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/25c8a177ce4a82e3090dc50a8cfd90ba/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/25c8a177ce4a82e3090dc50a8cfd90ba/review/\",\"rank\":426,\"rankTargetGenreId\":\"101374\",\"rankTargetProductCount\":45737,\"genreId\":\"101953\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u51FA\u6F14\",\"value\":\"\u4E95\u4E0A\u548C\u5F66\u3001\u6C5F\u539F\u6B63\u58EB\u3001\u7CF8\u535A\u3001\u67F4\u7530\u79C0\u52DD\u3001\u68EE\u5DDD\u667A\u4E4B\u3001\u77F3\u5DDD\u82F1\u90CE\u3001\u7AF9\u5185\u9806\u5B50\u3001\u5C0F\u5C71\u529B\u4E5F\"},{\"name\":\"\u76E3\u7763\",\"value\":\"\u4F0A\u9054\u52C7\u767B\"},{\"name\":\"\u53D7\u8CDE\",\"value\":\"---\"},{\"name\":\"\u88FD\u4F5C\u5E74\",\"value\":\"2016\u5E74\"},{\"name\":\"\u88FD\u4F5C\u56FD\u540D\",\"value\":\"\u65E5\u672C\"},{\"name\":\"\u3042\u3089\u3059\u3[...]
