interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-seller
  response:
    body: {string: "{\"count\":17367,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"60ff05c58ae9b8b80704e14728e887e7\",\"productName\":\"\u7121\u6DFB\u52A0
        \u7D00\u5DDE\u81EA\u7136\u83D3(\u67FF\u3063\u5A18\uFF08\u304B\u304D\u3063\u3053\uFF09)100g\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/60ff05c58ae9b8b80704e14728e887e7/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/60ff05c58ae9b8b80704e14728e887e7/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/904/330/250/141/10010004904330250141_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/904/330/250/141/10010004904330250141_1.jpg?_ex=128x128\",\"productCaption\":\"\",\"releaseDate\":\"\",\"makerCode\":\"104904330\",\"makerName\":\"\u30CA\u30EB\u30C8\",\"makerNameKana\":\"\u30CA\u30EB\u30C8\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30CA\u30EB\u30C8\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/201014/104904330/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/201014/104904330/\",\"itemCount\":2,\"salesItemCount\":2,\"usedExcludeCount\":2,\"usedExcludeSalesItemCount\":2,\"maxPrice\":1000,\"salesMaxPrice\":1000,\"usedExcludeMaxPrice\":1000,\"usedExcludeSalesMaxPrice\":1000,\"minPrice\":410,\"salesMinPrice\":410,\"usedExcludeMinPrice\":410,\"usedExcludeSalesMinPrice\":410,\"averagePrice\":705,\"reviewCount\":329,\"reviewAverage\":4.45,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/60ff05c58ae9b8b80704e14728e887e7/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/60ff05c58ae9b8b80704e14728e887e7/review/\",\"rank\":1,\"rankTargetGenreId\":\"410853\",\"rankTargetProductCount\":780,\"genreId\":\"201014\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[]},{\"productId\":\"4550d4dd97816dcf74398076f761eb70\",\"productName\":\"\u7D00\u5DDE\u5357\u9AD8\u6885
        \u4F4E\u5869\u3064\u3076\u308C \u6885\u5E72\u3057\u306F\u3061\u307F\u3064\u6885\",\"productNo\":\"\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/4550d4dd97816dcf74398076f761eb70/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/4550d4dd97816dcf74398076f761eb70/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co[...]
