interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-itemPrice
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u8D85\u9AD8\u5727\u6E29\u6C34\u6D17\u6D44\u6A5F\u300CNARUTO\u300D\",\"catchcopy\":\"[HW-1310]\",\"itemCode\":\"otc-shop:10001199\",\"itemPrice\":1464480,\"itemCaption\":\"\u6D17\u6D44\u5410\u51FA\u91CF(L\uFF09
        1300 \u5E38\u7528\u5727/\u6700\u9AD8\u5727\u529B(MPa) 2\uFF0E9\u301C17\uFF0E6/19\uFF0E6
        \u96FB\u6E90 \u4E09\u76F8AC-200V \u6D17\u6D44\u30E2\u30FC\u30BF\u30FC\u99AC\u529B
        7\uFF0E5kW \u4E3B\u30DD\u30F3\u30D7 \u4E09\u9023\u30BB\u30E9\u30DF\u30C3\u30AF\u30B9\u30D7\u30E9\u30F3\u30B8\u30E3\u30FC\u30DD\u30F3\u30D7
        \u4F7F\u7528\u71C3\u6599 \u767D\u706F\u6CB9 \u71C3\u6599\u6D88\u8CBB\u91CF(L/H)
        \u7D049\u301C10 \u6E29\u6C34\u[...]
