interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BreviewAverage
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/dlgl4e_2/dlgl4e-pcnt-214-v25d.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/casecamp/cabinet/casecamp_parts/caution_pcab.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":2,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u7D20\u6750\u30B1\u30FC\u30B9\u672C\u4F53\uFF0F\u30DD\u30EA\u30AB\u30FC\u30DC\u30CD\u30FC\u30C8\u52A0\u5DE5UV\u786C\u5316\u578B\u30A4\u30F3\u30AF\u5370\u5237\u7BC4\u56F2\u5E73\u9762\u30D7\u30EA\u30F3\u30C8\uFF08\u5074\u9762\u306B\u30D7\u30EA\u30F3\u30C8\u306F\u5165\u308A\u307E\u305B\u3093\uFF09\u5BFE\u5FDC\u6A5F\u7A2EOptimus
        G pro L-04E/docomo\u5C02\u7528\u3010\u95A2\u9023\u7528\u8A9E\u3011\u30B9\u30DE\u30FC\u30C8\u30D5\u30A9\u30F3\u30B1\u30FC\u30B9/\u30B9\u30DE\u30FC\u30C8\u30D5\u30A[...]
[...]
