interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-reviewCount
  response:
    body: {string: "{\"count\":50334,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"\u3010\u91CC\u3080\u3059\u3081\u3011\u9078\u3079\u308B!!
        \u5FB3\u5CF6\u770C\u7523\u3010 \u306A\u308B\u3068\u91D1\u6642 \u30115kg M\u30B5\u30A4\u30BA\u2605\u9001\u6599\u7121\u6599\u2605\u3010\u898B\u305F\u76EE\u306B\u8A33\u3042\u308A\u3092\u542B\u3080\u3011\u91CC\u3080\u3059\u3081\u3001\u677E\u8302\u7F8E\u4EBA\u3001\u7518\u59EB\u3001\u5927\u6D25\u3001\u5927\u5B66\u828B\u3001\u5929\u3077\u3089\u3000\u9CF4\u9580\u91D1\u6642\u3000\u3055\u3064\u307E\u3044\u3082
        \u306A\u308B\u3068\u91D1\u6642\u6D3E\uFF1F\u5B89\u7D0D\u828B\u6D3E\uFF1F \u30B5\u30C4\u30DE\u30A4\u30E2/\u85A9\u6469\u828B/\u85A9\u6469\u828B/naruto/\u697D\u5929\u30B9\u30FC\u30D1\u30FC\u30BB\u30FC\u30EB\",\"catchcopy\":\"\u30EC\u30D3\u30E5\u30FC\u4EF6\u6570No\uFF0E1
        !!!! \u4FA1\u683C\u3060\u3051\u3058\u3083\u306A\u3044!!\u597D\u8A55\u4FA1\u3082\u81EA\u6162\u3067\u3059!!!\",\"itemCode\":\"sai-marche-de-sanuki:10000139\",\"itemPrice\":2800,\"itemCaption\":\"\u2606\u3000\u304A\u5C4A\u3051\u3059\u308B\u5185\u5BB9\u3000\u2606
        \u7523\u5730 \u5FB3\u5CF6\u770C\u7523\u3000 \u3055\u3064\u307E\u3044\u3082
        \u30B5\u30A4\u30BA \u304A\u624B\u9803 M \u30B5\u30A4\u30BA \u5185\u5BB9\u91CF
        5kg \uFF08\u7D0428\u500B\u524D\u5F8C\uFF09 \u767A\u9001\u305D\u306E\u4ED6
        \u3053\u3061\u3089\u306E\u5546\u54C1\u306F\u3001\u540C\u68B1\u304C\u3067\u304D\u307E\u305B\u3093\u3002
        \u203B\u4E00\u90E8\u5730\u57DF\u3092\u9664\u304D\u307E\u3059\u3002 \u203B\u304A\u4EFB\u305B\u306E\u3010\u306A\u308B\u3068\u91D1\u6642\u3011\u306F\u2026
        \u2606 JA\u5FB3\u5CF6\u5317\u3000\u3010\u306A\u308B\u3068\u91D1\u6642\u3011
        \u2606 JA\u677E\u8302\u3000\u3000 \u3010\u677E\u8302\u7F8E\u4EBA\u3011 \u2606
        JA\u5168\u8FB2\u3068\u304F\u3057\u307E\u3000\u3010\u7518\u59EB\u3011 \u2606
        JA\u5927\u6D25\u30FB\u963F\u6CE2\u30FB\u9CF4\u9580\u3000\u3010\u9CF4\u9580\u91D1\u6642\u3011
        \u2606 JA\u91CC\u6D66\u3000\u3010\u91CC\u3080\u3059\u3081\u3011 \u2191\u4E0A\u8A18\u306E\u3069\u308C\u304B\u3092\u304A\u5C4A\u3051\u3057\u307E\u3059\u2191\u3000
        \u3000\",\"itemUrl\":\"http://item.rakuten.co.jp/sai-marche-de-sanuki/10000139/\",\"shopUrl\":\"http://www.rakuten.co.jp/sai-marche-de-sanuki/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/2015.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/naruto2.jpg?_ex=64x64\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/imgrc0067258158.jpg?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/2015.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/naruto2.jpg?_ex=128x128\",\"http://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/imgrc0067258158.jpg?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":0,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":885,\"reviewAverage\":4.56,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":1,\"shopName\":\"Sai\u3000\u301CMarche
        de Sanuki\u301C\",\"shopCode\":\"sai-marche-de-sanuki\",\"genreId\":\"304645\",\"tagIds\":[]},{\"itemName\":\"\u3010NO.1\u3011\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC\u30CF\u30F3\u30AB\u30C1\u266A/\u30C8\u30EA\u30B3/\u30EF\u30F3\u30D4\u30FC\u30B9/\u306F\u3093\u304B\u3061
        /\u30DD\u30B1\u30E2\u30F3/\u4EEE\u9762\u30E9\u30A4\u30C0\u30FC/\u30CA\u30EB\u30C8/\u30A6\u30EB\u30C8\u30E9\u30DE\u30F3/\u30B3\u30CA\u30F3/\u30A2\u30F3\u30D1\u30F3\u30DE\u30F3/\u30C8\u30FC\u30DE\u30B9/\u30AB\u30FC\u30BA/\u30C8\u30DF\u30AB/\u30CF\u30F3\u30AB\u30C1\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC/\u30D7\u30E9\u3[...]
