interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BaffiliateRate
  response:
    body: {string: "{\"count\":50575,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"carrier\":0,\"pageCount\":100,\"Items\":[{\"itemName\":\"NARUTO
        37 / \u5CB8\u672C\u6589\u53F2 / \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\u3010\u4E2D\u53E4\u3011afb\",\"catchcopy\":\"\",\"itemCode\":\"booksuper-itoh:11266948\",\"itemPrice\":157,\"itemCaption\":\"\u5546\u54C1\u72B6\u614B\uFF1A\u30AB\u30D0\u30FC\u3084\u672C\u4F53\u306B\u65E5\u713C\u3051\u3084\u30B9\u30EC\u7B49\u306E\u4F7F\u7528\u611F\u304C\u3042\u308A\u307E\u3059\u3002\u4E07\u304C\u4E00\u54C1\u8CEA\u306B\u4E0D\u5099\u304C\u3042\u3063\u305F\u5834\u5408\u306F\u8FD4\u91D1\u5BFE\u5FDC\u3044\u305F\u3057\u307E\u3059\u3002\u5E2F\u30FB\u30C1\u30E9\u30B7\u7B49\u306E\u5C01\u5165\u7269\u306F\u539F\u5247\u3068\u3057\u3066\u4ED8\u5C5E\u3057\u3066\u304A\u308A\u307E\u305B\u3093\u3002\u4ED6\u30B5\u30A4\u30C8\u3067\u3082\u8CA9\u58F2\u3057\u3066\u3044\u308B\u305F\u3081\u3001\u6642\u9593\u5DEE\u3067\u5728\u5EAB\u5207\u308C\u306B\u306A\u3063\u305F\u5834\u5408\u306F\u30AD\u30E3\u30F3\u30BB\u30EB\u3068\u3055\u305B\u3066\u3044\u305F\u3060\u304D\u307E\u3059\u3002\u30B3\u30F3\u30C7\u30A3\u30B7\u30E7\u30F3\u30E9\u30F3\u30AF\uFF1AB\u8457\u8005/\u51FA\u6F14
        \u5CB8\u672C\u6589\u53F2 \u767A\u58F2\u5143 \u96C6\u82F1\u793E \u767A\u58F2\u65E5
        2007\u5E744\u67084\u65E5 JAN 9784088743387 \u90E8\u9580\u540D \u5206\u985E
        \u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9\",\"itemUrl\":\"http://item.rakuten.co.jp/booksuper-itoh/9784088743387_2194400/\",\"shopUrl\":\"http://www.rakuten.co.jp/booksuper-itoh/\",\"smallImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/booksuper-itoh/cabinet/no_image.gif?_ex=64x64\"],\"mediumImageUrls\":[\"http://thumbnail.image.rakuten.co.jp/@0_mall/booksuper-itoh/cabinet/no_image.gif?_ex=128x128\"],\"affiliateUrl\":\"\",\"shopAffiliateUrl\":\"\",\"imageFlag\":1,\"availability\":1,\"taxFlag\":0,\"postageFlag\":1,\"creditCardFlag\":1,\"shopOfTheYearFlag\":0,\"shipOverseasFlag\":0,\"shipOverseasArea\":\"\",\"asurakuFlag\":0,\"asurakuClosingTime\":\"\",\"asurakuArea\":\"\",\"affiliateRate\":1,\"startTime\":\"\",\"endTime\":\"\",\"reviewCount\":0,\"reviewAverage\":0,\"pointRate\":1,\"pointRateStartTime\":\"\",\"pointRateEndTime\":\"\",\"giftFlag\":0,\"shopName\":\"\u30D6\u30C3\u30AF\u30BB\u30F3\u30BF\u30FC\u3044\u3068\u3046
        \u697D\u5929\u5E02\u5834\u5E97\",\"shopCode\":\"booksuper-itoh\",\"genreId\":\"209194\",\"tagIds\":[]},{\"itemName\":\"\u3010\u4E2D\u53E4\u3011\u30A2\u30CB\u30E1DVD
        \u30CA\u30EB\u30C8SD \u30ED\u30C3\u30AF\u30FB\u30EA\u30FC\u306E\u9752\u6625\u30D5\u30EB\u30D1\u30EF\u30FC\u5FCD\u4F1D
        (7)\",\"catchcopy\":\"\u3000\",\"itemCode\":\"surugaya-a-too:58328328\",\"itemPrice\":720,\"itemCaption\":\"\u767A\u58F2\u65E5
        2013/01/09 \u30E1\u30FC\u30AB\u30FC \u30BD\u30CB\u30FC\u30FB\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30C7\u30A3\u30B9\u30C8\u30EA\u30D3\u30E5\u30FC\u30B7\u30E7\u30F3
  [...]
