interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20170628?applicationId=XXXXXX&formatVersion=2&period=realtime
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/seedcoms/cabinet/images/thum/cpn/kom1_c75.jpg?_ex=128x128\"],\"pointRate\":10,\"shopOfTheYearFlag\":1,\"affiliateRate\":\"5.0\",\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"2023-08-22
        06:42\",\"taxFlag\":0,\"startTime\":\"2019-08-30 15:00\",\"rank\":1,\"itemCaption\":\"\u5185\u5BB9\u91CF
        1\u7C92\u91CD\u91CF465mg\xD730\u7C92\u3000\u7D041\u30F6\u6708\u5206 \u304A\u53EC\u3057\u4E0A\u304C\u308A\u65B9
        1\u65E51\u7C92\u3092\u76EE\u5B89\u306B\u304A\u98F2\u307F\u304F\u3060\u3055\u3044\u3002
        \u539F\u6750\u6599 \u767A\u9175\u7D05\u8336\u30A8\u30AD\u30B9\u672B\uFF08\u30C7\u30AD\u30B9\u30C8\u30EA\u30F3\u3001\u767A\u9175\u7D05\u8336\u30A8\u30AD\u30B9\uFF09
        \uFF08\u56FD\u5185\u88FD\u9020\uFF09\u3001\u30AA\u30EA\u30FC\u30D6\u6CB9\u3001\u3053\[...]
[...]
