interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-updateTimestamp
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/surugaya-a-too/cabinet/4514/992042517m.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u767A\u58F2\u65E5
        2015/04/25 \u30E1\u30FC\u30AB\u30FC \u96C6\u82F1\u793E \u578B\u756A - JAN
        4530430208555 \u5099\u8003 \u5546\u54C1\u89E3\u8AAC\u25A0\u3053\u3061\u3089\u306E\u5546\u54C1\u306F\u300CNARUTO-\u30CA\u30EB\u30C8-\u5C55\u300D\u30B0\u30C3\u30BA\u306E\u300E\u30A2\u30FC\u30C8\u30B3\u30FC\u30B9\u30BF\u30FC\u300F\u3067\u3059\u3002\u3010\u5546\u54C1\u8A73\u7D30\u3011\u30B5\u30A4\u30BA\uFF1A\u7D0490\xD790mm
        \u95A2\u9023\u5546\u54C1\u306F\u3053\u3061\u3089\u304B\u3089 \u96C6\u82F1\u793E\u3000\",\"catchcopy\":\"\u3000\",\"tagIds\":[1001161],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/surugaya-a-too/cabinet/4514/992042517m.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"surugaya-a-too:142420720\",\"postageFlag\":1,\"itemName\":\"\u3010\u4E2D\u53E4\u3011\u30B3\u30FC\u30B9\u30BF\u30FC(\u30AD\u30E3\u30E9\u30AF\u30BF\u30FC)
        \u5343\u624B\u6249\u9593 \u300CNARUTO-\u30CA\u30EB\u30C8- \u30A2\u30FC\u30C8\u30B3\u30FC\u30B9\u30BF\u30FC\u300D
        NARUTO-\u30CA\u30EB\u30C8-\u5C55\u30B0\u30C3\u30BA\u3010\u30BF\u30A4\u30E0\u30BB\u30FC\u30EB\u3011\",\"itemPrice\":580,\"pointRateEndTime\":\"\",\"shopCode\":\"surugaya-a-too\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"\u30CD\u30C3\u30C8\u30B7\u30E7\u30C3\u30D7\u99FF\u6CB3\u5C4B\u3000\u697D\u5929\u5E02\u5834\u5E97\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/surugaya-a-too/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\",\"genreId\":\"112938\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/surugaya-a-too/s-56055811-1/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/surugaya-a-too/cabinet/4738/608726200m.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u767A\u58F2\u65E5
        2018/12/22 \u30E1\u30FC\u30AB\u30FC - \u578B\u756A - JAN 4530430263493 \u5099\u8003
        \u5546\u54C1\u89E3\u8AA[...]
[...]
