interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=%2BitemPrice
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/secondshop-books/cabinet/mem_item/logo01.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u3010\u5E2F\u306A\u3057\u3011\u4E2D\u53E4\u5546\u54C1\u3068\u3057\u3066\u306F\u6982\u306D\u3088\u3044\u72B6\u614B\u3067\u3059\u3002\u5341\u5206\u306B\u691C\u54C1\u3092\u884C\u3063\u3066\u307E\u3059\u304C\u8A18\u8F09\u4EE5\u5916\u306E\u898B\u843D\u3068\u3057\u304C\u3042\u3063\u305F\u5834\u5408\u306F\u3054\u5BB9\u8D66\u304F\u3060\u3055\u3044\u3002\u5F53\u30B7\u30E7\u30C3\u30D7\u3067\u306F\u304A\u5BA2\u69D8\u306B\u5B89\u5FC3\u3057\u3066\u3054\u8CFC\u5165\u9802\u304F\u70BA\u3001\u30B3\u30F3\u30C7\u30A3\u30B7\u30E7\u30F3(\u72B6\u614B)\u306B\u9055\u3044\u304C\u306A\u3044\u3088\u3046\u691C\u54C1\u306B\u52AA\u3081\u3066\u3044\u307E\u3059\u3002\u3054\u6CE8\u6587\u5F8C\u306F\u30AF\u30EA\u30B9\u30BF\u30EB\u30D1\u30C3\u30AF\u306B\u3066\u68B1\u5305\u3057\u8FC5\u901F\u306B\u767A\u9001\u3044\u305F\u3057\u307E\u3059\u3002\",\"catchcopy\":\"\",\"tagIds\":[],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/secondshop-books/cabinet/mem_item/logo01.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"secondshop-books:10009344\",\"postageFlag\":1,\"itemName\":\"(\u4E2D\u53E4\u54C1)NARUTO
        -\u30CA\u30EB\u30C8- 59 (\u30B8\u30E3\u30F3\u30D7\u30B3\u30DF\u30C3\u30AF\u30B9)
        [\u30B3\u30DF\u30C3\u30AF] \u5CB8\u672C \u6589\u53F2\",\"itemPrice\":1,\"pointRateEndTime\":\"\",\"shopCode\":\"secondshop-books\",\"affiliateUrl\":\"\",\"giftFlag\":0,\"shopName\":\"Second
        Shop\",\"reviewCount\":0,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/secondshop-books/\",\"creditCardFlag\":1,\"reviewAverage\":0,\"shipOverseasArea\":\"\",\"genreId\":\"203063\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/secondshop-books/s-2b6518/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/secondshop-books/cabinet/mem_item/logo01.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u3010\u5E2F\u306A\u3057\u3011\u5C0F\u53E3\u306E\u5929\u90E8\u5206\u306B\u65E5\u713C\u3051\u304C\u3042\u308A\u307E\u3059\u304C\u3001\u672C\u65[...]
[...]
