interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-reviewCount
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/1bn115.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/naruto2.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/imgrc0067258158.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":8,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u2606\u3000\u304A\u5C4A\u3051\u3059\u308B\u5185\u5BB9\u3000\u2606
        \u7523\u5730 \u5FB3\u5CF6\u770C\u7523\u3000 \u3055\u3064\u307E\u3044\u3082
        \u30B5\u30A4\u30BA \u304A\u624B\u9803 M \u30B5\u30A4\u30BA \u5185\u5BB9\u91CF
        5kg \uFF08\u7D0428\u500B\u524D\u5F8C\uFF09 \u767A\u9001\u305D\u306E\u4ED6
        \u3053\u3061\u3089\u306E\u5546\u54C1\u306F\u3001\u540C\u68B1\u304C\u3067\u304D\u307E\u305B\u3093\u3002
        \u203B\u304A\u4EFB\u305B\u306E\u3010\u306A\u308B\u3068\u91D1\u6642\u3011\u306F\u2026
        \u2606 JA\u5FB3\u5CF6\u5317\u3000\u3010\u306A\u308B\u3068\u91D1\u6642\u3011
        \u2606 JA\u677E\u8302\u3000\u3000 \u3010\u677E\u8302\u7F8E\u4EBA\u3011 \u2606
        JA\u5168\u8FB2\u3068\u304F\u3057\u307E\u3000\u3010\u7518\u59EB\u3011 \u2606
        JA\u91CC\u6D66\u3000\u3010\u91CC\u3080\u3059\u3081\u3011 \u2191\u4E0A\u8A18\u306E\u3069\u308C\u304B\u3092\u304A\u5C4A\u3051\u3057\u307E\u3059\u2191\u3000
        \u3000\",\"catchcopy\":\"\u30EC\u30D3\u30E5\u30FC\u4EF6\u6570No\uFF0E1 !!!!
        \u4FA1\u683C\u3060\u3051\u3058\u3083\u306A\u3044!!\u597D\u8A55\u4FA1\u3082\u81EA\u6162\u3067\u3059!!!\",\"tagIds\":[1003563,1011174,1011575],\"smallImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/1bn115.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/naruto2.jpg?_ex=64x64\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/sai-marche-de-sanuki/cabinet/imgrc0067258158.jpg?_ex=64x64\"],\"asurakuClosingTime\":\"\",\"imageFlag\":1,\"availability\":1,\"shopAffiliateUrl\":\"\",\"itemCode\":\"sai-marche-de-sanuki:10000139\",\"postageFlag\":1,\"itemName\":\"\u3010\u91CC\u3080\u3059\u3081\u3011\u9078\u3079\u308B!!
        \u5FB3\u5CF6\u770C\u7523\u3010 \u306A\u308B\u3068\u91D1\u6642 \u30115kg M\u30B5\u30A4\u30BA\u2605\u9001\u6599\u7121\u6599(\u4E00\u90E8\u5730\u57DF\u3092\u9664\u304F)\u2605\u3010\u898B\u305F\u76EE\u306B\u8A33\u3042\u308A\u3092\u542B\u3080\u3011\u91CC\u3080\u3059\u3081\u3001\u677E\u8302\u7F8E\u4EBA\u3001\u7518\u59EB\u3001\u5927\u6D25\u3001\u5927\u5B66\u828B\u3001\u5929\u3077\u3089
        \u9CF4\u9580\u91D1\u6642\u3000\u3055\u3064\u307E\u3044\u3082 \u306A\u308B\u3068\u91D1\u6642\u6D3E\uFF1F\u5B89\u7D0D\u828B\u6D3E\uFF1F
        \u30B5\u30C4\u30DE\u30A4\u30E2/\u85A9\u6469\u828B/\u85A9\u6469\u828B/naruto\",\"itemPrice\":2800,\"pointRateEndTime\":\"\",\"shopCode\":\"sai-marche-de-sanuki\",\"affiliateUrl\":\"\",\"giftFlag\":1,\"shopName\":\"Sai\u3000\u301CMarche
        de Sanuki\u301C\",\"reviewCount\":911,\"asurakuArea\":\"\",\"shopUrl\":\"https://www.rakuten.co.jp/sai-marche-de-sanuki/\",\"creditCardFlag\":1,\"reviewAverage\":4.55,\"shipOverseasArea\":\"\",\"genreId\":\"304644\",\"pointRateStartTime\":\"\",\"itemUrl\":\"https://item.rakuten.co.jp/sai-marche-de-sanuki/10000139/\"},{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/collection2/cabinet/shinshohin2/hno1-001a.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/collection2/cabinet/03572196/imgrc0064330514.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_mall/collection2/cabinet/03572196/imgrc0064330524.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":4,\"shipOverseasFlag\":0,\[...]
[...]
