interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20140305?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&maxPrice=100000
  response:
    body: {string: "{\"count\":17367,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"62b5255aa834655e2c9b7f29754d5b7d\",\"productName\":\"NARUTO\u3000THE\u3000BEST/\uFF23\uFF24/SVWC-70175\",\"productNo\":\"SVWC-70175\",\"brandName\":\"\",\"productUrlPC\":\"http://product.rakuten.co.jp/product/-/62b5255aa834655e2c9b7f29754d5b7d/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/62b5255aa834655e2c9b7f29754d5b7d/\",\"affiliateUrl\":null,\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/093/202/10010004534530093202_1.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/ran/img/1001/0004/534/530/093/202/10010004534530093202_1.jpg?_ex=128x128\",\"productCaption\":\"\u30A2\u30CB\u30E1\u300CNARUTO-\u30CA\u30EB\u30C8-\u75BE\u98A8\u4F1D\u300D\u306E\u30B3\u30F3\u30D4\u30EC\u30FC\u30B7\u30E7\u30F3\u30FB\u30A2\u30EB\u30D0\u30E0\u7B2C7\u5F3E\u3067\u3001\u30AA\u30FC\u30D7\u30CB\u30F3\u30B0\u30FB\u30C6\u30FC\u30DE\u3068\u30A8\u30F3\u30C7\u30A3\u30F3\u30B0\u30FB\u30C6\u30FC\u30DE\u3092\u53CE\u9332\u3057\u305F\u4E3B\u984C\u6B4C\u96C6\u3002\u5287\u5834\u7248\u4E3B\u984C\u6B4C2\u66F2\u3092\u542B\u3080\u516814\u66F2\u53CE\u9332\u3002DVD\u4ED8\u304D\u3002\",\"releaseDate\":\"2016\u5E747\u67086\u65E5\",\"makerCode\":\"104534530\",\"makerName\":\"\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerNameKana\":\"\u30A2\u30CB\u30D7\u30EC\u30C4\u30AF\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerPageUrlPC\":\"http://product.rakuten.co.jp/category/-/508091/104534530/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/508091/104534530/\",\"itemCount\":37,\"salesItemCount\":27,\"usedExcludeCount\":29,\"usedExcludeSalesItemCount\":23,\"maxPrice\":3910,\"salesMaxPrice\":3910,\"usedExcludeMaxPrice\":3910,\"usedExcludeSalesMaxPrice\":3910,\"minPrice\":1600,\"salesMinPrice\":2180,\"usedExcludeMinPrice\":1600,\"usedExcludeSalesMinPrice\":2564,\"averagePrice\":2985,\"reviewCount\":6,\"reviewAverage\":4.67,\"reviewUrlPC\":\"http://product.rakuten.co.jp/product/-/62b5255aa834655e2c9b7f29754d5b7d/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/62b5255aa834655e2c9b7f29754d5b7d/review/\",\"rank\":2009,\"rankTargetGenreId\":\"508090\",\"rankTargetProductCount\":35355,\"genreId\":\"508091\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u30A2\u30FC\u30C6\u30A3\u30B9\u30C8\",\"value\":\"TV\u30B5\u30F3\u30C8\u30E9\"},{\"name\":\"\u30EC\u30FC\u30D9\u30EB\",\"value\":\"---\"},{\"name\":\"\u679A\u6570\",\"value\":\"2\u679A\u7D44\u307F\"},{\"name\":\"\u9650\u5B9A\u76E4\",\"value\":\"\u9650\u5B9A\u76E4\"},{\"name\":\"\u66F2\u6570\",\"value\":\"14\u66F2\"},{\"name\":\"\u66F2\u540D\",\"value\":\"DISK1
        \\\\n1.\u7D05\u84EE\\\\n2.FLAME\\\\n3.Never Change feat.Lyu\uFF1ALyu\\\\n4.\u30B7\u30EB\u30A8\u30C3\u30C8\\\\n5.\u3060\u3081\u3060\u3081\u3060\\\\n6.Spinning
        World\\\\n7[...]
