interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-affiliateRate
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_gold/bobaoh/image/other/btn/btn.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_gold/bobaoh/image/other/btn/btn_1.jpg?_ex=128x128\",\"https://thumbnail.image.rakuten.co.jp/@0_gold/bobaoh/image/other/btn/btn_2.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":8,\"shipOverseasFlag\":0,\"asurakuFlag\":1,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u304A\u571F\u7523\u3068\u3057\u3066\u5927\u4EBA\u6C17\u306ET\u30B7\u30E3\u30C4\u306B\u6D77\u5916\u3067\u3082\u4EBA\u6C17\u306E\u30CA\u30EB\u30C8\u304C\u767B\u5834\uFF01
        \u7279\u88FD\u30DA\u30C3\u30C8\u30DC\u30C8\u30EB\u5165\u308A\u3010\u65E5\u672C\u9650\u5B9AT\u30B7\u30E3\u30C4\u3011\u3067\u3059!
        \u30AE\u30D5\u30C8\u306B\u3082\u559C\u3070\u308C\u308B\u3053\u3068\u9593\u9055\u3044\u306A\u3057\uFF01
        \u30AA\u30FC\u30EB\u30B7\u30FC\u30BA\u30F3\u4F7F\u3048\u308BT\u30B7\u30E[...]
[...]
