interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pointRateFlag=1
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/mangazenkan/cabinet/m-comic/comic0043/na-01-paperhontana.jpg?_ex=128x128\"],\"pointRate\":6,\"shopOfTheYearFlag\":0,\"affiliateRate\":3,\"shipOverseasFlag\":1,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"\u25C6\u5168\u5DFB\u53CE\u7D0D\u672C\u68DA\u4ED8\u304D\u5546\u54C1\u25C6\u65B0\u66F8\u7248\u3001B6\u7248\u30B3\u30DF\u30C3\u30AF\u30B9\u304C\u53CE\u7D0D\u3067\u304D\u308B\u7D44\u7ACB\u578B\u30C0\u30F3\u30DC\u30FC\u30EB\u672C\u68DA\u3067\u3059\u3002\u5BB6\u5177\u306F\u5897\u3084\u3057\u305F\u304F\u306A\u3044\u3051\u308C\u3069\u30B9\u30C3\u30AD\u30EA\u3068\u6574\u7406\u3057\u305F\u3044!\u305D\u3093\u306A\u65B9\u306B\u304A\u85A6\u3081\u3067\u3059\u3002\u307E\u305F\u4F7F\u308F\u306A\u304F\u306A\u3[...]
[...]
