interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20140222?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&pointRate=2&pointRateFlag=1
  response:
    body: {string: "{\"count\":14,\"page\":1,\"first\":1,\"last\":14,\"hits\":14,\"carrier\":0,\"pageCount\":1,\"Items\":[{\"itemName\":\"NARUTO
        -\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u3064\u307E\u307E\u308C\u30B9\u30C8\u30E9\u30C3\u30D7
        \u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8\",\"catchcopy\":\"\u30DD\u30A4\u30F3\u30C82\u500D\u30E1\u30FC\u30EB\u4FBF\u5BFE\u5FDC\u5546\u54C1\",\"itemCode\":\"otrp:10625523\",\"itemPrice\":648,\"itemCaption\":\"\uFF1C\u5546\u54C1\u540D\uFF1ENARUTO
        -\u30CA\u30EB\u30C8- \u75BE\u98A8\u4F1D \u3064\u307E\u307E\u308C\u30B9\u30C8\u30E9\u30C3\u30D7
        \u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8\uFF1C\u5546\u54C1\u5185\u5BB9\uFF1E\u3064\u307E\u307F\u4E0A\u3052\u3089\u308C\u3066\u3044\u308B\u3088\u3046\u306A\u30CA\u30EB\u30C8\u306E\u30E9\u30D0\u30FC\u88FD\u30B9\u30C8\u30E9\u30C3\u30D7\uFF01\u4ED8\u5C5E\u306E\u30A4\u30E4\u30DB\u30F3\u30B8\u30E3\u30C3\u30AF\u306F\u53D6\u308A\u5916\u3057\u304C\u3067\u[...]
