interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Product/Search/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Naruto&sort=-releaseDate
  response:
    body:
      string: "{\"count\":13863,\"page\":1,\"first\":1,\"last\":30,\"hits\":30,\"pageCount\":100,\"Products\":[{\"productId\":\"5c4bfddb6f4ff8ba12c6f2e8e5ba6e67\",\"productName\":\"\u30E9\u30A4\u30D6\u30FB\u30B9\u30DA\u30AF\u30BF\u30AF\u30EB\u300CNARUTO-\u30CA\u30EB\u30C8-\u300D\uFF5E\u6681\u306E\u8ABF\u3079\uFF5E\u30002019\uFF08\u5B8C\u5168\u751F\u7523\u9650\u5B9A\u7248\uFF09/\uFF22\uFF4C\uFF55\uFF0D\uFF52\uFF41\uFF59\u3000\uFF24\uFF49\uFF53\uFF43/ANZX-10156\",\"productNo\":\"ANZX-10156\",\"brandName\":\"\",\"productUrlPC\":\"https://product.rakuten.co.jp/product/-/5c4bfddb6f4ff8ba12c6f2e8e5ba6e67/\",\"productUrlMobile\":\"http://m.product.rakuten.co.jp/product/5c4bfddb6f4ff8ba12c6f2e8e5ba6e67/\",\"affiliateUrl\":null,\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/default/now_printing.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/ran/img/default/now_printing.jpg?_ex=128x128\",\"productCaption\":\"\u4FEE\u696D\u306E\u305F\u3081\u6728\u30CE\u8449\u96A0\u308C\u306E\u91CC\u3092\u96E2\u308C\u3066\u3044\u305F\u3046\u305A\u307E\u304D\u30CA\u30EB\u30C8\u306F\u4E8C\u5E74\u534A\u3076\u308A\u306B\u91CC\u306B\u623B\u308A\u3001\u30AB\u30AB\u30B7\u73ED\u3067\u306E\u4EFB\u52D9\u306E\u6700\u4E2D\u3001\u30CA\u30EB\u30C8\u9054\u306F\u5927\u86C7\u4E38\u306B\u95A2\u3059\u308B\u60C5\u5831\u3092\u5165\u624B\u3059\u308B\u3002\u5927\u86C7\u4E38\u306E\u3082\u3068\u306B\u884C\u3063\u3066\u3057\u307E\u3063\u305F\u30B5\u30B9\u30B1\u3092\u9023\u308C\u623B\u3059\u305F\u3081\u3001\u4EF2\u9593\u305F\u3061\u3068\u884C\u65B9\u3092\u8FFD\u3046\u304C\u2026\u30022017\u5E74\u306B\u521D\u6F14\u3055\u308C\u305F\u300C\u30E9\u30A4\u30D6\u30FB\u30B9\u30DA\u30AF\u30BF\u30AF\u30EB\u300ENARUTO-\u30CA\u30EB\u30C8-\u300F\uFF5E\u6681\u306E\u8ABF\u3079\uFF5E\u300D\u306E\u518D\u6F14\u3002\u521D\u6F14\u306B\u7D9A\u304D\u3001\u811A\u672C\u30FB\u6F14\u51FA\u3092\u5150\u7389\u660E\u5B50\u304C\u624B\u304C\u3051\u3001\u677E\u5CA1\u5E83\u5927\u3001\u4F50\u85E4\u6D41\u53F8\u3001\u826F\u77E5\u771F\u6B21\u307B\u304B\u51FA\u6F14\u3002\",\"releaseDate\":\"2020\u5E745\u670827\u65E5\",\"makerCode\":\"104534530\",\"makerName\":\"\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerNameKana\":\"\u30A2\u30CB\u30D7\u30EC\u30C4\u30AF\u30B9\",\"makerNameFormal\":\"\u682A\u5F0F\u4F1A\u793E\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9\",\"makerPageUrlPC\":\"https://product.rakuten.co.jp/category/-/505046/104534530/\",\"makerPageUrlMobile\":\"http://m.product.rakuten.co.jp/category/505046/104534530/\",\"itemCount\":4,\"salesItemCount\":4,\"usedExcludeCount\":4,\"usedExcludeSalesItemCount\":4,\"maxPrice\":8480,\"salesMaxPrice\":8480,\"usedExcludeMaxPrice\":8480,\"usedExcludeSalesMaxPrice\":8480,\"minPrice\":7464,\"salesMinPrice\":7464,\"usedExcludeMinPrice\":7464,\"usedExcludeSalesMinPrice\":7464,\"averagePrice\":8005,\"reviewCount\":0,\"reviewAverage\":0,\"reviewUrlPC\":\"https://product.rakuten.co.jp/product/-/5c4bfddb6f4ff8ba12c6f2e8e5ba6e67/review/\",\"reviewUrlMobile\":\"http://m.product.rakuten.co.jp/product/5c4bfddb6f4ff8ba12c6f2e8e5ba6e67/review/\",\"rank\":23,\"rankTargetGenreId\":\"553674\",\"rankTargetProductCount\":335,\"genreId\":\"505046\",\"genreName\":\"\u305D\u306E\u4ED6\",\"ProductDetails\":[{\"name\":\"\u51FA\u6F14\",\"value\":\"\u85E4\u7530\u73B2\u3001\u541B\u6CA2\u30E6\u30A6\u30AD\u3001\u4F0A\u85E4\u512A\u8863\u3001\u4F50\u85E4\u6D41\u53F8\u3001\u677E\u5CA1\u5E83\u5927\u3001\u5B9A\u672C\u6953\u99AC\"},{\"name\":\"\u76E3\u7763\",\"value\":\"---\"},{\"name\":\"\u53D7\u8CDE\",\"value\":\"---\"},{\"name\":\"\u88FD\u4F5C\u5E74\",\"value\":\"2020\u5E74\"},{\"name\":\"\u88FD\u4F5C\u56FD\u540D\",\"value\":\"\u65E5\u672C\"},{\"name\":\"\u3042\u3089\u3059\u3058\",\"value\":\"---\"},{\"name\":\"\u30B7\u30EA\u30FC\u30BA\",\"val[...]
[...]
