interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&giftFlag=1&keyword=Naruto
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/w-kintetsu/cabinet/kisyuuji/kisyuuji-sonota/img57830906.jpg?_ex=128x128\"],\"pointRate\":1,\"shopOfTheYearFlag\":0,\"affiliateRate\":8,\"shipOverseasFlag\":0,\"asurakuFlag\":0,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"&nbsp;\u3010\u767A\u9001\u30FB\u304A\u5C4A\u3051(\u9806\u6B21\u21D25\u65E5\u524D\u5F8C)\u3011
        \u3000\u5F53\u8A72\u5546\u54C1\u306F\u5E97\u982D\u8CA9\u58F2\u3068\u5728\u5EAB\u3092\u5171\u6709\u3057\u3066\u3044\u308B\u305F\u3081\u3001
        \u3000\u3054\u6CE8\u6587\u306E\u30BF\u30A4\u30DF\u30F3\u30B0\u306B\u3088\u308A\u3001\u5728\u5EAB\u5207\u308C\u3067\u304A\u5C4A\u3051\u304C
        \u3000\u9045\u308C\u308B\u5834\u5408\u3054\u3056\u3044\u307E\u3059\u3002\u3054\u6CE8\u6587\u5F8C\u3001[...]
[...]
