interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getInventoryExternal
      xmlns:ns0="https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi"><ns0:externalUserAuthModel><ns1:authKey
      xmlns:ns1="java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity">ESA XXXXXX<>>/soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/inventory/ws
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?><env:Envelope
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><env:Header/><env:Body><m:getInventoryExternalResponse
        xmlns:m=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"><n1:result
        xmlns:n1=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"
        xmlns:n2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xsi:type=\"n2:GetResponseExternalModel\"><n2:errCode>N00-000</n2:errCode><n2:errMessage>\u6B63\u5E38\u7D42\u4E86</n2:errMessage><n2:getResponseExternalItem
        xsi:type=\"n2:ArrayOfGetResponseExternalItem\"><n2:GetResponseExternalItem><n2:getResponseExternalItemDetail
        xsi:type=\"n2:ArrayOfGetResponseExternalItemDetail\"><n2:GetResponseExternalItemDetail><n2:HChoiceName
        xsi:nil=\"true\"/><n2:VChoiceName xsi:nil=\"true\"/><n2:inventoryBackFlag>1</n2:inventoryBackFlag><n2:inventoryCount>33</n2:inventoryCount><n2:lackDeliveryId>0</n2:lackDeliveryId><n2:normalDeliveryId>0</n2:normalDeliveryId><n2:orderFlag>0</n2:orderFlag><n2:orderSalesFlag>1</n2:orderSalesFlag></n2:GetResponseExternalItemDetail></n2:getResponseExternalItemDetail><n2:inventoryType>2</n2:inventoryType><n2:itemNumber>46953127</n2:itemNumber><n2:itemUrl>83620_098235830x</n2:itemUrl><n2:nokoriThreshold>0</n2:nokoriThreshold><n2:restTypeFlag>1</n2:restTypeFlag></n2:GetResponseExternalItem><n2:GetResponseExternalItem><n2:getResponseExternalItemDetail
        xsi:type=\"n2:ArrayOfGetResponseExternalItemDetail\"><n2:GetResponseExternalItemDetail><n2:HChoiceName
        xsi:nil=\"true\"/><n2:VChoiceName xsi:nil=\"true\"/><n2:inventoryBackFlag>1</n2:inventoryBackFlag><n2:inventoryCount>21</n2:inventoryCount><n2:lackDeliveryId>0</n2:lackDeliveryId><n2:normalDeliveryId>0</n2:normalDeliveryId><n2:orderFlag>0</n2:orderFlag><n2:orderSalesFlag>1</n2:orderSalesFlag></n2:GetResponseExternalItemDetail></n2:getResponseExternalItemDetail><n2:inventoryType>2</n2:inventoryType><n2:itemNumber>65324781</n2:itemNumber><n2:itemUrl>81611_907930400x</n2:itemUrl><n2:nokoriThreshold>0</n2:nokoriThreshold><n2:restTypeFlag>1</n2:restTypeFlag></n2:GetResponseExternalItem></n2:getResponseExternalItem></n1:result></m:getInventoryExternalResponse></env:Body></env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      requestId:
      - 30828ae7-b2fe-4d58-ac33-ea3732cbe4a5
      timeStamp:
      - '2019-10-22T15:31:05'
    status:
      code: 200
      message: OK
[...]
