interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
      \ <soap-env:Body>\n    <ns0:getInventoryExternal xmlns:ns0=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\">\n
      \     <ns0:externalUserAuthModel>\n        <ns1:authKey xmlns:ns1=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\">ESA
      XXXXXX<>/ns1:authKey>\n        <ns2:userName xmlns:ns2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"></ns2:userName>\n
      \       <ns3:shopUrl xmlns:ns3=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"<shopUrl>XXXXXX</shopUrl>/ns3:shopUrl>\n
      \     </ns0:externalUserAuthModel>\n      <ns0:getRequestExternalModel>\n        <ns4:inventorySearchRange
      xmlns:ns4=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xsi:nil=\"true\"/>\n        <ns5:itemUrl xmlns:ns5=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\"/>\n
      \     </ns0:getRequestExternalModel>\n    </ns0:getInventoryExternal>\n  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/inventory/ws
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?><env:Envelope
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><env:Header/><env:Body><m:getInventoryExternalResponse
        xmlns:m=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"><n1:result
        xmlns:n1=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"
        xmlns:n2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xsi:type=\"n2:GetResponseExternalModel\"><n2:errCode>E21-201</n2:errCode><n2:errMessage>\u691C\u7D22\u30A8\u30E9\u30FC\u304C\u767A\u751F\u3057\u307E\u3057\u305F</n2:errMessage><n2:getResponseExternalItem
        xsi:nil=\"true\"/></n1:result></m:getInventoryExternalResponse></env:Body></env:Envelope>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
      requestId: [0cd437c4-9e92-4094-87f3-183586d7e64a]
      timeStamp: ['2017-02-13T14:39:23']
    status: {code: 200, message: OK}
version: 1
