interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope\
      \ xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap-env:Body>\n\
      \    <ns0:getInventoryExternal xmlns:ns0=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"\
      >\n      <ns0:externalUserAuthModel>\n        <ns1:authKey xmlns:ns1=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"\
      >ESA XXXXXX<>/ns1:authKey>\n        <ns2:userName xmlns:ns2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"\
      ></ns2:userName>\n        <ns3:shopUrl xmlns:ns3=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"\
      <shopUrl>XXXXXX</shopUrl>/ns3:shopUrl>\n      </ns0:externalUserAuthModel>\n\
      \      <ns0:getRequestExternalModel>\n        <ns4:inventorySearchRange xmlns:ns4=\"\
      java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xsi:nil=\"true\"/>\n        <ns5:itemUrl xmlns:ns5=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\"\
      >\n          <ns6:string xmlns:ns6=\"java:language_builtins.lang\">SKU7EHDR72ZZ4TPSSS</ns6:string>\n\
      \        </ns5:itemUrl>\n      </ns0:getRequestExternalModel>\n    </ns0:getInventoryExternal>\n\
      \  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/inventory/ws
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?><env:Envelope\
        \ xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><env:Header/><env:Body><m:getInventoryExternalResponse\
        \ xmlns:m=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"\
        ><n1:result xmlns:n1=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"\
        \ xmlns:n2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xsi:type=\"\
        n2:GetResponseExternalModel\"><n2:errCode>N00-000</n2:errCode><n2:errMessage>\u6B63\
        \u5E38\u7D42\u4E86</n2:errMessage><n2:getResponseExternalItem xsi:type=\"\
        n2:ArrayOfGetResponseExternalItem\"><n2:GetResponseExternalItem><n2:getResponseExternalItemDetail\
        \ xsi:type=\"n2:ArrayOfGetResponseExternalItemDetail\"><n2:GetResponseExternalItemDetail><n2:HChoiceName\
        \ xsi:nil=\"true\"/><n2:VChoiceName xsi:nil=\"true\"/><n2:inventoryBackFlag>1</n2:inventoryBackFlag><n2:inventoryCount>6</n2:inventoryCount><n2:lackDeliveryId>0</n2:lackDeliveryId><n2:normalDeliveryId>0</n2:normalDeliveryId><n2:orderFlag>0</n2:orderFlag><n2:orderSalesFlag>1</n2:orderSalesFlag></n2:GetResponseExternalItemDetail></n2:getResponseExternalItemDetail><n2:inventoryType>2</n2:inventoryType><n2:itemNumber>9784088905877</n2:itemNumber><n2:itemUrl>sku7ehdr72zz4tpsss</n2:itemUrl><n2:nokoriThreshold>0</n2:nokoriThreshold><n2:restTypeFlag>1</n2:restTypeFlag></n2:GetResponseExternalItem></n2:getResponseExternalItem></n1:result></m:getInventoryExternalResponse></env:Body></env:Envelope>"}
    headers:
      content-type: [text/xml; charset=utf-8]
      requestid: [dd986ce2-eb1b-4d4d-af66-64cf783a75bc]
      timestamp: ['2017-03-27T06:10:50']
    status: {code: 200, message: OK}
version: 1
