interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getInventoryExternal
      xmlns:ns0="https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi"><ns0:externalUserAuthModel><ns1:authKey
      xmlns:ns1="java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity">ESA XXXXXX<>/soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/inventory/ws
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?><env:Envelope
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><env:Header/><env:Body><m:getInventoryExternalResponse
        xmlns:m=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"><n1:result
        xmlns:n1=\"https://inventoryapi.rms.rakuten.co.jp/rms/mall/inventoryapi\"
        xmlns:n2=\"java:jp.co.rakuten.rms.mall.inventoryapi.v1.model.entity\" xsi:type=\"n2:GetResponseExternalModel\"><n2:errCode>W21-202</n2:errCode><n2:errMessage>\u691C\u7D22\u7D50\u679C\u304C0\u4EF6\u3067\u3059</n2:errMessage><n2:getResponseExternalItem
        xsi:type=\"n2:ArrayOfGetResponseExternalItem\"/></n1:result></m:getInventoryExternalResponse></env:Body></env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      requestId:
      - c18603cc-0156-4ae7-a3b9-6aca7a1d45e2
      timeStamp:
      - '2019-10-22T10:44:14'
    status:
      code: 200
      message: OK
version: 1
