interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>ca178dd5-2c99-48e1-bdec-65651a546273</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - ca178dd5-2c99-48e1-bdec-65651a546273
      Timestamp:
      - '2019-10-22T12:40:19'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-04</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>a8235b71-f6e0-4ebe-8f68-c96a73ab5d36</requestId><requests/></status><itemDeleteResult><code>N000</code><item><itemUrl>item-test-04</itemUrl></item></itemDeleteResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - a8235b71-f6e0-4ebe-8f68-c96a73ab5d36
      Timestamp:
      - '2019-10-22T12:40:23'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
