interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>db62cf71-e71b-4b23-953e-216ef7941b21</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-03</itemUrl>\n      <itemNumber>item-test-03</itemNumber>\n
      \     <itemName>item-test-03 name</itemName>\n      <itemPrice>298000</itemPrice>\n
      \     <genreId>409148</genreId>\n      <itemInventory>\n        <inventoryType>1</inventoryType>\n
      \       <inventories>\n          <inventory>\n            <inventoryCount>11</inventoryCount>\n
      \         </inventory>\n        </inventories>\n      </itemInventory>\n    </item>\n
      \ </itemInsertRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>31aaf139-ab34-441c-8dad-28c9428ee486</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-03</itemUrl></item></itemInsertResult></result>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemsUpdateRequest>\n
      \   <items>\n      <item>\n        <itemUrl>item-test-03</itemUrl>\n        <itemPrice>380000</itemPrice>\n
      \     </item>\n      <item>\n        <itemUrl>item-test-04</itemUrl>\n        <itemPrice>480000</itemPrice>\n
      \     </item>\n    </items>\n  </itemsUpdateRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/items/update
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>items.update</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>c0154c2c-2e30-412a-b7aa-b0b557ca18db</requestId></status><itemsUpdateResult><itemUpdateResult><code>N000</code><item><itemUrl>item-test-03</itemUrl></item></itemUpdateResult><itemUpdateResult><code>N000</code><item><itemUrl>item-test-04</itemUrl></item></itemUpdateResult></itemsUpdateResult></result>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
