interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization: [ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>4f85cc78-d558-48e4-9ec8-d65ad8902824</requestId><requests/></status><itemDeleteResult><code>N000</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-02</itemUrl>\n      <itemNumber>item-test-02</itemNumber>\n
      \     <itemName>item-test-02 name</itemName>\n      <itemPrice>298000</itemPrice>\n
      \     <genreId>409148</genreId>\n      <itemInventory>\n        <inventoryType>1</inventoryType>\n
      \       <inventories>\n          <inventory>\n            <inventoryCount>11</inventoryCount>\n
      \         </inventory>\n        </inventories>\n      </itemInventory>\n    </item>\n
      \ </itemInsertRequest>\n</request>\n"
    headers:
      Authorization: [ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>4aa854f0-d9ca-4669-9bec-18609dffb9e9</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-02</itemUrl></item></itemInsertResult></result>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/search?itemUrl=item-test-01
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>a0a7f58c-0e47-4e43-aadb-046eb2f3fe47</requestId><requests><itemUrl>item-test-01</itemUrl></requests></status><itemSearchResult><code>200-00</code><numFound>0</numFound></itemSearchResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
