interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>3b651a7c-c136-4e23-a3aa-af02c4b48da0</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 3b651a7c-c136-4e23-a3aa-af02c4b48da0
      Timestamp:
      - '2019-10-22T12:39:58'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n      <itemNumber>item-test-01</itemNumber>\n
      \     <itemName>item-test-01 name</itemName>\n      <itemPrice>999999999</itemPrice>\n
      \     <genreId>409148</genreId>\n      <catalogId>9784088820811</catalogId>\n
      \     <itemInventory>\n        <inventoryType>1</inventoryType>\n        <inventories>\n
      \         <inventory>\n            <inventoryCount>11</inventoryCount>\n          </inventory>\n
      \       </inventories>\n      </itemInventory>\n    </item>\n  </itemInsertRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>31016fd2-54f0-44c3-9faf-61dfb818f8b3</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-01</itemUrl></item></itemInsertResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 31016fd2-54f0-44c3-9faf-61dfb818f8b3
      Timestamp:
      - '2019-10-22T12:40:03'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
