interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>ce668473-d67e-4a45-b96b-c504fc3a9380</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n      <itemNumber>item-test-01</itemNumber>\n
      \     <itemName>item-test-01 name</itemName>\n      <itemPrice>298000</itemPrice>\n
      \     <genreId>409148</genreId>\n      <itemInventory>\n        <inventoryType>1</inventoryType>\n
      \       <inventories>\n          <inventory>\n            <inventoryCount>11</inventoryCount>\n
      \         </inventory>\n        </inventories>\n      </itemInventory>\n    </item>\n
      \ </itemInsertRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>c5e2607c-0055-49bf-8ecd-9a883535ff56</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-01</itemUrl></item></itemInsertResult></result>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
