interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>311b984d-8537-421c-aac2-8f9ed03bbd89</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 311b984d-8537-421c-aac2-8f9ed03bbd89
      Timestamp:
      - '2019-10-22T12:40:11'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-03</itemUrl>\n      <itemNumber>item-test-03</itemNumber>\n
      \     <itemName>item-test-03 name</itemName>\n      <itemPrice>999999999</itemPrice>\n
      \     <genreId>409148</genreId>\n      <catalogId>9784088820811</catalogId>\n
      \     <itemInventory>\n        <inventoryType>1</inventoryType>\n        <inventories>\n
      \         <inventory>\n            <inventoryCount>11</inventoryCount>\n          </inventory>\n
      \       </inventories>\n      </itemInventory>\n    </item>\n  </itemInsertRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>c3ea0819-e120-41c7-ba19-58b33c958266</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-03</itemUrl></item></itemInsertResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - c3ea0819-e120-41c7-ba19-58b33c958266
      Timestamp:
      - '2019-10-22T12:40:15'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemsUpdateRequest>\n
      \   <items>\n      <item>\n        <itemUrl>item-test-03</itemUrl>\n        <itemPrice>380000</itemPrice>\n
      \     </item>\n      <item>\n        <itemUrl>item-test-04</itemUrl>\n        <itemPrice>480000</itemPrice>\n
      \     </item>\n    </items>\n  </itemsUpdateRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/items/update
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>items.update</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>1af2c3e0-c7a9-46ab-bb6d-581e900eb06e</requestId></status><itemsUpdateResult><itemUpdateResult><code>N000</code><item><itemUrl>item-test-03</itemUrl></item></itemUpdateResult><itemUpdateResult><code>N000</code><item><itemUrl>item-test-04</itemUrl></item></itemUpdateResult></itemsUpdateResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 1af2c3e0-c7a9-46ab-bb6d-581e900eb06e
      Timestamp:
      - '2019-10-22T12:40:18'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
