interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>dd94c09f-f724-4831-88f7-303807a5de62</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-02</itemUrl>\n      <itemNumber>item-test-02</itemNumber>\n
      \     <itemName>item-test-02 name</itemName>\n      <itemPrice>298000</itemPrice>\n
      \     <genreId>409148</genreId>\n      <itemInventory>\n        <inventoryType>1</inventoryType>\n
      \       <inventories>\n          <inventory>\n            <inventoryCount>11</inventoryCount>\n
      \         </inventory>\n        </inventories>\n      </itemInventory>\n    </item>\n
      \ </itemInsertRequest>\n</request>\n"
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>85c98b58-c020-4822-801b-7b219217454c</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-02</itemUrl></item></itemInsertResult></result>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/search?itemUrl=item-test-01
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>7bf8b4d3-cb5b-4cd1-97b5-ccd8bcd8b8ca</requestId><requests><itemUrl>item-test-01</itemUrl></requests></status><itemSearchResult><code>200-00</code><numFound>1</numFound><items><item><itemUrl>item-test-01</itemUrl><itemNumber>item-test-01</itemNumber><itemName>item-test-01
        name</itemName><itemPrice>298000</itemPrice><genreId>409148</genreId><isIncludedTax>true</isIncludedTax><isIncludedPostage>false</isIncludedPostage><displayPrice>0</displayPrice><isUnavailableForSearch>false</isUnavailableForSearch><isAvailableForMobile>true</isAvailableForMobile><isDepot>false</isDepot></item></items></itemSearchResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
