interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>890b1a95-e40c-41f6-b329-6d6cf65fc2d4</requestId><requests/></status><itemDeleteResult><code>N000</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 890b1a95-e40c-41f6-b329-6d6cf65fc2d4
      Timestamp:
      - '2019-10-22T12:40:04'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-02</itemUrl>\n      <itemNumber>item-test-02</itemNumber>\n
      \     <itemName>item-test-02 name</itemName>\n      <itemPrice>999999999</itemPrice>\n
      \     <genreId>409148</genreId>\n      <catalogId>9784088820811</catalogId>\n
      \     <itemInventory>\n        <inventoryType>1</inventoryType>\n        <inventories>\n
      \         <inventory>\n            <inventoryCount>11</inventoryCount>\n          </inventory>\n
      \       </inventories>\n      </itemInventory>\n    </item>\n  </itemInsertRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>53a9a2a1-d270-4680-bd4f-525d9088d96a</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-02</itemUrl></item></itemInsertResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - 53a9a2a1-d270-4680-bd4f-525d9088d96a
      Timestamp:
      - '2019-10-22T12:40:09'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/search?itemUrl=item-test-01
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>f24a398a-f743-4cf3-8e19-c90816f384ca</requestId><requests><itemUrl>item-test-01</itemUrl></requests></status><itemSearchResult><code>200-00</code><numFound>0</numFound></itemSearchResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      RequestId:
      - f24a398a-f743-4cf3-8e19-c90816f384ca
      Timestamp:
      - '2019-10-22T12:40:10'
      http.reason:
      - OK
      http.status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
