interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemDeleteRequest>\n
      \   <item>\n      <itemUrl>item-test-01</itemUrl>\n    </item>\n  </itemDeleteRequest>\n</request>\n"
    headers:
      Authorization: [ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>72be6b5e-10a9-42de-9ae0-a849df3ceac4</requestId><requests/></status><itemDeleteResult><code>C001</code><item><itemUrl>item-test-01</itemUrl></item></itemDeleteResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <itemInsertRequest>\n
      \   <item>\n      <itemUrl>item-test-02</itemUrl>\n      <itemNumber>item-test-02</itemNumber>\n
      \     <itemName>item-test-02 name</itemName>\n      <itemPrice>298000</itemPrice>\n
      \     <genreId>409148</genreId>\n      <itemInventory>\n        <inventoryType>1</inventoryType>\n
      \       <inventories>\n          <inventory>\n            <inventoryCount>11</inventoryCount>\n
      \         </inventory>\n        </inventories>\n      </itemInventory>\n    </item>\n
      \ </itemInsertRequest>\n</request>\n"
    headers:
      Authorization: [ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>85bd504b-c5f4-41e7-9d5b-7e057dab8c9b</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>item-test-02</itemUrl></item></itemInsertResult></result>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/search?itemUrl=item-test-01
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>item.search</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>71e44ea6-05a4-491b-9e25-0bce36b624a9</requestId><requests><itemUrl>item-test-01</itemUrl></requests></status><itemSearchResult><code>200-00</code><numFound>0</numFound></itemSearchResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
