interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/HighCommissionShop/List/20131205?applicationId=XXXXXX&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":8179,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":100,\"startApplyDate\":\"2017/02/21\",\"Shops\":[{\"shopName\":\"G\u30B7\u30E7\u30C3\u30AF\uFF06\u30DA\u30A2\u30A6\u30A9\u30C3\u30C1BlessYou\",\"shopCode\":\"blessyou\",\"shopUrl\":\"http://www.rakuten.co.jp/blessyou/\",\"shopPR\":\"1997\u5E74\u697D\u5929\u5E02\u5834\u5275\u696D\u3068\u3068\u3082\u306B\u51FA\u5E97\u305713\u5E74\u76EE\u3092\u8FCE\u3048\u307E\u3057\u305F\u3000\u697D\u5929\u4E00\u306E\u54C1\u63C3\u3048\u306E\u30DA\u30A2\u30A6\u30A9\u30C3\u30C1\u306F\u30AF\u30EA\u30B9\u30DE\u30B9\u306A\u3069\u30AE\u30D5\u30C8\u9700\u8981\u3067\u306F\u5927\u5909\u597D\u8A55\u3067\u3059\u3000\u30EC\u30FC\u30B6\u30FC\u3067\u6642\u8A08\u306B\u30E1\u30C3\u30BB\u30FC\u30B8\u3092\u5165\u308C\u308B\u30B5\u30FC\u30D3\u30B9\u304C\u597D\u8A55\u3067\u3059\",\"genreId\":\"558929\",\"genreName\":\"\u8155\u6642\u8A08\",\"affiliateRateS\":\"1.1\",\"affiliateRateA\":\"1.1\",\"affiliateRateB\":\"1.1\",\"affiliateRateC\":\"1.1\",\"affiliateRateD\":\"1.1\",\"commissionType\":\"2\",\"affiliateUrl\":null},{\"shopName\":\"\u8CA1\u5E03\u3010\u540D\u5165\u308C\u7121\u6599\u3011\u30B0\u30EC\u30F3\u30C1\u30A7\u30C3\u30AF\",\"shopCode\":\"glencheck\",\"shopUrl\":\"http://www.rakuten.co.jp/glencheck/\",\"shopPR\":\"\u6D77\u5916\u5404\u56FD\u304B\u3089\u7D20\u6750\u3001\u6A5F\u80FD\u6027\u3001\u305D\u3057\u3066\u30B9\u30BF\u30A4\u30EA\u30C3\u30B7\u30E5\u3055\u306B\u3053\u3060\u308F\u308A\u306C\u3044\u305F\u9038\u54C1\u3092\u3054\u7D39\u4ECB\u3002\u662F\u975E\u306B\u304A\u624B\u306B\u3068\u3063\u306[...]
