interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Kobo/EbookSearch/20131010?applicationId=XXXXXX&author=%E6%9D%91%E4%B8%8A%E6%98%A5%E6%A8%B9&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":24,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"pageCount\":8,\"Items\":[{\"title\":\"\u8FBA\u5883\u30FB\u8FD1\u5883\uFF08\u65B0\u6F6E\u6587\u5EAB\uFF09\",\"titleKana\":\"\u30D8\u30F3\u30AD\u30E7\u30A6\u30AD\u30F3\u30AD\u30E7\u30A6\u30B7\u30F3\u30C1\u30E7\u30A6\u30D6\u30F3\u30B3\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u65B0\u6F6E\u793E\",\"language\":\"JA\",\"salesDate\":\"2016\u5E7412\u670823\u65E5\",\"itemNumber\":\"4340008032411\",\"koboGenreId\":\"101907015004\",\"itemCaption\":\"\u4E45\u3057\u3076\u308A\u306B\u30EA\u30E5\u30C3\u30AF\u3092\u80A9\u306B\u304B\u3051\u305F\u3002\u300C\u3046\u3093\u3001\u3053\u308C\u3060\u3088\u3001\u3053\u306E\u611F\u3058\u306A\u3093\u3060\u300D\u3081\u3056\u3059\u306F\u30E2\u30F3\u30B4\u30EB\u8349\u539F\u3001\u5317\u7C73\u6A2A\u65AD\u3001\u7802\u57C3\u821E\u3046\u30E1\u30AD\u30B7\u30B3\u306E\u753A\u2026\u2026\u3002\uFF2E\uFF39\u90CA\u5916\u306E\u8D85\u8C6A\u83EF\u30B3\u30C3\u30C6\u30FC\u30B8\u306B\u5727\u5012\u3055\u308C\u3001\u7121\u4EBA\u306E\u5CF6\u30FB\u304B\u3089\u3059\u5CF6\u3067\u306F\u866B\u306E\u5927\u7FA4\u306E\u5927\u8972\u6483\uFF01\u3000\u65C5\u306E\u6700\u5F8C\u306F\u9707\u707D\u306B\u898B\u821E\u308F\u308C\u305F\u6545\u90F7\u30FB\u795E\u6238\u3002\u3054\u5B58\u3058\u3001\u5199\u771F\u306E\u30A8\u30A4\u30BE\u30FC\u541B\u3068\u3001\u8B83\u5C90\u306E\u30C7\u30A3\u30FC\u30D7\u306A\u3046\u3069\u3093\u7D00\u884C\u306B\u306F\u3001\u5B89\u897F\u6C34\u4E38\u753B\u4F2F\u3082\u98DB\u3073\u5165\u308A\u3001\u30E0\u30E9\u30AB\u30DF\u306E\u65C5\u306F\u7D9A\u304D\u307E\u3059\u3002\u96FB\u5B50\u7248\u7279\u5178\uFF01\u300E\u8FBA\u5883\u30FB\u8FD1\u5883\u300A\u65B0\u88C5\u7248\u300B\u300F\u306B\u63B2\u8F09\u3055\u308C\u305F\u3001\u677E\u6751\u6620\u4E09\u30AB\u30E1\u30E9\u30DE\u30F3\u64AE\u5F71\u306E\u30AB\u30E9\u30FC\u53E3\u7D75\u5199\u771F\u3092\u8FFD\u52A0\u53CE\u9332\uFF01\",\"itemPrice\":626,\"itemUrl\":\"http://books.rakuten.co.jp/rk/4434f8a7d4803a428a83244ba13c1dc4\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3518/2000004853518.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3518/2000004853518.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3518/2000004853518.jpg?_ex=200x200\",\"reviewCount\":0,\"reviewAverage\":\"0.0\"},{\"title\":\"\u30B9\u30D7\u30FC\u30C8\u30CB\u30AF\u306E\u604B\u4EBA\",\"titleKana\":\"\u30B9\u30D7\u30FC\u30C8\u30CB\u30AF\u30CE\u30B3\u30A4\u30D3\u30C8\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u8B1B\u8AC7\u793E\",\"language\":\"JA\",\"salesDate\":\"2016\u5E7412\u670816\u65E5\",\"itemNumber\":\"4310000034431\",\"koboGenreId\":\"101901\",\"itemCaption\":\"\uFF62\u3059[...]
