interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Kobo/EbookSearch/20131010?applicationId=XXXXXX&author=%E6%9D%91%E4%B8%8A%E6%98%A5%E6%A8%B9&formatVersion=2&hits=3
  response:
    body: {string: "{\"count\":24,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"pageCount\":8,\"Items\":[{\"title\":\"\u30B9\u30D7\u30FC\u30C8\u30CB\u30AF\u306E\u604B\u4EBA\",\"titleKana\":\"\u30B9\u30D7\u30FC\u30C8\u30CB\u30AF\u30CE\u30B3\u30A4\u30D3\u30C8\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u8B1B\u8AC7\u793E\",\"language\":\"JA\",\"salesDate\":\"2016\u5E7412\u670816\u65E5\",\"itemNumber\":\"4310000034431\",\"koboGenreId\":\"101901\",\"itemCaption\":\"\uFF62\u3059\u307F\u308C\u304C\u307C\u304F\u306B\u3068\u3063\u3066\u3069\u308C\u307B\u3069\u5927\u4E8B\u306A\u3001\u304B\u3051\u304C\u3048\u306E\u306A\u3044\u5B58\u5728\u3067\u3042\u3063\u305F\u304B\u3068\u3044\u3046\u3053\u3068\u304C\u3001\u3042\u3089\u305F\u3081\u3066\u7406\u89E3\u3067\u304D\u305F\u3002\u3059\u307F\u308C\u306F\u5F7C\u5973\u306B\u3057\u304B\u3067\u304D\u306A\u3044\u3084\u308A\u304B\u305F\u3067\u3001\u307C\u304F\u3092\u3053\u306E\u4E16\u306B\u3064\u306A\u304E\u6B62\u3081\u3066\u3044\u305F\u306E\u3060\uFF63
        \uFF62\u65C5\u306E\u9023\u308C\uFF63\u3068\u3044\u3046\u76AE\u8089\u306A\u540D\u3092\u6301\u3064\u5B64\u72EC\u306A\u4EBA\u5DE5\u885B\u661F\u306E\u3088\u3046\u306B\u3001\u8AB0\u3082\u304C\u7686\u305D\u308C\u305E\u308C\u306E\u8ECC\u9053\u3092\u63CF\u304D\u7D9A\u3051\u308B\u3002
        \u3053\u306E\u5E83\u5927\u306A\u4E16\u754C\u3067\u3001\u304B\u308F\u3059\u8A00\u8449\u3082\u7D50\u3076\u7D04\u675F\u3082\u306A\u304F\u3059\u308C\u9055\u3044\u3001\u5225\u308C\u3001\u305D\u3057\u3066\u307E\u305F\u3075\u3068\u3081\u3050\u308A\u3042\u3046\u30B9\u30D7\u30FC\u30C8\u30CB\u30AF\u306E\u672B\u88D4\u305F\u3061\u306E\u7269\u8A9E\u3002\",\"itemPrice\":637,\"itemUrl\":\"http://books.rakuten.co.jp/rk/dfba655f0f8530d38a17ef6a9de7d1ad\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/5019/2000004855019.jpg?_ex=64x64\",\"mediumImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/5019/2000004855019.jpg?_ex=120x120\",\"largeImageUrl\":\"http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/5019/2000004855019.jpg?_ex=200x200\",\"reviewCount\":0,\"reviewAverage\":\"0.0\"},{\"title\":\"\u8FBA\u5883\u30FB\u8FD1\u5883\uFF08\u65B0\u6F6E\u6587\u5EAB\uFF09\",\"titleKana\":\"\u30D8\u30F3\u30AD\u30E7\u30A6\u30AD\u30F3\u30AD\u30E7\u30A6\u30B7\u30F3\u30C1\u30E7\u30A6\u30D6\u30F3\u30B3\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u65B0\u6F6E\u793E\",\"language\":\"JA\",\"salesDate\":\"2016\u5E7412\u670823\u65E5\",\"itemNumber\":\"4340008032411\",\"k[...]
