interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Kobo/EbookSearch/20131010?applicationId=XXXXXX&author=%E6%9D%91%E4%B8%8A%E6%98%A5%E6%A8%B9&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":41,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"pageCount\":14,\"Items\":[{\"title\":\"\u30CE\u30EB\u30A6\u30A7\u30A4\u306E\u68EE\",\"titleKana\":\"\u30CE\u30EB\u30A6\u30A7\u30A4\u30CE\u30E2\u30EA\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u8B1B\u8AC7\u793E\",\"language\":\"JA\",\"salesDate\":\"2018\u5E7412\u670807\u65E5\",\"itemNumber\":\"4310000054088\",\"koboGenreId\":\"101901001\",\"itemCaption\":\"\u5341\u516B\u5E74\u3068\u3044\u3046\u6B73\u6708\u304C\u6D41\u308C\u53BB\u3063\u3066\u3057\u307E\u3063\u305F\u4ECA\u3067\u3082\u3001\u50D5\u306F\u3042\u306E\u8349\u539F\u306E\u98A8\u666F\u3092\u306F\u3063\u304D\u308A\u3068\u601D\u3044\u51FA\u3059\u3053\u3068\u304C\u3067\u304D\u308B\u30FC\u30FC\u30021969\u5E74\u3001\u5927\u5B66\u751F\u306E\u50D5\u3001\u6B7B\u3093\u3060\u53CB\u4EBA\u306E\u5F7C\u5973\u3060\u3063\u305F\u76F4\u5B50\u3001\u305D\u3057\u3066\u540C\u3058\u5B66\u90E8\u306E\u7DD1\u3001\u305D\u308C\u305E\u308C\u306E\u6B20\u843D\u3068\u60B2\u3057\u307F\u30FC\u30FC37\u6B73\u306B\u306A\u3063\u305F\u50D5\u306F\u3001\u6A5F\u5185\u306B\u6D41\u308C\u308B\u30D3\u30FC\u30C8\u30EB\u30BA\u306E\u30E1\u30ED\u30C7\u30A3\u30FC\u306B18\u5E74\u524D\u306E\u3042\u306E\u65E5\u3005\u3092\u601D\u3044\u51FA\u3057\u3001\u6FC0\u3057\u304F\u5FC3\u3092\u304B\u304D\u4E71\u3055\u308C\u3066\u3044\u305F\u3002\u6642\u4EE3\u3082\u56FD\u5883\u3082\u8D8A\u3048\u3066\u8AAD\u307F\u7D99\u304C\u308C\u308B\u4E16\u754C\u7684\u540D\u4F5C\u3001\u3064\u3044\u306B\u96FB\u5B50\u66F8\u7C4D\u306B\u3002\\n\",\"itemPrice\":1232,\"itemUrl\":\"http://books.rakuten.co.jp/rk/3b2d45d0fced3bdeb20b306557ed8ff5\",\"affiliateUrl\":\"\",\"smallImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3425/2000006943425.jpg?_ex=64x64\",\"mediumImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3425/2000006943425.jpg?_ex=120x120\",\"largeImageUrl\":\"https://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/3425/2000006943425.jpg?_ex=200x200\",\"reviewCount\":0,\"reviewAverage\":\"0.0\"},{\"title\":\"\u30C0\u30F3\u30B9\uFF65\u30C0\u30F3\u30B9\uFF65\u30C0\u30F3\u30B9\",\"titleKana\":\"\u30C0\u30F3\u30B9\u30C0\u30F3\u30B9\u30C0\u30F3\u30B9\",\"subTitle\":\"\",\"seriesName\":\"\",\"author\":\"\u6751\u4E0A\u6625\u6A39\",\"authorKana\":\"\u30E0\u30E9\u30AB\u30DF\u30CF\u30EB\u30AD\",\"publisherName\":\"\u8B1B\u8AC7\u793E\",\"language\":\"JA\",\"salesDate\":\"2018\u5E7408\u670803\u65E5\",\"itemNumber\":\"4310000049805\",\"koboGenreId\":\"101901\",\"itemCaption\":\"\u300E\u7F8A[...]
