interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/categoryapi/shop/categorysets/get
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>shop.categorysets.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>9ab683d1-6686-4ead-ac91-399bb9806b9e</requestId></status><categorysetsGetResult><code>C013</code><shopId/></categorysetsGetResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
