interactions:
- request:
    body: null
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/categoryapi/shop/categories/get
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>shop.categories.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>d2aa9d9e-6295-4710-9fba-877e0ace1370</requestId><requests><categorySetManageNumber/></requests></status><categoriesGetResult><code>C107</code><shopId/></categoriesGetResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
