interactions:
- request:
    body: null
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/categoryapi/shop/categories/get?categorySetManageNumber=0
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>shop.categories.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>7814552e-430e-47a6-855c-5586dae0b450</requestId><requests><categorySetManageNumber>0</categorySetManageNumber></requests></status><categoriesGetResult><code>N000</code><shopId/><categorySetManageNumber>0</categorySetManageNumber><categoryList><category><categoryId>100</categoryId><categoryLevel>1</categoryLevel><name>test_sous_categorie1</name><status>0</status><categoryWeight>1</categoryWeight></category><category><categoryId>101</categoryId><categoryLevel>1</categoryLevel><name>test_sous_categorie2</name><status>0</status><categoryWeight>2</categoryWeight></category><category><categoryId>102</categoryId><categoryLevel>1</categoryLevel><name>test_sous_categorie3</name><status>0</status><categoryWeight>3</categoryWeight></category><category><categoryId>103</categoryId><categoryLevel>1</categoryLevel><name>test_sous_categorie4</name><status>0</status><categoryWeight>4</categoryWeight></category></categoryList></categoriesGetResult></result>'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
