interactions:
- request:
    body: null
    headers:
      !!python/unicode Authorization: [!!python/unicode ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/categoryapi/shop/categorysets/get
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>shop.categorysets.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>5185bbab-839b-4212-83ee-07e2794b8b8f</requestId></status><categorysetsGetResult><code>N000</code><shopId/><categorySetList><categorySet><categorySetManageNumber>0</categorySetManageNumber><categorySetId>0</categorySetId><categorySetName>categorie_set_test</categorySetName><categorySetStatus>0</categorySetStatus><categorySetOrder>1</categorySetOrder></categorySet><categorySet><categorySetManageNumber>1</categorySetManageNumber><categorySetId>1</categorySetId><categorySetName>new_test_category</categorySetName><categorySetStatus>0</categorySetStatus><categorySetOrder>2</categorySetOrder></categorySet><categorySet><categorySetManageNumber>etc</categorySetManageNumber><categorySetId>-9999</categorySetId><categorySetName>\u305D\u306E\u4ED6</categorySetName><categorySetStatus>0</categorySetStatus><categorySetOrder>999999999</categorySetOrder></categorySet></categorySetList></categorysetsGetResult></result>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
