interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Gora/GoraPlanSearch/20150706?applicationId=XXXXXX&formatVersion=2&hits=3&playDate=2017-03-05
  response:
    body: {string: "{\"count\":1854,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"pageCount\":100,\"Items\":[{\"golfCourseId\":80096,\"golfCourseName\":\"\u6771\u7B51\u6CE2\u30AB\u30F3\u30C8\u30EA\u30FC\u30AF\u30E9\u30D6\",\"golfCourseCaption\":\"\u30C0\u30A4\u30EF\u30A4\u30F3\u30BF\u30FC\u30CA\u30B7\u30E7\u30CA\u30EB\u30FB\u95A2\u6771\u30D7\u30ED\u3092\u958B\u50AC\u3057\u305F\u30C1\u30E3\u30F3\u30D4\u30AA\u30F3\u30B3\u30FC\u30B9\u3002\u8D64\u677E\u306B\u56F2\u307E\u308C\u305F\u4E18\u9675\u5730\u3067\u3001\u5404\u30DB\u30FC\u30EB\u304C\u898B\u4E8B\u306A\u679D\u3076\u308A\u306B\u3088\u3063\u3066\u30BB\u30D1\u30EC\u30FC\u30C8\u3055\u308C\u3066\u3044\u308B\u3002\u5317\u30FB\u4E2D\u30FB\u5357\u3068\u3069\u306E\u30DB\u30FC\u30EB\u3082\u3061\u304C\u3046\u9854\u3092\u898B\u305B\u3001\u30D7\u30EC\u30FC\u30E4\u30FC\u3092\u3042\u304D\u3055\u305B\u306A\u3044\u3002\u5317\u30FB\u4E2D\u306E\u30B3\u30FC\u30B9\u30EC\u30FC\u30C8\u306F74.2\u3092\u307B\u3053\u308B\u3002\u30DE\u30B9\u30BF\u30FC\u30BA\u30D7\u30EC\u30A4\u30E4\u30FC\u306E\u91D1\u5B50\u67F1\u61B2\u3001\u6771\u8061\u307B\u304B\u6570\u591A\u304F\u306E\u30C8\u30FC\u30CA\u30E1\u30F3\u30C8\u30D7\u30EC\u30A4\u30E4\u30FC\u3092\u80B2\u3066\u305F\u3002\\n\\n\u2606\u2606\u2606\u304A\u77E5\u3089\u305B\u2606\u2606\u2606\\n\u30B3\u30FC\u30B9\u30EC\u30FC\u30C8\u306E\u518D\u67FB\u5B9A\u3092\u884C\u3044\u3001\u30B3\u30FC\u30B9\u30EC\u30FC\u30C8\u304C\u5909\u66F4\u3068\u306A\u308A\u307E\u3057\u305F\u3002\uFF08\u5E73\u621025\u5E746\u6708\uFF09\",\"golfCourseRsvType\":1,\"areaCode\":8,\"prefecture\":\"\u8328\u57CE\u770C\",\"highwayCode\":11131,\"highway\":\"\u5E38\u78D0\u81EA\u52D5\u8ECA\u9053\",\"ic\":\"\u5343\u4EE3\u7530\u77F3\u5CA1\",\"icDistance\":\"10km\u4EE5\u5185\",\"golfCourseImageUrl\":\"http://booking.gora.golf.rakuten.co.jp/img/golf/80096/photo1.jpg\",\"displayWeekdayMinPrice\":null,\"displayWeekdayMinBasePrice\":null,\"displayHolidayMinPrice\":\"\u4F11\u65E5
        13,800\u5186\uFF0812038\u5186\uFF0B\u7A0E\uFF09\uFF5E\",\"displayHolidayMinBasePrice\":\"\u4F11\u65E5
        12,038\u5186\uFF08\u7DCF\u984D 13,800\u5186\uFF09\uFF5E\",\"cancelFeeFlag\":1,\"cancelFee\":\"\u571F\u65E5\u795D\u65E5\u306E\uFF13\u7D44\u69D8\u4EE5\u4E0A\u306E\u3054\u4E88\u7D04\u306E\u304A\u53D6\u6D88\u3057\u306B\u3064\u304D\u307E\u3057\u3066\u306F\uFF64\\n\u30D7\u30EC\u30FC\u65E5\u306E10\u65E5\u524D\u3088\u308A\u304A\u4E00\u4EBA\u69D8\u3042\u305F\u308A5,000\u5186\u306E\u30AD\u30E3\u30F3\u30BB\u30EB\u6599\u304C\u767A\u751F\u3057\u307E\u3059\u3002\u3054\u6CE8\u610F\u304F\u3060\u3055\u3044\u3002\",\"ratingNum\":12685,\"evaluation\":4.6,\"reserveCalUrlPC\":\"http://search.gora.golf.rakuten.co.jp/cal/disp/c_id/80096/\",\"reserveCalUrlMobile\":\"http://gr.g.rakuten.co.jp/b/?menu=mbl_cal&act=disp&c_id=80096\",\"ratingUrlPC\":\"http://booking.gora.golf.rakuten.co.jp/voice/detail/c_id/80096\",\"ratingUrlMobile\":\"http://gr.g.rakuten.co.jp/b/?menu=mbl_voice&act=detail&c_id=80096\",\"planInfo\":[{\"planId\":6545029,\"planName\":\"\u2605\u9045\u3044\u6642\u9593\u9650\u5B9A\u30D7\u30E9\u30F3\u2605\u571F\u65E5\u795D\u4E57\u7528\u30AB\u30FC\u30C8\u30BB\u30EB\u30D5\",\"planType\":3,\"limitedTimeFlag\":0,\"price\":13800,\"basePrice\":12038,\"salesTax\":962,\"courseUseTax\":750,\"otherTax\":50,\"playerNumMin\":3,\"playerNumMax\":4,\"startTimeZone\":\"9\u6642\u53F0,10\u6642\u53F0\",\"round\":\"1R\",\"caddie\":0,\"cart\":2,\"assu2sum\":0,\"addFee2bFlag\":0,\"addFee2b\":0,\"assortment2bFlag\":1,\"addFee3bFlag\":0,\"addFee3b\":0,\"assortment3bFlag\":1,\"discount4sumFlag\":0,\"lunch\":1,\"drink\":0,\"stay\":0,\"lesson\":0,\"openCompe\":0,\"regularCompe\":0,\"compePlayGroupMin\":0,\"compePlayMemberMin\":0,\"compePrivilegeFree\":null,\"compeOption\":null,\"other\":\"\u9045\u3044\u6642\u9593\u30B9\u30BF\u30FC\u30C8\u9650\u5B9A(9\uFF1A24\uFF5E)\u306E\u304A\u5F97\u306A\u30D7\u30E9\u30F3\u3067\u3054\u3056\u3044\u307E\u3059\\n\\n\u2605\u304A\u5F97\u306A\u663C\u98DF\u4ED8\u304D\u2605\\n\\n3B\uFF1A\u53EF\u80FD\u6027\u306F\u4F4E\u3044\u3067\u3059\u304C\u3001\u6DF7\u96D1\u6642\u306B\u304A\u7D44\u5408\u305B\u3092\u304A\u9858\u3044\u3059\u308B\u4E8B\u304C\u3042\u308A\u307E\u3059\u3002\\n2B\uFF1A\u571F\u65E5\u795D\u306B\u3064\u3044\u3066\u306F\u53D7\u3051\u4ED8\u3051\u3066\u304A\u308A\u307E\u305B\u3093\u3002\u5F53\u65E52\u540D\u306B\u306A\u3063\u305F\u5834\u5408\u306F\u3001\u7D44\u307F\u5408\u308F\u305B\u306B\u306A\u308A\u307E\u3059\u306E\u3067\u3042\u3089\u304B\u3058\u3081\u3054\u4E86\u627F\u304F\u3060\u3055\u3044\u3002\\n\\n\u30FB2B\u4E0D\u53EF\\n\u30FB1R\u306E\u307F\\n\u30FB\u30EC\u30C7\u30A3\u30FC\u30B9\u30B5\u30FC\u30D3\u30B9\u4E0D\u53EF\\n\\n\u3010\u203B\u304A\u9858\u3044\u3011\\n\u3054\u4E88\u7D04\u306E\u4EE3\u8868\u8005\u69D8\u306F\u30D7\u30EC\u30FC\u5F53\u65E5\u306B\u9023\u7D61\u304C\u53D6\u308C\u308B\u643A\u5E2F\u96FB\u8A71\u306E\u767B\u9332\u3092\u304A\u9858\u3044\u81F4\u3057\u307E\u3059\u3002\\n\\n\u3054\u5909\u66F4\u306F\u3001\u30E1\u30FC\u30EB\u3001\u304A\u96FB\u8A71\u306B\u3066\u3054\u9023\u7D61\u81F4\u3057\u307E\u3059\u3002\\n\u4E88\u3081\u3054\u4E86\u627F\u4E0B\u3055\u3044\u3002\\n\\n\u203B\u7D44\u307F\u5408\u308F\u305B\u306F\u30D7\u30EC\u30FC\u65E5\u306E10\u65E5\u524D\u307E\u3067\u306B\u3054\u9023\u7D61\u4E0B\u3055\u3044\u3002\",\"pointFlag\":0,\"point\":0,\"callInfo\":{\"playDate\":\"2017-03-05\",\"stockStatus\":4,\"stockCount\":1,\"reservePageUrlPC\":\"https://booking.gora.golf.rakuten.co.jp/rsv/slcttime/c_id/80096/plan_id/6545029/date/20170305\",\"reservePageUrlMobile\":\"https://gr.g.rakuten.co.jp/b/?menu=mbl_rsv&act=slcttime&c_id=80096&plan_id=6545029&stock_id=&date=20170305&s_pd=80096;6545029\"}},{\"planId\":6545045,\"planName\":\"\u2605\u65E9\u3044\u6642\u9593\u9650\u5B9A\u30D7\u30E9\u30F3\u2605\u571F\u65E5\u795D\u4E57\u7528\u30AB\u30FC\u30C8\u30BB\u30EB\u30D5\",\"planType\":3,\"limitedTimeFlag\":0,\"price\":13800,\"basePrice\":12038,\"salesTax\":962,\"courseUseTax\":750,\"otherTax\":50,\"playerNumMin\":3,\"playerNumMax\":4,\"startTimeZone\":\"7\u6642\u53F0[...]
