interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Gora/GoraGolfCourseSearch/20170623?applicationId=XXXXXX&formatVersion=2&hits=3
  response:
    body:
      string: "{\"count\":2047,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"carrier\":0,\"pageCount\":683,\"Items\":[{\"golfCourseId\":80004,\"golfCourseName\":\"\u30A2\u30B8\u30A2\u53D6\u624B\u30AB\u30F3\u30C8\u30EA\u30FC\u5036\u697D\u90E8\",\"golfCourseAbbr\":\"\u30A2\u30B8\u30A2\u53D6\u624BCC\",\"golfCourseNameKana\":\"\u3042\u3058\u3042\u3068\u308A\u3067\u304B\u3093\u3068\u308A\u30FC\u304F\u3089\u3076\",\"golfCourseCaption\":\"\u5E38\u78D0\u9053\u306E\u8C37\u548C\u539FI.C.\u3088\u308A15\u5206\uFF01\u90FD\u5FC3\u304B\u3089\u306E\u30A2\u30AF\u30BB\u30B9\u306E\u826F\u3055\u304C\u9B45\u529B\u3002\u59C9\u59B9\u30B3\u30FC\u30B9\u306B\u7D9A\u304D\u3001\u3010\u30BB\u30B0\u30A6\u30A7\u30A4\u3011\u3092100\u53F0\u5C0E\u5165\uFF01\u65E5\u672C\u4E00\u306E\u5C0E\u5165\u6570\u3092\u8A87\u308A\u307E\u3059\u3002\u30D5\u30A7\u30A2\u30A6\u30A7\u30A4\u4E57\u308A\u5165\u308C\u53EF\u80FD\u3067\u79FB\u52D5\u3082\u5FEB\u9069\u3001\u3010\u30BB\u30B0\u30A6\u30A7\u30A4\u3067\u30B4\u30EB\u30D5\u3011\u3092\u662F\u975E\u4F53\u9A13\u3057\u3066\u307F\u3066\u4E0B\u3055\u3044\u3002\\n\\n\u3010\u304A\u5F97\u30D7\u30E9\u30F3\u306E\u4E00\u90E8\u3092\u3054\u7D39\u4ECB\u3011\\n\u30FB\u5168\u65E5\u5EFB\u308A\u653E\u984C\uFF01\uFF0A\u5F53\u65E5\u306E\u5929\u5019\u3001\u65E5\u6CA1\u72B6\u6CC1\u306B\u3088\u308A\u3001\u8FFD\u52A0\u30E9\u30A6\u30F3\u30C9\u3067\u304D\u306A\u3044\u5834\u5408\u3082\u3054\u3056\u3044\u307E\u3059\u3002\\n\u30FB\u304A\u8A95\u751F\u6708\u7279\u5178\u3042\u308A\uFF01\\n\u30FB\u5E73\u65E5\u306F\u98DF\u3079\u653E\u984C\u306E\u30E9\u30F3\u30C1\u30D0\u30A4\u30AD\u30F3\u30B0\u30014\u30B5\u30E0\u5272\u5F15\u304D\u3042\u308A\u3002\\n\u304A\u5F97\u3067\u697D\u3057\u3044\u4E00\u65E5\u3092\u304A\u6C17\u8EFD\u306B\u304A\u904E\u3054\u3057\u4E0B\u3055\u3044\u3002\",\"address\":\"\u8328\u57CE\u770C\u53D6\u624B\u5E02\u7A321340\",\"latitude\":35.9061664,\"longitude\":140.0397556,\"highway\":\"\u5E38\u78D0\u81EA\u52D5\u8ECA\u9053\u8C37\u548C\u539F\",\"golfCourseDetailUrl\":\"https://booking.gora.golf.rakuten.co.jp/guide/disp/c_id/80004\",\"reserveCalUrl\":\"https://search.gora.golf.rakuten.co.jp/cal/disp/c_id/80004\",\"ratingUrl\":\"https://booking.gora.golf.rakuten.co.jp/voice/detail/c_id/80004\",\"golfCourseImageUrl\":\"https://gora.golf.rakuten.co.jp/img/golf/80004/photo1.jpg\",\"evaluation\":3.3},{\"golfCourseId\":280065,\"golfCourseName\":\"\u4E09\u7530\u30EC\u30FC\u30AF\u30B5\u30A4\u30C9\u30AB\u30F3\u30C8\u30EA\u30FC\u30AF\u30E9\u30D6\",\"golfCourseAbbr\":\"\u4E09\u7530\u30EC\u30FC\u30AF\u30B5\u30A4\u30C9CC\",\"golfCourseNameKana\":\"\u3055\u3093\u3060\u308C\u30FC\u304F\u3055\u3044\u3069\u304B\u3093\u3068\u308A\u30FC\u304F\u3089\u3076\",\"golfCourseCaption\":\"\uFF2A\u30FB\uFF25\u30FB\u30AF\u30EC\u30FC\u30F3\u72EC\u7279\u306E\u30B0\u30EA\u30FC\u30F3\u5468\u308A\u306E\u8A2D\u8A08\u[...]
