interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Gora/GoraPlanSearch/20150706?applicationId=XXXXXX&formatVersion=2&hits=3&playDate=2017-03-05
  response:
    body: {string: "{\"count\":1873,\"page\":1,\"first\":1,\"last\":3,\"hits\":3,\"pageCount\":100,\"Items\":[{\"golfCourseId\":120017,\"golfCourseName\":\"\u30B4\u30EB\u30D5\uFF15\u30AB\u30F3\u30C8\u30EA\u30FC\u30AA\u30FC\u30AF\u30D3\u30EC\u30C3\u30C2\uFF08\u65E7\uFF1A\u30AA\u30FC\u30AF\u30D3\u30EC\u30C3\u30C2\uFF27\uFF23\uFF09\",\"golfCourseCaption\":\"\u2605\u26062017\u5E749\u67081\u65E5\uFF5E3\u65E5\u3000LPGA\u30C4\u30A2\u30FC\u3000\u30B4\u30EB\u30D55\u30EC\u30C7\u30A3\u30B9
        \u30D7\u30ED\u30B4\u30EB\u30D5\u30C8\u30FC\u30CA\u30E1\u30F3\u30C8\u3000\u30AA\u30FC\u30AF\u30D3\u30EC\u30C3\u30C2\u3000\u958B\u50AC\u6C7A\u5B9A\u2606\u2605\\n\u25A0\uFF2A\uFF27\uFF34\uFF2F\u300E\uFF34\uFF2F\uFF35\uFF32
        \uFF23\uFF28\uFF21\uFF2D\uFF30\uFF29\uFF2F\uFF2E\uFF33 \uFF23\uFF2C\uFF35\uFF22\u300F\u8A8D\u8A3C\u30B3\u30FC\u30B9\u25A0\u3000\\n\u4E1[...]
