interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <folderInsertRequest>\n
      \   <folder>\n      <folderName>H35TX4FO6J697AX</folderName>\n    </folder>\n
      \ </folderInsertRequest>\n</request>\n"
    headers:
      Authorization: [ESA XXXXXX]
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/folder/insert
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>cabinet.folder.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>1b74c107-b499-4a55-a514-bf2da71d2598</requestId><requests/></status><cabinetFolderInsertResult><resultCode>0</resultCode><FolderId>5529032</FolderId></cabinetFolderInsertResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/folders/get
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>cabinet.folders.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>36af8883-2fd9-4473-87c5-ad72d8b7d906</requestId><requests><offset/><limit/></requests></status><cabinetFoldersGetResult><resultCode>0</resultCode><folderAllCount>21</folderAllCount><folderCount>21</folderCount><folders><folder><FolderId>0</FolderId><FolderName>\u57FA\u672C\u30D5\u30A9\u30EB\u30C0</FolderName><FolderNode>0</FolderNode><FolderPath>/</FolderPath><FileCount>0</FileCount><FileSize>0.000</FileSize><TimeStamp>2016-12-08
        10:55:21</TimeStamp></folder><folder><FolderId>5421913</FolderId><FolderName>\u770B\u677F</FolderName><FolderNode>1</FolderNode><FolderPath>/kanban</FolderPath><FileCount>1</FileCount><FileSize>18.204</FileSize><TimeStamp>2016-12-08
        10:56:14</TimeStamp></folder><folder><FolderId>5491265</FolderId><FolderName>test_xcvbn</FolderName><FolderNode>1</FolderNode><FolderPath>/05491265</FolderPath><FileCount>0</FileCount><FileSize>0.000</FileSize><TimeStamp>2017-01-26
        [...]
