interactions:
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/usage/get
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>cabinet.usage.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>58369c1d-2509-43c3-a62e-a5e25c43f4ec</requestId></status><cabinetUsageGetResult><resultCode>0</resultCode><MaxSpace>5000</MaxSpace><FolderMax>500</FolderMax><FileMax>2000</FileMax><UseSpace>11328.561</UseSpace><AvailSpace>5108671.439</AvailSpace><UseFolderCount>3</UseFolderCount><AvailFolderCount>497</AvailFolderCount></cabinetUsageGetResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/usage/get
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>cabinet.usage.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>06b1c29e-6330-4e17-b5c9-5662cba6b516</requestId></status><cabinetUsageGetResult><resultCode>0</resultCode><MaxSpace>5000</MaxSpace><FolderMax>500</FolderMax><FileMax>2000</FileMax><UseSpace>11328.561</UseSpace><AvailSpace>5108671.439</AvailSpace><UseFolderCount>9</UseFolderCount><AvailFolderCount>491</AvailFolderCount></cabinetUsageGetResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
