interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<request>\n  <folderInsertRequest>\n
      \   <folder>\n      <folderName>H35TX4FO6J697AX</folderName>\n    </folder>\n
      \ </folderInsertRequest>\n</request>\n"
    headers:
      Authorization:
      - ESA XXXXXX
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/folder/insert
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>cabinet.folder.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>424aaf29-14be-4246-ad57-e40378aeebcc</requestId><requests/></status><cabinetFolderInsertResult><resultCode>0</resultCode><FolderId>7194490</FolderId></cabinetFolderInsertResult></result>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - ESA XXXXXX
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/folders/get
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<result><status><interfaceId>cabinet.folders.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>6a522f75-c2cd-4c8b-a41f-4a1be580655c</requestId><requests><offset/><limit/></requests></status><cabinetFoldersGetResult><resultCode>0</resultCode><folderAllCount>5</folderAllCount><folderCount>5</folderCount><folders><folder><FolderId>0</FolderId><FolderName>\u57FA\u672C\u30D5\u30A9\u30EB\u30C0</FolderName><FolderNode>0</FolderNode><FolderPath>/</FolderPath><FileCount>106</FileCount><FileSize>6280.039</FileSize><TimeStamp>2019-10-22
        00:19:05</TimeStamp></folder><folder><FolderId>7147126</FolderId><FolderName>TEST</FolderName><FolderNode>1</FolderNode><FolderPath>/07147126</FolderPath><FileCount>0</FileCount><FileSize>0.000</FileSize><TimeStamp>2019-09-23
        23:45:45</TimeStamp></folder><folder><FolderId>7165469</FolderId><FolderName>Product
        image</FolderName><FolderNode>1</FolderNode><FolderPath>/07165469</FolderPath><FileCount>40</FileCount><FileSize>1350.172</FileSize><TimeStamp>2019-10-18
        17:31:31</TimeStamp></folder><folder><FolderId>7194474</FolderId><FolderName>H35TX4FO6J697AX</FolderName><FolderNode>1</FolderNode><FolderPath>/07194474</FolderPath><FileCount>0</FileCount><FileSize>0.000</FileSize><TimeStamp>2019-10-22
        19:04:38</TimeStamp></folder><folder><FolderId>7194490</FolderId><FolderName>H35TX4FO6J697AX</FolderName><FolderNode>1</FolderNode><FolderPath>/07194490</FolderPath><FileCount>0</FileCount><FileSize>0.000</FileSize><TimeStamp>2019-10-22
        19:44:07</TimeStamp></folder></folders></cabinetFoldersGetResult></result>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
