interactions:
- request:
    body: null
    headers:
      Authorization: [ESA XXXXXX]
    method: GET
    uri: https://api.rms.rakuten.co.jp/es/1.0/cabinet/usage/get
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <result><status><interfaceId>cabinet.usage.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>76cc65d9-33a5-4ca6-bbbb-af3427003e99</requestId></status><cabinetUsageGetResult><resultCode>0</resultCode><MaxSpace>5000</MaxSpace><FolderMax>500</FolderMax><FileMax>2000</FileMax><UseSpace>46.300</UseSpace><AvailSpace>5119953.700</AvailSpace><UseFolderCount>19</UseFolderCount><AvailFolderCount>481</AvailFolderCount></cabinetUsageGetResult></result>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
