interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/KeywordHotelSearch/20131024?applicationId=XXXXXX&formatVersion=2&keyword=Tokyo
  response:
    body: {string: "{\"pagingInfo\":{\"recordCount\":70,\"pageCount\":3,\"page\":1,\"first\":1,\"last\":30},\"hotels\":[[{\"hotelBasicInfo\":{\"hotelNo\":153147,\"hotelName\":\"\uFF34\uFF48\uFF45\u3000\uFF32\uFF59\uFF4F\uFF4B\uFF41\uFF4E\u3000\uFF34\uFF4F\uFF4B\uFF59\uFF4F\u3000\uFF39\uFF35\uFF27\uFF21\uFF37\uFF21\uFF32\uFF21\",\"hotelInformationUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/JBe8h/?f_no=153147\",\"planListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/3VTwt/?f_no=153147&f_flg=PLAN\",\"dpPlanListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/IWrzP/?noTomariHotel=153147\",\"reviewUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/HTX0u/?f_hotel_no=153147\",\"hotelKanaName\":\"\u3056\u3000\u308A\u3087\u304B\u3093\u3000\u3068\u3046\u304D\u3087\u3046\u3000\u3086\u304C\u308F\u3089\",\"hotelSpecial\":\"\u65E5\u672C\u306E\u9B45\u529B\u3092\u4E00\u5EA6\u306B\u5473\u308F\u3048\u308B\u3088\u3046\u306A\u30CB\u30E5\u30FC\u30BF\u30A4\u30D7\u65C5\u9928\u3001\u305D\u308C\u304C\u300CThe
        Ryokan Tokyo\u300D\u3067\u3059\u3002\",\"hotelMinCharge\":2800,\"latitude\":126521.92,\"longitude\":500677.48,\"postalCode\":\"259-0314\",\"address1\":\"\u795E\u5948\u5DDD\u770C\",\"address2\":\"\u8DB3\u67C4\u4E0B\u90E1\u6E6F\u6CB3\u539F\u753A\u5BAE\u4E0A742\",\"telephoneNo\":\"0465-63-3498\",\"faxNo\":\"0465-63-3499\",\"access\":\"\u6E6F\u6CB3\u539F\u99C5\u3088\u308A\u30D0\u30B910\u5206\uFF08\u5965\u6E6F\u6CB3\u539F\u884C\u304D\uFF09\u85E4\u6728\u6A4B\u4E0B\u8ECA\u3002\u4E80\u5C4B\u65C5\u9928\u69D8\u306E\u5742\u3092\u4E0A\u304C\u308A\u7D0410\u5206\u3002\u304A\u8ECA\u306E\u5834\u5408\u306F\u3001\u4E94\u6240\u795E\u793E\u4EA4\u5DEE\u70B9\u3092\u53F3\u6298\u3002\",\"parkingInformation\":\"\u6709\u308A\u3000\uFF18\u53F0\u3000\u7121\u6599\",\"nearestStation\":\"\u6E6F\u6CB3\u539F\",\"hotelImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/153147/153147.jpg\",\"hotelThumbnailUrl\":\"http://img.travel.rakuten.co.jp/HIMG/90/153147.jpg\",\"roomImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/153147/15314_kan1.jpg\",\"roomThumbnailUrl\":\"http://img.travel.rakuten.co.jp/HIMG/INTERIOR/153147.jpg\",\"hotelMapImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/153147/153147map.gif\",\"reviewCount\":9,\"reviewAverage\":3.67,\"userReview\":null}},{\"hotelRatingInfo\":{\"serviceAverage\":0,\"locationAverage\":0,\"roomAverage\":0,\"equipmentAverage\":0,\"bathAverage\":0,\"mealAverage\":0}}],[{\"hotelBasicInfo\":{\"hotelNo\":149476,\"hotelName\":\"\uFF22\uFF35\uFF2E\uFF2B\uFF21\u3000\uFF28\uFF2F\uFF33\uFF34\uFF25\uFF2C\u3000\uFF34\uFF2F\uFF2B\uFF39\uFF2F\u3000\uFF08\u30D6\u30F3\u30AB\u30DB\u30B9\u30C6\u30EB\u6771\u4EAC\uFF09\",\"hotelInformationUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/JBe8h/?f_no=149476\",\"planListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/kw/3VTwt/?f_no=149476&f_flg=PLAN\",\"dpPlanListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/a[...]
