interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/VacantHotelSearch/20131024?applicationId=XXXXXX&checkinDate=2017-02-14&checkoutDate=2017-03-10&formatVersion=2&latitude=125994.28&longitude=488781.51
  response:
    body: {string: "{\"pagingInfo\":{\"recordCount\":7,\"pageCount\":1,\"page\":1,\"first\":1,\"last\":7},\"hotels\":[[{\"hotelBasicInfo\":{\"hotelNo\":1834,\"hotelName\":\"\u30A2\u30D1\u30DB\u30C6\u30EB\uFF1C\u4EAC\u90FD\u7947\u5712\uFF1EEXCELLENT(\u65E7\uFF1A\u4EAC\u90FD\u7947\u5712\u30DB\u30C6\u30EB)\",\"hotelInformationUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/pvonD/?f_no=1834\",\"planListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/vFumt/?f_no=1834&f_flg=PLAN\",\"dpPlanListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/WzozX/?noTomariHotel=1834\",\"reviewUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/gJNfM/?f_hotel_no=1834\",\"hotelKanaName\":\"\u3042\u3071\u307B\u3066\u308B\u3000\u304D\u3087\u3046\u3068\u304E\u304A\u3093\u3000\u3048\u304F\u305B\u308C\u3093\u3068\",\"hotelSpecial\":\"\u4EAC\u962A\u3010\u7947\u5712\u56DB\u6761\u99C5\u3011\u962A\u6025\u3010\u6CB3\u539F\u753A\u99C5\u3011\uFF14\uFF5E\uFF17\u5206\u306E\u7ACB\u5730\uFF01\uFF01\uFF2A\uFF32\u4EAC\u90FD\u99C5\u304B\u3089\u8ECA\u3067\u7D0415\u5206\u3002\u4EAC\u90FD\u89B3\u5149\u306E\u62E0\u70B9\u306B\u5229\u7528\u4E0B\u3055\u3044\u307E\u305B\u266A\",\"hotelMinCharge\":4000,\"latitude\":126001.06,\"longitude\":488804.19,\"postalCode\":\"605-0074\",\"address1\":\"\u4EAC\u90FD\u5E9C\",\"address2\":\"\u4EAC\u90FD\u5E02\u6771\u5C71\u533A\u7957\u5712\u753A\u5357\u5074555\u756A\u5730\",\"telephoneNo\":\"075-551-2111\",\"faxNo\":\"075-551-2200\",\"access\":\"\uFF2A\uFF32\u4EAC\u90FD\u99C5\u304B\u3089\u8ECA\u306715\u5206\u3000\u4EAC\u962A\u3010\u7947\u5712\u56DB\u6761\u99C5\u3011\u962A\u6025\u3010\u6CB3\u539F\u753A\u99C5\u3011\u3088\u308A\u5F92\u6B69\uFF14\uFF5E\uFF17\u5206\u3002\u516B\u5742\u795E\u793E\u3059\u3050\u5074\uFF01\uFF01\u3000\",\"parkingInformation\":\"\u3010\u5148\u7740\u9806\u3011\u2460\u300Ce-park\u300D14:00\uFF5E12:00\\\\1620/\u2461\u300C\u5EFA\u4EC1\u5BFA\u99D0\u8ECA\u5834\u300D18\u6642\u9593\\\\1000\",\"nearestStation\":\"\u4EAC\u90FD\",\"hotelImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/1834/1834.jpg\",\"hotelThumbnailUrl\":\"http://img.travel.rakuten.co.jp/HIMG/90/1834.jpg\",\"roomImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/1834/1834_room.jpg\",\"roomThumbnailUrl\":\"http://img.travel.rakuten.co.jp/HIMG/INTERIOR/1834.jpg\",\"hotelMapImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/1834/1834map.gif\",\"reviewCount\":2700,\"reviewAverage\":4.05,\"userReview\":\"\u5BBF\u6CCA\u306F\u30A2\u30D1\u30DB\u30C6\u30EB\u3068\u6C7A\u3081\u3066\u3044\u307E\u3059\u3002\u30002017-02-09
        11:34:13\u6295\u7A3F\"}},{\"roomInfo\":[{\"roomBasicInfo\":{\"roomClass\":\"ts-0\",\"roomName\":\"\u30B7\u30F3\u30B0\u30EB\u30E6\u30FC\u30B9\u3010\u55AB\u7159\u53EF\u3011\",\"planId\":2002684,\"planName\":\"\u3010\u7D20\u6CCA\u307E\u308A\u3011\u3010\u30C4\u30A4\u30F3\u30B7\u30F3\u30B0\u30EB\u30E6\u30FC\u30B9\u3011\u30C4\u30A4\u30F3\u3092\u3086\u3063\u305F\u308A\u4E00\u4EBA\u3058\u3081\u2606\u30C4\u30A4\u30F3\u304A\u4E00\u4EBA\u69D8\u5229\u7528\",\"pointRate\":1,\"withDinnerFlag\":0,\"dinnerSelectFlag\":0,\"withBreakfastFlag\":0,\"breakfastSelectFlag\":0,\"payment\":\"1\",\"reserveUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/IdsCY/?f_no=1834&f_syu=ts-0&f_hi1=2017-02-14&f_hi2=2017-03-10&f_heya_su=1&f_otona_su=1&f_s1=0&f_s2=0&f_y1=0&f_y2=0&f_y3=0&f_y4=0&f_camp_id=2002684\",\"salesformFlag\":0}},{\"dailyCharge\":{\"stayDate\":\"2017-02-14\",\"rakutenCharge\":6000,\"total\":6000,\"chargeFlag\":0}}]}],[{\"hotelBasicInfo\":{\"hotelNo\":151141,\"hotelName\":\"\u30BB\u30F3\u30C1\u30E5\u30EA\u30AA\u30F3\u30AD\u30E3\u30D3\u30F3\uFF06\u30B9\u30D1\u4EAC\u90FD\",\"hotelInformationUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/pvonD/?f_no=151141\",\"planListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/vFumt/?f_no=151141&f_flg=PLAN\",\"dpPlanListUrl\":null,\"reviewUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/re/gJNfM/?f_hotel_no=151141\",\"hotelKanaName\":\"\u305B\u30[...]
