interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/KeywordHotelSearch/20170426?applicationId=XXXXXX&formatVersion=2&keyword=Tokyo
  response:
    body:
      string: "{\"pagingInfo\":{\"recordCount\":129,\"pageCount\":5,\"page\":1,\"first\":1,\"last\":30},\"hotels\":[[{\"hotelBasicInfo\":{\"hotelNo\":167230,\"hotelName\":\"\uFF22\uFF2F\uFF2F\uFF2B\u3000\uFF21\uFF2E\uFF24\u3000\uFF22\uFF25\uFF24\u3000\uFF34\uFF2F\uFF2B\uFF39\uFF2F\u3000\uFF33\uFF28\uFF29\uFF2E\uFF2A\uFF35\uFF2B\uFF35\",\"hotelInformationUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/JBe8h/?f_no=167230\",\"planListUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/3VTwt/?f_no=167230&f_flg=PLAN\",\"dpPlanListUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/IWrzP/?noTomariHotel=167230\",\"reviewUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/HTX0u/?f_hotel_no=167230\",\"hotelKanaName\":\"\u3076\u3063\u304F\u3000\u3042\u3093\u3069\u3000\u3079\u3063\u3069\u3000\u3068\u3046\u304D\u3087\u3046\u3000\u3057\u3093\u3058\u3085\u304F\",\"hotelSpecial\":\"\u3010\u5973\u6027\u5BA2\uFF17\u5272\u3011\u3010\u30D0\u30B9\u30BF\u65B0\u5BBF\u3001\u65B0\u5BBF\u99C5\u304B\u3089\u5F92\u6B69\u570F\u5185\u3011\u3010\u6CCA\u307E\u308C\u308B\u672C\u5C4B\uFF15\u5E97\u8217\u76EE\u3011\",\"hotelMinCharge\":3845,\"latitude\":128491.98,\"longitude\":502933.62,\"postalCode\":\"160-0021\",\"address1\":\"\u6771\u4EAC\u90FD\",\"address2\":\"\u65B0\u5BBF\u533A\u6B4C\u821E\u4F0E\u753A1-27-5APM\u30D3\u30EB8\u968E\",\"telephoneNo\":\"03-6233-9511\",\"faxNo\":\"000-000-0000\",\"access\":\"\u897F\u6B66\u65B0\u5BBF\u99C5\u3088\u308A\u5F92\u6B69\u306B\u3066\u7D04\uFF12\u5206\",\"parkingInformation\":\"\u7121\u3057\",\"nearestStation\":\"\u897F\u6B66\u65B0\u5BBF\",\"hotelImageUrl\":\"https://img.travel.rakuten.co.jp/share/HOTEL/167230/167230.jpg\",\"hotelThumbnailUrl\":\"https://img.travel.rakuten.co.jp/HIMG/90/167230.jpg\",\"roomImageUrl\":null,\"roomThumbnailUrl\":null,\"hotelMapImageUrl\":\"https://img.travel.rakuten.co.jp/share/HOTEL/167230/167230map.gif\",\"reviewCount\":31,\"reviewAverage\":3.68,\"userReview\":\"\u99C5\u304B\u3089\u306E\u8DDD\u96E2\u3082\u8FD1\u304F\u3001\u6700\u8FD1\u306F\u3060\u3044\u3076\u6B69\u304D\u3084\u3059\u3044\u5834\u6240\u306B\u306A\u3063\u305F\u306E\u3067\u3001\u4F55\u5EA6\u3082\u5229\u7528\u3057\u3066\u3044\u307E\u3059\u3002\u30B7\u30E3\u30EF\u30FC\u30EB\u30FC\u30E0\u306E\u6249\u304C\u30B9\u30DA\u30FC\u30B9\u304E\u308A\u304E\u308A\u306A\u306E\u3067\u3001\u8377\u7269\u3092\u6301\u3063\u3066\u3044\u308B\u3068\u82E5\u5E72\u901A\u308A\u306B\u304F\u3044\u3067\u3059\u304C\u3001\u30B3\u30F3\u30D1\u30AF\u30C8\u3067\u4F7F\u3044\u3084\u3059\u3044\u3067\u3059\u3002\u2026\u30002019-09-09
        21:36:11\u6295\u7A3F <a href=\\\"http://img.travel.rakuten.co.jp/image/tr/api/kw/HTX0u/?f_hotel_no=167230\\\"
        class=\\\"3click\\\">\u3064\u3065\u304D\u306F\u3053\u3061\u3089<\\/a>\"}},{\"hotelRatingInfo\":{\"serviceAverage\":3.47,\"locationAverage\":4.16,\"roomAverage\":3.32,\"equipmentAverage\":3.35,\"bathAverage\":3.41,\"mealAverage\":0}}],[{\"hotelBasicInfo\":{\"hotelNo\":153147,\"hotelName\":\"\uFF34\uFF48\uFF45\u3000\uFF32\uFF59\uFF4F\uFF4B\uFF41\uFF4E\u3000\uFF34\uFF4F\uFF4B\uFF59\uFF4F\u3000\uFF39\uFF35\uFF27\uFF21\uFF37\uFF21\uFF32\uFF21\",\"hotelInformationUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/JBe8h/?f_no=153147\",\"planListUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/3VTwt/?f_no=153147&f_flg=PLAN\",\"dpPlanListUrl\":\"https://img.travel.rakuten.co.jp/image/tr/api/kw/IWrzP/?noTomariHotel=[...]
