interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/GetAreaClass/20131024?applicationId=XXXXXX&formatVersion=2
  response:
    body: {string: "{\"areaClasses\":{\"largeClasses\":[[{\"largeClassCode\":\"japan\",\"largeClassName\":\"\u65E5\u672C\"},{\"middleClasses\":[{\"middleClass\":[{\"middleClassCode\":\"hokkaido\",\"middleClassName\":\"\u5317\u6D77\u9053\"},{\"smallClasses\":[{\"smallClass\":[{\"smallClassCode\":\"sapporo\",\"smallClassName\":\"\u672D\u5E4C\u5E02\u5185\"},{\"detailClasses\":[{\"detailClass\":{\"detailClassCode\":\"A\",\"detailClassName\":\"JR\u672D\u5E4C\u99C5\u5468\u8FBA\u30FB\u65B0\u672D\u5E4C\u99C5\"}},{\"detailClass\":{\"detailClassCode\":\"B\",\"detailClassName\":\"\u5927\u901A\u516C\u5712\u5468\u8FBA\uFF08\u30C6\u30EC\u30D3\u5854\u30FB\u6642\u8A08\u53F0\u30FB\u72F8\u5C0F\u8DEF\uFF09\"}},{\"detailClass\":{\"detailClassCode\":\"C\",\"detailClassName\":\"\u3059\u3059\u304D\u306E\u30FB\u4E2D\u5CF6\u516C\u5712\u5468\u8FBA\"}}]}]},{\"smallClass\":[{\"smallClassCode\":\"jozankei\",\"smallClassName\":\"\u5B9A\u5C71\u6E13\"}]},{\"s[...]
