interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/HotelRanking/20131024?applicationId=XXXXXX&formatVersion=2&hits=3
  response:
    body: {string: "{\"Rankings\":[{\"genre\":\"all\",\"title\":\"\u3010\u697D\u5929\u30C8\u30E9\u30D9\u30EB\u3011\u304A\u5BA2\u3055\u307E\u8A55\u4FA1\u30E9\u30F3\u30AD\u30F3\u30B0\u3010\u7DCF\u5408\u3011\",\"lastBuildDate\":\"20141102163314\",\"hotels\":[{\"rank\":1,\"hotelNo\":19756,\"hotelName\":\"\u516B\u30F6\u5CB3\u9AD8\u539F\u3000\u30DA\u30F3\u30B7\u30E7\u30F3\u3000\u4E59\u5973\u5EA7\u5BAE\",\"middleClassName\":\"\u5C71\u68A8\u770C\",\"userReview\":\"\u516B\u30F6\u5CB3\u767B\u5C71\u306E\u305F\u3081\u306B\u3001\u53CB\u3060\u3061\u3068\u5229\u7528\u3057\u307E\u3057\u305F\u3002\u5BD2\u3044\u96E8\u306E\u65E5\u3067\u3057\u305F\u304C\u3001\u5BBF\u306B\u7740\u304F\u3068\u5965\u3055\u3093\u304C\u3068\u3066\u3082\u512A\u3057\u304F\u53D7\u3051\u5165\u308C\u3066\u304F\u308C\u3001\u601D\u308F\u305A\u305F\u3060\u3044\u307E\u3068\u8A00\u3044\u305F\u3044\u304F\u3089\u3044\u5B89\u5FC3\u611F\u304C\u3042\u308A\u307E\u3057\u305F\u3002\u591C\u98DF\u3067\u306F\u304A\u8179\u3044\u3063\u3071\u3044\u306A\u308A\u3001\u6696\u304B\u3044\u304A\u98A8\u5442\u3068\u6E05\u2026\u30002014-10-22
        20:57:28\u6295\u7A3F <a href=\\\"http://travel.rakuten.co.jp/HOTEL/19756/review.html\\\"
        class=\\\"3click\\\">\u3064\u3065\u304D\u306F\u3053\u3061\u3089<\\/a>\",\"reviewCount\":298,\"hotelInformationUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/ra/yS4PR/?f_no=19756\",\"planListUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/ra/WrBrg/?f_flg=PLAN&f_no=19756\",\"checkAvailableUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/ra/Ss6mg/?f_no=19756\",\"reviewUrl\":\"http://img.travel.rakuten.co.jp/image/tr/api/ra/vvC6h/?f_hotel_no=19756\",\"hotelImageUrl\":\"http://img.travel.rakuten.co.jp/share/HOTEL/19756/19756.jpg\",\"hotelThumbnailUrl\":null,\"reviewAverage\":5,\"carrier\":0},{\"rank\":2,\"hotelNo\":29176,\"hotelName\":\"\u30DA\u30F3\u30B7\u30E7\u30F3\u3000\u30D7\u30C1\u30DD\u30EF\",\"middleClassName\":\"\u798F\u5CF6\u770C\",\"userReview\":\"\u4E88\u60F3\u4EE5\u4E0A\u3067\u3057\u305F\u3002\u304A\u98A8\u5442\u306F\u6E29\u6CC9\u3067\u306F\u306A\u3044\u3068\u601D\u3044\u307E\u3059\u304C\u3001\u88DC\u3063\u3066\u4F59\u308A\u3042\u308A\u307E\u3059\u3002\u9928\u5185\u3001\u5BA4\u5185\u3068\u3082\u5947\u9E97\u3067\u3059\u3002\u98DF\u4E8B\u306F\uFF15\u70B9\u30D7\u30E9\u30[...]
