interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/Travel/GetHotelChainList/20131024?applicationId=XXXXXX&formatVersion=2
  response:
    body: {string: "{\"largeClasses\":[[{\"largeClassCode\":\"japan\",\"hotelChains\":[{\"hotelChain\":{\"hotelChainCode\":\"AB\",\"hotelChainName\":\"AB\u30DB\u30C6\u30EB\",\"hotelChainNameKana\":\"AB\u30DB\u30C6\u30EB\",\"hotelChainComment\":\"\"}},{\"hotelChain\":{\"hotelChainCode\":\"ZN\",\"hotelChainName\":\"ANA\u30AF\u30E9\u30A6\u30F3\u30D7\u30E9\u30B6\u30DB\u30C6\u30EB\uFF08IHG\u30FBANA\u30FB\u30DB\u30C6\u30EB\u30BA\u30B0\u30EB\u30FC\u30D7\uFF09\",\"hotelChainNameKana\":\"ANA\u30AF\u30E9\u30A6\u30F3\u30D7\u30E9\u30B6\u30DB\u30C6\u30EB\uFF08IHG\u30FBANA\u30FB\u30DB\u30C6\u30EB\u30BA\u30B0\u30EB\u30FC\u30D7\uFF09\",\"hotelChainComment\":\"\"}},{\"hotelChain\":{\"hotelChainCode\":\"FUWH\",\"hotelChainName\":\"WHG\u30DB\u30C6\u30EB[...]
