interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?applicationId=XXXXXX&formatVersion=2&itemCode=book%3A17924463
  response:
    body:
      string: "{\"Items\":[{\"mediumImageUrls\":[\"https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3202/4534530093202.jpg?_ex=128x128\"],\"pointRate\":7,\"shopOfTheYearFlag\":0,\"affiliateRate\":2,\"shipOverseasFlag\":0,\"asurakuFlag\":1,\"endTime\":\"\",\"taxFlag\":0,\"startTime\":\"\",\"itemCaption\":\"(\u30A2\u30CB\u30E1\u30FC\u30B7\u30E7\u30F3)\u3010SPsale\u3011
        \u30CA\u30EB\u30C8 \u30B6 \u30D9\u30B9\u30C8 \u767A\u58F2\u65E5\uFF1A2016\u5E7407\u670806\u65E5
        \u4E88\u7D04\u7DE0\u5207\u65E5\uFF1A2016\u5E7406\u670824\u65E5 NARUTO THE
        BEST JAN\uFF1A4534530093202 SVWC\u30FC70175/6 (\u682A)\u30A2\u30CB\u30D7\u30EC\u30C3\u30AF\u30B9
        \u521D\u56DE\u9650\u5B9A (\u682A)\u30BD\u30CB\u30FC\u30FB\u30DF\u30E5\u30FC\u30B8\u30C3\u30AF\u30DE\u30FC\u30B1\u30C6\u30A3\u30F3\u30B0
[...]
