interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope\
      \ xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap-env:Body>\n\
      \    <ns0:getRequestId xmlns:ns0=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
      >\n      <arg0>\n        <authKey>XXXXXX</authKey>\n        <shopUrl>XXXXXX</shopUrl>\n\
      \        <userName>XXXXXX</userName>\n      </arg0>\n    </ns0:getRequestId>\n\
      \  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><S:Body><ns2:getRequestIdResponse xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
        ><return><errorCode>N00-000</errorCode><message>\u6B63\u5E38\u7D42\u4E86</message><requestId>252359725</requestId></return></ns2:getRequestIdResponse></S:Body></S:Envelope>"}
    headers:
      content-type: [text/xml;charset="utf-8"]
      requestid: [d2981a15-f8f2-42cc-920f-f942221d6263]
      timestamp: ['2017-03-31T06:58:06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope\
      \ xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap-env:Body>\n\
      \    <ns0:updateOrder xmlns:ns0=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
      >\n      <arg0>\n        <authKey>XXXXXX</authKey>\n        <shopUrl>XXXXXX</shopUrl>\n\
      \        <userName>XXXXXX</userName>\n      </arg0>\n      <arg1>\n        <orderModel>\n\
      \          <orderNumber>333</orderNumber>\n          <status>processed</status>\n\
      \        </orderModel>\n        <requestId>252359725</requestId>\n      </arg1>\n\
      \    </ns0:updateOrder>\n  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><S:Body><ns2:updateOrderResponse xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
        ><return><errorCode>W00-000</errorCode><message>\u30A8\u30E9\u30FC\u3042\u308A\
        </message><unitError><errorCode>E04-151</errorCode><message>\u6307\u5B9A\u3055\
        \u308C\u305F\u53D7\u6CE8\u756A\u53F7\u306E\u5F62\u5F0F\u304C\u4E0D\u6B63\u3067\
        \u3059</message><orderKey>333</orderKey></unitError><count>0</count><kind>4</kind><requestId>252359725</requestId><status>0</status></return></ns2:updateOrderResponse></S:Body></S:Envelope>"}
    headers:
      content-type: [text/xml;charset="utf-8"]
      requestid: [d8f65ffe-6c30-486e-ba38-22a3d1d375c2]
      timestamp: ['2017-03-31T06:58:08']
    status: {code: 200, message: OK}
version: 1
