interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getRequestId
      xmlns:ns0="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws"><arg0><authKey>XXXXXX</authKey><shopUrl>XXXXXX</shopUrl><userName>XXXXXX</userName></arg0></ns0:getRequestId></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:getRequestIdResponse
        xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"><return><errorCode>N00-000</errorCode><message>\u6B63\u5E38\u7D42\u4E86</message><requestId>884982127</requestId></return></ns2:getRequestIdResponse></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset="utf-8"
      requestId:
      - 61cab941-c712-49d0-8cc1-a1123f014eb3
      timeStamp:
      - '2019-10-22T12:25:54'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:updateOrder
      xmlns:ns0="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws"><arg0><authKey>XXXXXX</authKey><shopUrl>XXXXXX</shopUrl><userName>XXXXXX</userName></arg0><arg1><orderModel><orderNumber>111</orderNumber><status>awaiting
      shipment</status></orderModel><orderModel><orderNumber>222</orderNumber><status>processed</status></orderModel><requestId>884982127</requestId></arg1></ns0:updateOrder></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:updateOrderResponse
        xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"><return><errorCode>W00-000</errorCode><message>\u30A8\u30E9\u30FC\u3042\u308A</message><unitError><errorCode>E04-151</errorCode><message>\u6307\u5B9A\u3055\u308C\u305F\u53D7\u6CE8\u756A\u53F7\u306E\u5F62\u5F0F\u304C\u4E0D\u6B63\u3067\u3059</message><orderKey>111</orderKey></unitError><unitError><errorCode>E04-151</errorCode><message>\u6307\u5B9A\u3055\u308C\u305F\u53D7\u6CE8\u756A\u53F7\u306E\u5F62\u5F0F\u304C\u4E0D\u6B63\u3067\u3059</message><orderKey>222</orderKey></unitError><count>0</count><kind>4</kind><requestId>884982127</requestId><status>0</status></return></ns2:updateOrderResponse></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset="utf-8"
      requestId:
      - a8267099-74a1-462b-90f0-859edef6085c
      timeStamp:
      - '2019-10-22T12:25:55'
    status:
      code: 200
      message: OK
version: 1
