interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getRequestId
      xmlns:ns0="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws"><arg0><authKey>XXXXXX</authKey><shopUrl>XXXXXX</shopUrl><userName>XXXXXX</userName></arg0></ns0:getRequestId></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:getRequestIdResponse
        xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"><return><errorCode>N00-000</errorCode><message>\u6B63\u5E38\u7D42\u4E86</message><requestId>884982119</requestId></return></ns2:getRequestIdResponse></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset="utf-8"
      requestId:
      - 77f48498-0e2c-4194-9b2b-6509f5f9eb86
      timeStamp:
      - '2019-10-22T12:25:49'
    status:
      code: 200
      message: OK
version: 1
