interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"\
      http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap-env:Body>\n    <ns0:getRequestId\
      \ xmlns:ns0=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\">\n \
      \     <arg0>\n        <authKey>XXXXXX</authKey>\n        <shopUrl>XXXXXX</shopUrl>\n\
      \        <userName>XXXXXX</userName>\n      </arg0>\n    </ns0:getRequestId>\n\
      \  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><S:Body><ns2:getRequestIdResponse xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
        ><return><errorCode>N00-000</errorCode><message>\u6B63\u5E38\u7D42\u4E86</message><requestId>199136805</requestId></return></ns2:getRequestIdResponse></S:Body></S:Envelope>"}
    headers:
      Content-Type: [text/xml;charset="utf-8"]
      requestId: [57cba4b0-3ebb-416e-be34-8ee1ab2ce42f]
      timeStamp: ['2016-12-26T07:45:36']
    status: {code: 200, message: OK}
version: 1
