interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getOrder
      xmlns:ns0="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws"><arg0><authKey>XXXXXX</authKey><shopUrl>XXXXXX</shopUrl><userName>XXXXXX</userName></arg0><arg1><isOrderNumberOnlyFlg>false</isOrderNumberOnlyFlg><orderSearchModel><dateType>1</dateType><endDate>2017-03-28T09:00:00+09:00</endDate><startDate>2017-02-26T09:00:00+09:00</startDate></orderSearchModel></arg1></ns0:getOrder></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:getOrderResponse
        xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"><return><errorCode>E04-109</errorCode><message>\u671F\u9593FROM\u306B730\u65E5\u3092\u8D85\u3048\u308B\u904E\u53BB\u65E5\u3092\u6307\u5B9A\u3059\u308B\u3053\u3068\u306F\u3067\u304D\u307E\u305B\u3093</message></return></ns2:getOrderResponse></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset="utf-8"
      requestId:
      - 5a1567eb-c2d9-45d0-bb52-769c9ef6b4ae
      timeStamp:
      - '2019-10-22T12:25:50'
    status:
      code: 200
      message: OK
version: 1
