interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope\
      \ xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap-env:Body>\n\
      \    <ns0:getOrder xmlns:ns0=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
      >\n      <arg0>\n        <authKey>XXXXXX</authKey>\n        <shopUrl>XXXXXX</shopUrl>\n\
      \        <userName>XXXXXX</userName>\n      </arg0>\n      <arg1>\n        <isOrderNumberOnlyFlg>true</isOrderNumberOnlyFlg>\n\
      \        <orderSearchModel>\n          <dateType>1</dateType>\n          <endDate>2017-03-28T09:00:00+09:00</endDate>\n\
      \          <startDate>2017-02-26T09:00:00+09:00</startDate>\n        </orderSearchModel>\n\
      \      </arg1>\n    </ns0:getOrder>\n  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://api.rms.rakuten.co.jp/es/1.0/order/ws
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><S:Body><ns2:getOrderResponse xmlns:ns2=\"http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws\"\
        ><return><errorCode>E10-001</errorCode><message>\u691C\u7D22\u7D50\u679C\u304C\
        0\u4EF6\u3067\u3059</message></return></ns2:getOrderResponse></S:Body></S:Envelope>"}
    headers:
      content-type: [text/xml;charset="utf-8"]
      requestid: [bfa2b327-5070-4218-8818-41381b502d30]
      timestamp: ['2017-03-29T17:36:35']
    status: {code: 200, message: OK}
version: 1
